Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

POSIX search: skip hidden paths in the git enumeration, as rg does
  src/pydantic_ai_harness/pydantic_ai_harness/filesystem/_command_search.py
  tests/harness/filesystem/test_search.py
Due: clai-help, format, lint, typecheck

Refuse writing to a FIFO or device in `LocalWorkspace`, as `read_bytes` does
  pydantic_ai_slim/pydantic_ai/workspaces/local.py
  tests/test_workspace.py
Due: clai-help, format, lint, typecheck

Keep the DBOS docs example's workflows out of later tests' app version
  tests/harness/test_durable_execution_docs.py
Due: clai-help, format, lint, typecheck

Report a Modal sandbox terminated mid-command as unavailable
  src/pydantic_ai_harness/pydantic_ai_harness/modal_sandbox/_backend.py
  tests/harness/modal_sandbox/fake_modal.py
  tests/harness/modal_sandbox/test_backend.py
  tests/harness/modal_sandbox/test_conformance.py
Due: clai-help, format, lint, typecheck

Give the Modal missing-tools warning its own category, and name both warning categories in the docs
  docs/harness/modal-sandbox.md
  src/pydantic_ai_harness/pydantic_ai_harness/modal_sandbox/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/modal_sandbox/__init__.py
  src/pydantic_ai_harness/pydantic_ai_harness/modal_sandbox/_capability.py
  tests/harness/modal_sandbox/test_modal_sandbox.py
Due: clai-help, format, lint, typecheck

Serialize in-process reads and writes of one file in `LocalWorkspaceBackend`
  docs/workspace.md
  pydantic_ai_slim/pydantic_ai/workspaces/local.py
  tests/test_local_workspace.py
Due: clai-help, format, lint, typecheck

Correct workspace docs on `realpath`, the local root, and inherited env
  docs/workspace.md
  pydantic_ai_slim/pydantic_ai/workspaces/local.py
  pydantic_ai_slim/pydantic_ai/workspaces/workspace.py
  tests/test_workspace.py
Due: clai-help, format, lint, typecheck

Reject an empty argv in `Workspace.run` with `ValueError`
  pydantic_ai_slim/pydantic_ai/workspaces/protocol.py
  pydantic_ai_slim/pydantic_ai/workspaces/workspace.py
  tests/test_workspace.py
Due: clai-help, format, lint, typecheck

Reject fork PR commits newer than the @claude comment in at-claude workflow
  .github/workflows/at-claude.yml
Due: none

ci: check out this repository in the @claude fork job
  .github/workflows/at-claude.yml
Due: none

Say `after 1s` in local command timeout messages
  pydantic_ai_slim/pydantic_ai/workspaces/local.py
  tests/test_local_workspace.py
Due: clai-help, format, lint, typecheck

fix(harness): keep `list_files` and `grep` on workspaces that can't run commands
  docs/harness/coder.md
  docs/harness/filesystem.md
  src/pydantic_ai_harness/pydantic_ai_harness/coder/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/filesystem/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/filesystem/_toolset.py
  tests/harness/coder/test_tools.py
  tests/harness/filesystem/test_filesystem.py
Due: clai-help, format, lint, typecheck

docs(harness): say `to_web()` gets a new sandbox per message
  docs/harness/coder.md
  src/pydantic_ai_harness/pydantic_ai_harness/coder/README.md
Due: clai-help

Say a `WorkspaceRef` needs a capability that can reconnect, in the no-workspace hint
  pydantic_ai_slim/pydantic_ai/workspaces/unavailable.py
  tests/test_workspace.py
Due: clai-help, format, lint, typecheck

Point a capability passed as `workspace=` to `capabilities=`
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  tests/test_local_workspace_capability.py
Due: clai-help, format, lint, typecheck

fix(harness): fail a hand-built `ShellToolset` run that has no workspace
  src/pydantic_ai_harness/pydantic_ai_harness/shell/_toolset.py
  tests/harness/shell/test_shell.py
Due: clai-help, format, lint, typecheck

fix(harness): run delegation to `self` in the Temporal workflow
  src/pydantic_ai_harness/pydantic_ai_harness/subagents/_toolset.py
  tests/harness/coder/test_temporal.py
Due: clai-help, format, lint, typecheck

Never retry workspace timeouts, output limits, read-only refusals or a lost environment on Prefect
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_toolset.py
  tests/durable_exec/test_prefect.py
  tests/durable_exec/test_prefect_workspace.py
Due: clai-help, format, lint, typecheck

docs(harness): say which delegation works on each durable engine
  docs/harness/durable-execution.md
Due: clai-help

docs(harness): warn durable users to drain runs before adding a workspace
  docs/harness/coder.md
  src/pydantic_ai_harness/pydantic_ai_harness/coder/README.md
Due: clai-help

Say which workspace errors durable engines never retry
  docs/durable_execution/temporal.md
  docs/workspace.md
Due: clai-help

fix(harness): refuse `grep` context lines where the workspace walks its files
  src/pydantic_ai_harness/pydantic_ai_harness/filesystem/_toolset.py
  tests/harness/filesystem/test_filesystem.py
Due: clai-help, format, lint, typecheck

ci: drop the local branch before the @claude fork job fetches the PR
  .github/workflows/at-claude.yml
Due: none

Name the missing methods when a backend implements part of `SupportsFilesystem`
  pydantic_ai_slim/pydantic_ai/workspaces/workspace.py
  tests/test_workspace.py
Due: clai-help, format, lint, typecheck

Raise when the shell `exists` check itself fails instead of reporting the path missing
  pydantic_ai_slim/pydantic_ai/workspaces/workspace.py
  tests/test_workspace.py
Due: clai-help, format, lint, typecheck

List `dd` among the shell filesystem's required tools
  pydantic_ai_slim/pydantic_ai/workspaces/workspace.py
Due: clai-help, format, lint, typecheck

Name `get_workspace` and both refs when a capability returns a different workspace
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
  tests/test_workspace.py
Due: clai-help, format, lint, typecheck

Check a native `realpath` in the conformance suite, even without commands
  pydantic_ai_slim/pydantic_ai/workspaces/conformance.py
  tests/test_workspace_conformance.py
Due: clai-help, format, lint, typecheck

Describe only what the conformance suite checks for timeouts and cancellation
  docs/workspace.md
Due: clai-help

Say the conformance suite runs on every installed async backend
  docs/workspace.md
Due: clai-help

ci: pin the @claude fork job's PR checkout to the checked commit
  .github/workflows/at-claude.yml
Due: none

fix(sprites): read a timed-out command's stderr back under a bound a live exec can meet
  src/pydantic_ai_harness/pydantic_ai_harness/sprites_sandbox/_backend.py
  tests/harness/sprites_sandbox/fake_sprites.py
  tests/harness/sprites_sandbox/test_sprites_sandbox.py
Due: clai-help, format, lint, typecheck

fix(harness): serialize concurrent writes and edits to one file
  src/pydantic_ai_harness/pydantic_ai_harness/filesystem/_toolset.py
  tests/harness/filesystem/test_filesystem.py
Due: clai-help, format, lint, typecheck

perf(sprites): look a Sprite up once per backend, not once per operation
  src/pydantic_ai_harness/pydantic_ai_harness/sprites_sandbox/_backend.py
  tests/harness/sprites_sandbox/fake_sprites.py
  tests/harness/sprites_sandbox/test_sprites_sandbox.py
Due: clai-help, format, lint, typecheck

fix(harness): mark foreground `shell` output that was cut to its tail
  docs/harness/shell.md
  src/pydantic_ai_harness/pydantic_ai_harness/shell/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/shell/_persistent.py
  tests/harness/shell/test_persistent.py
Due: clai-help, format, lint, typecheck

Drop `pytest.mark.anyio` from workspace tests now that `anyio_mode` is `auto`
  tests/durable_exec/temporal/test_workspace.py
  tests/durable_exec/test_dbos_workspace.py
  tests/durable_exec/test_durable_workspace.py
  tests/durable_exec/test_prefect_workspace.py
  tests/test_local_workspace.py
  tests/test_local_workspace_capability.py
  tests/test_readonly_workspace.py
  tests/test_workspace.py
  tests/test_workspace_conformance.py
Due: clai-help, format, lint, typecheck

ci: also pin HEAD in the @claude fork job, and check out the default branch
  .github/workflows/at-claude.yml
Due: none
