Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

replace-py-code-blocks:
  name: Replace ```py with ```python
  entry: "if [[ \"$(uname)\" == \"Darwin\" ]]; then\n  sed -i '' 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nelse\n  sed -i 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nfi\n"
  language: system
  pass_filenames: true

Fix typo in type checking note
  docs/agents.md
Due: replace-py-code-blocks

Fix typo in type checking note (#518)
  docs/agents.md
Due: replace-py-code-blocks

typechecking
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

docs: fix typo in `Agents` page
  docs/agents.md
Due: replace-py-code-blocks

docs: fix typo in `Agents` page (#521)
  docs/agents.md
Due: replace-py-code-blocks

updated with suggested changes
  pydantic_ai_examples/example_formatter.py
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/format_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

reverted
  pyproject.toml
  uv.lock
Due: none

Adding commentary and tests re heterogenous behavior (#517)
  pydantic_ai_examples/weather_agent.py
  tests/models/test_gemini.py
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

fix settings docs formatting
  pydantic_ai_slim/pydantic_ai/settings.py
Due: format, lint, typecheck, replace-py-code-blocks

fix settings docs formatting (#524)
  pydantic_ai_slim/pydantic_ai/settings.py
Due: format, lint, typecheck, replace-py-code-blocks

add warning about being ahead of release
  docs/.partials/index-header.html
  docs/_worker.js
Due: none

use head
  docs/_worker.js
Due: none

better error message
  docs/_worker.js
Due: none

feat: add TagBuilder and format_tag function
  pydantic_ai_slim/pydantic_ai/prompt.py
  tests/test_prompt.py
Due: format, lint, typecheck, replace-py-code-blocks

add headers better error behaviour
  docs/.partials/index-header.html
  docs/_worker.js
Due: none

rename, fix logic
  docs/.partials/index-header.html
  docs/_worker.js
Due: none

fix working, reuse UA
  docs/_worker.js
Due: none

move add to every page
  docs/.overrides/.icons/logfire/logo.svg
  docs/.partials/index-header.html
  docs/_worker.js
  mkdocs.yml
Due: none

add main override
  docs/.overrides/main.html
Due: none

change wording
  docs/_worker.js
Due: none

fixed height
  docs/.overrides/main.html
  docs/_worker.js
Due: none

Add warning about being ahead of release (#525)
  docs/.overrides/.icons/logfire/logo.svg
  docs/.overrides/main.html
  docs/_worker.js
  mkdocs.yml
Due: none

Reorganize examples
  pydantic_ai_examples/pydantic_ai_examples/__main__.py
  pydantic_ai_examples/pydantic_ai_examples/bank_support.py
  pydantic_ai_examples/pydantic_ai_examples/chat_app.html
  pydantic_ai_examples/pydantic_ai_examples/chat_app.py
  pydantic_ai_examples/pydantic_ai_examples/chat_app.ts
  pydantic_ai_examples/pydantic_ai_examples/pydantic_model.py
  pydantic_ai_examples/pydantic_ai_examples/rag.py
  pydantic_ai_examples/pydantic_ai_examples/roulette_wheel.py
  pydantic_ai_examples/pydantic_ai_examples/sql_gen.py
  pydantic_ai_examples/pydantic_ai_examples/stream_markdown.py
  pydantic_ai_examples/pydantic_ai_examples/stream_whales.py
  pydantic_ai_examples/pydantic_ai_examples/weather_agent.py
  pydantic_ai_examples/pyproject.toml
Due: format, lint, typecheck, replace-py-code-blocks

rename examples dir, fix other references
  docs/examples/bank-support.md
  docs/examples/chat-app.md
  docs/examples/pydantic-model.md
  docs/examples/rag.md
  docs/examples/sql-gen.md
  docs/examples/stream-markdown.md
  docs/examples/stream-whales.md
  docs/examples/weather-agent.md
  examples/README.md
  examples/pydantic_ai_examples/__main__.py
  examples/pydantic_ai_examples/bank_support.py
  examples/pydantic_ai_examples/chat_app.html
  examples/pydantic_ai_examples/chat_app.py
  examples/pydantic_ai_examples/chat_app.ts
  examples/pydantic_ai_examples/pydantic_model.py
  examples/pydantic_ai_examples/rag.py
  examples/pydantic_ai_examples/roulette_wheel.py
  examples/pydantic_ai_examples/sql_gen.py
  examples/pydantic_ai_examples/stream_markdown.py
  examples/pydantic_ai_examples/stream_whales.py
  examples/pydantic_ai_examples/weather_agent.py
  examples/pyproject.toml
  mkdocs.yml
  pyproject.toml
  tests/import_examples.py
  uprev.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

fix tests
  examples/pydantic_ai_examples/stream_whales.py
  tests/import_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

tweak warning rendering
  docs/.hooks/main.py
  docs/.overrides/main.html
  docs/_worker.js
  docs/extra/tweaks.css
Due: format, lint, typecheck, replace-py-code-blocks

fix docs
  .gitignore
  docs/.hooks/main.py
Due: format, lint, typecheck, replace-py-code-blocks

Reorganize examples (#507)
  .gitignore
  docs/.hooks/main.py
  docs/examples/bank-support.md
  docs/examples/chat-app.md
  docs/examples/pydantic-model.md
  docs/examples/rag.md
  docs/examples/sql-gen.md
  docs/examples/stream-markdown.md
  docs/examples/stream-whales.md
  docs/examples/weather-agent.md
  examples/README.md
  examples/pydantic_ai_examples/__main__.py
  examples/pydantic_ai_examples/bank_support.py
  examples/pydantic_ai_examples/chat_app.html
  examples/pydantic_ai_examples/chat_app.py
  examples/pydantic_ai_examples/chat_app.ts
  examples/pydantic_ai_examples/pydantic_model.py
  examples/pydantic_ai_examples/rag.py
  examples/pydantic_ai_examples/roulette_wheel.py
  examples/pydantic_ai_examples/sql_gen.py
  examples/pydantic_ai_examples/stream_markdown.py
  examples/pydantic_ai_examples/stream_whales.py
  examples/pydantic_ai_examples/weather_agent.py
  examples/pyproject.toml
  mkdocs.yml
  pyproject.toml
  tests/import_examples.py
  uprev.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

tweak warning rendering (#526)
  docs/.hooks/main.py
  docs/.overrides/main.html
  docs/_worker.js
  docs/extra/tweaks.css
Due: format, lint, typecheck, replace-py-code-blocks

Add fallback models support
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

feat: improve content formatting for complex cases
  pydantic_ai_slim/pydantic_ai/prompt.py
  tests/test_prompt.py
Due: format, lint, typecheck, replace-py-code-blocks

refactor(prompt): simplify content type handling
  pydantic_ai_slim/pydantic_ai/prompt.py
  tests/test_prompt.py
Due: format, lint, typecheck, replace-py-code-blocks

test(prompt): add tests for XMLTagBuilder
  pydantic_ai_slim/pydantic_ai/prompt.py
  tests/test_prompt.py
Due: format, lint, typecheck, replace-py-code-blocks

feat(prompt): add alias for format_tag
  pydantic_ai_slim/pydantic_ai/prompt.py
  tests/test_prompt.py
Due: format, lint, typecheck, replace-py-code-blocks

fix(prompt): remove `override` decorator
  pydantic_ai_slim/pydantic_ai/prompt.py
  tests/test_prompt.py
Due: format, lint, typecheck, replace-py-code-blocks

refactor(prompt): migrate from `match` to `if..else`
  pydantic_ai_slim/pydantic_ai/prompt.py
Due: format, lint, typecheck, replace-py-code-blocks

refactor(prompt): use `Union`
  pydantic_ai_slim/pydantic_ai/prompt.py
Due: format, lint, typecheck, replace-py-code-blocks

refactor(prompt): use `Union` in `cast`
  pydantic_ai_slim/pydantic_ai/prompt.py
Due: format, lint, typecheck, replace-py-code-blocks

remove "last_run_messages"
  docs/agents.md
  docs/api/agent.md
  docs/testing-evals.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/agent.py
  tests/test_agent.py
  tests/test_logfire.py
  tests/test_streaming.py
Due: format, lint, typecheck, replace-py-code-blocks

add tests
  pydantic_ai_slim/pydantic_ai/agent.py
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
  replace-py-code-blocks: any of: \.py$|\.md$
