Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

Only raise on cache/cache_messages conflict when both are enabled
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/test_anthropic.py
Due: clai-help, format, lint, typecheck

examples: add SRI integrity hash to chat_app typescript CDN script
  examples/pydantic_ai_examples/chat_app.html
Due: none

fix: eliminate ReDoS in google.py and docs gateway-toggle regexes
  docs/.hooks/main.py
  pydantic_ai_slim/pydantic_ai/models/google.py
Due: clai-help, format, lint, typecheck

Address review: refactor cache settings resolution, replace private-method tests
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/test_anthropic.py
Due: clai-help, format, lint, typecheck

fix: eliminate ReDoS in google.py and docs gateway-toggle regexes (#5106)
  docs/.hooks/main.py
  pydantic_ai_slim/pydantic_ai/models/google.py
Due: clai-help, format, lint, typecheck

examples: add SRI integrity hash to chat_app CDN script (#5105)
  examples/pydantic_ai_examples/chat_app.html
Due: none

ci: pin workflow checkouts to PR head SHA (#5104)
  .github/workflows/at-claude.yml
  .github/workflows/bots.yml
Due: none

Add `pydantic_ai.managed.logfire.Managed` capability
  docs/api/managed.md
  docs/managed.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/managed/__init__.py
  pydantic_ai_slim/pydantic_ai/managed/logfire.py
  pydantic_ai_slim/pyproject.toml
  tests/test_managed.py
Due: clai-help, format, lint, typecheck

Apply ruff format and refresh uv.lock for new logfire minimum
  pydantic_ai_slim/pydantic_ai/managed/logfire.py
  uv.lock
Due: clai-help, format, lint, typecheck

Skip `tests/test_managed.py` when logfire extra missing, update snapshots
  tests/models/test_fallback.py
  tests/test_logfire.py
  tests/test_managed.py
Due: clai-help, format, lint, typecheck

docs: note that stream_output() yields nothing for allows_none empty responses
  docs/output.md
Due: clai-help

feat(bedrock): add prompt cache TTL support (#4581)
  docs/models/bedrock.md
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  tests/models/test_bedrock.py
  uv.lock
Due: clai-help, format, lint, typecheck

Polish Bedrock/Vertex fallback tests: real Vertex URL, explicit OMIT assertion
  tests/models/test_anthropic.py
Due: clai-help, format, lint, typecheck

Add Anthropic automatic prompt caching support (#4840)
  docs/models/anthropic.md
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pyproject.toml
  tests/models/cassettes/test_anthropic/test_anthropic_cache_bedrock_real_api.yaml
  tests/models/cassettes/test_anthropic/test_anthropic_cache_count_tokens.yaml
  tests/models/cassettes/test_anthropic/test_anthropic_cache_real_api.yaml
  tests/models/test_anthropic.py
  uv.lock
Due: clai-help, format, lint, typecheck

Fix Tool search documentation link in README (pydantic/pydantic-ai-harness#205)
  src/pydantic_ai_harness/README.md
Due: clai-help

Address review feedback: model name, Phase 1 wording, logfire min ver
  docs/managed.md
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_logfire.py
  pydantic_ai_slim/pydantic_ai/managed/logfire.py
  pydantic_ai_slim/pyproject.toml
  tests/test_managed.py
Due: clai-help, format, lint, typecheck

Add 'graceful' end strategy for parallel tool calls (#4333)
  docs/agent.md
  docs/output.md
  docs/tools-advanced.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  tests/test_agent.py
  tests/test_capabilities.py
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

Switch `test_managed.py` to `snapshot(result.all_messages())` assertions
  tests/test_managed.py
Due: clai-help, format, lint, typecheck

Expose `NoneType` as an output tool for auto/tool mode
  docs/output.md
  pydantic_ai_slim/pydantic_ai/_output.py
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

Cover multi-project token path in `LogfirePlugin` metrics setup
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

Add inline compaction mode to `OpenAICompaction`
  docs/models/openai.md
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/cassettes/test_openai_responses/test_openai_responses_compact_inline_mode.yaml
  tests/models/test_openai_responses.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Fix docs claim about minimum logfire version after extra revert
  docs/managed.md
Due: clai-help

rewrite plan: comprehensive feature plan grounded in current state
  PLAN.md
Due: clai-help

Move `model_name.lower()` out of the profile matching loop
  pydantic_ai_slim/pydantic_ai/providers/ollama.py
Due: clai-help, format, lint, typecheck

docs: clarify special str | None behavior in Optional output section
  docs/output.md
Due: clai-help

Disable `supports_json_schema_output` when routing through Ollama Cloud
  pydantic_ai_slim/pydantic_ai/models/ollama.py
Due: clai-help, format, lint, typecheck

Support Agent(output_type=str | None) for optional output (#4042)
  docs/output.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_output.py
  tests/test_agent.py
  tests/test_examples.py
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

Fix deferred tool search keyword matching
  pydantic_ai_slim/pydantic_ai/toolsets/_tool_search.py
  tests/test_tool_search.py
Due: clai-help, format, lint, typecheck

fix: split tool and output retry context for tool prep
  pydantic_ai_slim/pydantic_ai/tool_manager.py
  pydantic_ai_slim/pydantic_ai/toolsets/combined.py
  pydantic_ai_slim/pydantic_ai/toolsets/function.py
  tests/test_agent.py
  tests/test_toolsets.py
Due: clai-help, format, lint, typecheck

Improve deferred tool search matching
  .claude/skills/address-feedback/SKILL.md
  pydantic_ai_slim/pydantic_ai/toolsets/_tool_search.py
Due: clai-help, format, lint, typecheck

Preserve broad deferred tool search matches
  pydantic_ai_slim/pydantic_ai/toolsets/_tool_search.py
  tests/test_tool_search.py
Due: clai-help, format, lint, typecheck

Add model response lifecycle events for UI streams
  docs/ui/vercel-ai.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/result.py
  pydantic_ai_slim/pydantic_ai/ui/_event_stream.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_event_stream.py
  tests/test_streaming.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Fix streaming lifecycle snapshots
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

Fix lifecycle event snapshot drift
  docs/agent.md
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_agent.py
  tests/test_dbos.py
Due: clai-help, format, lint, typecheck

Fix lifecycle event snapshots in temporal and model tests
  tests/models/test_bedrock.py
  tests/models/test_google.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

Fix docs example whitespace for lint
  docs/agent.md
Due: clai-help

Add focused coverage for stream event fallthroughs
  tests/test_streaming.py
  tests/test_ui.py
Due: clai-help, format, lint, typecheck

Decouple iter_events coverage test from output schema init
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

Remove stale no-cover markers from stream paths
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/ui/_event_stream.py
Due: clai-help, format, lint, typecheck

Adding test to verify behaviour
  pydantic_ai_slim/pydantic_ai/_utils.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/conftest.py
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
