Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

Document builtin tool capabilities in capabilities.md
  docs/capabilities.md
Due: clai-help

Fix review round 2: default_yield in case _, variable shadowing, isinstance syntax
  pydantic_ai_slim/pydantic_ai/ui/_event_stream.py
Due: clai-help, format, lint, typecheck

Fix doc examples: sort imports, add lint=skip to snippets
  docs/capabilities.md
Due: clai-help

Address review feedback round 2: extract _validate_spec, dynamic defaults, stronger test
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Make capability example testable using requires= instead of test="skip"
  docs/capabilities.md
Due: clai-help

Address review: improve docstring, docs note, add snapshots and streaming test
  docs/capabilities.md
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Address review round 2: fix docs timing, add snapshot to prepare_tools test
  docs/capabilities.md
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Fix pyright: use conftest IsDatetime/IsStr wrappers instead of dirty_equals directly
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Add BuiltinTool capability to wrap builtin_tools parameter (#4780)
  docs/capabilities.md
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/builtin_tool.py
  pydantic_ai_slim/pydantic_ai/ui/_web/api.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Fix Prefect import formatting, clean up review feedback
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_agent.py
Due: clai-help, format, lint, typecheck

Add `get_wrapper_toolset` hook to AbstractCapability (#4781)
  docs/capabilities.md
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
  pydantic_ai_slim/pydantic_ai/capabilities/combined.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Add builtin tool fallback with builtin/local capability pattern (#4770)
  docs/capabilities.md
  pydantic_ai_slim/pydantic_ai/capabilities/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/builtin_tool.py
  pydantic_ai_slim/pydantic_ai/capabilities/image_generation.py
  pydantic_ai_slim/pydantic_ai/capabilities/mcp.py
  pydantic_ai_slim/pydantic_ai/capabilities/web_fetch.py
  pydantic_ai_slim/pydantic_ai/capabilities/web_search.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/tools.py
  tests/models/test_model_request_parameters.py
  tests/test_builtin_tools.py
  tests/test_capabilities.py
  tests/test_logfire.py
  tests/test_tools.py
Due: clai-help, format, lint, typecheck

Add `spec` parameter to `agent.override()` and `agent.run()` (#4769)
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/agent/spec.py
  pydantic_ai_slim/pydantic_ai/agent/wrapper.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_agent.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

feat: add online evaluation infrastructure for pydantic-evals
  docs/api/pydantic_evals/online.md
  docs/evals/online-evaluation.md
  mkdocs.yml
  pydantic_evals/pydantic_evals/online.py
  tests/evals/test_online.py
Due: clai-help, format, lint, typecheck

fix: guard test evaluator classes for pydantic-ai-slim test env
  tests/evals/test_online.py
Due: clai-help, format, lint, typecheck

test: add coverage tests and fix coroutine cleanup in sync gate path
  pydantic_evals/pydantic_evals/online.py
  tests/evals/test_online.py
Due: clai-help, format, lint, typecheck

test: improve coverage with sync path tests and defensive pragmas
  pydantic_evals/pydantic_evals/online.py
  tests/evals/test_online.py
Due: clai-help, format, lint, typecheck

fix: add coverage pragmas for defensive code paths
  pydantic_evals/pydantic_evals/online.py
  tests/evals/test_online.py
Due: clai-help, format, lint, typecheck

Add Python package skeleton with CI/CD release pipeline
  src/pydantic_ai_harness/LICENSE
  src/pydantic_ai_harness/pyproject.toml
  src/pydantic_ai_harness/src/pydantic_harness/__init__.py
  src/pydantic_ai_harness/src/pydantic_harness/py.typed
  tests/harness/__init__.py
  tests/harness/test_placeholder.py
Due: clai-help, format, lint, typecheck

Use uv-dynamic-versioning to derive version from git tags
  src/pydantic_ai_harness/pyproject.toml
Due: none

Remove BRIEF files from repository
  BRIEF_BUILTIN_TOOLS_CAP.md
  BRIEF_FOR_RUN_STEP.md
  BRIEF_OTEL_SPANS.md
  BRIEF_TEMPORAL_TOOLSET.md
Due: clai-help

pyyaml and pydantic-handlebars in 'spec' optional dependency group
  pydantic_ai_slim/pydantic_ai/_template.py
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  uv.lock
Due: clai-help, format, lint, typecheck

fix(ci): add checkout step to category-label job
  .github/workflows/bots.yml
Due: none

fix(ci): add checkout step to category-label job in bots workflow (#4784)
  .github/workflows/bots.yml
Due: none

Address PR review comments and refactor capabilities
  docs/capabilities.md
  pydantic_ai_slim/pydantic_ai/_cli/__init__.py
  pydantic_ai_slim/pydantic_ai/_template.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/capabilities/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
  pydantic_ai_slim/pydantic_ai/capabilities/builtin_or_local.py
  pydantic_ai_slim/pydantic_ai/capabilities/combined.py
  pydantic_ai_slim/pydantic_ai/capabilities/history_processor.py
  pydantic_ai_slim/pydantic_ai/capabilities/image_generation.py
  pydantic_ai_slim/pydantic_ai/capabilities/mcp.py
  pydantic_ai_slim/pydantic_ai/capabilities/thinking.py
  pydantic_ai_slim/pydantic_ai/capabilities/web_fetch.py
  pydantic_ai_slim/pydantic_ai/capabilities/web_search.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  pydantic_ai_slim/pydantic_ai/providers/openrouter.py
  pydantic_ai_slim/pydantic_ai/toolsets/abstract.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_utils.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

fix: address PR review feedback on online evaluation
  pydantic_evals/pydantic_evals/online.py
  tests/evals/test_online.py
Due: clai-help, format, lint, typecheck

Add tests and pragmas to improve coverage for capabilities branch
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_template.py
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  tests/test_capabilities.py
  tests/test_template.py
  tests/test_toolsets.py
Due: clai-help, format, lint, typecheck

fix(ci): skip docstring example tests and guard test classes for slim env
  pydantic_evals/pydantic_evals/online.py
  tests/evals/test_online.py
Due: clai-help, format, lint, typecheck

remove bedrock/vertex runner scripts, fix .gitignore skill whitelisting
  .agents/skills/pytest-vcr/SKILL.md
  .agents/skills/pytest-vcr/run-vertex-tests.sh
Due: clai-help

Skip MCP test when mcp package is not installed
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

fix: make docstring examples self-contained or remove them
  pydantic_evals/pydantic_evals/online.py
Due: clai-help, format, lint, typecheck

Cover remaining builtin_or_local and MCP lines
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

fix: improve coverage and address review feedback
  pydantic_evals/pydantic_evals/online.py
  tests/evals/test_online.py
Due: clai-help, format, lint, typecheck

Add coverage pragmas to test file gaps
  tests/test_capabilities.py
  tests/test_history_processor.py
  tests/test_spec.py
  tests/test_template.py
  tests/test_toolsets.py
Due: clai-help, format, lint, typecheck

Remove incorrect no-cover pragmas flagged by strict-no-cover
  pydantic_ai_slim/pydantic_ai/_template.py
  tests/test_spec.py
Due: clai-help, format, lint, typecheck

Add no-branch pragma for single-class validate test
  tests/test_spec.py
Due: clai-help, format, lint, typecheck

fix: handle boolean defs to prevent AttributeError in while loop
  pydantic_ai_slim/pydantic_ai/_json_schema.py
Due: clai-help, format, lint, typecheck

Added 5.4 mini and nano
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  tests/profiles/test_openai.py
Due: clai-help, format, lint, typecheck

fixing provider_fallback
  pydantic_ai_slim/pydantic_ai/models/xai.py
Due: clai-help, format, lint, typecheck

Adding gpt 5.4 models
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pyproject.toml
  tests/profiles/test_openai.py
  uv.lock
Due: clai-help, format, lint, typecheck
