Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

Extract CompletedStreamedResponse from three duplicate wrapper classes
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_model.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_model.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_model.py
  pydantic_ai_slim/pydantic_ai/models/wrapper.py
Due: clai-help, format, lint, typecheck

Notes added by 'git notes add'
  799233b93faa4c2ffd1700351f22bfb63da36d16
Due: none

fix: restore string literals for self-referential constant definitions
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
Due: clai-help, format, lint, typecheck

fix: address review feedback — add reference links and test directive
  docs/logfire.md
Due: clai-help

Extract shared CompletedStreamedResponse from durable_exec wrappers (#4570)
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_model.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_model.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_model.py
  pydantic_ai_slim/pydantic_ai/models/wrapper.py
Due: clai-help, format, lint, typecheck

fix: address review feedback on extensibility docs
  docs/extensibility.md
Due: clai-help

Add all_messages() snapshot assertions to test_deps.py
  tests/test_deps.py
Due: clai-help, format, lint, typecheck

Add missing Vercel AI SDK v6 tool approval part types (#4388)
  docs/deferred-tools.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/ui/__init__.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_event_stream.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_utils.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/request_types.py
  tests/models/test_model_function.py
  tests/test_agent.py
  tests/test_tools.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Notes added by 'git notes add'
  4f77175b9fd2bfbc9bbfdd56e3ec3d0f1026dc7f
Due: none

Add all_messages() snapshot assertions to test_validation_context.py
  tests/test_validation_context.py
Due: clai-help, format, lint, typecheck

Notes added by 'git notes add'
  5d2076c6fb5a0ccc5304a8ced453031d0b8fe204
Due: none

Add all_messages() snapshot assertions to test_usage_limits.py
  tests/test_usage_limits.py
Due: clai-help, format, lint, typecheck

Notes added by 'git notes add'
  0c65b9a951609873508c9e361f38d3ca50e368de
Due: none

Add all_messages() snapshot assertions to small test files (#4571)
  tests/test_deps.py
  tests/test_usage_limits.py
  tests/test_validation_context.py
Due: clai-help, format, lint, typecheck

Fix logically impossible condition in mistral _map_content
  pydantic_ai_slim/pydantic_ai/models/mistral.py
Due: clai-help, format, lint, typecheck

Notes added by 'git notes add'
  45ee66863cdfe129d1a0e253548db963d5854554
Due: none

Replace bare `# type: ignore` with `# pyright: ignore[code]`
  pydantic_ai_slim/pydantic_ai/_a2a.py
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_function_schema.py
  pydantic_ai_slim/pydantic_ai/providers/cohere.py
  pydantic_ai_slim/pydantic_ai/providers/google_vertex.py
  pydantic_ai_slim/pydantic_ai/providers/huggingface.py
  pydantic_ai_slim/pydantic_ai/providers/voyageai.py
Due: clai-help, format, lint, typecheck

Notes added by 'git notes add'
  8c382705026a8a14fbfe634995dc0ce0928da553
Due: none

Replace bare `# type: ignore` with `# pyright: ignore[code]` in model files
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/google.py
Due: clai-help, format, lint, typecheck

Notes added by 'git notes add'
  7f931f44a8a267ade218017a27b715e885d48e90
Due: none

pragma
  pydantic_ai_slim/pydantic_ai/models/mistral.py
Due: clai-help, format, lint, typecheck

Notes added by 'git notes add'
  c5644902b5ca8d53ae549c76b744034221ae9a75
Due: none

fix outdated comments
  tests/profiles/test_bedrock.py
Due: clai-help, format, lint, typecheck

Rehaul Tavily search tool (#4158)
  docs/common-tools.md
  pydantic_ai_slim/pydantic_ai/common_tools/tavily.py
  pyproject.toml
  tests/cassettes/test_tavily/test_basic_search.yaml
  tests/cassettes/test_tavily/test_factory_with_bound_params.yaml
  tests/cassettes/test_tavily/test_search_with_include_domains.yaml
  tests/conftest.py
  tests/test_examples.py
  tests/test_tavily.py
  uv.lock
Due: clai-help, format, lint, typecheck

fix(otel): avoid error spans for deferred/approval tool control flow
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
Due: clai-help, format, lint, typecheck

Address CI failures from cassetter migration
  pyproject.toml
  tests/cassettes/test_tavily/test_basic_search.yaml
  tests/cassettes/test_tavily/test_factory_with_bound_params.yaml
  tests/cassettes/test_tavily/test_search_with_include_domains.yaml
  tests/json_body_serializer.py
  tests/models/test_anthropic.py
  tests/models/test_openrouter.py
  tests/models/xai_proto_cassettes.py
  tests/test_json_body_serializer.py
  uv.lock
Due: clai-help, format, lint, typecheck

Convert tavily cassettes from vcrpy custom serializer format to cassetter format
  tests/cassettes/test_tavily/test_basic_search.yaml
  tests/cassettes/test_tavily/test_factory_with_bound_params.yaml
  tests/cassettes/test_tavily/test_search_with_include_domains.yaml
Due: none

Use correct field name \`type\` instead of \`body_type\` in tavily cassettes
  tests/cassettes/test_tavily/test_basic_search.yaml
  tests/cassettes/test_tavily/test_factory_with_bound_params.yaml
  tests/cassettes/test_tavily/test_search_with_include_domains.yaml
Due: none

Support `server_message_id` in `VercelAIEventStream`
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_event_stream.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Enable native structured output support for Ollama provider (#4536)
  pydantic_ai_slim/pydantic_ai/providers/ollama.py
  tests/providers/test_ollama.py
Due: clai-help, format, lint, typecheck

Fix broken anchor link and add missing abstract id property
  docs/extensibility.md
Due: clai-help

remove doc
  docs/models/overview.md
Due: clai-help

fix codex
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  tests/profiles/test_openai.py
Due: clai-help, format, lint, typecheck

fix(openai): thinking detection for `gpt-5.3-chat-latest` (#4567)
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  tests/profiles/test_openai.py
Due: clai-help, format, lint, typecheck

move skills from .claude/skills/ to .agents/skills/
  .agents/README.md
  .agents/skills/address-feedback/SKILL.md
  .agents/skills/pre-push-review/SKILL.md
  .agents/skills/pytest-vcr/SKILL.md
  .agents/skills/pytest-vcr/parse_cassette.py
  .agents/skills/pytest-vcr/run-vertex-tests.sh
  .claude/skills
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  tests/AGENTS.md
Due: clai-help, format, lint, typecheck

fix: lint issues
  tests/test_toolsets.py
Due: clai-help, format, lint, typecheck

deduplicate _split_content unwrap logic via _unwrap_data helper
  pydantic_ai_slim/pydantic_ai/messages.py
Due: clai-help, format, lint, typecheck

address review: fix doc links, export LazyToolset, cleanup
  docs/api/toolsets.md
  docs/tools-advanced.md
  docs/toolsets.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/tools.py
  pydantic_ai_slim/pydantic_ai/toolsets/_searchable.py
  pydantic_ai_slim/pydantic_ai/toolsets/abstract.py
  pydantic_ai_slim/pydantic_ai/toolsets/function.py
  pydantic_ai_slim/pydantic_ai/toolsets/lazy.py
  tests/test_searchable_toolset.py
Due: clai-help, format, lint, typecheck

fix stale path, tighten allowed-tools, remove private method ref
  .agents/skills/pytest-vcr/SKILL.md
  .agents/skills/pytest-vcr/run-vertex-tests.sh
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
