Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

Use `pragma: lax no cover` on `_extract_span_reference` fallback return
  pydantic_evals/pydantic_evals/online.py
  tests/evals/test_online.py
Due: clai-help, format, lint, typecheck

adding module level update method for genai-prices
  docs/api/usage.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/prices.py
Due: clai-help, format, lint, typecheck

adding module level update method for genai-prices
  docs/api/usage.md
Due: clai-help

fix: clean up refs_stack on early bool return from _handle_union
  pydantic_ai_slim/pydantic_ai/_json_schema.py
Due: clai-help, format, lint, typecheck

adding skills changes
  skills/building-pydantic-ai-agents/SKILL.md
Due: clai-help

changes
  skills/building-pydantic-ai-agents/SKILL.md
Due: clai-help

addressing Devin's comments
  README.md
  docs/agent-skills.md
  skills/building-pydantic-ai-agents/SKILL.md
Due: clai-help

addressing Devin's comments
  docs/agent-skills.md
  skills/building-pydantic-ai-agents/SKILL.md
Due: clai-help

feat: add native Z.AI (Zhipu AI) provider with preserved thinking support
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/zai.py
  pydantic_ai_slim/pydantic_ai/profiles/zai.py
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/zai.py
  tests/conftest.py
  tests/models/test_zai.py
  tests/providers/test_zai.py
Due: clai-help, format, lint, typecheck

splitting skills
  skills/building-pydantic-ai-agents/SKILL.md
  skills/building-pydantic-ai-agents/reference/COMMON-TASKS.md
Due: clai-help

docs: use mkdocs reference links in zai.md, add streaming test
  docs/models/zai.md
  tests/models/cassettes/test_zai/test_zai_thinking_stream.yaml
  tests/models/test_zai.py
Due: clai-help, format, lint, typecheck

fix: remove run_sync calls from doc examples to match other providers
  docs/models/zai.md
Due: clai-help

fix: reference `[zai]` optional group in import error messages
  pydantic_ai_slim/pydantic_ai/models/zai.py
  pydantic_ai_slim/pydantic_ai/providers/zai.py
Due: clai-help, format, lint, typecheck

docs: mention glm-5 and glm-4.6 thinking support in zai.md
  docs/models/zai.md
Due: clai-help

test: add prepare_request test for 100% coverage on Z.AI model
  tests/models/test_zai.py
Due: clai-help, format, lint, typecheck

fix: add Z.AI to README, index, and providers API reference
  README.md
  docs/api/providers.md
  docs/index.md
Due: clai-help

docs: add Z.AI section to central thinking docs page
  docs/thinking.md
Due: clai-help

refactor: test through prepare_request() instead of private helper, add snapshot assertions
  pydantic_ai_slim/pydantic_ai/providers/zai.py
  tests/models/cassettes/test_zai/test_zai_model_simple.yaml
  tests/models/cassettes/test_zai/test_zai_thinking_mode.yaml
  tests/models/test_zai.py
Due: clai-help, format, lint, typecheck

fix: add ZAI_API_KEY to test_examples env setup
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

fix: add zai to test_known_model_names and test_list_models
  tests/models/test_model_names.py
  tests/test_cli.py
Due: clai-help, format, lint, typecheck

fix: add json_object_output support, precise thinking profile matching, pragma annotations
  pydantic_ai_slim/pydantic_ai/models/zai.py
  pydantic_ai_slim/pydantic_ai/profiles/zai.py
  pydantic_ai_slim/pydantic_ai/providers/zai.py
Due: clai-help, format, lint, typecheck

feat: add all Z.AI models from API docs including glm-5
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/zai.py
  pydantic_ai_slim/pydantic_ai/profiles/zai.py
Due: clai-help, format, lint, typecheck

fix: avoid mutating settings in _zai_settings_to_openai_settings
  pydantic_ai_slim/pydantic_ai/models/zai.py
Due: clai-help, format, lint, typecheck

docs: add Z.AI provider documentation, pyproject optional dep, and mkdocs nav
  docs/api/models/zai.md
  docs/models/overview.md
  docs/models/zai.md
  mkdocs.yml
  pydantic_ai_slim/pyproject.toml
  tests/models/test_zai.py
  uv.lock
Due: clai-help, format, lint, typecheck

fix: move thinking fields out of provider base profile
  pydantic_ai_slim/pydantic_ai/providers/zai.py
Due: clai-help, format, lint, typecheck

Update pydantic_ai_slim/pydantic_ai/models/zai.py
  pydantic_ai_slim/pydantic_ai/models/zai.py
Due: clai-help, format, lint, typecheck

test: add VCR integration tests for Z.AI provider
  tests/models/cassettes/test_zai/test_zai_model_simple.yaml
  tests/models/cassettes/test_zai/test_zai_thinking_mode.yaml
  tests/models/test_zai.py
Due: clai-help, format, lint, typecheck

test: re-record Z.AI VCR cassettes
  tests/models/cassettes/test_zai/test_zai_model_simple.yaml
  tests/models/cassettes/test_zai/test_zai_thinking_mode.yaml
Due: none

fix: resolve thinking model inconsistency, add ZaiModelName docstring and ThinkingPart test assertion
  docs/models/zai.md
  pydantic_ai_slim/pydantic_ai/models/zai.py
  tests/models/test_zai.py
Due: clai-help, format, lint, typecheck

test: add vision model profile test to cover line 20 of profiles/zai.py
  tests/providers/test_zai.py
Due: clai-help, format, lint, typecheck

readd crossrefs and sequence diagram
  docs/api/agent.md
  docs/api/models/base.md
  docs/capabilities.md
Due: clai-help

fix: add supports_thinking=True to Z.AI thinking model profile
  pydantic_ai_slim/pydantic_ai/profiles/zai.py
Due: clai-help, format, lint, typecheck

move mermaid
  docs/capabilities.md
  docs/hooks.md
Due: clai-help

test: re-record Z.AI streaming cassette without rate-limit retries
  tests/models/cassettes/test_zai/test_zai_thinking_stream.yaml
  tests/models/test_zai.py
Due: clai-help, format, lint, typecheck

fix: add missing OpenRouterReasoning effort values (#4709)
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
Due: clai-help, format, lint, typecheck

fix: preserve ToolReturn metadata through Temporal serialization (#4684)
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_toolset.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

feat: add anthropic_eager_input_streaming to AnthropicModelSettings
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/test_anthropic.py
Due: clai-help, format, lint, typecheck

adding tests for price updates
  pydantic_ai_slim/pydantic_ai/prices.py
  tests/test_prices.py
Due: clai-help, format, lint, typecheck

rename and mvoe tests
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/toolsets/_tool_search.py
  tests/cassettes/test_tool_search/test_tool_search_eval[anthropic].yaml
  tests/cassettes/test_tool_search/test_tool_search_eval[google-gla].yaml
  tests/cassettes/test_tool_search/test_tool_search_eval[openai].yaml
  tests/test_tool_search.py
  tests/test_tool_search_vcr.py
Due: clai-help, format, lint, typecheck
