Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

replace-py-code-blocks:
  name: Replace ```py with ```python
  entry: "if [[ \"$(uname)\" == \"Darwin\" ]]; then\n  sed -i '' 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nelse\n  sed -i 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nfi\n"
  language: system
  pass_filenames: true

also type `ModelResponse.parts` as `Sequence`
  pydantic_ai_slim/pydantic_ai/_a2a.py
  pydantic_ai_slim/pydantic_ai/messages.py
Due: format, lint, typecheck, replace-py-code-blocks

guard msg.parts replacement
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
Due: format, lint, typecheck, replace-py-code-blocks

mention tracing
  README.md
  docs/index.md
Due: replace-py-code-blocks

link to other observability platforms
  README.md
  docs/index.md
Due: replace-py-code-blocks

mention AG-UI
  README.md
  docs/index.md
Due: replace-py-code-blocks

Mention durable execution
  README.md
  docs/index.md
  docs/temporal.md
Due: replace-py-code-blocks

mention HITL tool approval
  README.md
  docs/index.md
Due: replace-py-code-blocks

Update development status classifier to Production/Stable
  clai/pyproject.toml
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_evals/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
Due: none

Update development status classifier to Production/Stable (#2801)
  clai/pyproject.toml
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_evals/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
Due: none

Docs tweaks
  README.md
  docs/agents.md
  docs/index.md
Due: replace-py-code-blocks

Fix links
  README.md
  docs/index.md
Due: replace-py-code-blocks

Improve docs index and README (#2058)
  README.md
  docs/.partials/index-header.html
  docs/agents.md
  docs/index.md
  docs/models/overview.md
  docs/temporal.md
  examples/pydantic_ai_examples/bank_support.py
  mkdocs.yml
Due: format, lint, typecheck, replace-py-code-blocks

hit branch where loop continues after guard
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Type `ModelRequest.parts` and `ModelResponse.parts` as `Sequence` (#2798)
  pydantic_ai_slim/pydantic_ai/_a2a.py
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

update link
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

add support for previous_response_id from Responses API
  docs/models/openai.md
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/cassettes/test_openai_responses/test_openai_invalid_previous_response_id.yaml
  tests/models/cassettes/test_openai_responses/test_openai_previous_response_id.yaml
  tests/models/test_openai_responses.py
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

update logic and docs
  docs/models/openai.md
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/cassettes/test_openai_responses/test_openai_invalid_previous_response_id.yaml
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

update import in test
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

fiddling with tests
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

add simple test for output tool
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

Always run event_stream_handler inside Temporal activity
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_agent.py
  tests/test_temporal.py
Due: format, lint, typecheck, replace-py-code-blocks

Clean up
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_agent.py
  tests/test_temporal.py
Due: format, lint, typecheck, replace-py-code-blocks

Clean up
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

fix test
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

Always run event_stream_handler inside Temporal activity (#2806)
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_agent.py
  tests/test_temporal.py
Due: format, lint, typecheck, replace-py-code-blocks

Use asyncio lock instead of anyio lock
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/google_vertex.py
  pydantic_ai_slim/pydantic_ai/toolsets/combined.py
Due: format, lint, typecheck, replace-py-code-blocks

remove utc import
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

use older utc
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

formatting
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

drop NOT_GIVEN import
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

Use asyncio lock instead of anyio lock (#2807)
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/google_vertex.py
  pydantic_ai_slim/pydantic_ai/toolsets/combined.py
Due: format, lint, typecheck, replace-py-code-blocks

address linter errors
  tests/models/test_openai.py
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

Document that various functions need to be async to be used with Temporal
  docs/temporal.md
  tests/test_temporal.py
Due: format, lint, typecheck, replace-py-code-blocks

add list steps test, mamke sure event_stream_handler runs in a step
  tests/test_dbos.py
Due: format, lint, typecheck, replace-py-code-blocks

Remove python evaluator
  pydantic_evals/pydantic_evals/evaluators/__init__.py
  pydantic_evals/pydantic_evals/evaluators/common.py
  tests/evals/test_dataset.py
  tests/evals/test_evaluator_common.py
  tests/evals/test_evaluators.py
Due: format, lint, typecheck, replace-py-code-blocks

Document that various functions need to be async to be used with Temporal (#2809)
  docs/temporal.md
  tests/test_temporal.py
Due: format, lint, typecheck, replace-py-code-blocks

TypeError: Logfire.instrument_pydantic_ai() got an unexpected keyword argument 'version'
  pydantic_ai_slim/pyproject.toml
Due: none

Update changelog/upgrade guide for V1
  docs/changelog.md
Due: replace-py-code-blocks

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
  replace-py-code-blocks: any of: \.py$|\.md$
