Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

Update examples/pydantic_ai_examples/rag_surrealdb.py
  examples/pydantic_ai_examples/rag_surrealdb.py
Due: clai-help, format, lint, typecheck

Update docs/examples/rag-surrealdb.md
  docs/examples/rag-surrealdb.md
Due: clai-help

remove cast
  examples/pydantic_ai_examples/rag_surrealdb.py
Due: clai-help, format, lint, typecheck

Update docs-site/src/index.ts
  docs-site/src/index.ts
Due: none

fix: address strict-no-cover feedback in _json_schema.py
  pydantic_ai_slim/pydantic_ai/_json_schema.py
  tests/test_structured_dict_recursive.py
Due: clai-help, format, lint, typecheck

refactor: use model_id property instead of manual string construction
  pydantic_ai_slim/pydantic_ai/_cli/__init__.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_model.py
  pydantic_ai_slim/pydantic_ai/ui/_web/api.py
  pydantic_evals/pydantic_evals/evaluators/common.py
Due: clai-help, format, lint, typecheck

docs: add docstring to FallbackModel.model_id property
  pydantic_ai_slim/pydantic_ai/models/fallback.py
Due: clai-help, format, lint, typecheck

removed index boundary check
  tests/test_history_processor.py
Due: clai-help, format, lint, typecheck

chore: Fixing the coverage issue
  tests/test_structured_dict_recursive.py
Due: clai-help, format, lint, typecheck

removing monty references
  pydantic_ai_slim/pydantic_ai/runtime/abstract.py
  pydantic_ai_slim/pydantic_ai/runtime/monty.py
  pydantic_ai_slim/pydantic_ai/toolsets/code_mode/__init__.py
  tests/code_mode/conftest.py
Due: clai-help, format, lint, typecheck

Update tests/test_vercel_ai.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

ci: Fix review workflow label gating and switch to Opus 4.5
  .github/workflows/review.yml
Due: none

ci: Re-enable auto-review label gate (#4280)
  .github/workflows/review.yml
Due: none

address comments
  tests/AGENTS.md
Due: clai-help

ci: Disable Gemini Code Assist auto-review on PRs
  .gemini/config.yaml
Due: none

ci: Disable Gemini Code Assist auto-review on PR open (#4281)
  .gemini/config.yaml
Due: none

address comments
  pydantic_ai_slim/pydantic_ai/format_prompt.py
  pyproject.toml
  tests/test_concurrency.py
  tests/test_format_as_xml.py
Due: clai-help, format, lint, typecheck

fix tests
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck

Move max_results to KW_ONLY dataclass field per review
  docs/common-tools.md
  pydantic_ai_slim/pydantic_ai/common_tools/tavily.py
  tests/test_tavily.py
Due: clai-help, format, lint, typecheck

replace last ci skip
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck

Add first-class toolset instructions support
  docs/toolsets.md
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/toolsets/_dynamic.py
  pydantic_ai_slim/pydantic_ai/toolsets/abstract.py
  pydantic_ai_slim/pydantic_ai/toolsets/combined.py
  pydantic_ai_slim/pydantic_ai/toolsets/function.py
  pydantic_ai_slim/pydantic_ai/toolsets/wrapper.py
  tests/test_toolsets.py
Due: clai-help, format, lint, typecheck

support mistral
  docs/AGENTS.md
  docs/CLAUDE.md
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/ui/_event_stream.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_event_stream.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_event_stream.py
  tests/models/cassettes/test_multimodal_tool_returns/test_empty_string_in_mixed_content[mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_mixed_content_ordering[mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_model_sees_multiple_images[mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-binary-audio-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-binary-document-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-binary-image-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-binary-video-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url-audio-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url-document-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url-image-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url-video-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url_force_download-audio-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url_force_download-document-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url_force_download-image-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url_force_download-video-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-binary-audio-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-binary-document-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-binary-image-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-binary-video-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url-audio-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url-document-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url-image-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url-video-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url_force_download-audio-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url_force_download-document-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url_force_download-image-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url_force_download-video-mistral].yaml
  tests/models/test_multimodal_tool_returns.py
Due: clai-help, format, lint, typecheck

add comment
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck

Update examples/pydantic_ai_examples/rag_lancedb.py
  examples/pydantic_ai_examples/rag_lancedb.py
Due: clai-help, format, lint, typecheck

fix: avoid KeyError in Agent with recursive StructuredDict schemas
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/output.py
  tests/test_agent.py
  tests/test_structured_dict_recursive.py
Due: clai-help, format, lint, typecheck

fix feedback
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/xai.py
  tests/models/test_groq.py
  tests/models/test_huggingface.py
  tests/models/test_mistral.py
  tests/models/test_outlines.py
  tests/test_messages.py
Due: clai-help, format, lint, typecheck

fix types
  pydantic_ai_slim/pydantic_ai/common_tools/exa.py
  uv.lock
Due: clai-help, format, lint, typecheck

ui/vercel: support tool approval requests and approval responses
  docs/deferred-tools.md
  docs/ui/vercel-ai.md
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_event_stream.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/request_types.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Address issue with args_valid semantics in `_skip_output_tool` util
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
Due: clai-help, format, lint, typecheck

coverage
  tests/models/cassettes/test_multimodal_tool_returns/test_empty_string_in_mixed_content[mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_empty_tool_return[bedrock].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_mixed_content_ordering[mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_model_sees_multiple_images[mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-binary-audio-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-binary-document-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-binary-image-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-binary-video-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url-audio-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url-document-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url-image-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url-video-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url_force_download-audio-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url_force_download-document-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url_force_download-image-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url_force_download-video-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-binary-audio-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-binary-document-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-binary-image-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-binary-video-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url-audio-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url-document-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url-image-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url-video-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url_force_download-document-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url_force_download-image-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url_force_download-video-mistral].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_non_pdf_document_url_error[mistral].yaml
  tests/models/test_multimodal_tool_returns.py
Due: clai-help, format, lint, typecheck

demontyy + better API contract hopefully. Some changes to ensure we can accomodate other runtimes
  pydantic_ai_slim/pydantic_ai/_function_schema.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/runtime/__init__.py
  pydantic_ai_slim/pydantic_ai/runtime/abstract.py
  pydantic_ai_slim/pydantic_ai/runtime/monty.py
  pydantic_ai_slim/pydantic_ai/toolsets/code_mode/__init__.py
  tests/code_mode/test_code_mode_approvals.py
  tests/code_mode/test_code_mode_type_check.py
Due: clai-help, format, lint, typecheck

style: apply formatting and add recursive schema tests
  tests/test_agent.py
  tests/test_structured_dict_recursive.py
Due: clai-help, format, lint, typecheck

chore: minor fixes
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/__init__.py
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_mcp_server.py
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_model.py
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_toolset.py
  tests/test_restate.py
Due: clai-help, format, lint, typecheck

re-record cassettes and fallback to default name
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  tests/models/cassettes/test_bedrock/test_bedrock_mixed_strict_tool_run.yaml
  tests/models/cassettes/test_bedrock/test_bedrock_native_output_numerical_constraints.yaml
  tests/models/cassettes/test_bedrock/test_bedrock_native_output_supported_model.yaml
  tests/models/cassettes/test_bedrock/test_bedrock_strict_tool_supported_model.yaml
  tests/models/cassettes/test_bedrock/test_bedrock_strict_tool_with_native_output.yaml
  tests/models/test_bedrock.py
Due: clai-help, format, lint, typecheck

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
