Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: replace-py-code-blocks
        name: Replace ```py with ```python
        # first pattern matches ```py <info> and second matches lone ```py<eol>
        entry: |
          if [[ "$(uname)" == "Darwin" ]]; then
            sed -i '' 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          else
            sed -i 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          fi
        language: system
        files: \.py$|\.md$
        pass_filenames: true

Remove cases and averages from eval span, and add some new attributes
  pydantic_evals/pydantic_evals/dataset.py
  tests/evals/test_dataset.py
Due: format, lint, typecheck, replace-py-code-blocks

Satisfy linter
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Restore DeferredToolCalls with deprecation warning
  pydantic_ai_slim/pydantic_ai/output.py
  pydantic_ai_slim/pydantic_ai/toolsets/external.py
Due: format, lint, typecheck, replace-py-code-blocks

Include logfire with pydantic-ai package (#2683)
  docs/install.md
  docs/logfire.md
  pydantic_ai_slim/pydantic_ai/usage.py
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  tests/test_examples.py
  tests/test_temporal.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

docs: revise docs to align with updated semantics
  docs/agents.md
  docs/tools.md
Due: replace-py-code-blocks

Restore DeferredToolCalls with deprecation warning (#2735)
  pydantic_ai_slim/pydantic_ai/output.py
  pydantic_ai_slim/pydantic_ai/toolsets/external.py
Due: format, lint, typecheck, replace-py-code-blocks

chore: refine usage limit comments
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/usage.py
Due: format, lint, typecheck, replace-py-code-blocks

Let more types used in docs examples be imported directly from pydantic_ai
  docs/agents.md
  docs/common-tools.md
  docs/direct.md
  docs/logfire.md
  docs/mcp/client.md
  docs/message-history.md
  docs/models/index.md
  docs/multi-agent-applications.md
  docs/output.md
  docs/testing.md
  docs/tools.md
  docs/toolsets.md
  examples/pydantic_ai_examples/chat_app.py
  examples/pydantic_ai_examples/flight_booking.py
  examples/pydantic_ai_examples/rag.py
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/ag_ui.py
  pydantic_ai_slim/pydantic_ai/output.py
  pydantic_ai_slim/pydantic_ai/tools.py
  tests/test_agent.py
  tests/test_streaming.py
  tests/test_temporal.py
  tests/test_tools.py
  tests/typed_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix double import
  docs/models/index.md
Due: replace-py-code-blocks

Update pyodide
  mcp-run-python/deno.json
  mcp-run-python/deno.lock
  mcp-run-python/src/runCode.ts
  mcp-run-python/test_mcp_servers.py
Due: format, lint, typecheck, replace-py-code-blocks

Run Make
  tests/models/cassettes/test_model_names/test_known_model_names.yaml
Due: none

Auto-sort imports and require single quotes in docs examples
  docs/ag-ui.md
  docs/agents.md
  docs/cli.md
  docs/direct.md
  docs/evals.md
  docs/mcp/client.md
  docs/mcp/server.md
  docs/multi-agent-applications.md
  docs/output.md
  docs/retries.md
  docs/temporal.md
  docs/testing.md
  docs/tools.md
  docs/toolsets.md
  examples/pydantic_ai_examples/evals/custom_evaluators.py
  examples/pydantic_ai_examples/evals/example_01_generate_dataset.py
  examples/pydantic_ai_examples/evals/example_02_add_custom_evaluators.py
  examples/pydantic_ai_examples/evals/example_03_unit_testing.py
  examples/pydantic_ai_examples/evals/example_04_compare_models.py
  examples/pydantic_ai_examples/question_graph.py
  pydantic_ai_slim/pydantic_ai/output.py
  pydantic_ai_slim/pydantic_ai/retries.py
  pyproject.toml
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

List imports from other example files in their own section
  docs/evals.md
  docs/output.md
  docs/retries.md
  docs/testing.md
  docs/toolsets.md
  pydantic_ai_slim/pydantic_ai/output.py
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

V1: Remove Temporal docs beta header (#2727)
  docs/temporal.md
Due: replace-py-code-blocks

V1: Remove errors when passing Retrying instead of RetryConfig to TenacityTransport (#2717)
  pydantic_ai_slim/pydantic_ai/retries.py
Due: format, lint, typecheck, replace-py-code-blocks

pragma: no branch
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Let almost all types used in docs examples be imported directly from `pydantic_ai` (#2736)
  docs/ag-ui.md
  docs/agents.md
  docs/cli.md
  docs/common-tools.md
  docs/direct.md
  docs/evals.md
  docs/logfire.md
  docs/mcp/client.md
  docs/mcp/server.md
  docs/message-history.md
  docs/models/index.md
  docs/multi-agent-applications.md
  docs/output.md
  docs/retries.md
  docs/temporal.md
  docs/testing.md
  docs/tools.md
  docs/toolsets.md
  examples/pydantic_ai_examples/chat_app.py
  examples/pydantic_ai_examples/evals/custom_evaluators.py
  examples/pydantic_ai_examples/evals/example_01_generate_dataset.py
  examples/pydantic_ai_examples/evals/example_02_add_custom_evaluators.py
  examples/pydantic_ai_examples/evals/example_03_unit_testing.py
  examples/pydantic_ai_examples/evals/example_04_compare_models.py
  examples/pydantic_ai_examples/flight_booking.py
  examples/pydantic_ai_examples/question_graph.py
  examples/pydantic_ai_examples/rag.py
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/ag_ui.py
  pydantic_ai_slim/pydantic_ai/output.py
  pydantic_ai_slim/pydantic_ai/retries.py
  pydantic_ai_slim/pydantic_ai/tools.py
  pyproject.toml
  tests/test_agent.py
  tests/test_examples.py
  tests/test_streaming.py
  tests/test_temporal.py
  tests/test_tools.py
  tests/typed_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Default `InstrumentationSettings` `version` to 2 (#2726)
  docs/logfire.md
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
  tests/models/test_fallback.py
  tests/models/test_instrumented.py
  tests/test_logfire.py
Due: format, lint, typecheck, replace-py-code-blocks

Remove cases and averages from eval span (#2715)
  pydantic_evals/pydantic_evals/dataset.py
  tests/evals/test_dataset.py
Due: format, lint, typecheck, replace-py-code-blocks

Make many more dataclasses kw-only
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_function_schema.py
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/builtin_tools.py
  pydantic_ai_slim/pydantic_ai/common_tools/duckduckgo.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock.py
  pydantic_ai_slim/pydantic_ai/result.py
  pydantic_ai_slim/pydantic_ai/run.py
  pydantic_ai_slim/pydantic_ai/tools.py
  pydantic_ai_slim/pydantic_ai/toolsets/abstract.py
  pydantic_ai_slim/pydantic_ai/toolsets/combined.py
  pydantic_ai_slim/pydantic_ai/toolsets/function.py
  pydantic_ai_slim/pydantic_ai/usage.py
  pydantic_evals/pydantic_evals/evaluators/context.py
  pydantic_evals/pydantic_evals/otel/span_tree.py
  pydantic_evals/pydantic_evals/reporting/__init__.py
  pydantic_graph/pydantic_graph/graph.py
  pydantic_graph/pydantic_graph/nodes.py
  pydantic_graph/pydantic_graph/persistence/__init__.py
Due: format, lint, typecheck, replace-py-code-blocks

Use KW_ONLY
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/common_tools/duckduckgo.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/mcp_sampling.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  pydantic_ai_slim/pydantic_ai/result.py
  pydantic_ai_slim/pydantic_ai/tools.py
Due: format, lint, typecheck, replace-py-code-blocks

Try to fix tests
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  tests/models/cassettes/test_model_names/test_known_model_names.yaml
Due: format, lint, typecheck, replace-py-code-blocks

Fix coverage..
  tests/models/test_model_names.py
Due: format, lint, typecheck, replace-py-code-blocks

BREAKING CHANGE: Make many more dataclasses kw-only (#2738)
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_function_schema.py
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/builtin_tools.py
  pydantic_ai_slim/pydantic_ai/common_tools/duckduckgo.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/mcp_sampling.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock.py
  pydantic_ai_slim/pydantic_ai/result.py
  pydantic_ai_slim/pydantic_ai/run.py
  pydantic_ai_slim/pydantic_ai/tools.py
  pydantic_ai_slim/pydantic_ai/toolsets/abstract.py
  pydantic_ai_slim/pydantic_ai/toolsets/combined.py
  pydantic_ai_slim/pydantic_ai/toolsets/function.py
  pydantic_ai_slim/pydantic_ai/usage.py
  pydantic_evals/pydantic_evals/evaluators/context.py
  pydantic_evals/pydantic_evals/otel/span_tree.py
  pydantic_evals/pydantic_evals/reporting/__init__.py
  pydantic_graph/pydantic_graph/graph.py
  pydantic_graph/pydantic_graph/nodes.py
  pydantic_graph/pydantic_graph/persistence/__init__.py
  tests/models/cassettes/test_model_names/test_known_model_names.yaml
  tests/models/test_model_names.py
Due: format, lint, typecheck, replace-py-code-blocks

Remove more todo comments
  pydantic_ai_slim/pydantic_ai/models/function.py
Due: format, lint, typecheck, replace-py-code-blocks

Remove more todo comments (#2739)
  pydantic_ai_slim/pydantic_ai/models/function.py
Due: format, lint, typecheck, replace-py-code-blocks

Initial commit
  mcp-run-python/src/main.ts
  mcp-run-python/src/runCode.ts
Due: none

Update mcp server package version
  mcp-run-python/deno.json
  mcp-run-python/deno.lock
  mcp-run-python/src/main.ts
Due: none

Fix newsletter signup form
  docs/index.md
Due: replace-py-code-blocks

Fix newsletter signup form (#2743)
  docs/index.md
Due: replace-py-code-blocks

Add beta admonition
  docs/index.md
Due: replace-py-code-blocks

Add beta release admonition (#2744)
  docs/index.md
Due: replace-py-code-blocks

fix: add pydantic validators and optional mcp params
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

fix: httpurl
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

Support Python 3.14
  .github/workflows/ci.yml
  CLAUDE.md
  Makefile
  clai/pyproject.toml
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_evals/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
Due: replace-py-code-blocks

fix: lint and tests
  pydantic_ai_slim/pydantic_ai/mcp.py
  tests/test_mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

fix
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

Support Python 3.14
  pydantic_ai_slim/pyproject.toml
  pydantic_evals/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
Due: none

Update uv.lock
  uv.lock
Due: none
