Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

reduce the test parameter to meaningful version bundle
  tests/test_logfire.py
Due: clai-help, format, lint, typecheck

replace fragile _find_tool_span helper with exported_spans_as_dict + snapshot pattern
  tests/test_logfire.py
Due: clai-help, format, lint, typecheck

Make deferral attribute names classvar constraints
  pydantic_ai_slim/pydantic_ai/_instrumentation.py
Due: clai-help, format, lint, typecheck

Solve doc rule violation
  docs/logfire.md
Due: clai-help

BaseException subclasses issue
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
Due: clai-help, format, lint, typecheck

record exceptions in tool-result serialization
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
Due: clai-help, format, lint, typecheck

Add comment for coverage
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
Due: clai-help, format, lint, typecheck

update models and rerecord outdated tests
  tests/cassettes/test_settings/test_bedrock_model_guardrail_config.yaml
  tests/cassettes/test_settings/test_bedrock_model_performance_config.yaml
  tests/cassettes/test_settings/test_bedrock_model_request_metadata.yaml
  tests/cassettes/test_settings/test_bedrock_model_service_tier.yaml
  tests/cassettes/test_settings/test_google_model_thinking_config.yaml
  tests/cassettes/test_settings/test_max_tokens_settings[anthropic].yaml
  tests/cassettes/test_settings/test_max_tokens_settings[bedrock].yaml
  tests/cassettes/test_settings/test_max_tokens_settings[cohere].yaml
  tests/cassettes/test_settings/test_max_tokens_settings[google].yaml
  tests/cassettes/test_settings/test_max_tokens_settings[groq].yaml
  tests/cassettes/test_settings/test_max_tokens_settings[mistral].yaml
  tests/cassettes/test_settings/test_max_tokens_settings[openai].yaml
  tests/cassettes/test_settings/test_stop_settings[bedrock].yaml
  tests/cassettes/test_settings/test_stop_settings[google].yaml
  tests/cassettes/test_settings/test_stop_settings[openai].yaml
  tests/cassettes/test_settings/test_top_p_settings[anthropic].yaml
  tests/cassettes/test_settings/test_top_p_settings[bedrock].yaml
  tests/cassettes/test_settings/test_top_p_settings[cohere].yaml
  tests/cassettes/test_settings/test_top_p_settings[google].yaml
  tests/cassettes/test_settings/test_top_p_settings[groq].yaml
  tests/cassettes/test_settings/test_top_p_settings[mistral].yaml
  tests/cassettes/test_settings/test_top_p_settings[openai].yaml
  tests/conftest.py
  tests/json_body_serializer.py
  tests/models/cassettes/test_bedrock/test_bedrock_model_max_tokens.yaml
  tests/models/cassettes/test_bedrock/test_bedrock_model_other_parameters.yaml
  tests/models/cassettes/test_google/test_google_model_vertex_labels.yaml
  tests/models/cassettes/test_google/test_google_model_vertex_provider.yaml
  tests/models/cassettes/test_openai/test_max_completion_tokens[gpt-4o-mini].yaml
  tests/models/test_bedrock.py
  tests/models/test_google.py
  tests/models/test_openai.py
  tests/test_settings.py
Due: clai-help, format, lint, typecheck

fix: normalize OpenRouter dot notation in Anthropic model names
  pydantic_ai_slim/pydantic_ai/profiles/anthropic.py
  tests/profiles/test_anthropic.py
Due: clai-help, format, lint, typecheck

chore: add .agents/* to .gitignore
  .gitignore
Due: none

Add `bedrock_inference_profile` setting for Bedrock models and embeddings
  .gitignore
  PLAN.md
  docs/embeddings.md
  docs/models/bedrock.md
  pydantic_ai_slim/pydantic_ai/embeddings/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  tests/cassettes/test_embeddings/TestBedrock.test_inference_profile_embed.yaml
  tests/models/cassettes/test_bedrock/test_bedrock_inference_profile_converse.yaml
  tests/models/cassettes/test_bedrock/test_bedrock_inference_profile_count_tokens.yaml
  tests/models/test_bedrock.py
  tests/test_embeddings.py
Due: clai-help, format, lint, typecheck

fix: prevent control flow exceptions from being recorded as errors in tool spans
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
  tests/test_tool_span_status.py
Due: clai-help, format, lint, typecheck

test: use try_import for opentelemetry-sdk to support slim CI
  tests/test_tool_span_status.py
Due: clai-help, format, lint, typecheck

style: fix linting issues
  tests/test_tool_span_status.py
Due: clai-help, format, lint, typecheck

fix: consistent spelling of reuse in docs
  docs/mcp/client.md
Due: clai-help

fix: preserve exception chaining in tool spans and relocate tests
  pydantic_ai_slim/pydantic_ai/_output.py
  tests/test_logfire.py
  tests/test_tool_span_status.py
  uv.lock
Due: clai-help, format, lint, typecheck

fix: revert uv.lock registry, fix formatting and type errors in #4698
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
  tests/test_logfire.py
Due: clai-help, format, lint, typecheck

Add MiniMax as a first-class model provider
  docs/models/minimax.md
  docs/models/overview.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/profiles/minimax.py
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/minimax.py
  pydantic_ai_slim/pyproject.toml
  tests/providers/test_minimax.py
Due: clai-help, format, lint, typecheck

test: add coverage for CallDeferred and ApprovalRequired in output functions
  tests/test_logfire.py
Due: clai-help, format, lint, typecheck

fix: restore official PyPI in uv.lock and fix output function tracing
  pydantic_ai_slim/pydantic_ai/_output.py
  tests/test_logfire.py
Due: clai-help, format, lint, typecheck

fix: restore official PyPI in uv.lock and fix output function tracing
  pydantic_ai_slim/pydantic_ai/_output.py
  uv.lock
Due: clai-help, format, lint, typecheck

fix: exclude resumed request from `new_messages()` when resuming from history
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_ag_ui.py
  tests/test_agent.py
  tests/test_history_processor.py
Due: clai-help, format, lint, typecheck

fix(output): address CI failures and reviewer feedback
  pydantic_ai_slim/pydantic_ai/_output.py
Due: clai-help, format, lint, typecheck

fix(output): remove extra blank lines to satisfy lint
  pydantic_ai_slim/pydantic_ai/_output.py
Due: clai-help, format, lint, typecheck

fix: OpenRouter Anthropic model profile matching for dotted model numbers (#4690)
  pydantic_ai_slim/pydantic_ai/providers/openrouter.py
  tests/providers/test_openrouter.py
Due: clai-help, format, lint, typecheck

fix: always pass embedding_types to Cohere embed() to prevent SDK TypeError (#4524)
  pydantic_ai_slim/pydantic_ai/embeddings/cohere.py
  tests/cassettes/test_embeddings/TestCohere.test_documents.yaml
  tests/cassettes/test_embeddings/TestCohere.test_embed_error.yaml
  tests/cassettes/test_embeddings/TestCohere.test_query.yaml
  tests/cassettes/test_embeddings/TestCohere.test_query_with_cohere_truncate.yaml
  tests/cassettes/test_embeddings/TestCohere.test_query_with_truncate.yaml
Due: clai-help, format, lint, typecheck

fix: remove redundant ValueError catch from JSONDecodeError handler
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
Due: clai-help, format, lint, typecheck

fix(google): add '512' as supported image generation size (#4649)
  docs/builtin-tools.md
  pydantic_ai_slim/pydantic_ai/builtin_tools.py
  pydantic_ai_slim/pydantic_ai/models/google.py
Due: clai-help, format, lint, typecheck

PR link edited trigger
  .github/workflows/pr-guard.yml
Due: none

fix(google): remove unsupported id field from function_call and function_response
  pydantic_ai_slim/pydantic_ai/models/google.py
Due: clai-help, format, lint, typecheck

fix: detect empty items as strict-incompatible in OpenAIJsonSchemaTransformer
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  tests/profiles/test_openai.py
Due: clai-help, format, lint, typecheck

bump claude
  .github/workflows/bots.yml
Due: none

enable 1 million ctx window for auto-review claude (#4707)
  .github/workflows/bots.yml
Due: none

fix: re-run PR guard when PR body is edited (#4702)
  .github/workflows/pr-guard.yml
Due: none

fix: add missing reasoning efforts
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
Due: clai-help, format, lint, typecheck

fix(bedrock): sanitize hallucinated tool names before sending to API
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/_utils.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  tests/models/test_bedrock.py
Due: clai-help, format, lint, typecheck

refactor: inline thinking-only check and add full snapshot assertions
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

Scrub AWS account IDs from VCR cassette URIs and minor test fixes
  tests/cassettes/test_embeddings/TestBedrock.test_inference_profile_embed.yaml
  tests/conftest.py
  tests/models/cassettes/test_bedrock/test_bedrock_inference_profile_converse.yaml
  tests/models/cassettes/test_bedrock/test_bedrock_inference_profile_count_tokens.yaml
  tests/test_embeddings.py
Due: clai-help, format, lint, typecheck

fix: handle `DataUIPart` in Vercel AI adapter user message processing (#4704)
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
Due: clai-help, format, lint, typecheck

Address review feedback: simplify docs for inference profiles
  docs/embeddings.md
  docs/models/bedrock.md
Due: clai-help
