Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: replace-py-code-blocks
        name: Replace ```py with ```python
        # first pattern matches ```py <info> and second matches lone ```py<eol>
        entry: |
          if [[ "$(uname)" == "Darwin" ]]; then
            sed -i '' 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          else
            sed -i 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          fi
        language: system
        files: \.py$|\.md$
        pass_filenames: true

fix buggy test to raise correct error
  tests/models/test_gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

docs formatting
  docs/agents.md
Due: replace-py-code-blocks

fix OpenAI env var tests following #814
  tests/models/test_openai.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

unchange uv.lock
  uv.lock
Due: none

fix OpenAI env var tests following (#855)
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Update bank_support.py
  examples/pydantic_ai_examples/bank_support.py
Due: format, lint, typecheck, replace-py-code-blocks

Custom UI for Algolia search
  docs/.hooks/algolia.py
  docs/.overrides/main.html
  docs/.overrides/partials/search.html
  docs/extra/tweaks.css
  docs/javascripts/algolia-search.js
  docs/javascripts/search-worker.js
  mkdocs.yml
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Replace search UI with Algolia backed one (#845)
  docs/.hooks/algolia.py
  docs/.overrides/main.html
  docs/.overrides/partials/search.html
  docs/extra/tweaks.css
  docs/javascripts/algolia-search.js
  docs/javascripts/search-worker.js
  mkdocs.yml
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

system prompt functions can return None
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_system_prompt.py
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/tools.py
  tests/typed_agent.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Update `bank_support.py` (#858)
  examples/pydantic_ai_examples/bank_support.py
Due: format, lint, typecheck, replace-py-code-blocks

test system prompt functions that return no value
  tests/models/test_model_function.py
  tests/test_agent.py
  tests/typed_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

documentation fixed for new system prompt functions
  docs/agents.md
  docs/dependencies.md
  docs/index.md
  docs/testing-evals.md
Due: replace-py-code-blocks

no matching project id check
  pydantic_ai_slim/pydantic_ai/models/vertexai.py
  tests/models/test_vertexai.py
Due: format, lint, typecheck, replace-py-code-blocks

Update pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

fix: missing graph extra
  pyproject.toml
Due: none

formatting + test fixes
  docs/agents.md
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

chore: lock uv
  uv.lock
Due: none

adding credits to PR
  docs/agents.md
Due: replace-py-code-blocks

Add Ability to Specify Gemini Safety Settings (#790)
  docs/agents.md
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  tests/models/test_gemini.py
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix: missing graph extra (#863)
  pyproject.toml
  uv.lock
Due: none

Remove unnecessary `project_id == creds_id` check for vertex (#862)
  pydantic_ai_slim/pydantic_ai/models/vertexai.py
  tests/models/test_vertexai.py
Due: format, lint, typecheck, replace-py-code-blocks

typing compatible with python 3.9
  pydantic_ai_slim/pydantic_ai/tools.py
Due: format, lint, typecheck, replace-py-code-blocks

using _model_name
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/test.py
  pydantic_ai_slim/pydantic_ai/models/vertexai.py
  tests/models/test_model.py
Due: format, lint, typecheck, replace-py-code-blocks

adding system + fixing tests
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/test.py
  pydantic_ai_slim/pydantic_ai/models/vertexai.py
  tests/models/test_anthropic.py
  tests/models/test_cohere.py
  tests/models/test_groq.py
  tests/models/test_model.py
  tests/models/test_model_function.py
  tests/models/test_vertexai.py
  tests/test_logfire.py
Due: format, lint, typecheck, replace-py-code-blocks

no repr for private fields
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/test.py
  pydantic_ai_slim/pydantic_ai/models/vertexai.py
  tests/test_logfire.py
Due: format, lint, typecheck, replace-py-code-blocks

using Union for compatibility with python 3.9
  pydantic_ai_slim/pydantic_ai/_system_prompt.py
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/tools.py
  tests/models/test_model_function.py
  tests/test_agent.py
  tests/typed_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

unify model name unions
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

fine tuning model name docs
  docs/models.md
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

test docs examples python version compatibility
  docs/agents.md
  docs/dependencies.md
  docs/index.md
  docs/testing-evals.md
Due: replace-py-code-blocks

fix docs examples imports
  docs/dependencies.md
  docs/testing-evals.md
Due: replace-py-code-blocks

Using `model_name` and `system` model properties (#865)
  docs/models.md
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/test.py
  pydantic_ai_slim/pydantic_ai/models/vertexai.py
  tests/models/test_anthropic.py
  tests/models/test_cohere.py
  tests/models/test_groq.py
  tests/models/test_model.py
  tests/models/test_model_function.py
  tests/models/test_vertexai.py
Due: format, lint, typecheck, replace-py-code-blocks

Added ollama_api_key for AsyncOpenAI client and updated agent configuration
  docs/models.md
Due: replace-py-code-blocks

feat: add model settings validation with proper type support
  pydantic_ai_slim/pydantic_ai/settings.py
  tests/test_settings.py
Due: format, lint, typecheck, replace-py-code-blocks

fix: resolve linting errors in gemini.py - Remove redefinition of GeminiSafetySettings, remove unnecessary cast calls, fix TypedDict assignment, remove unused import
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/settings.py
Due: format, lint, typecheck, replace-py-code-blocks

Update bank_support.py example (#868)
  examples/pydantic_ai_examples/bank_support.py
Due: format, lint, typecheck, replace-py-code-blocks

updating httpx instrumentation docs
  docs/img/logfire-with-httpx.png
  docs/img/logfire-without-httpx.png
  docs/logfire.md
Due: replace-py-code-blocks

bump to 0.0.23
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Prepare for v0.0.23 release (#871)
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
  uv.lock
Due: none
