Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

Enforce specific rule codes on type-ignore comments with ruff `PGH003`
  examples/pydantic_ai_examples/chat_app.py
  examples/pydantic_ai_examples/evals/agent.py
  examples/pydantic_ai_examples/flight_booking.py
  examples/pydantic_ai_examples/slack_lead_qualifier/modal.py
  examples/pydantic_ai_examples/slack_lead_qualifier/store.py
  examples/pydantic_ai_examples/sql_gen.py
  pydantic_evals/pydantic_evals/_utils.py
  pydantic_evals/pydantic_evals/dataset.py
  pydantic_evals/pydantic_evals/otel/_context_in_memory_span_exporter.py
  pyproject.toml
Due: clai-help, format, lint, typecheck

Preserve Temporal run usage type
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_run_context.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

Cover both Temporal usage paths
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

Make the realtime camera example resilient to Gemini connection drops
  examples/pydantic_ai_examples/realtime_camera/app.py
Due: clai-help, format, lint, typecheck

Keep Temporal usage test focused
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

test(mistral): verify prompt cache with history
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  tests/models/cassettes/test_mistral/test_mistral_history_uses_prompt_cache.yaml
  tests/models/test_mistral.py
Due: clai-help, format, lint, typecheck

Move tool example serialization to shared utilities
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/_utils.py
  pydantic_ai_slim/pydantic_ai/tools.py
Due: clai-help, format, lint, typecheck

Remove Temporal contract expansion
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

Exercise flexible usage in Temporal context test
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

Add live VCR coverage for the `reasoning.context` wire contract
  tests/models/cassettes/test_openai_responses/test_openai_responses_gpt_5_5_drops_sampling_params_by_default.yaml
  tests/models/cassettes/test_openai_responses/test_openai_responses_gpt_5_6_reasoning_off_keeps_sampling_params.yaml
  tests/models/cassettes/test_openai_responses/test_openai_responses_reasoning_context_default_wire_contract[default-supported].yaml
  tests/models/cassettes/test_openai_responses/test_openai_responses_reasoning_context_default_wire_contract[default-unsupported].yaml
  tests/models/cassettes/test_openai_responses/test_openai_responses_reasoning_context_default_wire_contract[explicit-auto-wins].yaml
  tests/models/test_openai_responses.py
Due: clai-help, format, lint, typecheck

Represent every realtime turn in history, even without a transcript or audio
  docs/realtime/azure.md
  docs/realtime/index.md
  pydantic_ai_slim/pydantic_ai/realtime/_base.py
  pydantic_ai_slim/pydantic_ai/realtime/_openai_protocol.py
  pydantic_ai_slim/pydantic_ai/realtime/_session.py
  pydantic_ai_slim/pydantic_ai/realtime/google.py
  tests/realtime/test_azure_ws.py
  tests/realtime/test_google.py
  tests/realtime/test_instrumentation.py
  tests/realtime/test_openai.py
  tests/realtime/test_session.py
Due: clai-help, format, lint, typecheck

Enforce specific rule codes on type-ignore comments with ruff `PGH003` (#6720)
  examples/pydantic_ai_examples/chat_app.py
  examples/pydantic_ai_examples/evals/agent.py
  examples/pydantic_ai_examples/flight_booking.py
  examples/pydantic_ai_examples/slack_lead_qualifier/modal.py
  examples/pydantic_ai_examples/slack_lead_qualifier/store.py
  examples/pydantic_ai_examples/sql_gen.py
  pydantic_evals/pydantic_evals/_utils.py
  pydantic_evals/pydantic_evals/dataset.py
  pydantic_evals/pydantic_evals/otel/_context_in_memory_span_exporter.py
  pyproject.toml
Due: clai-help, format, lint, typecheck

Document faster structured output streaming (#6533)
  docs/agent.md
  docs/output.md
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

Make the realtime camera example provider-agnostic and fix Watch/redraw bugs
  examples/pydantic_ai_examples/realtime_camera/README.md
  examples/pydantic_ai_examples/realtime_camera/app.py
  examples/pydantic_ai_examples/realtime_camera/index.html
Due: clai-help, format, lint, typecheck

Add Claude Opus 5 (`claude-opus-5`) support
  docs/capabilities/thinking.md
  docs/models/anthropic.md
  pydantic_ai_slim/pydantic_ai/models/_known_model_names.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/native_tools/__init__.py
  pydantic_ai_slim/pydantic_ai/profiles/anthropic.py
  tests/models/cassettes/test_anthropic/test_anthropic_opus_5_features.yaml
  tests/models/test_anthropic.py
  tests/profiles/test_anthropic.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Fix collection error when the `openai` extra isn't fully installed
  tests/models/test_openai_responses.py
Due: clai-help, format, lint, typecheck

docs(agents): push-and-watch rule for agent contributors
  .agents/skills/pushing-commits-to-the-repo/SKILL.md
  .claude/skills/pushing-commits-to-the-repo
  .gitignore
  AGENTS.md
Due: clai-help

Wrap realtime connect failures in `ModelHTTPError`/`ModelAPIError`
  pydantic_ai_slim/pydantic_ai/realtime/_openai_protocol.py
  pydantic_ai_slim/pydantic_ai/realtime/google.py
  pydantic_ai_slim/pydantic_ai/realtime/openai.py
  pydantic_ai_slim/pydantic_ai/realtime/xai.py
  tests/realtime/test_google.py
  tests/realtime/test_openai.py
  tests/realtime/test_xai.py
Due: clai-help, format, lint, typecheck

Improve realtime camera example: better defaults, error surfacing, redraw cleanup
  examples/pydantic_ai_examples/realtime_camera/app.py
  examples/pydantic_ai_examples/realtime_camera/index.html
Due: clai-help, format, lint, typecheck

docs(workflows): document the auto-review label lifecycle
  .github/workflows/AGENTS.md
Due: clai-help

Avoid unnecessary LocalStack approval gates (pydantic/pydantic-ai-harness#450)
  src/pydantic_ai_harness/agent_docs/capability-authoring.md
  tests/harness/localstack/test_ci_workflow.py
Due: clai-help, format, lint, typecheck

Add `BedrockMantleProvider` and normalize response-scoped tool-call IDs (#6538)
  .agents/skills/add-new-model/SKILL.md
  docs/api/models/bedrock_mantle.md
  docs/api/providers.md
  docs/install.md
  docs/models/bedrock.md
  docs/nav.json
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/ARCHITECTURE.md
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/_known_model_names.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/bedrock_mantle.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock_mantle.py
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  tests/models/cassettes/test_bedrock_mantle/test_gpt_oss_responses.yaml
  tests/models/cassettes/test_bedrock_mantle/test_native_output.yaml
  tests/models/cassettes/test_bedrock_mantle/test_reused_tool_call_ids[request].yaml
  tests/models/cassettes/test_bedrock_mantle/test_reused_tool_call_ids[stream].yaml
  tests/models/cassettes/test_bedrock_mantle/test_reused_tool_call_ids_gpt_5_5.yaml
  tests/models/cassettes/test_bedrock_mantle/test_safeguard_chat_routing.yaml
  tests/models/test_bedrock_mantle.py
  tests/models/test_model_names.py
  tests/providers/test_bedrock_mantle.py
  tests/test_capabilities.py
  uv.lock
Due: clai-help, format, lint, typecheck

docs(agents): push-and-watch rule for agent contributors (#6721)
  .agents/skills/pushing-commits-to-the-repo/SKILL.md
  .claude/skills/pushing-commits-to-the-repo
  .gitignore
  AGENTS.md
Due: clai-help

docs(workflows): the config-file guard is not fork-only
  .github/workflows/AGENTS.md
Due: clai-help

prevent silent durability composition failures (pydantic/pydantic-ai-harness#453)
  src/pydantic_ai_harness/agent_docs/capability-authoring.md
  src/pydantic_ai_harness/agent_docs/review-checklist.md
Due: clai-help

Model Opus 5 effort/thinking divergence and correct stale Anthropic copy
  docs/capabilities/thinking.md
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/native_tools/__init__.py
  pydantic_ai_slim/pydantic_ai/profiles/anthropic.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock.py
  tests/models/test_anthropic.py
  tests/profiles/test_anthropic.py
  tests/profiles/test_resolution_matrix.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

ci(bots): surface auto-review failures and fix the stale checkout pin comment
  .github/workflows/bots.yml
Due: none

ci(bots): restore fork-PR auto-review broken by actions/checkout v7
  .github/workflows/bots.yml
Due: none

Use hybrid usage serialization
  pydantic_ai_slim/pydantic_ai/usage.py
  tests/test_messages.py
  tests/test_temporal.py
  tests/test_usage_limits.py
Due: clai-help, format, lint, typecheck

Align realtime session span with instrumentation version + norms
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/realtime/_session.py
  tests/realtime/test_instrumentation.py
Due: clai-help, format, lint, typecheck

Support Pydantic 2.12 usage serialization
  pydantic_ai_slim/pydantic_ai/usage.py
  tests/test_messages.py
Due: clai-help, format, lint, typecheck

Cover declared usage field deletion
  tests/test_usage_limits.py
Due: clai-help, format, lint, typecheck

Clarify Bedrock Mantle interface contracts
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock_mantle.py
  tests/models/test_bedrock_mantle.py
Due: clai-help, format, lint, typecheck

docs(workflows): fix events pagination and document the agentic/label review race
  .github/workflows/AGENTS.md
Due: clai-help

Mark Mantle history replay cache changes
  tests/models/test_bedrock_mantle.py
Due: clai-help, format, lint, typecheck

commit branch-context and adopt-pr skill scaffolding (pydantic/pydantic-ai-harness#455)
  src/pydantic_ai_harness/.agents/skills/adopt-pr/SKILL.md
  src/pydantic_ai_harness/.agents/skills/branch-context/SKILL.md
  src/pydantic_ai_harness/.agents/skills/branch-context/append-handoff.sh
  src/pydantic_ai_harness/.agents/skills/branch-context/append-pr-decision.sh
  src/pydantic_ai_harness/.agents/skills/branch-context/handoffs-index.template.md
  src/pydantic_ai_harness/.agents/skills/branch-context/issue-brief.template.md
  src/pydantic_ai_harness/.agents/skills/branch-context/pr-decisions.template.md
  src/pydantic_ai_harness/.agents/skills/branch-context/status.sh
  src/pydantic_ai_harness/AGENTS.md
Due: clai-help

Infer realtime agent name + set `final_result` on the session span
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/realtime/_session.py
  tests/realtime/test_instrumentation.py
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

Clarify `BedrockMantleProvider` interface contracts (#6726)
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock_mantle.py
  tests/models/test_bedrock_mantle.py
Due: clai-help, format, lint, typecheck

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
