Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

Log the Modal sandbox ID at creation
  src/pydantic_ai_harness/pydantic_ai_harness/modal_sandbox/_backend.py
  tests/harness/modal_sandbox/test_backend.py
Due: clai-help, format, lint, typecheck

docs: say a Modal sandbox whose image command ignores the stop signal lingers about 30 s after destroy
  docs/harness/modal-sandbox.md
  src/pydantic_ai_harness/pydantic_ai_harness/modal_sandbox/README.md
Due: clai-help

Confine the E2B host fake's writes through a final symlink to the host root too
  tests/harness/e2b_sandbox/fake_e2b.py
Due: clai-help, format, lint, typecheck

Retry an E2B sandbox's working_dir setup on the next use after a failed first attempt
  src/pydantic_ai_harness/pydantic_ai_harness/e2b_sandbox/_backend.py
  tests/harness/e2b_sandbox/test_backend.py
Due: clai-help, format, lint, typecheck

AGENTS.md: capabilities are re-exported lazily from the root, as capability-authoring.md says
  src/pydantic_ai_harness/AGENTS.md
Due: clai-help

Remove providers OpenRouter no longer serves from `KnownOpenRouterProviders`
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
Due: clai-help, format, lint, typecheck

Skip the Modal test modules in jobs without the Modal SDK, as the E2B tests do
  tests/harness/modal_sandbox/conftest.py
Due: clai-help, format, lint, typecheck

Document the Sprites sandbox telemetry decision
  docs/harness/sprites-sandbox.md
  src/pydantic_ai_harness/pydantic_ai_harness/sprites_sandbox/README.md
Due: clai-help

Reject an invalid idle_timeout when ModalSandboxBackend is constructed
  src/pydantic_ai_harness/pydantic_ai_harness/modal_sandbox/_backend.py
  tests/harness/modal_sandbox/test_backend.py
Due: clai-help, format, lint, typecheck

Refuse to write over a FIFO or device through the shell filesystem, as the local backend does
  pydantic_ai_slim/pydantic_ai/workspaces/workspace.py
  tests/test_workspace.py
Due: clai-help, format, lint, typecheck

Keep the Modal setsid probe out of a command's timeout
  src/pydantic_ai_harness/pydantic_ai_harness/modal_sandbox/_backend.py
  tests/harness/modal_sandbox/test_backend.py
Due: clai-help, format, lint, typecheck

fix(harness): check a bare Shell toolset before starting its command
  src/pydantic_ai_harness/pydantic_ai_harness/shell/_persistent.py
  tests/harness/shell/test_persistent.py
Due: clai-help, format, lint, typecheck

End background children of the E2B host fake's commands at teardown
  tests/harness/e2b_sandbox/fake_e2b.py
  tests/harness/e2b_sandbox/test_backend.py
Due: clai-help, format, lint, typecheck

Document E2BSandbox telemetry
  docs/harness/e2b-sandbox.md
  src/pydantic_ai_harness/pydantic_ai_harness/e2b_sandbox/README.md
Due: clai-help

Document the Modal sandbox telemetry decision
  docs/harness/modal-sandbox.md
  src/pydantic_ai_harness/pydantic_ai_harness/modal_sandbox/README.md
Due: clai-help

fix(clai2): keep an agent's wrapped sandbox as the run's workspace
  src/pydantic_clai2/pydantic_clai2/_session.py
  tests/clai2/test_sessions.py
Due: clai-help, format, lint, typecheck

fix(harness): stop resolving ripgrep candidates once the result cap is reached
  src/pydantic_ai_harness/pydantic_ai_harness/filesystem/_ripgrep.py
  tests/harness/filesystem/test_ripgrep.py
Due: clai-help, format, lint, typecheck

Say which runs get a durable default run ID, and pin that other runs keep a UUID7
  docs/workspace.md
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/agent/wrapper.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_agent.py
  pydantic_ai_slim/pydantic_ai/ui/_adapter.py
  tests/durable_exec/test_prefect_workspace.py
Due: clai-help, format, lint, typecheck

Accept OpenRouter's `mxfp4`, `nvfp4`, `mxfp8` quantizations and `exacto` sort
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
  tests/models/cassettes/test_openrouter/test_openrouter_provider_quantization_and_sort.yaml
  tests/models/test_openrouter.py
Due: clai-help, format, lint, typecheck

Run sandbox live tests on release tags without letting a provider outage block the release
  .github/workflows/ci.yml
Due: none

Count Google grounding web search queries in usage
  docs/native-tools.md
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck

fix(harness): end a file search when the workspace becomes unavailable
  src/pydantic_ai_harness/pydantic_ai_harness/filesystem/_toolset.py
  tests/harness/filesystem/test_filesystem.py
Due: clai-help, format, lint, typecheck

Keep an unrecognised 4xx from E2B sandbox creation retryable
  src/pydantic_ai_harness/pydantic_ai_harness/e2b_sandbox/_backend.py
  tests/harness/e2b_sandbox/test_backend.py
Due: clai-help, format, lint, typecheck

Bound the Modal create-recovery lookup so a stalled control plane cannot hang acquisition
  src/pydantic_ai_harness/pydantic_ai_harness/modal_sandbox/_backend.py
  tests/harness/modal_sandbox/test_backend.py
Due: clai-help, format, lint, typecheck

Terminate the prepared Modal sandbox when setup fails, and check the install's exit code
  docs/harness/modal-sandbox.md
  src/pydantic_ai_harness/pydantic_ai_harness/modal_sandbox/README.md
Due: clai-help

Kill the prepared E2B sandbox when setup fails in the docs example
  docs/harness/e2b-sandbox.md
  src/pydantic_ai_harness/pydantic_ai_harness/e2b_sandbox/README.md
Due: clai-help

Import Modal off the event loop when destroying a sandbox by ref
  src/pydantic_ai_harness/pydantic_ai_harness/modal_sandbox/_backend.py
  tests/harness/modal_sandbox/test_backend.py
Due: clai-help, format, lint, typecheck

fix(harness): stop a shell job when its result cannot be returned
  src/pydantic_ai_harness/pydantic_ai_harness/shell/_persistent.py
  tests/harness/shell/test_persistent.py
Due: clai-help, format, lint, typecheck

Keep the Sprites working_dir check within the command's timeout
  src/pydantic_ai_harness/pydantic_ai_harness/sprites_sandbox/_backend.py
  tests/harness/sprites_sandbox/test_sprites_sandbox.py
Due: clai-help, format, lint, typecheck

fix(clai2): keep a capability function's workspace as the run's workspace
  src/pydantic_clai2/pydantic_clai2/_session.py
  tests/clai2/test_sessions.py
Due: clai-help, format, lint, typecheck

fix: distinguish child errors from delegation timeouts
  docs/harness/subagents.md
  src/pydantic_ai_harness/pydantic_ai_harness/subagents/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/subagents/_toolset.py
  tests/harness/subagents/test_events.py
Due: clai-help, format, lint, typecheck

Name pytest without an inline install command on the Sprites page
  docs/harness/sprites-sandbox.md
  src/pydantic_ai_harness/pydantic_ai_harness/sprites_sandbox/README.md
Due: clai-help

Resolve a Sprite's working directory on each backend so a Sprite deleted elsewhere is reported
  src/pydantic_ai_harness/pydantic_ai_harness/sprites_sandbox/_backend.py
  tests/harness/sprites_sandbox/test_sprites_sandbox.py
Due: clai-help, format, lint, typecheck

Mark the memory-store test backends' unused protocol methods as uncovered
  tests/harness/memory/test_stores.py
Due: clai-help, format, lint, typecheck

Drop the skipped OAuth exchange from the Model Armor cassette
  tests/models/cassettes/test_google/test_google_model_armor_prompt_template_text_gets_blocked.yaml
Due: none

fix(clai2): count a capability group that supplies the workspace itself
  src/pydantic_clai2/pydantic_clai2/_session.py
  tests/clai2/test_sessions.py
Due: clai-help, format, lint, typecheck

Keep `content-encoding` on bodies the recording hook cannot inflate
  tests/cassette_hooks.py
  tests/test_cassette_hooks.py
Due: clai-help, format, lint, typecheck

docs: clarify which child timeouts reach delegation handling
  docs/harness/subagents.md
  src/pydantic_ai_harness/pydantic_ai_harness/subagents/README.md
Due: clai-help

Escape the smart characters in the cassette hook test
  tests/test_cassette_hooks.py
Due: clai-help, format, lint, typecheck

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
