Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

Rename bedrock_canonical_model_id to bedrock_count_tokens_model_id
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock.py
  tests/models/test_bedrock.py
Due: clai-help, format, lint, typecheck

Fix Conftest
  tests/conftest.py
Due: clai-help, format, lint, typecheck

Fix Docs
  docs/models/google.md
Due: clai-help

Fix Docs and Logic Flow
  pydantic_ai_slim/pydantic_ai/models/google.py
Due: clai-help, format, lint, typecheck

fix: remove extra newline in OpenAI model
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: clai-help, format, lint, typecheck

Fix Tests
  tests/json_body_serializer.py
  tests/models/cassettes/test_google/test_google_vertex_logprobs.yaml
  tests/models/cassettes/test_google/test_google_vertex_logprobs_structure.yaml
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck

Fix error when using `OpenAIResponsesModel` with "compatible" provider that returns `reasoning_tokens` as `None` instead (#4151)
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/usage.py
  tests/test_usage_limits.py
Due: clai-help, format, lint, typecheck

Add concurrency limiting for Agents and Models (#4149)
  docs/agents.md
  docs/api/concurrency.md
  docs/models/overview.md
  docs/models/xai.md
  docs/troubleshooting.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/concurrency.py
  pydantic_ai_slim/pydantic_ai/exceptions.py
  pydantic_ai_slim/pydantic_ai/models/concurrency.py
  tests/test_concurrency.py
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

Infer gateway base URL from token region (#4192)
  pydantic_ai_slim/pydantic_ai/providers/gateway.py
  tests/providers/test_gateway.py
Due: clai-help, format, lint, typecheck

Fix `MultiModalContent` union missing discriminator causing incorrect deserialization (#4191)
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_evals/pydantic_evals/evaluators/llm_as_a_judge.py
  tests/test_messages.py
Due: clai-help, format, lint, typecheck

fix(gateway): add missing `-_` characeters to match api key (#4194)
  pydantic_ai_slim/pydantic_ai/providers/gateway.py
Due: clai-help, format, lint, typecheck

Iterate on auto-review prompt (#4222)
  .github/workflows/review.yml
  docs/version-policy.md
Due: clai-help

Add PR auto-review based on rules extracted from past PR comments (#4199)
  .github/workflows/at-claude.yml
  .github/workflows/review.yml
  AGENTS.md
  docs/AGENTS.md
  docs/CLAUDE.md
  pydantic_ai_slim/pydantic_ai/models/AGENTS.md
  pydantic_ai_slim/pydantic_ai/models/CLAUDE.md
  tests/AGENTS.md
  tests/CLAUDE.md
Due: clai-help

Iterate on auto-review prompt (#4225)
  .github/workflows/review.yml
Due: none

fix(bedrock): CachePoint placement with multiple trailing documents (#4207)
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  tests/models/test_bedrock.py
Due: clai-help, format, lint, typecheck

chore: Track issue #4210 (#4215)
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck

Revert "Add PR auto-review based on rules extracted from past PR comments" (#4202)
  .github/workflows/claude.yml
  .github/workflows/review.yml
  AGENTS.md
  docs/AGENTS.md
  docs/CLAUDE.md
  pydantic_ai_slim/pydantic_ai/models/AGENTS.md
  pydantic_ai_slim/pydantic_ai/models/CLAUDE.md
  tests/AGENTS.md
  tests/CLAUDE.md
Due: clai-help

Add anthropic betas to `AnthropicModelSettings` (#4180)
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/test_anthropic.py
Due: clai-help, format, lint, typecheck

Iterate on auto-review prompt (#4223)
  .github/workflows/review.yml
Due: none

Add AGENTS.md rules extracted from past PR comments (#4214)
  AGENTS.md
  docs/AGENTS.md
  docs/CLAUDE.md
  pydantic_ai_slim/pydantic_ai/models/AGENTS.md
  pydantic_ai_slim/pydantic_ai/models/CLAUDE.md
  tests/AGENTS.md
  tests/CLAUDE.md
Due: clai-help

Iterate on auto-review prompt (#4220)
  .github/workflows/review.yml
Due: none

Fix typo in auto-review prompt (#4229)
  .github/workflows/review.yml
Due: none

Use Opus 4.6 for auto-review (#4236)
  .github/workflows/review.yml
Due: none

Iterate on auto-review prompt (#4226)
  .github/workflows/review.yml
Due: none

Add Claude Opus 4.6, `anthropic_effort` and `anthropic_thinking.type='adaptive'` (#4216)
  docs/thinking.md
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/profiles/anthropic.py
  pydantic_ai_slim/pyproject.toml
  tests/models/anthropic/test_output.py
  tests/models/cassettes/test_anthropic/test_anthropic_model_thinking_part.yaml
  tests/models/cassettes/test_anthropic/test_anthropic_model_thinking_part_stream.yaml
  tests/models/cassettes/test_anthropic/test_anthropic_opus_46_features[adaptive-thinking].yaml
  tests/models/cassettes/test_anthropic/test_anthropic_opus_46_features[basic].yaml
  tests/models/cassettes/test_anthropic/test_anthropic_opus_46_features[effort].yaml
  tests/models/cassettes/test_anthropic/test_anthropic_output_tool_with_thinking.yaml
  tests/models/cassettes/test_anthropic/test_anthropic_tool_with_thinking.yaml
  tests/models/test_anthropic.py
  uv.lock
Due: clai-help, format, lint, typecheck

Rename `docs/agents.md` to not conflict with `docs/AGENTS.md` on case insensitive file systems (#4212)
  AGENTS.md
  docs-site/src/index.ts
  docs/agent.md
  docs/builtin-tools.md
  docs/dependencies.md
  docs/durable_execution/dbos.md
  docs/durable_execution/overview.md
  docs/durable_execution/prefect.md
  docs/durable_execution/temporal.md
  docs/examples/bank-support.md
  docs/examples/flight-booking.md
  docs/examples/slack-lead-qualifier.md
  docs/examples/sql-gen.md
  docs/graph.md
  docs/index.md
  docs/logfire.md
  docs/mcp/overview.md
  docs/models/overview.md
  docs/output.md
  docs/thinking.md
  docs/tools-advanced.md
  docs/ui/ag-ui.md
  docs/ui/overview.md
  docs/ui/vercel-ai.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
Due: clai-help, format, lint, typecheck

Disallow downloading `FileUrl`s pointing at the local network by default (#4227)
  pydantic_ai_slim/pydantic_ai/_ssrf.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  tests/conftest.py
  tests/models/test_anthropic.py
  tests/models/test_bedrock.py
  tests/models/test_download_item.py
  tests/models/test_gemini.py
  tests/models/test_gemini_vertex.py
  tests/models/test_google.py
  tests/models/test_openai.py
  tests/models/test_outlines.py
  tests/test_ssrf.py
Due: clai-help, format, lint, typecheck

Iterate on auto-review prompt (#4224)
  .github/workflows/review.yml
Due: none

Fix Auto Review on forks (#4218)
  .github/workflows/at-claude.yml
  .github/workflows/review.yml
Due: none

Add PR auto-review based on rules extracted from past PR comments (#4213)
  .github/workflows/after-ci.yml
  .github/workflows/at-claude.yml
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/manually-deploy-docs.yml
  .github/workflows/review.yml
Due: none

Iterate on auto-review prompt (#4228)
  .github/workflows/review.yml
Due: none

Review all PRs with Opus 4.5, remove `auto-review` label gating (#4271)
  .github/workflows/review.yml
  AGENTS.md
Due: clai-help

Fix typo in runtime instructions section (#4257)
  docs/agent.md
Due: clai-help

Only trigger auto-review on `labeled` when the `auto-review` label is added (#4244)
  .github/workflows/review.yml
Due: none

docs: update aggregated usage docs and remove unrelated whitespace
  docs/logfire.md
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
Due: clai-help, format, lint, typecheck

Fix category-label OIDC failure on forks (#4270)
  .github/workflows/pr-auto-label.yml
Due: none

ci: Add automatic PR labeling for size and category (#3984)
  .github/release.yml
  .github/workflows/label.yml
  .github/workflows/pr-auto-label.yml
Due: none

Iterate on auto-review prompt (#4245)
  .github/workflows/review.yml
Due: none

Only check for modified agent config files on fork PRs in auto-review workflow (#4246)
  .github/workflows/review.yml
Due: none
