Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

replace-py-code-blocks:
  name: Replace ```py with ```python
  entry: "if [[ \"$(uname)\" == \"Darwin\" ]]; then\n  sed -i '' 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nelse\n  sed -i 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nfi\n"
  language: system
  pass_filenames: true

this is crazy
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/gateway.py
  tests/providers/cassettes/test_gateway/test_gateway_provider_with_anthropic.yaml
  tests/providers/cassettes/test_gateway/test_gateway_provider_with_bedrock.yaml
  tests/providers/cassettes/test_gateway/test_gateway_provider_with_google_vertex.yaml
  tests/providers/cassettes/test_gateway/test_gateway_provider_with_groq.yaml
  tests/providers/cassettes/test_gateway/test_gateway_provider_with_openai.yaml
  tests/providers/cassettes/test_gateway/test_gateway_provider_with_openai_responses.yaml
  tests/providers/test_gateway.py
Due: format, lint, typecheck, replace-py-code-blocks

pass
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/providers/cassettes/test_gateway/test_gateway_provider_with_anthropic.yaml
  tests/providers/cassettes/test_gateway/test_gateway_provider_with_bedrock.yaml
  tests/providers/cassettes/test_gateway/test_gateway_provider_with_google_vertex.yaml
  tests/providers/cassettes/test_gateway/test_gateway_provider_with_groq.yaml
  tests/providers/cassettes/test_gateway/test_gateway_provider_with_openai.yaml
  tests/providers/cassettes/test_gateway/test_gateway_provider_with_openai_responses.yaml
  tests/providers/test_gateway.py
Due: format, lint, typecheck, replace-py-code-blocks

mention PAIG and PAI code example options
  docs/agents.md
  docs/gateway/overview.md
  docs/index.md
  docs/install.md
Due: replace-py-code-blocks

Add test coverage for exception hashability
  tests/test_exceptions.py
Due: format, lint, typecheck, replace-py-code-blocks

consolidate docs in `overview.md` & update mkdocs
  docs/gateway/overview.md
  docs/gateway/quick-start.md
  docs/gateway/usage.md
  mkdocs.yml
Due: replace-py-code-blocks

Fix docs links
  docs-site/src/index.ts
  docs/agents.md
  docs/gateway.md
  docs/index.md
  docs/install.md
  mkdocs.yml
Due: replace-py-code-blocks

trace the output tool call but not count it
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
Due: format, lint, typecheck, replace-py-code-blocks

some fixes
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
Due: format, lint, typecheck, replace-py-code-blocks

linter
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix Vercel AI tool input/output always showing up as a JSON string rather than object
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_event_stream.py
  tests/test_vercel_ai.py
Due: format, lint, typecheck, replace-py-code-blocks

fix test
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Unwrap list tool output
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_event_stream.py
  tests/test_vercel_ai.py
Due: format, lint, typecheck, replace-py-code-blocks

update the test logfire
  tests/test_logfire.py
Due: format, lint, typecheck, replace-py-code-blocks

update test temporal
  tests/test_temporal.py
Due: format, lint, typecheck, replace-py-code-blocks

test prefect
  tests/test_prefect.py
Due: format, lint, typecheck, replace-py-code-blocks

test dbos
  tests/test_dbos.py
Due: format, lint, typecheck, replace-py-code-blocks

Initial commit for xAI grok model
  docs/api/models/grok.md
  docs/models/grok.md
  docs/models/overview.md
  pydantic_ai_slim/pydantic_ai/models/grok.py
  pydantic_ai_slim/pydantic_ai/profiles/grok.py
  pydantic_ai_slim/pydantic_ai/providers/grok.py
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Adding flight booking example for live test
  examples/pydantic_ai_examples/flight_booking_grok.py
Due: format, lint, typecheck, replace-py-code-blocks

Reducing test to only cover incorrect model error for streaming and non-streaming API
  tests/models/cassettes/test_bedrock/test_bedrock_error.yaml
  tests/models/cassettes/test_bedrock/test_bedrock_server_error.yaml
  tests/models/cassettes/test_bedrock/test_bedrock_throttling_error.yaml
  tests/models/test_bedrock.py
Due: format, lint, typecheck, replace-py-code-blocks

Providing full response body, and limiting test to cover Message only
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  tests/models/test_bedrock.py
Due: format, lint, typecheck, replace-py-code-blocks

apply review fixes
  pydantic_ai_slim/pydantic_ai/_parts_manager.py
Due: format, lint, typecheck, replace-py-code-blocks

WIP
  pydantic_ai_slim/pydantic_ai/openai_api.py
  pydantic_ai_slim/pydantic_ai/ui/responses/__init__.py
  pydantic_ai_slim/pydantic_ai/ui/responses/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/responses/_event_stream.py
  pydantic_ai_slim/pydantic_ai/ui/responses/_type_guards.py
  pydantic_ai_slim/pydantic_ai/ui/responses/app.py
  tests/test_chat_completions.py
  tests/test_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

docstring + assert
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/result.py
Due: format, lint, typecheck, replace-py-code-blocks

feat: add Bedrock count_tokens support plus usage-limit coverage
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pyproject.toml
  tests/conftest.py
  tests/models/cassettes/test_bedrock/test_bedrock_model_usage_limit_exceeded.yaml
  tests/models/cassettes/test_bedrock/test_bedrock_model_usage_limit_not_exceeded.yaml
  tests/models/test_bedrock.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

test: add unit test for _remove_inference_geo_prefix function
  tests/models/test_bedrock.py
Due: format, lint, typecheck, replace-py-code-blocks

Removing str | None and moving the run_id generation to State def
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/run.py
Due: format, lint, typecheck, replace-py-code-blocks

fix
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
Due: format, lint, typecheck, replace-py-code-blocks

docs(gateway): add script to generate Pydantic AI Gateway tab
  docs/.hooks/main.py
  mkdocs.yml
Due: format, lint, typecheck, replace-py-code-blocks

add backwards compatability behavior
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/gateway.py
Due: format, lint, typecheck, replace-py-code-blocks

add inventories
  mkdocs.yml
Due: none

consolidate docs in `overview.md` & update mkdocs
  docs/ai_gateway/overview.md
  mkdocs.yml
Due: replace-py-code-blocks

pass tests
  tests/providers/cassettes/test_gateway/test_gateway_provider_with_openai_responses.yaml
  tests/providers/test_gateway.py
Due: format, lint, typecheck, replace-py-code-blocks

drop inventaries
  mkdocs.yml
Due: none

remove verbose documentation of minor update
  docs/models/google.md
Due: replace-py-code-blocks

fix typo
  docs/ai_gateway/overview.md
Due: replace-py-code-blocks

Address PR review: Use response_json_schema and simplify implementation
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/profiles/google.py
  pydantic_ai_slim/pydantic_ai/providers/google_gla.py
  pydantic_ai_slim/pydantic_ai/providers/google_vertex.py
  tests/models/test_gemini.py
  tests/models/test_google_discriminator.py
  tests/models/test_google_json_schema_features.py
Due: format, lint, typecheck, replace-py-code-blocks

skip test
  docs/ai_gateway/overview.md
Due: replace-py-code-blocks

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
  replace-py-code-blocks: any of: \.py$|\.md$
