Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

test: pin the fallback messages, and fix three doc sentences
  .github/workflows/ci.yml
  docs/contributing.md
  scripts/test_typecheck_changed.py
Due: clai-help, format, lint, typecheck

fix: preserve explicit instruction hook fallback with append history
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_instructions.py
  tests/test_instruction_updates.py
Due: clai-help, format, lint, typecheck

test: cover optimized capability hook paths
  tests/test_capabilities.py
  tests/test_utils.py
Due: clai-help, format, lint, typecheck

test: update serialized instruction metadata snapshots
  tests/models/test_fallback.py
  tests/test_agent.py
  tests/test_logfire.py
Due: clai-help, format, lint, typecheck

Use loop turns for SyncStreamBridge test watchdogs
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

docs: align contributor setup guidance with uv configuration
  agent_docs/index.md
  docs/contributing.md
Due: clai-help

test: cover tool approval after restoring serialized history
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

test: cover durable stream passthrough
  tests/durable_exec/test_durable_operation.py
Due: clai-help, format, lint, typecheck

test: cover incomplete Responses continuation metadata
  tests/test_cache_prefix_invariant.py
Due: clai-help, format, lint, typecheck

Deflake `SyncStreamBridge` `BaseException` tests (#8189)
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

fix(images): compare image generation models by identity
  pydantic_ai_slim/pydantic_ai/images/google.py
  pydantic_ai_slim/pydantic_ai/images/openai.py
  pydantic_ai_slim/pydantic_ai/images/test.py
  pydantic_ai_slim/pydantic_ai/images/xai.py
  tests/test_capability_image_generation.py
Due: clai-help, format, lint, typecheck

docs: describe the navigation check without promising a preview
  docs/contributing.md
Due: clai-help

Cover tool approval after restoring serialized message history (#8192)
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

docs: explain the opt-in structured instruction history boundary
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
Due: clai-help, format, lint, typecheck

Handle instruction updates in token estimates and conversation search (pydantic/pydantic-ai-harness#815)
  docs/harness/compaction.md
  docs/harness/conversation-search.md
  src/pydantic_ai_harness/pydantic_ai_harness/compaction/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/compaction/_shared.py
  src/pydantic_ai_harness/pydantic_ai_harness/conversation_search/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/conversation_search/_toolset.py
  tests/harness/compaction/test_context_budget.py
  tests/harness/conversation_search/test_conversation_search.py
Due: clai-help, format, lint, typecheck

build: install missing pre-commit during contributor setup
  Makefile
  docs/contributing.md
Due: clai-help

fix: preserve instruction state when merging hook requests
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_instruction_updates.py
Due: clai-help, format, lint, typecheck

Automate `pre-commit` setup and correct contributor guidance (#8190)
  Makefile
  agent_docs/index.md
  docs/contributing.md
Due: clai-help

docs: say what `wait_for_playback()` counts as accounted for
  docs/api/realtime.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/SKILL.md
  pydantic_ai_slim/pydantic_ai/realtime/_session.py
Due: clai-help, format, lint, typecheck

chore: say what the delta-trim scan is actually linear in
  pydantic_ai_slim/pydantic_ai/realtime/_session.py
Due: clai-help, format, lint, typecheck

Reword the banner's observability pointer
  pydantic_ai_slim/pydantic_ai/_display.py
  tests/test_cli.py
  tests/test_display.py
Due: clai-help, format, lint, typecheck

Name the output-function test case after what it is
  tests/test_display.py
Due: clai-help, format, lint, typecheck

Render `ToolAdditionMode` and `ToolDeferralMode` on the profiles API reference page
  docs/api/profiles.md
Due: clai-help

Snap Gemini thinking levels to the nearest supported level (#8165)
  .agents/skills/add-new-model/SKILL.md
  docs/capabilities/thinking.md
  docs/models/google.md
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/profiles/google.py
  tests/cassettes/test_thinking_wire_contract/test_reasoning_wire_contract[google-gemini-31-flash-lite-image-low-snaps-down].yaml
  tests/cassettes/test_thinking_wire_contract/test_reasoning_wire_contract[google-gemini-31-flash-lite-image-medium-snaps-up].yaml
  tests/profiles/test_google.py
  tests/profiles/test_resolution_matrix.py
  tests/test_thinking.py
  tests/test_thinking_wire_contract.py
Due: clai-help, format, lint, typecheck

Build retried deferred-tool returns through build_retried_tool_return
  pydantic_ai_slim/pydantic_ai/_tool_execution.py
  pydantic_ai_slim/pydantic_ai/tool_manager.py
Due: clai-help, format, lint, typecheck

Escape enqueued system prompts on the realtime input channel
  pydantic_ai_slim/pydantic_ai/realtime/_session.py
  tests/realtime/test_session.py
Due: clai-help, format, lint, typecheck

Escape </tag/> and </tag attr> closing spellings in the fence and system wrap
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/test_retry_feedback.py
Due: clai-help, format, lint, typecheck

fix: reject a non-finite `PYRIGHT_TIME_BUDGET`, and say which runs read `PYRIGHT_THREADS`
  docs/contributing.md
  scripts/test_typecheck_changed.py
  scripts/typecheck_changed.py
Due: clai-help, format, lint, typecheck

Name the ToolRetryError.tool_retry change in the changelog; rename the ported retry_parts list
  docs/changelog.md
  tests/test_capability_image_generation.py
Due: clai-help, format, lint, typecheck

feat: map Copilot Claude and Gemini reasoning to ThinkingPart and drop the Claude thinking gate
  docs/capabilities/thinking.md
  docs/models/github-copilot.md
  pydantic_ai_slim/pydantic_ai/models/github_copilot.py
  pydantic_ai_slim/pydantic_ai/providers/github_copilot.py
  pydantic_ai_slim/pydantic_ai/settings.py
  tests/models/cassettes/test_github_copilot/test_github_copilot_claude_thinking.yaml
  tests/models/cassettes/test_github_copilot/test_github_copilot_claude_thinking_false_is_rejected.yaml
  tests/models/cassettes/test_github_copilot/test_github_copilot_claude_thinking_is_sent_back.yaml
  tests/models/cassettes/test_github_copilot/test_github_copilot_claude_thinking_stream.yaml
  tests/models/cassettes/test_github_copilot/test_github_copilot_claude_without_reasoning_effort_support_is_rejected.yaml
  tests/models/cassettes/test_github_copilot/test_github_copilot_gemini_thinking.yaml
  tests/models/cassettes/test_github_copilot/test_github_copilot_thinking_false_is_dropped_for_claude.yaml
  tests/models/test_github_copilot.py
  tests/profiles/test_resolution_matrix.py
  tests/providers/test_github_copilot.py
Due: clai-help, format, lint, typecheck

docs: warn against registering tools from inside `prepare`
  docs/tools-advanced.md
Due: clai-help

docs: Copilot's model listing needs the Copilot-Integration-Id header
  docs/models/github-copilot.md
  pydantic_ai_slim/pydantic_ai/providers/github_copilot.py
  tests/models/test_github_copilot.py
Due: clai-help, format, lint, typecheck

docs: correct the GitHub Copilot row in the thinking capability table
  docs/capabilities/thinking.md
Due: clai-help

Route PR category classification through Anthropic directly
  .github/workflows/bots.yml
Due: none

Extract shared API error handling in `GoogleEmbeddingModel` (#8155)
  pydantic_ai_slim/pydantic_ai/embeddings/google.py
Due: clai-help, format, lint, typecheck

Add temporary Claude gateway diagnostic
  .github/workflows/claude-gateway-probe.yml
Due: none

Classify gateway rejection without exposing response
  .github/workflows/claude-gateway-probe.yml
Due: none

Probe Claude gateway model policy
  .github/workflows/claude-gateway-probe.yml
Due: none

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
