Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

Support WebSearchTool for OpenRouter through OpenRouter plugins
  docs/builtin-tools.md
  docs/models/openrouter.md
  pydantic_ai_slim/pydantic_ai/builtin_tools.py
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
  tests/models/test_openrouter.py
Due: clai-help, format, lint, typecheck

Fix test_model_request_parameters_are_serializable for new websearch params for openrouter
  tests/models/test_model_request_parameters.py
Due: clai-help, format, lint, typecheck

Add provider_metadata dictionary for openrouter
  docs/builtin-tools.md
  docs/models/openrouter.md
  pydantic_ai_slim/pydantic_ai/builtin_tools.py
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
  tests/models/test_openrouter.py
Due: clai-help, format, lint, typecheck

Fix test to ensure 100 percent coverage
  tests/models/test_openrouter.py
Due: clai-help, format, lint, typecheck

Add tests to cover all of openrouter.py
  tests/models/test_openrouter.py
Due: clai-help, format, lint, typecheck

Set openai_chat_supports_web_search=True for openrouter profile and update test
  docs/models/openrouter.md
  pydantic_ai_slim/pydantic_ai/providers/openrouter.py
  tests/models/test_openrouter.py
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

Remove noop line for model settings in openrouter
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
Due: clai-help, format, lint, typecheck

Fix test_model_request_parameters_are_serializa
  tests/models/test_model_request_parameters.py
Due: clai-help, format, lint, typecheck

Consolidate duplicate evaluator registry helpers into generic functions
  pydantic_evals/pydantic_evals/dataset.py
Due: clai-help, format, lint, typecheck

Address DouweBot review feedback
  pydantic_evals/pydantic_evals/reporting/__init__.py
  tests/evals/test_multi_run.py
Due: clai-help, format, lint, typecheck

Add comment explaining diff table aggregation strategy
  pydantic_evals/pydantic_evals/reporting/__init__.py
Due: clai-help, format, lint, typecheck

Fix CI
  tests/evals/test_multi_run.py
Due: clai-help, format, lint, typecheck

Address review comments
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
  tests/test_agent.py
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

Fix coverage
  tests/evals/test_multi_run.py
Due: clai-help, format, lint, typecheck

Fix category-label OIDC failure on forks
  .github/workflows/pr-auto-label.yml
Due: none

Fix category-label OIDC failure on forks (#4270)
  .github/workflows/pr-auto-label.yml
Due: none

Add missing context parameter for report evaluator loading
  pydantic_evals/pydantic_evals/dataset.py
Due: clai-help, format, lint, typecheck

Update pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
Due: clai-help, format, lint, typecheck

Add pragma no cover to type annotation on line 760
  pydantic_ai_slim/pydantic_ai/messages.py
Due: clai-help, format, lint, typecheck

Fix weird merge issue
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
Due: clai-help, format, lint, typecheck

Fix type issue
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
Due: clai-help, format, lint, typecheck

Fix linting - format test_instrumented.py
  tests/models/test_instrumented.py
Due: clai-help, format, lint, typecheck

Move openrouter websearch param extraction to _openrouter_settings_to_openai_settings
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
  tests/models/test_openrouter.py
Due: clai-help, format, lint, typecheck

Address DouweBot review feedback (round 2)
  pydantic_evals/pydantic_evals/dataset.py
  pydantic_evals/pydantic_evals/reporting/__init__.py
  tests/evals/test_multi_run.py
Due: clai-help, format, lint, typecheck

Review all PRs with Opus 4.5, remove `auto-review` label gating
  .github/workflows/review.yml
  AGENTS.md
Due: clai-help

Review all PRs with Opus 4.5, remove `auto-review` label gating (#4271)
  .github/workflows/review.yml
  AGENTS.md
Due: clai-help

Fix removed item from docs
  docs/builtin-tools.md
Due: clai-help

Fix typo in runtime instructions section (#4257)
  docs/agent.md
Due: clai-help

Fix A2A FilePart base64 decoding for image/file uploads (#4181)
  pydantic_ai_slim/pydantic_ai/_a2a.py
  tests/test_a2a.py
Due: clai-help, format, lint, typecheck

ci: Remove 15-minute sleep delay from review workflow
  .github/workflows/review.yml
Due: none

ci: Remove 15-minute sleep delay from review workflow (#4272)
  .github/workflows/review.yml
Due: none

Set report_evaluator_failures as span attribute on experiment span
  pydantic_evals/pydantic_evals/dataset.py
  tests/evals/test_report_evaluators.py
Due: clai-help, format, lint, typecheck

Apply v4 format to FilePart output messages and add coverage tests
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/models/test_instrumented.py
Due: clai-help, format, lint, typecheck

Updating testing.md to frontier model
  docs/testing.md
Due: clai-help

Removing pydantic_ai.testing specific docs
  docs/api/testing.md
Due: clai-help

Exposing serialize and deserialize only for json_body_serializer
  pydantic_ai_slim/pydantic_ai/testing/json_body_serializer.py
Due: clai-help, format, lint, typecheck

Renaming json_body_serializer to vcr_yaml_serializer
  docs/testing.md
  pydantic_ai_slim/pydantic_ai/testing/__init__.py
  pydantic_ai_slim/pydantic_ai/testing/vcr_yaml_serializer.py
  tests/conftest.py
  tests/testing/test_vcr_yaml_serializer.py
Due: clai-help, format, lint, typecheck

docs: add comprehensive chunking strategies guide and examples
  docs/embeddings.md
  docs/examples/chunking.md
  docs/examples/rag-lancedb.md
  docs/examples/rag.md
  examples/pydantic_ai_examples/chunking_demo.py
  examples/pydantic_ai_examples/rag.py
  examples/pydantic_ai_examples/rag_lancedb.py
  examples/pyproject.toml
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: clai-help, format, lint, typecheck

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
