Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

replace-py-code-blocks:
  name: Replace ```py with ```python
  entry: "if [[ \"$(uname)\" == \"Darwin\" ]]; then\n  sed -i '' 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nelse\n  sed -i 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nfi\n"
  language: system
  pass_filenames: true

Add support for specifying tool name when using decorator. (#1087)
  pydantic_ai_slim/pydantic_ai/agent.py
  tests/test_tools.py
Due: format, lint, typecheck, replace-py-code-blocks

Serialize bytes as base64 for JSON
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Use IsStr()
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Serialize bytes as base64 for JSON (#1089)
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Update docs
  docs/message-history.md
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix docs rendering
  docs/message-history.md
Due: replace-py-code-blocks

Add Import and Export JSON to Message History Documentation (#1067)
  docs/message-history.md
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Add documentation of using `iter` for Graph interruption (human in the loop) (#980)
  docs/graph.md
  pydantic_graph/pydantic_graph/graph.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix CI
  docs/graph.md
Due: replace-py-code-blocks

more docs
  docs/api/pydantic_graph/nodes.md
  docs/api/pydantic_graph/persistence.md
  docs/graph.md
  examples/pydantic_ai_examples/question_graph.py
  pydantic_graph/pydantic_graph/graph.py
  pydantic_graph/pydantic_graph/nodes.py
  pydantic_graph/pydantic_graph/persistence/__init__.py
  pydantic_graph/pydantic_graph/persistence/_utils.py
  pydantic_graph/pydantic_graph/persistence/file.py
  pydantic_graph/pydantic_graph/persistence/in_mem.py
  tests/graph/test_persistence.py
  tests/test_examples.py
  tests/typed_graph.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix CI after merging outdated branch (#1090)
  docs/graph.md
Due: replace-py-code-blocks

Refactor Groq model and provider to use new provider pattern
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/providers/groq.py
  tests/models/test_groq.py
  tests/providers/test_groq.py
  tests/test_live.py
Due: format, lint, typecheck, replace-py-code-blocks

Add groq package to requirements
  pyproject.toml
  uv.lock
Due: none

complete docs
  docs/graph.md
  examples/pydantic_ai_examples/question_graph.py
  pydantic_graph/pydantic_graph/graph.py
  pydantic_graph/pydantic_graph/persistence/__init__.py
  pydantic_graph/pydantic_graph/persistence/_utils.py
  pydantic_graph/pydantic_graph/persistence/file.py
  pydantic_graph/pydantic_graph/persistence/in_mem.py
  tests/graph/test_file_persistence.py
  tests/graph/test_graph.py
  tests/graph/test_persistence.py
  tests/graph/test_state.py
Due: format, lint, typecheck, replace-py-code-blocks

replace human in the loop example
  docs/graph.md
Due: replace-py-code-blocks

Add optional import handling for Groq package
  pydantic_ai_slim/pydantic_ai/models/groq.py
Due: format, lint, typecheck, replace-py-code-blocks

Add examples for Fireworks.AI and Together.AI to OpenAI-compatible Models section
  docs/models.md
Due: replace-py-code-blocks

Fix CI pydantic slim test
  tests/models/test_groq.py
Due: format, lint, typecheck, replace-py-code-blocks

Revert "Add groq package to requirements"
  pyproject.toml
  uv.lock
Due: none

Adding a --openai_api_base_url arg to allow users to use pai with ex: ollama by specifying a url
  pydantic_ai_slim/pydantic_ai/_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

Fixing lint error
  pydantic_ai_slim/pydantic_ai/_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

Adding test_cli entry for new arg
  tests/test_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

Updating test output diff whitespace error
  tests/test_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

Updating test with openai_api_base_url help message
  tests/test_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

Apply suggestions from code review
  docs/graph.md
Due: replace-py-code-blocks

Apply suggestions from code review
  pydantic_graph/pydantic_graph/exceptions.py
Due: format, lint, typecheck, replace-py-code-blocks

tweak docs as suggested
  docs/graph.md
Due: replace-py-code-blocks

Version 0.0.37
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Version 0.0.37 (#1104)
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

add iter_from_persistence, deprecate next()
  docs/graph.md
  examples/pydantic_ai_examples/question_graph.py
  pydantic_graph/pydantic_graph/graph.py
  pydantic_graph/pydantic_graph/persistence/__init__.py
  pydantic_graph/pydantic_graph/persistence/file.py
  tests/graph/test_file_persistence.py
  tests/graph/test_graph.py
  tests/graph/test_persistence.py
Due: format, lint, typecheck, replace-py-code-blocks

Make it possible to override JSON schema generation for tools
  pydantic_ai_slim/pydantic_ai/_pydantic.py
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/tools.py
  tests/test_tools.py
Due: format, lint, typecheck, replace-py-code-blocks

Using the infer_provider method to try to make this more generic.j
  pydantic_ai_slim/pydantic_ai/_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

Updating linter errors
  pydantic_ai_slim/pydantic_ai/_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

Removing unused variables
  pydantic_ai_slim/pydantic_ai/_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

Updating cli test for new args
  tests/test_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
  replace-py-code-blocks: any of: \.py$|\.md$
