Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: replace-py-code-blocks
        name: Replace ```py with ```python
        # first pattern matches ```py <info> and second matches lone ```py<eol>
        entry: |
          if [[ "$(uname)" == "Darwin" ]]; then
            sed -i '' 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          else
            sed -i 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          fi
        language: system
        files: \.py$|\.md$
        pass_filenames: true

Fix streaming request parameters
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
Due: format, lint, typecheck, replace-py-code-blocks

Bugfix: ensure parameters are customized when making streaming requests (#1475)
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
Due: format, lint, typecheck, replace-py-code-blocks

Customize the parameters as appropriate for the model when using fallback model
  pydantic_ai_slim/pydantic_ai/models/fallback.py
Due: format, lint, typecheck, replace-py-code-blocks

Make tests/test_examples.py::test_docs_examples pass again
  pydantic_ai_slim/pydantic_ai/tools.py
Due: format, lint, typecheck, replace-py-code-blocks

Customize the parameters as appropriate for the model when using fallback model (#1477)
  pydantic_ai_slim/pydantic_ai/models/fallback.py
Due: format, lint, typecheck, replace-py-code-blocks

Update min openai version
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Generalize the JSON schema transformations
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/json_schema.py
Due: format, lint, typecheck, replace-py-code-blocks

More JSON schema improvements
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/json_schema.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pyproject.toml
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Try fixing coverage
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/json_schema.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Update min openai version (#1479)
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

ci: send tweet on release
  .github/workflows/ci.yml
Due: none

ci: send tweet on release (#1482)
  .github/workflows/ci.yml
Due: none

fix pipeline
  docs/agents.md
  docs/models.md
  pydantic_ai_slim/pydantic_ai/agent.py
Due: format, lint, typecheck, replace-py-code-blocks

remove docs/models.md
  docs/models.md
Due: replace-py-code-blocks

document instructions
  docs/agents.md
Due: replace-py-code-blocks

fix
  docs/agents.md
Due: replace-py-code-blocks

Make use of `mkdocs-llmstxt`
  docs/.hooks/build_llms_txt.py
  docs/index.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

full coverage
  pydantic_ai_slim/pydantic_ai/agent.py
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

tweaks
  docs/models/bedrock.md
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
Due: format, lint, typecheck, replace-py-code-blocks

add coverage
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Addressing Marcelo's feedback
  docs/models/bedrock.md
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
Due: format, lint, typecheck, replace-py-code-blocks

Update pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
Due: format, lint, typecheck, replace-py-code-blocks

coverage again
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

feat(BedrockConverseModel): add additional configuration fields to Bedrock Runtime API (#1458)
  docs/models/bedrock.md
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  tests/models/cassettes/test_bedrock/test_bedrock_model_guardrail_config.yaml
  tests/models/cassettes/test_bedrock/test_bedrock_model_other_parameters.yaml
  tests/models/cassettes/test_bedrock/test_bedrock_model_performance_config.yaml
  tests/models/test_bedrock.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix more stuff
  .hyperlint/config.yaml
  docs/contributing.md
Due: replace-py-code-blocks

Make use of `mkdocs-llmstxt` (#1427)
  docs/.hooks/build_llms_txt.py
  docs/index.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Add deno to contributing.md (#1389)
  .hyperlint/config.yaml
  docs/contributing.md
Due: replace-py-code-blocks

Add support for gemini-2.5-pro-preview-03-25 model (paid version of gemini 2.5 pro) (#1473)
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

move "format_as_xml"
  docs/evals.md
  docs/graph.md
  examples/pydantic_ai_examples/question_graph.py
  examples/pydantic_ai_examples/sql_gen.py
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/format_prompt.py
  tests/test_format_as_xml.py
Due: format, lint, typecheck, replace-py-code-blocks

add deprecated function
  docs/graph.md
  pydantic_ai_slim/pydantic_ai/format_as_xml.py
Due: format, lint, typecheck, replace-py-code-blocks

fix: no args tool call with bedrock model
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
Due: format, lint, typecheck, replace-py-code-blocks

docs: fix hyperlink to the streamed results page
  README.md
Due: replace-py-code-blocks

Add Changelog
  docs-site/package-lock.json
  docs-site/package.json
  docs-site/src/index.ts
  docs-site/worker-configuration.d.ts
  docs-site/wrangler.toml
  docs/changelog.md
  mkdocs.yml
Due: replace-py-code-blocks

cache results
  docs-site/src/index.ts
Due: none

BREAKING CHANGE (minor) move `format_as_xml` (#1484)
  docs/evals.md
  docs/graph.md
  examples/pydantic_ai_examples/question_graph.py
  examples/pydantic_ai_examples/sql_gen.py
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/format_as_xml.py
  pydantic_ai_slim/pydantic_ai/format_prompt.py
  tests/test_format_as_xml.py
Due: format, lint, typecheck, replace-py-code-blocks

David's suggestions
  docs/changelog.md
Due: replace-py-code-blocks

better cache key
  docs-site/src/index.ts
Due: none

Add Changelog (#1487)
  docs-site/package-lock.json
  docs-site/package.json
  docs-site/src/index.ts
  docs-site/worker-configuration.d.ts
  docs-site/wrangler.toml
  docs/changelog.md
  mkdocs.yml
Due: replace-py-code-blocks

fix comments
  docs/agents.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/agent.py
  tests/models/cassettes/test_gemini/test_gemini_model_instructions.yaml
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks
