Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

fix(messages): round-trip RetryPromptPart.content with partial ErrorDetails
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/test_messages.py
Due: clai-help, format, lint, typecheck

fix(google): emit deferred file_search return event at stream end and fill all pending returns
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/json_body_serializer.py
  tests/models/cassettes/test_google/test_google_model_file_search_grounding_gemini_3[False].yaml
  tests/models/cassettes/test_google/test_google_model_file_search_grounding_gemini_3[True].yaml
  tests/models/google/test_native_tools.py
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck

Degrade gracefully on non-int ArgumentCorrectness occurrence values
  pydantic_evals/pydantic_evals/evaluators/agentic.py
  tests/evals/test_agentic_evaluators.py
Due: clai-help, format, lint, typecheck

test: add tests for NativeOutput and PromptedOutput validation errors
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

test: remove stale `pragma: no cover` now covered by new tests
  pydantic_ai_slim/pydantic_ai/_output.py
Due: clai-help, format, lint, typecheck

docs(test): broaden test_native_tools module docstring to cover file_search grounding tests
  tests/models/google/test_native_tools.py
Due: clai-help, format, lint, typecheck

test: add tests for NativeOutput and PromptedOutput validation errors (#5209)
  pydantic_ai_slim/pydantic_ai/_output.py
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

fix(temporal): pass through genai_prices and httpx2 for workflow cost()
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/__init__.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

fixing clean_message
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_capabilities.py
  tests/test_history_processor.py
  tests/test_messages.py
  tests/test_tools.py
Due: clai-help, format, lint, typecheck

Validate tool schemas in from_schema
  pydantic_ai_slim/pydantic_ai/_utils.py
  pydantic_ai_slim/pydantic_ai/tools.py
  tests/test_tools.py
Due: clai-help, format, lint, typecheck

chore: enable ruff RUF043 and fix ambiguous pytest.raises patterns
  pyproject.toml
  tests/evals/test_dataset.py
  tests/evals/test_evaluator_base.py
  tests/evals/test_evaluators.py
  tests/graph/builder/test_edge_cases.py
  tests/graph/builder/test_parent_forks.py
  tests/models/anthropic/test_output.py
  tests/models/bedrock/test_native_output.py
  tests/models/test_anthropic.py
  tests/models/test_bedrock.py
  tests/models/test_cohere.py
  tests/models/test_download_item.py
  tests/models/test_google.py
  tests/models/test_groq.py
  tests/models/test_model_function.py
  tests/models/test_model_test.py
  tests/models/test_openai.py
  tests/models/test_tool_choice_unit.py
  tests/models/test_xai.py
  tests/profiles/test_openai.py
  tests/providers/test_azure.py
  tests/providers/test_openai.py
  tests/test_agent.py
  tests/test_capabilities.py
  tests/test_dbos.py
  tests/test_history_processor.py
  tests/test_mcp.py
  tests/test_messages.py
  tests/test_temporal.py
  tests/test_tool_search.py
  tests/test_tools.py
  tests/test_utils.py
Due: clai-help, format, lint, typecheck

fix(#6218): validate external tool parameter schemas
  pydantic_ai_slim/pydantic_ai/toolsets/external.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
  tests/test_ag_ui.py
  tests/test_tools.py
Due: clai-help, format, lint, typecheck

ci: auto-close contributor PRs that don't link to an issue
  .github/workflows/pr-guard.yml
Due: none

Enable ruff RUF043 and fix ambiguous `pytest.raises` patterns (#6222)
  pyproject.toml
  tests/evals/test_dataset.py
  tests/evals/test_evaluator_base.py
  tests/evals/test_evaluators.py
  tests/graph/builder/test_edge_cases.py
  tests/graph/builder/test_parent_forks.py
  tests/models/anthropic/test_output.py
  tests/models/bedrock/test_native_output.py
  tests/models/test_anthropic.py
  tests/models/test_bedrock.py
  tests/models/test_cohere.py
  tests/models/test_download_item.py
  tests/models/test_google.py
  tests/models/test_groq.py
  tests/models/test_model_function.py
  tests/models/test_model_test.py
  tests/models/test_openai.py
  tests/models/test_tool_choice_unit.py
  tests/models/test_xai.py
  tests/profiles/test_openai.py
  tests/providers/test_azure.py
  tests/providers/test_openai.py
  tests/test_agent.py
  tests/test_capabilities.py
  tests/test_dbos.py
  tests/test_history_processor.py
  tests/test_mcp.py
  tests/test_messages.py
  tests/test_temporal.py
  tests/test_tool_search.py
  tests/test_tools.py
  tests/test_utils.py
Due: clai-help, format, lint, typecheck

feat: add testing helpers for tool calls
  pydantic_ai_slim/pydantic_ai/testing.py
  tests/test_testing.py
Due: clai-help, format, lint, typecheck

fix ci
  tests/models/test_mistral.py
  tests/profiles/test_mistral.py
  tests/test_thinking.py
Due: clai-help, format, lint, typecheck

test: cover tool-call helper failure paths
  tests/test_testing.py
Due: clai-help, format, lint, typecheck

ci: use GitHub-computed closing issue references and fail open when changed files are unknown
  .github/workflows/pr-guard.yml
Due: none

ci: detect duplicate PRs via GitHub's closing references instead of regex
  .github/workflows/pr-guard.yml
Due: none

fix(gateway): avoid duplicating provider route in base_url
  pydantic_ai_slim/pydantic_ai/providers/gateway.py
  tests/providers/test_gateway.py
Due: clai-help, format, lint, typecheck

fix(evals): reject non-positive max_concurrency
  pydantic_evals/pydantic_evals/dataset.py
  tests/evals/test_dataset.py
Due: clai-help, format, lint, typecheck

Fix clai `--mcp-config` docs: dead `mcp/index.md` link and Claude Desktop wording
  clai/README.md
  docs/cli.md
Due: clai-help

ci: harden PR guard against wrongly closing valid PRs
  .github/workflows/pr-guard.yml
Due: none

Align clai `--mcp-config` help string with corrected docs wording
  pydantic_ai_slim/pydantic_ai/_cli/__init__.py
Due: clai-help, format, lint, typecheck

Strip nested tool-return files in the AG-UI and Vercel streaming paths
  pydantic_ai_slim/pydantic_ai/ui/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_event_stream.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_event_stream.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_utils.py
  tests/test_ag_ui.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

test(models,providers): restore coverage exclusion for optional-dep guards
  pyproject.toml
Due: none

Handle `clai --mcp-config` load errors gracefully instead of raising
  pydantic_ai_slim/pydantic_ai/_cli/__init__.py
  tests/test_cli.py
Due: clai-help, format, lint, typecheck

Round-trip TextContent.metadata through the Vercel AI adapter
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Narrow `sync_async_iterator` cleanup with `isinstance(AsyncGenerator)` instead of `getattr`
  pydantic_ai_slim/pydantic_ai/_utils.py
Due: clai-help, format, lint, typecheck

Fix flaky CI tests: readiness timeouts, task-leak race, stream-init race, Temporal binary cache (#5399)
  .github/workflows/ci.yml
  tests/test_agent.py
  tests/test_direct.py
  tests/test_streaming.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

fix(ui): close temp file handle before `os.replace` for Windows-safe cache write
  pydantic_ai_slim/pydantic_ai/ui/_web/app.py
  tests/test_ui_web.py
Due: clai-help, format, lint, typecheck

feat: forward `WebSearchTool.user_location` to xAI web search (#6181)
  docs/native-tools.md
  pydantic_ai_slim/pydantic_ai/models/xai.py
  pydantic_ai_slim/pydantic_ai/native_tools/__init__.py
  tests/models/cassettes/test_xai/test_xai_web_search_user_location_recorded.xai.yaml
  tests/models/test_xai.py
Due: clai-help, format, lint, typecheck

test(evals): seed RNG in correlated/independent sampling tests (#5399) (#5486)
  tests/evals/test_online.py
Due: clai-help, format, lint, typecheck

Scope `TextContent` metadata round-trip to the Vercel AI adapter
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
  tests/test_ag_ui.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Map unified `thinking` to Groq `reasoning_effort` per model family
  docs/api/profiles.md
  docs/thinking.md
  pydantic_ai_slim/pydantic_ai/models/_known_model_names.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/profiles/groq.py
  pydantic_ai_slim/pydantic_ai/providers/groq.py
  tests/cassettes/test_thinking_wire_contract/test_reasoning_wire_contract[groq-gpt-oss-explicit-effort-overrides-thinking].yaml
  tests/cassettes/test_thinking_wire_contract/test_reasoning_wire_contract[groq-gpt-oss-thinking-false-noop].yaml
  tests/cassettes/test_thinking_wire_contract/test_reasoning_wire_contract[groq-gpt-oss-thinking-high].yaml
  tests/cassettes/test_thinking_wire_contract/test_reasoning_wire_contract[groq-gpt-oss-thinking-medium].yaml
  tests/cassettes/test_thinking_wire_contract/test_reasoning_wire_contract[groq-gpt-oss-thinking-merges-user-extra-body].yaml
  tests/cassettes/test_thinking_wire_contract/test_reasoning_wire_contract[groq-gpt-oss-thinking-minimal-folds-to-low].yaml
  tests/cassettes/test_thinking_wire_contract/test_reasoning_wire_contract[groq-gpt-oss-thinking-true-maps-to-medium].yaml
  tests/cassettes/test_thinking_wire_contract/test_reasoning_wire_contract[groq-gpt-oss-thinking-xhigh-folds-to-high].yaml
  tests/cassettes/test_thinking_wire_contract/test_reasoning_wire_contract[groq-qwen3-enable-level-sends-no-effort].yaml
  tests/models/test_model_names.py
  tests/test_capabilities.py
  tests/test_thinking_wire_contract.py
Due: clai-help, format, lint, typecheck

Strip nested tool-return files from Vercel `failed`/`denied` outcome paths
  docs/ui/ag-ui.md
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_event_stream.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_utils.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Simplify tool_return_output branching
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_utils.py
Due: clai-help, format, lint, typecheck

Fix pyright 1.1.411 inference error on bare dict literal in test helper
  tests/evals/test_agentic_evaluators.py
Due: clai-help, format, lint, typecheck

Exclude failed tool calls from the TrajectoryJudge recipe trajectory
  docs/evals/evaluators/agentic.md
Due: clai-help

Add `CITATION.cff` (#6074)
  CITATION.cff
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
Due: none

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
