Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

replace-py-code-blocks:
  name: Replace ```py with ```python
  entry: "if [[ \"$(uname)\" == \"Darwin\" ]]; then\n  sed -i '' 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nelse\n  sed -i 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nfi\n"
  language: system
  pass_filenames: true

fix: typealias for python=3.9
  pydantic_ai_slim/pydantic_ai/providers/anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

ci: remove html and xml reports
  .github/workflows/ci.yml
  pyproject.toml
Due: none

feat: AnthropicProvider tests added
  pydantic_ai_slim/pydantic_ai/providers/anthropic.py
  tests/providers/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

Add support for OpenAI verbosity parameter in Responses API
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

add lancedb example
  docs/dependencies.md
  docs/examples/lancedb-multimodal.md
  examples/pydantic_ai_examples/lancedb_multimodal.py
Due: format, lint, typecheck, replace-py-code-blocks

update
  examples/pydantic_ai_examples/lancedb_multimodal.py
Due: format, lint, typecheck, replace-py-code-blocks

update example
  examples/pydantic_ai_examples/lancedb_multimodal.py
Due: format, lint, typecheck, replace-py-code-blocks

lint lint
  examples/pydantic_ai_examples/lancedb_multimodal.py
Due: format, lint, typecheck, replace-py-code-blocks

lint
  docs/examples/lancedb-multimodal.md
  examples/pydantic_ai_examples/lancedb_multimodal.py
Due: format, lint, typecheck, replace-py-code-blocks

update deps
  examples/pydantic_ai_examples/lancedb_multimodal.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

tests: change time of evals example
  docs/evals.md
Due: replace-py-code-blocks

tests: change time of evals example (#2501)
  docs/evals.md
Due: replace-py-code-blocks

lint
  examples/pydantic_ai_examples/lancedb_multimodal.py
  examples/pyproject.toml
Due: format, lint, typecheck, replace-py-code-blocks

ci: remove html and xml reports (#2491)
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Add test-lowest-versions to coverage
  .github/workflows/ci.yml
Due: none

fix linter
  clai/clai/_cli.py
  clai/clai/main_screen.py
Due: format, lint, typecheck, replace-py-code-blocks

add COVERAGE_FILE
  .github/workflows/ci.yml
Due: none

update dev deps
  uv.lock
Due: none

Add COVERAGE_FILE
  .github/workflows/ci.yml
Due: none

attempt fix test
  pydantic_ai_slim/pyproject.toml
Due: none

attempt fix test
  pyproject.toml
Due: none

bump coverage
  pyproject.toml
  uv.lock
Due: none

make it work
  Makefile
  pyproject.toml
  uv.lock
Due: none

try now
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_evals/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
  tests/test_logfire.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

logfire-api -n
  pydantic_evals/pyproject.toml
  uv.lock
Due: none

add test
  tests/models/cassettes/test_openai/test_openai_model_settings_temperature_ignored_on_gpt_5.yaml
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

fix: Add gpt-5 models to reasoning model detection for temperature parameter handling (#2483)
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  tests/models/cassettes/test_openai/test_openai_model_settings_temperature_ignored_on_gpt_5.yaml
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

attempt fix test
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

lint
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

attempt fix CI
  pydantic_ai_slim/pyproject.toml
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

attempt fix CI
  docs/examples/lancedb-multimodal.md
Due: replace-py-code-blocks

attempt fix CI
  pyproject.toml
Due: none

attempt fix CI
  examples/pyproject.toml
Due: none

Add new OpenAI GPT-5 models
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pyproject.toml
  tests/models/cassettes/test_model_names/test_known_model_names.yaml
  tests/models/test_openai.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

attempt fix CI
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

attempt fix CI
  examples/pydantic_ai_examples/lancedb_multimodal.py
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
  replace-py-code-blocks: any of: \.py$|\.md$
