Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: replace-py-code-blocks
        name: Replace ```py with ```python
        # first pattern matches ```py <info> and second matches lone ```py<eol>
        entry: |
          if [[ "$(uname)" == "Darwin" ]]; then
            sed -i '' 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          else
            sed -i 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          fi
        language: system
        files: \.py$|\.md$
        pass_filenames: true

extending graph docs
  docs/graph.md
  examples/pydantic_ai_examples/question_graph.py
  pydantic_graph/pydantic_graph/nodes.py
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

fix history serialization
  examples/pydantic_ai_examples/question_graph.py
  pydantic_graph/pydantic_graph/graph.py
  pydantic_graph/pydantic_graph/nodes.py
  pydantic_graph/pydantic_graph/state.py
  pydantic_graph/pyproject.toml
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

feat: Intro BedrockModel
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Refactor streaming (#468)
  docs/api/models/base.md
  docs/message-history.md
  docs/models.md
  docs/multi-agent-applications.md
  docs/results.md
  pydantic_ai_slim/pydantic_ai/_parts_manager.py
  pydantic_ai_slim/pydantic_ai/_utils.py
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/test.py
  pydantic_ai_slim/pydantic_ai/result.py
  tests/models/mock_async_stream.py
  tests/models/test_gemini.py
  tests/models/test_groq.py
  tests/models/test_mistral.py
  tests/models/test_model_function.py
  tests/models/test_ollama.py
  tests/models/test_openai.py
  tests/test_agent.py
  tests/test_examples.py
  tests/test_parts_manager.py
  tests/test_streaming.py
  tests/test_usage_limits.py
  tests/test_utils.py
Due: format, lint, typecheck, replace-py-code-blocks

[Chore] Adds phi4 (#668)
  pydantic_ai_slim/pydantic_ai/models/ollama.py
Due: format, lint, typecheck, replace-py-code-blocks

add ollama:phi4 to KnownModelName, follows #668
  pydantic_ai_slim/pydantic_ai/models/__init__.py
Due: format, lint, typecheck, replace-py-code-blocks

added pydantic rag example with mongodb
  examples/pydantic_ai_examples/ai_agent_with_pydanticai_and_mongodb.ipynb
Due: none

Anthropic streaming support
  changes.patch
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

rm changes patch
  changes.patch
Due: none

add history (de)serialization tests
  pydantic_graph/pydantic_graph/graph.py
  pydantic_graph/pydantic_graph/nodes.py
  pydantic_graph/pydantic_graph/state.py
  tests/graph/test_history.py
Due: format, lint, typecheck, replace-py-code-blocks

add mermaid diagram section to graph docs
  docs/graph.md
  pydantic_graph/pydantic_graph/nodes.py
  tests/graph/test_mermaid.py
Due: format, lint, typecheck, replace-py-code-blocks

fix tests
  .github/workflows/ci.yml
  tests/graph/test_mermaid.py
Due: format, lint, typecheck, replace-py-code-blocks

add exceptions docs
  docs/api/pydantic_graph/exceptions.md
  mkdocs.yml
Due: replace-py-code-blocks

docs tweaks
  docs/graph.md
Due: replace-py-code-blocks

add model name to responses
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/test.py
  pydantic_ai_slim/pydantic_ai/result.py
Due: format, lint, typecheck, replace-py-code-blocks

support use tool for nova and other models
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix agent run/run_sync docs
  pydantic_ai_slim/pydantic_ai/agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Added ignore entry for Pycharm IDE settings for project
  .gitignore
Due: none

Fixed typo in mermaid sub-command
  examples/pydantic_ai_examples/question_graph.py
Due: format, lint, typecheck, replace-py-code-blocks

Adding tests
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  tests/models/test_bedrock.py
Due: format, lint, typecheck, replace-py-code-blocks

Use algolia for docs search
  .github/workflows/ci.yml
  docs/.hooks/algolia.py
  docs/.overrides/main.html
  docs/javascripts/search-worker.js
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Adding dependencies
  pyproject.toml
  tests/models/test_bedrock.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Fix test boto3 issue
  tests/models/test_bedrock.py
Due: format, lint, typecheck, replace-py-code-blocks

Address comments
  docs/.hooks/algolia.py
  docs/.overrides/main.html
  docs/javascripts/search-worker.js
Due: format, lint, typecheck, replace-py-code-blocks

Use algolia for docs search (#669)
  .github/workflows/ci.yml
  docs/.hooks/algolia.py
  docs/.overrides/main.html
  docs/javascripts/search-worker.js
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Fix docstrings - Agent.run() and Agent.run_sync() methods ex amples
  pydantic_ai_slim/pydantic_ai/agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Change param
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  tests/models/test_bedrock.py
Due: format, lint, typecheck, replace-py-code-blocks

copy edits from @dmontagu
  docs/graph.md
  docs/multi-agent-applications.md
  pydantic_graph/README.md
  pydantic_graph/pydantic_graph/nodes.py
  pydantic_graph/pydantic_graph/state.py
  pydantic_graph/pyproject.toml
Due: format, lint, typecheck, replace-py-code-blocks

fix pydantic-graph readme
  pydantic_graph/README.md
Due: replace-py-code-blocks

adding deps to graphs
  docs/graph.md
  examples/pydantic_ai_examples/question_graph.py
  pydantic_graph/README.md
  pydantic_graph/pydantic_graph/graph.py
  pydantic_graph/pydantic_graph/mermaid.py
  pydantic_graph/pydantic_graph/nodes.py
  pydantic_graph/pydantic_graph/state.py
  tests/graph/test_graph.py
  tests/graph/test_history.py
  tests/graph/test_mermaid.py
  tests/graph/test_state.py
  tests/typed_graph.py
Due: format, lint, typecheck, replace-py-code-blocks

fix build
  docs/api/pydantic_graph/nodes.md
  docs/graph.md
Due: replace-py-code-blocks

test: test fix for constructor methods
  tests/conftest.py
  tests/models/test_anthropic.py
  tests/models/test_gemini.py
  tests/models/test_groq.py
  tests/models/test_mistral.py
  tests/models/test_model_function.py
  tests/models/test_model_test.py
  tests/models/test_ollama.py
  tests/models/test_openai.py
  tests/test_agent.py
  tests/test_streaming.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Fix agent `run`/ `run_sync` docs (#688)
  pydantic_ai_slim/pydantic_ai/agent.py
Due: format, lint, typecheck, replace-py-code-blocks

fix dependencies
  .github/workflows/ci.yml
  pydantic_ai_graph/pydantic_ai_graph/graph.py
  pydantic_ai_graph/pydantic_ai_graph/state.py
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  tests/test_graph.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

rename node to start_node in graph.run()
  pydantic_graph/pydantic_graph/graph.py
  tests/graph/__init__.py
Due: format, lint, typecheck, replace-py-code-blocks

remove interrupt, replace with "next()"
  examples/pydantic_ai_examples/email_extract_graph.py
  pydantic_ai_graph/pydantic_ai_graph/__init__.py
  pydantic_ai_graph/pydantic_ai_graph/graph.py
  pydantic_ai_graph/pydantic_ai_graph/mermaid.py
  pydantic_ai_graph/pydantic_ai_graph/nodes.py
  pydantic_ai_graph/pydantic_ai_graph/state.py
Due: format, lint, typecheck, replace-py-code-blocks

adding graph tests
  pydantic_graph/pydantic_graph/__init__.py
  pydantic_graph/pydantic_graph/exceptions.py
  pydantic_graph/pydantic_graph/graph.py
  pydantic_graph/pydantic_graph/mermaid.py
  tests/test_graph.py
  tests/test_graph_mermaid.py
Due: format, lint, typecheck, replace-py-code-blocks

fix linting
  pydantic_ai_graph/README.md
Due: replace-py-code-blocks

fix ci deps
  .github/workflows/ci.yml
Due: none

fix for python 3.9
  pydantic_ai_graph/pydantic_ai_graph/mermaid.py
Due: format, lint, typecheck, replace-py-code-blocks
