Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

Support Python 3.14
  .github/workflows/ci.yml
  clai/pyproject.toml
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_evals/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

readd comment
  pydantic_ai_slim/pydantic_ai/messages.py
Due: clai-help, format, lint, typecheck

new sanpshtos
  pydantic_ai_slim/pyproject.toml
  pydantic_evals/pyproject.toml
  pydantic_graph/pyproject.toml
  tests/models/test_openai.py
  tests/test_agent_output_schemas.py
  uv.lock
Due: clai-help, format, lint, typecheck

removing rendundant check
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/google.py
Due: clai-help, format, lint, typecheck

Improve automation around labels
  .github/release.yml
  .github/workflows/label.yml
Due: none

update docs
  docs/input.md
Due: clai-help

pass now
  tests/test_tools.py
Due: clai-help, format, lint, typecheck

record cache tokens in separate histogram
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
  tests/models/test_instrumented.py
Due: clai-help, format, lint, typecheck

fix type
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: clai-help, format, lint, typecheck

rename cached token type histo attribute and add coverage lax to cache token histogram init
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
Due: clai-help, format, lint, typecheck

refactor: rename ui_source to html_path and add URL caching
  docs/web.md
  pydantic_ai_slim/pydantic_ai/_cli/__init__.py
  pydantic_ai_slim/pydantic_ai/_cli/web.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/ui/__init__.py
  pydantic_ai_slim/pydantic_ai/ui/_web/__init__.py
  pydantic_ai_slim/pydantic_ai/ui/_web/app.py
  tests/test_cli.py
  tests/test_ui_web.py
Due: clai-help, format, lint, typecheck

test for no metrics record with missing token usage
  tests/models/test_instrumented.py
Due: clai-help, format, lint, typecheck

fixing tests
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_model.py
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
  pydantic_ai_slim/pydantic_ai/models/wrapper.py
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  tests/models/test_bedrock.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

Simplify BinaryContent
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

fix : Tool asserstion error - failing when ttl was present, made it optional and working
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  tests/models/test_bedrock.py
  uv.lock
Due: clai-help, format, lint, typecheck

Address review: simplify handler types, remove cast, restructure docs
  docs/models/overview.md
  pydantic_ai_slim/pydantic_ai/models/fallback.py
  tests/models/test_fallback.py
Due: clai-help, format, lint, typecheck

docs: improve web UI instructions and rename ui-source to html-path
  docs/cli.md
  docs/web.md
Due: clai-help

Remove unused _typing_extra import after merge
  pydantic_ai_slim/pydantic_ai/_function_schema.py
Due: clai-help, format, lint, typecheck

minor changes
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

add split content and rename multimodal to files
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_multimodal_tool_returns_vcr.py
  tests/models/test_openai_responses.py
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

rename content_excluding_files
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  tests/models/test_multimodal_tool_returns_unit.py
Due: clai-help, format, lint, typecheck

groq cassettes
  tests/models/cassettes/test_multimodal_tool_returns/test_mixed_content_ordering[groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_model_sees_image_content[groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-binary-audio-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-binary-document-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-binary-image-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-binary-video-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url-audio-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url-document-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url-image-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url-video-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-binary-audio-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-binary-document-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-binary-image-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-binary-video-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url-audio-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url-document-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url-image-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url-video-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multiple_files[groq].yaml
Due: none

refactor to elif any()
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
Due: clai-help, format, lint, typecheck

additional context -> content
  docs/tools-advanced.md
Due: clai-help

fix groq and google cassettes
  tests/models/cassettes/test_multimodal_tool_returns/test_mixed_content_ordering[groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_model_sees_image_content[groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-binary-audio-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-binary-document-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-binary-image-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-binary-video-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url-audio-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url-document-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url-image-google].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url-image-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url-video-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-binary-audio-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-binary-document-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-binary-image-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-binary-video-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url-audio-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url-document-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url-image-google].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url-image-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url-video-groq].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multiple_files[google].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multiple_files[groq].yaml
Due: none

add xai support
  pydantic_ai_slim/pydantic_ai/models/xai.py
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url-document-xai].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url-document-xai].yaml
Due: clai-help, format, lint, typecheck

ignore bedrock ssl warning
  pyproject.toml
Due: none

commit model changes (sorting mostly)
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: clai-help, format, lint, typecheck

commit matrix test
  tests/models/test_multimodal_tool_returns.py
Due: clai-help, format, lint, typecheck

add anthropic cassettes
  tests/models/cassettes/test_multimodal_tool_returns/test_mixed_content_ordering[anthropic].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_model_sees_image_content[anthropic].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-binary-audio-anthropic].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-binary-document-anthropic].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-binary-image-anthropic].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-binary-video-anthropic].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url-audio-anthropic].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url-document-anthropic].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url-image-anthropic].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[direct-url-video-anthropic].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-binary-audio-anthropic].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-binary-document-anthropic].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-binary-image-anthropic].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-binary-video-anthropic].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url-audio-anthropic].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url-document-anthropic].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url-image-anthropic].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multimodal_tool_return_matrix[tool_return_content-url-video-anthropic].yaml
  tests/models/cassettes/test_multimodal_tool_returns/test_multiple_files[anthropic].yaml
Due: none

Replace BinaryImage(...) with IsInstance(BinaryImage) in snapshot tests
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/models/test_google.py
  tests/models/test_openai_responses.py
  tests/models/test_outlines.py
  tests/test_messages.py
Due: clai-help, format, lint, typecheck

Fix serialization of `BinaryContent` returned by tool in Temporal (#4043)
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_toolset.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_google.py
  tests/models/test_openai_responses.py
  tests/models/test_outlines.py
  tests/test_agent.py
  tests/test_agent_output_schemas.py
  tests/test_examples.py
  tests/test_messages.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

use integration test
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
