Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

Split the wire-assertion guidance in `tests/AGENTS.md` by what each mechanism catches (#7132)
  tests/AGENTS.md
Due: clai-help

Require a label on new PRs and pin the PR-title convention (#7134)
  .agents/skills/pushing-commits-to-the-repo/SKILL.md
  AGENTS.md
Due: clai-help

Update two tests missed by the review-fix batch
  tests/models/test_openai_responses.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Point the durable-exec leaf-toolset `id` error at the capability `id`
  docs/durable_execution/prefect.md
  docs/durable_execution/temporal.md
  pydantic_ai_slim/pydantic_ai/durable_exec/_base.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_durability.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_durability.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_durability.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

Update the activity field snapshot for the availability snapshot carry
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

Narrow Cohere context-window error matching to the observed message
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  tests/test_context_window_exceeded.py
Due: clai-help, format, lint, typecheck

fix(spend): count every billed response, and correct the guarantees the docs claim (pydantic/pydantic-ai-harness#538)
  docs/harness/spend.md
  src/pydantic_ai_harness/integration_tests/redis/test_live_redis.py
  src/pydantic_ai_harness/pydantic_ai_harness/spend/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/spend/__init__.py
  src/pydantic_ai_harness/pydantic_ai_harness/spend/_budget.py
  src/pydantic_ai_harness/pydantic_ai_harness/spend/_capability.py
  src/pydantic_ai_harness/pydantic_ai_harness/spend/_redis.py
  src/pydantic_ai_harness/pydantic_ai_harness/spend/_snapshot.py
  src/pydantic_ai_harness/pyproject.toml
  tests/harness/spend/test_spend.py
Due: clai-help, format, lint, typecheck

Cover the partial-overlap reveal prune branch
  pydantic_ai_slim/pydantic_ai/_tool_execution.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Anchor the codespell cassette skip under `tests/`
  .pre-commit-config.yaml
Due: none

Co-locate `xai_provider` cassettes with their test file (#7135)
  .pre-commit-config.yaml
  tests/conftest.py
  tests/models/xai/cassettes/test_search_tools/test_xai_builtin_file_search_tool.xai.yaml
  tests/models/xai/cassettes/test_search_tools/test_xai_builtin_x_search_tool.xai.yaml
  tests/models/xai/cassettes/test_search_tools/test_xai_builtin_x_search_tool_stream.xai.yaml
  tests/models/xai/cassettes/test_thinking/test_xai_grok_45_thinking.xai.yaml
  tests/models/xai/cassettes/test_thinking/test_xai_unified_thinking.xai.yaml
  tests/models/xai/cassettes/test_thinking/test_xai_unified_thinking_false.xai.yaml
Due: clai-help, format, lint, typecheck

Update pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_event_stream.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_event_stream.py
Due: clai-help, format, lint, typecheck

Add an `ag-ui-protocol` compat matrix for the versions CI never installs
  .github/workflows/ag-ui-protocol-compat.yml
  pydantic_ai_slim/pydantic_ai/ui/AGENTS.md
Due: clai-help

Fix stream event replay part indexes
  pydantic_ai_slim/pydantic_ai/_parts_manager.py
  tests/test_parts_manager.py
Due: clai-help, format, lint, typecheck

Fix replayed event index lookup
  pydantic_ai_slim/pydantic_ai/_parts_manager.py
  tests/test_parts_manager.py
Due: clai-help, format, lint, typecheck

Cover the Workflow Stream publisher's run pinning
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_event_stream.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

Make `ContextWindowExceeded` a `ModelHTTPError` subclass
  docs/capabilities/compaction.md
  docs/models/overview.md
  pydantic_ai_slim/pydantic_ai/exceptions.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/fallback.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_fallback.py
  tests/test_context_window_exceeded.py
  tests/test_exceptions.py
Due: clai-help, format, lint, typecheck

Add streamed model message boundaries
  docs/agent.md
  docs/message-history.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/AGENTS-CORE.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/result.py
  pydantic_ai_slim/pydantic_ai/ui/_event_stream.py
  tests/test_agent.py
  tests/test_messages.py
  tests/test_prefect.py
  tests/test_public_interface_contracts.py
  tests/test_streaming.py
  tests/test_temporal.py
  tests/test_ui.py
Due: clai-help, format, lint, typecheck

docs: cover cancellation, retry layering and the V1->V2 map
  docs/agent.md
  docs/cancellation-and-timeouts.md
  docs/migration.md
  docs/models/http-request-retries.md
  docs/nav.json
  docs/output.md
  docs/retries.md
  docs/tools-advanced.md
  mkdocs.yml
Due: clai-help

docs(agents): oblige AICAs to label new PRs and pin the title convention (pydantic/pydantic-ai-harness#540)
  src/pydantic_ai_harness/.agents/skills/pushing-commits-to-the-repo/SKILL.md
  src/pydantic_ai_harness/AGENTS.md
Due: clai-help

Fix streamed message boundary ordering
  docs/agent.md
  docs/durable_execution/dbos.md
  docs/durable_execution/prefect.md
  docs/durable_execution/temporal.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/result.py
  tests/test_public_interface_contracts.py
Due: clai-help, format, lint, typecheck

Preserve stream part indexes during `apply_event` replay (#7138)
  pydantic_ai_slim/pydantic_ai/_parts_manager.py
  tests/test_parts_manager.py
Due: clai-help, format, lint, typecheck

Complete streamed message boundaries
  docs/agent.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_agent.py
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

Prevent silent guardrail configuration failures (pydantic/pydantic-ai-harness#539)
  docs/harness/guardrails.md
  src/pydantic_ai_harness/pydantic_ai_harness/guardrails/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/guardrails/_capability.py
  src/pydantic_ai_harness/pydantic_ai_harness/guardrails/_tool_guardrail.py
  src/pydantic_ai_harness/pydantic_ai_harness/guardrails/detectors.py
  src/pydantic_ai_harness/pydantic_ai_harness/planning/_store.py
  tests/harness/guardrails/test_detectors.py
  tests/harness/guardrails/test_tool_guardrail.py
  tests/harness/planning/test_stores.py
Due: clai-help, format, lint, typecheck

Track streamed request origins
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
Due: clai-help, format, lint, typecheck

Gate the AG-UI compat matrix on an alls-green check and correct its band comments
  .github/workflows/ag-ui-protocol-compat.yml
  pydantic_ai_slim/pydantic_ai/ui/AGENTS.md
Due: clai-help

Project canonical streamed requests
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

fix: correct `instructions` cross-ref target and docstring link depth
  docs/ui/ag-ui.md
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
Due: clai-help, format, lint, typecheck

Bound HTTP response body sizes for `web_fetch` and media URL downloads
  docs/common-tools.md
  pydantic_ai_slim/pydantic_ai/_ssrf.py
  pydantic_ai_slim/pydantic_ai/common_tools/web_fetch.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  tests/models/test_download_item.py
  tests/test_ssrf.py
  tests/test_web_fetch.py
Due: clai-help, format, lint, typecheck

Handle streamed request origin rewrites
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/capabilities/_pending_messages.py
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

fix: drop the branch-protection registration instruction from the compat header
  .github/workflows/ag-ui-protocol-compat.yml
Due: none

Bound decoded growth during capped downloads, not only after each chunk
  pydantic_ai_slim/pydantic_ai/_ssrf.py
  tests/test_ssrf.py
Due: clai-help, format, lint, typecheck

Update streamed event boundary tests
  tests/models/test_streamed_continuation.py
  tests/test_capabilities.py
  tests/test_capability_process_event_stream.py
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

Match rebuilt streamed request origins
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

Cover the capped-download decode paths for full branch coverage
  tests/test_ssrf.py
Due: clai-help, format, lint, typecheck

fix: treat AG-UI context as a claim, and pin that it never reaches the first request
  docs/ui/ag-ui.md
  tests/test_ag_ui.py
Due: clai-help, format, lint, typecheck

Avoid an uncovered yield in the unsupported content-encoding test
  tests/test_ssrf.py
Due: clai-help, format, lint, typecheck

Update streaming event compatibility tests
  tests/models/google/test_code_execution.py
  tests/models/test_anthropic.py
  tests/models/test_bedrock.py
  tests/models/test_google.py
  tests/models/test_groq.py
  tests/models/test_openai_responses.py
  tests/models/test_xai.py
  tests/test_run_cancellation.py
Due: clai-help, format, lint, typecheck

Mark the unread unsupported-encoding test stream as no-cover
  tests/test_ssrf.py
Due: clai-help, format, lint, typecheck

Redact binary content in instrumentation instead of `BinaryContent`'s serializer
  docs/logfire.md
  pydantic_ai_slim/pydantic_ai/_instrumentation.py
  pydantic_ai_slim/pydantic_ai/capabilities/instrumentation.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
  tests/test_include_binary_content.py
Due: clai-help, format, lint, typecheck

Handle nested `vendor_metadata` and self-referential values when redacting
  pydantic_ai_slim/pydantic_ai/_instrumentation.py
  tests/test_include_binary_content.py
Due: clai-help, format, lint, typecheck

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
