Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

Fix xAI reasoning effort mapping by profile
  pydantic_ai_slim/pydantic_ai/models/xai.py
  pydantic_ai_slim/pydantic_ai/profiles/grok.py
  tests/models/xai/test_search_tools.py
Due: clai-help, format, lint, typecheck

Add Claude Opus 4.8 support (#5709)
  docs/models/anthropic.md
  docs/thinking.md
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/profiles/anthropic.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock.py
  pydantic_ai_slim/pyproject.toml
  tests/models/cassettes/test_anthropic/test_anthropic_opus_48_features.yaml
  tests/models/test_anthropic.py
  tests/test_capabilities.py
  tests/test_thinking.py
  uv.lock
Due: clai-help, format, lint, typecheck

Add missing xAI Grok model aliases
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/xai.py
  pydantic_ai_slim/pydantic_ai/providers/grok.py
  tests/models/xai/test_search_tools.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

docs: correct on_node_run_error type from BaseException to Exception
  docs/capabilities.md
Due: clai-help

deps: restore `httpx` alongside `httpx2` in `pydantic-ai-slim`
  pydantic_ai_slim/pyproject.toml
Due: none

compat: support `httpx` and `httpx2` exception catches + `MermaidConfig` client types
  pydantic_ai_slim/pydantic_ai/_ssrf.py
  pydantic_graph/pydantic_graph/mermaid.py
Due: clai-help, format, lint, typecheck

fix(tests): refresh resolution-matrix snapshots for opus-4.7 fast_speed + openrouter supports_thinking
  tests/profiles/test_resolution_matrix.py
Due: clai-help, format, lint, typecheck

Fix xAI Grok model SDK typing
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/xai.py
  pydantic_ai_slim/pyproject.toml
  tests/models/cassettes/test_xai/test_xai_unified_thinking.xai.yaml
  tests/models/test_xai.py
  tests/models/xai/test_search_tools.py
  tests/test_capabilities.py
  uv.lock
Due: clai-help, format, lint, typecheck

fix(tests): refresh xai/bedrock snapshots for thinking_always_enabled + xai-sdk 1.14 enable_image_search
  tests/models/test_xai.py
  tests/profiles/test_resolution_matrix.py
Due: clai-help, format, lint, typecheck

fix(deps): bump xai-sdk floor to >=1.14.0 for `web_search.enable_image_search` schema field
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

Update xAI SDK web search snapshot
  tests/models/test_xai.py
Due: clai-help, format, lint, typecheck

Handle xAI web search SDK defaults
  tests/models/test_xai.py
Due: clai-help, format, lint, typecheck

docs: add v2.0.0b4 entry to the Upgrade Guide (forked from v1.104.0)
  docs/changelog.md
Due: clai-help

Cover xAI low-high thinking false branch
  tests/models/xai/test_search_tools.py
Due: clai-help, format, lint, typecheck

Assert xAI thinking cassette requests
  pydantic_ai_slim/pydantic_ai/profiles/grok.py
  tests/models/cassettes/test_xai/test_xai_unified_thinking.xai.yaml
  tests/models/cassettes/test_xai/test_xai_unified_thinking_false.xai.yaml
  tests/models/test_xai.py
Due: clai-help, format, lint, typecheck

Avoid uncovered xAI cassette fallback
  tests/models/test_xai.py
Due: clai-help, format, lint, typecheck

chore: ignore Grok CE overlay + Claude.md compat symlink
  .gitignore
Due: none

chore: revert erroneous Claude.md / tests/Claude.md ignores
  .gitignore
Due: none

chore: drop AGENTS.local.md from ignores (symlinking removed)
  .gitignore
Due: none

Disable document input for `AlibabaProvider` (Chat Completions API)
  pydantic_ai_slim/pydantic_ai/providers/alibaba.py
  tests/providers/test_alibaba_provider.py
Due: clai-help, format, lint, typecheck

tests: cover `safe_download` exception translation to dual-catch compat classes
  tests/test_ssrf.py
Due: clai-help, format, lint, typecheck

docs(evals): add index page for /evals/
  AGENTS.md
  docs/agent.md
  docs/evals/index.md
  docs/index.md
  docs/install.md
  docs/version-policy.md
  mkdocs.yml
Due: clai-help

Docs: keep evals entrypoint file
  AGENTS.md
  docs/evals.md
Due: clai-help

docs: add Vaultak runtime security integration guide
  docs/nav.json
  docs/vaultak.md
  mkdocs.yml
Due: clai-help

Run `AlibabaProvider` document-input tests under `anyio`
  tests/providers/test_alibaba_provider.py
Due: clai-help, format, lint, typecheck

Restrict `_GROK_43_REASONING_MODELS` to documented redirects, drop `grok-4.20`, document `xai-sdk` floor
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/profiles/grok.py
  pydantic_ai_slim/pyproject.toml
  tests/models/test_xai.py
  tests/models/xai/test_search_tools.py
  tests/test_capabilities.py
  tests/test_thinking.py
Due: clai-help, format, lint, typecheck

Cover `_map_reasoning_effort` thinking->`high` arm for `grok-3-mini`
  tests/models/test_xai.py
Due: clai-help, format, lint, typecheck

Fix dependency-bump fallout: restore bumps, fix streamed-usage wrapper leak
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  tests/conftest.py
  uv.lock
Due: clai-help, format, lint, typecheck

fix(vaultak): fix ruff I001 import sorting and F821 undefined name
  docs/vaultak.md
Due: clai-help

Ignore local agent config files (#5677)
  .gitignore
Due: none

Re-add `grok-4.20` family to `KnownModelName`, sync `web_search` snapshot
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  tests/models/test_xai.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Make `web_search` snapshot tolerant of the `enable_image_search` proto field
  tests/models/test_xai.py
Due: clai-help, format, lint, typecheck

Fix ruff linting in vaultak.md code examples
  docs/vaultak.md
Due: clai-help

Fix remaining ruff Q000 violations and unskipped code block
  docs/vaultak.md
Due: clai-help

Pass `anthropic`, `certifi`, and `google.auth` through the Temporal workflow sandbox
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/__init__.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

fix: preserve request context when merging history
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

Document Tuning Engines OpenAI-compatible endpoint
  docs/models/openai.md
Due: clai-help

Make Tuning Engines docs example self-contained
  docs/models/openai.md
Due: clai-help

fix: use utf-8 in cassette scrubber
  scripts/scrub_cassette.py
Due: clai-help, format, lint, typecheck
