Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

Drop duplicated token detail keys from cross-model Anthropic usage snapshot
  tests/models/test_openai_responses.py
Due: clai-help, format, lint, typecheck

Address review: distinct agent names in example, reorder annotations
  docs/multi-agent-applications.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/CAPABILITIES-AND-HOOKS.md
Due: clai-help

Add explicit name to agent hand-off example for consistency
  docs/multi-agent-applications.md
Due: clai-help

Drop duplicated token detail keys from Bedrock-via-Anthropic cache snapshots
  tests/models/test_anthropic.py
Due: clai-help, format, lint, typecheck

Recommend passing an explicit `name` to `Agent` for better Logfire observability (#6089)
  docs/logfire.md
  docs/multi-agent-applications.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/SKILL.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/AGENTS-CORE.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/CAPABILITIES-AND-HOOKS.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/INPUT-AND-HISTORY.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/NATIVE-TOOLS.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/ON-DEMAND-CAPABILITIES.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/ORCHESTRATION-AND-INTEGRATIONS.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/TESTING-AND-DEBUGGING.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/TOOLS-ADVANCED.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/TOOLS-CORE.md
Due: clai-help

deps(docs-site): bump npm deps to close Dependabot alerts
  docs-site/package-lock.json
  docs-site/package.json
Due: none

deps: bump transitive Python deps to close Dependabot alerts
  pyproject.toml
  uv.lock
Due: none

deps: close 41 Dependabot security alerts via lockfile bumps (#6136)
  docs-site/package-lock.json
  docs-site/package.json
  pyproject.toml
  uv.lock
Due: none

docs: add pydantic-ai-mimir to third-party toolsets
  docs/toolsets.md
Due: clai-help

fix: skip thinking-only OpenAI chat history messages
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai.py
Due: clai-help, format, lint, typecheck

Fix missing `output_audio_tokens` in usage accumulation (#4594)
  pydantic_ai_slim/pydantic_ai/usage.py
  tests/test_usage_limits.py
Due: clai-help, format, lint, typecheck

feat: add TwelveLabs Pegasus video-understanding example (#6061)
  docs/examples/twelvelabs-video-agent.md
  examples/pydantic_ai_examples/twelvelabs_video_agent.py
  examples/pyproject.toml
  mkdocs.yml
  uv.lock
Due: clai-help, format, lint, typecheck

fix(heroku): route model names through family profiles so thinking isn't dropped (#6070)
  pydantic_ai_slim/pydantic_ai/providers/heroku.py
  tests/profiles/test_resolution_matrix.py
  tests/providers/test_heroku.py
Due: clai-help, format, lint, typecheck

Guard `TogetherProvider.model_profile` against model names without a `/` (#6113)
  pydantic_ai_slim/pydantic_ai/providers/together.py
  tests/models/test_model.py
  tests/providers/test_together.py
Due: clai-help, format, lint, typecheck

fix(`GoogleModel`): include `CodeExecutionTool` in `include_server_side_tool_invocations` check (#6052)
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/test_tool_choice_unit.py
Due: clai-help, format, lint, typecheck

fix(groq): surface `reasoning_tokens` in usage details (#5986)
  pydantic_ai_slim/pydantic_ai/models/groq.py
  tests/models/test_groq.py
Due: clai-help, format, lint, typecheck

refactor(vercel-ai): exhaustive assert_never in _load_metadata_chunk + full-equality round-trip assert
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

address AICA review: validate BinaryContent vendor_metadata on load + pin dump shape
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

docs: clarify end_strategy values in agent spec
  docs/agent-spec.md
Due: clai-help

fix: de-duplicate `output_audio_tokens` accumulation in `_incr_usage_tokens`
  pydantic_ai_slim/pydantic_ai/usage.py
Due: clai-help, format, lint, typecheck

Fix map `downstream_join_id` double-firing the join on a non-empty iterable (#6009)
  pydantic_graph/pydantic_graph/graph_builder.py
  tests/graph/builder/test_broadcast_and_spread.py
Due: clai-help, format, lint, typecheck

fix(heroku): avoid duplicating `/v1` in `base_url`
  pydantic_ai_slim/pydantic_ai/providers/heroku.py
  tests/providers/test_heroku.py
Due: clai-help, format, lint, typecheck

fix: de-duplicate `output_audio_tokens` accumulation in `_incr_usage_tokens` (#6141)
  pydantic_ai_slim/pydantic_ai/usage.py
Due: clai-help, format, lint, typecheck

fix(ag-ui): round-trip file `vendor_metadata` through the AG-UI adapter
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_multimodal.py
  tests/test_ag_ui.py
Due: clai-help, format, lint, typecheck

fix(evals): keep sibling schema refs portable
  pydantic_evals/pydantic_evals/dataset.py
  tests/evals/test_dataset.py
Due: clai-help, format, lint, typecheck

Fix HerokuProvider base_url overloads
  pydantic_ai_slim/pydantic_ai/providers/heroku.py
Due: clai-help, format, lint, typecheck

address review: preserve `BinaryImage` narrowing and reuse `is_str_dict`
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_multimodal.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

docs: note that round-tripping client `vendor_metadata` is intentional
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
Due: clai-help, format, lint, typecheck

fix(usage): remove duplicate output_audio_tokens increment in _incr_usage_tokens
  pydantic_ai_slim/pydantic_ai/usage.py
Due: clai-help, format, lint, typecheck

Drop unsigned/foreign `ThinkingPart`s in Groq history by default (`groq_send_back_thinking_parts`)
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/profiles/groq.py
Due: clai-help, format, lint, typecheck

Drop unsigned/foreign `ThinkingPart`s in xAI history by default (`grok_send_back_thinking_parts`)
  pydantic_ai_slim/pydantic_ai/models/xai.py
  pydantic_ai_slim/pydantic_ai/profiles/grok.py
  tests/models/test_xai.py
Due: clai-help, format, lint, typecheck

Re-add deprecated `bedrock_send_back_thinking_parts=True`, hoist lookup, drop issue refs from comments
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock.py
  tests/profiles/test_resolution_matrix.py
Due: clai-help, format, lint, typecheck

Drop unsigned/foreign `ThinkingPart`s in HuggingFace history by default (`huggingface_send_back_thinking_parts`)
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  pydantic_ai_slim/pydantic_ai/profiles/huggingface.py
  tests/models/test_huggingface.py
Due: clai-help, format, lint, typecheck

Add centralized `test_send_back_thinking_parts` for xai/groq/huggingface
  tests/models/test_send_back_thinking_parts.py
Due: clai-help, format, lint, typecheck

Don't send `defer_loading` without `tool_search` on models without native tool search
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  tests/cassettes/test_tool_search/test_openai_deferred_capability_runs_on_model_without_native_tool_search.yaml
  tests/test_tool_search.py
Due: clai-help, format, lint, typecheck

Tighten #5938 regression tests
  tests/test_tool_search.py
Due: clai-help, format, lint, typecheck

Move `test_send_back_thinking_parts` to `tests/` root with the thinking feature files
  tests/test_send_back_thinking_parts.py
Due: clai-help, format, lint, typecheck

Remove covered no-cover pragma
  pydantic_evals/pydantic_evals/dataset.py
Due: clai-help, format, lint, typecheck

feat(providers): add Snowflake Cortex Inference provider
  pydantic_ai_slim/pydantic_ai/models/_known_model_names.py
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/snowflake.py
  tests/providers/test_snowflake_cortex.py
Due: clai-help, format, lint, typecheck

Cover relative schema reference helper
  tests/evals/test_dataset.py
Due: clai-help, format, lint, typecheck
