Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

replace-py-code-blocks:
  name: Replace ```py with ```python
  entry: "if [[ \"$(uname)\" == \"Darwin\" ]]; then\n  sed -i '' 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nelse\n  sed -i 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nfi\n"
  language: system
  pass_filenames: true

make _into_reasoning_detail more explicit
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
Due: format, lint, typecheck, replace-py-code-blocks

apply review changes
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/profiles/__init__.py
  pydantic_ai_slim/pydantic_ai/profiles/anthropic.py
  tests/CLAUDE.md
  tests/models/anthropic/conftest.py
  tests/models/anthropic/test_output.py
  tests/models/test_anthropic.py
  tests/profiles/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

remove transform
  pydantic_ai_slim/pydantic_ai/profiles/anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

- define builtin tool ids - consolidate UI agent-options - fix cli commands - cache UI on client and server - offer choosable UI versions
  clai/README.md
  clai/clai/web/cli.py
  pydantic_ai_slim/pydantic_ai/_cli.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/builtin_tools.py
  pydantic_ai_slim/pydantic_ai/ui/web/__init__.py
  pydantic_ai_slim/pydantic_ai/ui/web/agent_options.py
  pydantic_ai_slim/pydantic_ai/ui/web/api.py
  pydantic_ai_slim/pydantic_ai/ui/web/app.py
  tests/test_ui_web.py
Due: format, lint, typecheck, replace-py-code-blocks

fix tests
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/ui/web/agent_options.py
  tests/test_ui_web.py
Due: format, lint, typecheck, replace-py-code-blocks

update docs and add real case
  docs/models/anthropic.md
  tests/models/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

test via real api key
  tests/models/cassettes/test_anthropic/test_anthropic_cache_messages_real_api.yaml
  tests/models/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

chore: Parse the url before inferring type
  pydantic_ai_slim/pydantic_ai/messages.py
Due: format, lint, typecheck, replace-py-code-blocks

test: verify the url handles query strings
  tests/test_messages.py
Due: format, lint, typecheck, replace-py-code-blocks

Added ag-ui Adapter dump_messages for converting back to ag-ui format
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
  tests/test_ag_ui.py
Due: format, lint, typecheck, replace-py-code-blocks

fix docs ruff issues
  docs/models/anthropic.md
Due: replace-py-code-blocks

rename /stubs folder to /typings
  Makefile
  pyproject.toml
  typings/README.md
  typings/llama_cpp.pyi
  typings/mlx/__init__.pyi
  typings/mlx/nn.pyi
  typings/mlx_lm.pyi
  typings/outlines/__init__.pyi
  typings/outlines/inputs.pyi
  typings/outlines/models/__init__.pyi
  typings/outlines/models/base.pyi
  typings/outlines/models/llamacpp.pyi
  typings/outlines/models/mlxlm.pyi
  typings/outlines/models/sglang.pyi
  typings/outlines/models/transformers.pyi
  typings/outlines/models/vllm_offline.pyi
  typings/outlines/types/__init__.pyi
  typings/outlines/types/dsl.pyi
  typings/transformers/__init__.pyi
  typings/transformers/modeling_utils.pyi
  typings/transformers/processing_utils.pyi
  typings/transformers/tokenization_utils.pyi
  typings/vllm/__init__.pyi
  typings/vllm/sampling_params.pyi
Due: replace-py-code-blocks

fix markdown formatting
  typings/README.md
Due: replace-py-code-blocks

fix docu
  typings/README.md
Due: replace-py-code-blocks

chore: remove comments
  pydantic_ai_slim/pydantic_ai/messages.py
Due: format, lint, typecheck, replace-py-code-blocks

add link to api reference
  docs/gateway.md
Due: replace-py-code-blocks

add gateway provider to the api/providers docs
  docs/api/providers.md
Due: replace-py-code-blocks

Improve test speed by a bit
  Makefile
  tests/assets/kiwi.jpg
  tests/assets/kiwi.png
  tests/conftest.py
  tests/mcp_server.py
  tests/models/cassettes/test_anthropic/test_image_as_binary_content_tool_response.yaml
  tests/models/cassettes/test_gemini/test_image_as_binary_content_tool_response.yaml
  tests/models/cassettes/test_groq/test_image_as_binary_content_tool_response.yaml
  tests/models/cassettes/test_mistral/test_image_as_binary_content_tool_response.yaml
  tests/models/cassettes/test_model_names/test_known_model_names.yaml
  tests/models/cassettes/test_openai/test_image_as_binary_content_tool_response.yaml
  tests/models/cassettes/test_openai_responses/test_image_as_binary_content_tool_response.yaml
  tests/models/test_anthropic.py
  tests/models/test_gemini.py
  tests/models/test_groq.py
  tests/models/test_mistral.py
  tests/models/test_openai.py
  tests/models/test_openai_responses.py
  tests/models/test_outlines.py
  tests/test_mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

Revert "feat: enforce message history starts with user message (#3440)"
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/models/test_outlines.py
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Revert "feat: enforce message history starts with user message" (#3508)
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/models/test_outlines.py
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Don't skip model request when history ends on response but there are new instructions
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

fix test
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

fix: Relax UserError into a warning when state deps is not provided
  docs/ui/ag-ui.md
  pydantic_ai_slim/pydantic_ai/ui/_adapter.py
  tests/test_ag_ui.py
Due: format, lint, typecheck, replace-py-code-blocks

- don't transform for strict=False - set strict=True when output_mode=True
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/profiles/anthropic.py
  tests/models/anthropic/cassettes/test_output/test_anthropic_auto_mode_sonnet_4_5.yaml
  tests/profiles/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

feedback: fix docstring
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
Due: format, lint, typecheck, replace-py-code-blocks

coverage
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
Due: format, lint, typecheck, replace-py-code-blocks

feedback: move validation context 'build + replace' inside build_run_context
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
Due: format, lint, typecheck, replace-py-code-blocks

Don't skip model request when history ends on response but there are new instructions (#3509)
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Don't send Google messages with 0 parts
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/cassettes/test_google/test_google_model_empty_assistant_response.yaml
  tests/models/cassettes/test_google/test_google_model_empty_user_prompt.yaml
  tests/models/test_google.py
Due: format, lint, typecheck, replace-py-code-blocks

Include cassette
  tests/models/cassettes/test_google/test_google_model_retrying_after_empty_response.yaml
Due: none

- api error shouldn't have a 'response' - handle api error for other models
  pydantic_ai_slim/pydantic_ai/exceptions.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_bedrock.py
  tests/models/test_fallback.py
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Don't send Google messages with 0 parts (#3511)
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/cassettes/test_google/test_google_model_empty_assistant_response.yaml
  tests/models/cassettes/test_google/test_google_model_empty_user_prompt.yaml
  tests/models/cassettes/test_google/test_google_model_retrying_after_empty_response.yaml
  tests/models/test_google.py
Due: format, lint, typecheck, replace-py-code-blocks

- update CLI commands and improve agent loading mechanism - rename config vars to be nicer
  clai/README.md
  clai/clai/web/cli.py
  docs/cli.md
  pydantic_ai_slim/pydantic_ai/ui/web/__init__.py
  pydantic_ai_slim/pydantic_ai/ui/web/agent_options.py
  pydantic_ai_slim/pydantic_ai/ui/web/api.py
  pydantic_ai_slim/pydantic_ai/ui/web/app.py
  tests/test_ui_web.py
Due: format, lint, typecheck, replace-py-code-blocks

Immediately raise error when response is empty because of token limit
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

tweak error message
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

coverage
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

add heading
  docs/api/providers.md
  docs/gateway.md
Due: replace-py-code-blocks

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
  replace-py-code-blocks: any of: \.py$|\.md$
