Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

replace-py-code-blocks:
  name: Replace ```py with ```python
  entry: "if [[ \"$(uname)\" == \"Darwin\" ]]; then\n  sed -i '' 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nelse\n  sed -i 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nfi\n"
  language: system
  pass_filenames: true

add updated images with details panels and fix typos
  docs/img/logfire-with-httpx.png
  docs/img/logfire-without-httpx.png
  docs/logfire.md
Due: replace-py-code-blocks

revert usage changes
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/test.py
  pydantic_ai_slim/pydantic_ai/result.py
Due: format, lint, typecheck, replace-py-code-blocks

Use abstract properties for otel semantic attributes on models and stream responses (#904)
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/test.py
  pydantic_ai_slim/pydantic_ai/models/vertexai.py
  pydantic_ai_slim/pydantic_ai/result.py
Due: format, lint, typecheck, replace-py-code-blocks

version bump to v0.0.24
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Version bump to v0.0.24 (#914)
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

update package-lock.json
  docs-site/package-lock.json
Due: none

Fix JSON streaming unicode issues with gemini
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  tests/models/test_gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

Enhancing httpx instrumentation docs (#870)
  docs/img/logfire-with-httpx.png
  docs/img/logfire-without-httpx.png
  docs/logfire.md
Due: replace-py-code-blocks

extracted FunctionSchema to public module tools
  pydantic_ai_slim/pydantic_ai/_pydantic.py
  pydantic_ai_slim/pydantic_ai/tools.py
  tests/test_tools.py
Due: format, lint, typecheck, replace-py-code-blocks

fix model subclasses
  pydantic_ai_slim/pydantic_ai/models/wrapper.py
  tests/models/test_instrumented.py
Due: format, lint, typecheck, replace-py-code-blocks

Add `InstrumentedModel` (#892)
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
  pydantic_ai_slim/pydantic_ai/models/wrapper.py
  tests/models/test_instrumented.py
Due: format, lint, typecheck, replace-py-code-blocks

Add request_stream to InstrumentedModel
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
  pydantic_ai_slim/pydantic_ai/models/wrapper.py
  tests/models/test_instrumented.py
Due: format, lint, typecheck, replace-py-code-blocks

Test interrupting stream
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
  tests/models/test_instrumented.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix JSON streaming unicode issues with gemini (#917)
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  tests/models/test_gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

upgrading esbuild dep
  docs-site/package-lock.json
  docs-site/package.json
Due: none

Upgrade and pin `esbuild` dep in `docs-site` (#923)
  docs-site/package-lock.json
  docs-site/package.json
Due: none

fix cookie dep
  docs-site/package-lock.json
  docs-site/package.json
Due: none

Fix cookie dependency in `docs-site` (#924)
  docs-site/package-lock.json
  docs-site/package.json
Due: none

fix linting issue
  pydantic_ai_slim/pydantic_ai/models/fallback.py
Due: format, lint, typecheck, replace-py-code-blocks

openai test with exceptions
  pydantic_ai_slim/pydantic_ai/models/fallback.py
  tests/models/mock_async_stream.py
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

remove stale name methods
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_mistral.py
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Remove stale `name` methods from openai and mistral models (#925)
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_mistral.py
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

adding model_name and system abstract methods
  pydantic_ai_slim/pydantic_ai/models/fallback.py
Due: format, lint, typecheck, replace-py-code-blocks

using sequence and fixing 3.9 tests
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

using list with type hinting
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

tests
  tests/conftest.py
  tests/models/test_anthropic.py
  tests/models/test_cohere.py
  tests/models/test_groq.py
  tests/models/test_mistral.py
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

streaming tests
  pydantic_ai_slim/pydantic_ai/exceptions.py
  tests/models/mock_async_stream.py
  tests/models/test_fallback.py
Due: format, lint, typecheck, replace-py-code-blocks

Get tests passing
  pydantic_ai_slim/pydantic_ai/models/fallback.py
  tests/models/test_anthropic.py
  tests/models/test_cohere.py
  tests/models/test_fallback.py
  tests/models/test_groq.py
  tests/models/test_mistral.py
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Minor cleanup
  pydantic_ai_slim/pydantic_ai/models/fallback.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix bug handling multiple result tools
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_result.py
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

type alias testing cleanup
  tests/models/mock_async_stream.py
  tests/models/test_anthropic.py
  tests/models/test_cohere.py
  tests/models/test_groq.py
  tests/models/test_mistral.py
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

exception group like
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/exceptions.py
  pydantic_ai_slim/pydantic_ai/models/fallback.py
  tests/models/test_fallback.py
Due: format, lint, typecheck, replace-py-code-blocks

adding fallback failure example
  docs/models.md
Due: replace-py-code-blocks

fix f string issue
  pydantic_ai_slim/pydantic_ai/exceptions.py
Due: format, lint, typecheck, replace-py-code-blocks

try moving type alias definitions into protected import block
  tests/models/test_anthropic.py
  tests/models/test_cohere.py
  tests/models/test_groq.py
  tests/models/test_mistral.py
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

docs updates + fixing 3.9 tests
  pydantic_ai_slim/pydantic_ai/exceptions.py
  tests/models/test_cohere.py
Due: format, lint, typecheck, replace-py-code-blocks

placeholder api key
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

adding perplexity docs
  docs/models.md
Due: replace-py-code-blocks

added dummy_tool_call_id utility function
  pydantic_ai_slim/pydantic_ai/_utils.py
  tests/test_utils.py
Due: format, lint, typecheck, replace-py-code-blocks

test: added dummy_tool_call_id_mock fixture to mock _utils.dummy_tool_call_id
  tests/conftest.py
Due: format, lint, typecheck, replace-py-code-blocks

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
  replace-py-code-blocks: any of: \.py$|\.md$
