Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

Address review: tuple isinstance syntax and stream vs dump path docstring
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_utils.py
Due: clai-help, format, lint, typecheck

docs: Add guidance on handling FallbackExceptionGroup in middleware (#4289)
  docs/models/overview.md
Due: clai-help

ci: Use function-context diffs and improve review bot guidance
  .github/workflows/bots.yml
  scripts/gather-review-context.sh
Due: none

Address review feedback on function-context diffs PR
  .github/workflows/bots.yml
  scripts/gather-review-context.sh
Due: none

Add /address-feedback skill for Claude Code (#4290)
  .claude/skills/address-feedback/SKILL.md
  .gitignore
Due: clai-help

ci: Use function-context diffs and improve review bot guidance (#4292)
  .github/workflows/bots.yml
  scripts/gather-review-context.sh
Due: none

Private prefixing internal constants to avoid public API contract
  pydantic_ai_slim/pydantic_ai/testing/vcr_yaml_serializer.py
Due: clai-help, format, lint, typecheck

fallback handling
  pydantic_ai_slim/pydantic_ai/models/fallback.py
  tests/models/test_fallback.py
Due: clai-help, format, lint, typecheck

fixing tests
  pydantic_ai_slim/pydantic_ai/models/fallback.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/mock_openai.py
  tests/models/test_fallback.py
  tests/models/test_openai_responses.py
Due: clai-help, format, lint, typecheck

ci: Fix review bot merge base for fork PRs and improve diff guidance
  .github/workflows/bots.yml
  scripts/gather-review-context.sh
Due: none

Address review comments
  docs/tools-advanced.md
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
Due: clai-help, format, lint, typecheck

ci: Fix review bot merge base for fork PRs and improve diff guidance (#4293)
  .github/workflows/bots.yml
  scripts/gather-review-context.sh
Due: none

Make version 4 docstring more concise to match pattern
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
Due: clai-help, format, lint, typecheck

Document blob format for binary content in version 4
  docs/logfire.md
Due: clai-help

Trim verbose docstrings in _extract_metadata_ui_parts and iter_metadata_chunks
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_utils.py
Due: clai-help, format, lint, typecheck

Extract duplicate binary conversion logic to helper function
  pydantic_ai_slim/pydantic_ai/messages.py
Due: clai-help, format, lint, typecheck

Update pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
Due: clai-help, format, lint, typecheck

Document why modality is required in UriPart but optional in BlobPart
  pydantic_ai_slim/pydantic_ai/_otel_messages.py
Due: clai-help, format, lint, typecheck

simplifying
  docs/models/anthropic.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/models/fallback.py
  tests/models/test_anthropic.py
  tests/models/test_fallback.py
Due: clai-help, format, lint, typecheck

fix last test
  tests/models/mock_openai.py
  tests/models/test_openai_responses.py
Due: clai-help, format, lint, typecheck

some clarity on code mode + modal working. Docker yet to be tested though
  pydantic_ai_slim/pydantic_ai/runtime/__init__.py
  pydantic_ai_slim/pydantic_ai/runtime/_driver.py
  pydantic_ai_slim/pydantic_ai/runtime/_stdio.py
  pydantic_ai_slim/pydantic_ai/runtime/docker.py
  pydantic_ai_slim/pydantic_ai/runtime/modal.py
  tests/code_mode/conftest.py
  tests/code_mode/test_code_mode_approvals.py
  tests/code_mode/test_code_mode_execution.py
  tests/code_mode/test_stdio_driver.py
Due: clai-help, format, lint, typecheck

fixing transient errors? that we saw happen because of network latency
  pydantic_ai_slim/pydantic_ai/runtime/_driver.py
  pydantic_ai_slim/pydantic_ai/runtime/_stdio.py
Due: clai-help, format, lint, typecheck

fixing transient errors? that we saw happen because of network latency + tests
  tests/code_mode/test_stdio_driver.py
Due: clai-help, format, lint, typecheck

Eliminate dispatch_request duplication in VercelAIAdapter
  pydantic_ai_slim/pydantic_ai/ui/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
Due: clai-help, format, lint, typecheck

Add missing starlette skipif marker to dispatch_request tool approval test
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Update Tavily Literal types to match latest SDK v0.7.17
  pydantic_ai_slim/pydantic_ai/common_tools/tavily.py
  tests/test_tavily.py
Due: clai-help, format, lint, typecheck

Add OTEL message conversion utilities
  docs/message-history.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/_conversions.py
  tests/test_conversions.py
Due: clai-help, format, lint, typecheck

Fix _convert_legacy_choice dropping tool calls from gen_ai.choice events
  docs/message-history.md
  pydantic_ai_slim/pydantic_ai/_conversions.py
  tests/test_conversions.py
Due: clai-help, format, lint, typecheck

cleaning up and refactoring tests
  pydantic_ai_slim/pydantic_ai/runtime/_driver.py
  pydantic_ai_slim/pydantic_ai/runtime/_stdio.py
  pydantic_ai_slim/pydantic_ai/runtime/monty.py
  tests/code_mode/conftest.py
  tests/code_mode/test_code_mode_approvals.py
  tests/code_mode/test_code_mode_execution.py
  tests/code_mode/test_stdio_driver.py
Due: clai-help, format, lint, typecheck

fix: explicitly close aiterator in group_by_temporal finally block
  pydantic_ai_slim/pydantic_ai/_utils.py
Due: clai-help, format, lint, typecheck

test: add tests for stream_text() early break async generator cleanup
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

test: add debounce_by parametrize to early break cleanup test
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

fix: suppress StopAsyncIteration in group_by_temporal cleanup
  pydantic_ai_slim/pydantic_ai/_utils.py
Due: clai-help, format, lint, typecheck

style: condense finally block comment in early break cleanup test
  pydantic_ai_slim/pydantic_ai/_utils.py
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

test: combine early break cleanup tests with parametrize
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

fix: wrap _stream_text_deltas with aclosing to prevent StopAsyncIteration on client disconnect
  pydantic_ai_slim/pydantic_ai/result.py
Due: clai-help, format, lint, typecheck
