Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

Fail closed in the shell `realpath` fallback when `readlink` cannot read a symlink (#9613)
  docs/workspace.md
  pydantic_ai_slim/pydantic_ai/workspaces/workspace.py
  tests/harness/filesystem/test_filesystem.py
  tests/test_workspace.py
Due: clai-help, format, lint, typecheck

ci: restore the harness and clai2 checks lost in the monorepo move
  .github/scripts/test_ci_content_classifier.py
  .github/workflows/ci.yml
  docs/contributing.md
  tests/test_docs_navigation.py
Due: clai-help, format, lint, typecheck

Name pydantic-clai2's own 3.10-only branches in the clai2-only coverage comment
  .github/workflows/ci.yml
Due: none

ci: skip the clai2 clipboard job on content-only changes
  .github/scripts/test_ci_content_classifier.py
  .github/workflows/ci.yml
Due: clai-help, format, lint, typecheck

chore(agents): make the harness agent instructions work from the monorepo root
  .agents/skills/docs-parity-reviewer/SKILL.md
  .claude/skills/docs-parity-reviewer
  .gitignore
  AGENTS.md
  agent_docs/documentation.md
  docs/AGENTS.md
  docs/harness/AGENTS.md
  docs/harness/CLAUDE.md
  src/pydantic_ai_harness/.agents/settings.json
  src/pydantic_ai_harness/.agents/skills/adopt-pr/SKILL.md
  src/pydantic_ai_harness/.agents/skills/branch-context/SKILL.md
  src/pydantic_ai_harness/.agents/skills/branch-context/append-handoff.sh
  src/pydantic_ai_harness/.agents/skills/branch-context/append-pr-decision.sh
  src/pydantic_ai_harness/.agents/skills/branch-context/handoffs-index.template.md
  src/pydantic_ai_harness/.agents/skills/branch-context/issue-brief.template.md
  src/pydantic_ai_harness/.agents/skills/branch-context/pr-decisions.template.md
  src/pydantic_ai_harness/.agents/skills/branch-context/status.sh
  src/pydantic_ai_harness/.agents/skills/pushing-commits-to-the-repo/SKILL.md
  src/pydantic_ai_harness/AGENTS.md
  src/pydantic_ai_harness/agent_docs/capability-authoring.md
  src/pydantic_ai_harness/agent_docs/concurrency.md
  src/pydantic_ai_harness/agent_docs/docs-conventions.md
  src/pydantic_ai_harness/agent_docs/index.md
  src/pydantic_ai_harness/agent_docs/review-checklist.md
  src/pydantic_ai_harness/agent_docs/testing-capabilities.md
  tests/harness/AGENTS.md
  tests/harness/CLAUDE.md
  tests/harness/test_docs_parity.py
Due: clai-help, format, lint, typecheck

fix: detect asyncio without sniffio in pydantic-evals and pydantic-ai-harness
  pydantic_evals/pydantic_evals/_online.py
  pydantic_evals/pyproject.toml
  src/pydantic_ai_harness/pydantic_ai_harness/_workspace_provider.py
  src/pydantic_ai_harness/pydantic_ai_harness/e2b_sandbox/_backend.py
  src/pydantic_ai_harness/pydantic_ai_harness/modal_sandbox/_backend.py
  src/pydantic_ai_harness/pydantic_ai_harness/sprites_sandbox/_backend.py
  src/pydantic_ai_harness/pyproject.toml
  tests/evals/test_clean_install.py
  tests/evals/test_packaging.py
  tests/harness/test_clean_install.py
  tests/harness/test_packaging.py
  uv.lock
Due: clai-help, format, lint, typecheck

ci: skip the clai2 clipboard job on tags; drop stale Trio notes from harness docs
  .github/scripts/test_ci_content_classifier.py
  .github/workflows/ci.yml
  docs/harness/mutation-testing.md
  src/pydantic_ai_harness/agent_docs/concurrency.md
Due: clai-help, format, lint, typecheck

chore: regenerate the gh-aw runner lock for the pixeltable extra
  .github/scripts/pydantic-ai-runner.lock
Due: none

chore(agents): address pre-push review of the harness instructions
  .agents/skills/docs-parity-reviewer/SKILL.md
  src/pydantic_ai_harness/AGENTS.md
  src/pydantic_ai_harness/agent_docs/capability-authoring.md
  src/pydantic_ai_harness/agent_docs/concurrency.md
  src/pydantic_ai_harness/agent_docs/docs-conventions.md
  src/pydantic_ai_harness/agent_docs/review-checklist.md
  src/pydantic_ai_harness/agent_docs/testing-capabilities.md
  tests/harness/AGENTS.md
  tests/harness/test_docs_parity.py
Due: clai-help, format, lint, typecheck

test: assert schema types in the map pruning observer
  tests/profiles/test_google.py
Due: clai-help, format, lint, typecheck

fix: tell asyncio from Trio by the current asyncio task
  pydantic_evals/pydantic_evals/_online.py
  src/pydantic_ai_harness/pydantic_ai_harness/_workspace_provider.py
  tests/harness/test_workspace_provider.py
Due: clai-help, format, lint, typecheck

Measure pydantic-clai2 in subprocesses started elsewhere, and fix the pragmas strict-no-cover rejects
  pyproject.toml
  src/pydantic_ai_harness/pydantic_ai_harness/absurd/_capability.py
  src/pydantic_ai_harness/pydantic_ai_harness/aws_lambda/_capability.py
  src/pydantic_ai_harness/pydantic_ai_harness/aws_lambda/_operation_backend.py
  src/pydantic_ai_harness/pydantic_ai_harness/browser_use/_model.py
  src/pydantic_ai_harness/pydantic_ai_harness/compaction/_shared.py
  src/pydantic_ai_harness/pydantic_ai_harness/dynamic_workflow/_toolset.py
  src/pydantic_ai_harness/pydantic_ai_harness/e2b_sandbox/_backend.py
  src/pydantic_ai_harness/pydantic_ai_harness/playwright/_toolset.py
  src/pydantic_ai_harness/pydantic_ai_harness/prompt_injection_defender/_capability.py
  src/pydantic_ai_harness/pydantic_ai_harness/subagents/_toolset.py
  src/pydantic_ai_harness/pydantic_ai_harness/youdotcom/_toolset.py
  src/pydantic_clai2/pydantic_clai2/cli/shell_passthrough.py
  src/pydantic_clai2/pydantic_clai2/ui/menus/field_menu.py
Due: clai-help, format, lint, typecheck

fix: follow local JSON-pointer `$ref`s when `TestModel` generates tool arguments
  pydantic_ai_slim/pydantic_ai/_json_schema.py
  pydantic_ai_slim/pydantic_ai/models/test.py
  tests/models/test_model_test.py
Due: clai-help, format, lint, typecheck

ci: drop the token URL rewrite from the clai2 clipboard job
  .github/workflows/ci.yml
Due: none

State the reason for the remaining scroll-report pragma
  src/pydantic_ai_harness/pydantic_ai_harness/playwright/_toolset.py
Due: clai-help, format, lint, typecheck

fix: walk draft-07 `definitions` in `OpenAIJsonSchemaTransformer` like `$defs`
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  tests/models/cassettes/test_openai_json_pointer_refs/test_mcp_zod4_definitions_tool[chat].yaml
  tests/models/cassettes/test_openai_json_pointer_refs/test_mcp_zod4_definitions_tool[responses].yaml
  tests/models/test_openai_json_pointer_refs.py
Due: clai-help, format, lint, typecheck

Say why the scroll-report fallback can run
  src/pydantic_ai_harness/pydantic_ai_harness/playwright/_toolset.py
Due: clai-help, format, lint, typecheck

chore(agents): correct the harness sidebar, precedence and CI references
  .agents/skills/docs-parity-reviewer/SKILL.md
  docs/harness/AGENTS.md
  src/pydantic_ai_harness/agent_docs/capability-authoring.md
  src/pydantic_ai_harness/agent_docs/concurrency.md
  src/pydantic_ai_harness/agent_docs/docs-conventions.md
  src/pydantic_ai_harness/agent_docs/review-checklist.md
  tests/harness/AGENTS.md
  tests/harness/test_docs_parity.py
Due: clai-help, format, lint, typecheck

Tint `clai2` file diffs from the selected `/theme` palette (#9648)
  src/pydantic_clai2/AGENTS.md
  src/pydantic_clai2/README.md
  src/pydantic_clai2/pydantic_clai2/ui/rendering/theme.py
  src/pydantic_clai2/pydantic_clai2/ui/rendering/tool_output.py
  tests/clai2/test_theme_preview.py
Due: clai-help, format, lint, typecheck

Record xAI citations with a single search, fold Bedrock citation deltas in the stream parity test, and trim a recording
  tests/models/bedrock/test_stream_parity.py
  tests/models/cassettes/test_citations/test_web_citations[openrouter-perplexity-stream].yaml
  tests/models/cassettes/test_citations/test_web_citations[xai-non-ascii].xai.yaml
  tests/models/cassettes/test_citations/test_web_citations[xai-stream].xai.yaml
  tests/models/cassettes/test_citations/test_web_citations[xai].xai.yaml
  tests/models/test_citations.py
Due: clai-help, format, lint, typecheck

feat(clai2): keep plugins coder already provides from loading alongside it
  src/pydantic_clai2/AGENTS.md
  src/pydantic_clai2/PLUGINS.md
  src/pydantic_clai2/README.md
  src/pydantic_clai2/pydantic_clai2/_app.py
  src/pydantic_clai2/pydantic_clai2/plugins/compatibility.py
  src/pydantic_clai2/pydantic_clai2/plugins/loader.py
  src/pydantic_clai2/pydantic_clai2/ui/menus/plugin_menu.py
  tests/clai2/test_builtin_plugins.py
Due: clai-help, format, lint, typecheck

chore(agents): name every sidebar section that holds harness pages
  src/pydantic_ai_harness/agent_docs/docs-conventions.md
Due: clai-help

chore(agents): split the navigation placement rule into one directive per sentence
  src/pydantic_ai_harness/agent_docs/docs-conventions.md
Due: clai-help

chore(agents): give each navigation rule its own sentence
  src/pydantic_ai_harness/agent_docs/docs-conventions.md
Due: clai-help

fix(clai2): skip plugins coder includes when loading headless
  src/pydantic_clai2/pydantic_clai2/cli/headless.py
Due: clai-help, format, lint, typecheck

Only enable citations on documents in user prompts, use the latest Google grounding chunks, and tighten citation docs
  docs/citations.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/INPUT-AND-HISTORY.md
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/settings.py
Due: clai-help, format, lint, typecheck

fix: detect the async library the way AnyIO does, with sniffio optional
  pydantic_evals/pydantic_evals/_online.py
  src/pydantic_ai_harness/pydantic_ai_harness/_workspace_provider.py
  tests/evals/test_online.py
  tests/harness/test_workspace_provider.py
Due: clai-help, format, lint, typecheck

fix(clai2): restore included plugins when reloading their owner fails
  src/pydantic_clai2/pydantic_clai2/cli/headless.py
  src/pydantic_clai2/pydantic_clai2/plugins/loader.py
  tests/clai2/test_builtin_plugins.py
Due: clai-help, format, lint, typecheck

Pin `GoogleOpenAPISchemaTransformer` map pruning before traversal. (#9653)
  tests/profiles/test_google.py
Due: clai-help, format, lint, typecheck

ci(bots): label every PR with one package via an LLM classifier
  .github/workflows/bots.yml
Due: none

Restore the `pydantic-ai-harness` base-install, `pydantic-clai2` clipboard and docs-navigation CI checks lost in the monorepo move (#9655)
  .github/scripts/test_ci_content_classifier.py
  .github/workflows/ci.yml
  docs/contributing.md
  docs/harness/mutation-testing.md
  src/pydantic_ai_harness/agent_docs/concurrency.md
  tests/test_docs_navigation.py
Due: clai-help, format, lint, typecheck

Handle draft-7 list-form `items` in `JsonSchemaTransformer`, `TestModel` and Mistral streamed output, and make `TestModel` accept boolean subschemas and cap `prefixItems` at `maxItems` (#9560)
  pydantic_ai_slim/pydantic_ai/_json_schema.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/test.py
  tests/models/test_mistral.py
  tests/models/test_model_test.py
  tests/test_json_schema.py
Due: clai-help, format, lint, typecheck

Make clai2 /update always install and restart into the new build, resuming the session
  src/pydantic_clai2/README.md
  src/pydantic_clai2/pydantic_clai2/_app.py
  src/pydantic_clai2/pydantic_clai2/cli/_cli.py
  src/pydantic_clai2/pydantic_clai2/cli/self_update.py
  tests/clai2/test_self_update.py
Due: clai-help, format, lint, typecheck

Make the harness agent instructions work from the monorepo root (#9658)
  .agents/skills/docs-parity-reviewer/SKILL.md
  .claude/skills/docs-parity-reviewer
  .gitignore
  AGENTS.md
  agent_docs/documentation.md
  docs/AGENTS.md
  docs/harness/AGENTS.md
  docs/harness/CLAUDE.md
  src/pydantic_ai_harness/.agents/settings.json
  src/pydantic_ai_harness/.agents/skills/adopt-pr/SKILL.md
  src/pydantic_ai_harness/.agents/skills/branch-context/SKILL.md
  src/pydantic_ai_harness/.agents/skills/branch-context/append-handoff.sh
  src/pydantic_ai_harness/.agents/skills/branch-context/append-pr-decision.sh
  src/pydantic_ai_harness/.agents/skills/branch-context/handoffs-index.template.md
  src/pydantic_ai_harness/.agents/skills/branch-context/issue-brief.template.md
  src/pydantic_ai_harness/.agents/skills/branch-context/pr-decisions.template.md
  src/pydantic_ai_harness/.agents/skills/branch-context/status.sh
  src/pydantic_ai_harness/.agents/skills/pushing-commits-to-the-repo/SKILL.md
  src/pydantic_ai_harness/AGENTS.md
  src/pydantic_ai_harness/agent_docs/capability-authoring.md
  src/pydantic_ai_harness/agent_docs/concurrency.md
  src/pydantic_ai_harness/agent_docs/docs-conventions.md
  src/pydantic_ai_harness/agent_docs/index.md
  src/pydantic_ai_harness/agent_docs/review-checklist.md
  src/pydantic_ai_harness/agent_docs/testing-capabilities.md
  tests/harness/AGENTS.md
  tests/harness/CLAUDE.md
  tests/harness/test_docs_parity.py
Due: clai-help, format, lint, typecheck

refactor: share running_on_asyncio from pydantic_ai._utils
  pydantic_ai_slim/pydantic_ai/_utils.py
  pydantic_evals/pydantic_evals/_online.py
  src/pydantic_ai_harness/pydantic_ai_harness/_workspace_provider.py
  src/pydantic_ai_harness/pydantic_ai_harness/e2b_sandbox/_backend.py
  src/pydantic_ai_harness/pydantic_ai_harness/modal_sandbox/_backend.py
  src/pydantic_ai_harness/pydantic_ai_harness/sprites_sandbox/_backend.py
  tests/evals/test_online.py
  tests/harness/test_workspace_provider.py
  tests/test_utils.py
Due: clai-help, format, lint, typecheck

Skip copying text parts for replayed deltas that only add content
  pydantic_ai_slim/pydantic_ai/_parts_manager.py
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

Test the `auth.json` UTF-8 read in-process with real non-ASCII bytes
  tests/providers/codex/test_provider.py
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

test: import only the modules that imported sniffio
  tests/evals/test_online.py
  tests/harness/test_workspace_provider.py
Due: clai-help, format, lint, typecheck

Make `clai2` `/update` always install the newest build and restart into it, resuming the session (#9659)
  src/pydantic_clai2/README.md
  src/pydantic_clai2/pydantic_clai2/_app.py
  src/pydantic_clai2/pydantic_clai2/cli/_cli.py
  src/pydantic_clai2/pydantic_clai2/cli/self_update.py
  tests/clai2/test_self_update.py
Due: clai-help, format, lint, typecheck

ci(bots): let dependabot PRs through both classifiers; map clai2 and clai docs
  .github/workflows/bots.yml
Due: none

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
