Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

Keep GPT-Live's tool result send in the typed input dispatch
  pydantic_ai_slim/pydantic_ai/realtime/openai_live.py
Due: clai-help, format, lint, typecheck

Take what the user says as they cut a Gemini reply off as a turn of its own
  pydantic_ai_slim/pydantic_ai/realtime/_google_lifecycle.py
  tests/realtime/test_session_core.py
Due: clai-help, format, lint, typecheck

Drop the held filler's ending flag nothing passes any more
  pydantic_ai_slim/pydantic_ai/realtime/_google_lifecycle.py
Due: clai-help, format, lint, typecheck

Count an image's reply as owed on GPT-Live, and start a reply ahead of its first audio
  pydantic_ai_slim/pydantic_ai/realtime/_inferred_lifecycle.py
  tests/realtime/test_openai_live_ws.py
  tests/realtime/test_session_core.py
Due: clai-help, format, lint, typecheck

Take the words cutting off a reply nobody asked for as a turn after it
  pydantic_ai_slim/pydantic_ai/realtime/_google_lifecycle.py
  tests/realtime/test_session_core.py
Due: clai-help, format, lint, typecheck

Lock 3.15-compatible wheels; publish the beartype fix in the stackone extra
  .github/scripts/pydantic-ai-runner.lock
  examples/pyproject.toml
  pyproject.toml
  src/pydantic_ai_harness/pyproject.toml
  tests/models/test_openai.py
  tests/test_capability_spec.py
  uv.lock
Due: clai-help, format, lint, typecheck

docs: reference the Remnant anonymous MCP toolset example
  docs/toolsets.md
Due: clai-help

Keep pydantic 2.13.5 for every Python version
  tests/models/test_openai.py
  tests/test_capability_spec.py
  uv.lock
Due: clai-help, format, lint, typecheck

Hold a GPT-Live backend request reported while closing to the request limits
  pydantic_ai_slim/pydantic_ai/realtime/_session.py
  pydantic_ai_slim/pydantic_ai/realtime/codec.py
  tests/realtime/test_openai_live.py
Due: clai-help, format, lint, typecheck

Mark the stderr relay fork-notice test as a subprocess test
  tests/clai2/test_stderr_relay.py
Due: clai-help, format, lint, typecheck

Don't advertise Python 3.15 for the examples package
  examples/pyproject.toml
Due: none

docs: show Jev and open-source decision models as a fast mode in front of a language model
  docs/models/decision.md
  docs/models/system-one.md
  pydantic_ai_slim/pydantic_ai/models/system_one.py
  pydantic_ai_slim/pydantic_ai/models/typesafe.py
  tests/test_examples.py
  tests/typed_agent.py
Due: clai-help, format, lint, typecheck

Keep the examples importable on 3.15 and make the 3.15 ONNX error actionable
  .github/workflows/ci.yml
  examples/pydantic_ai_examples/data_analyst.py
  examples/pyproject.toml
  src/pydantic_ai_harness/pydantic_ai_harness/prompt_injection_defender/_capability.py
  tests/harness/prompt_injection_defender/test_defender.py
Due: clai-help, format, lint, typecheck

Document the data-analyst example's 3.15 limit; fetch 3.15 all-extras duration baselines
  .github/workflows/ci.yml
  docs/examples/data-analyst.md
  examples/pydantic_ai_examples/data_analyst.py
Due: clai-help, format, lint, typecheck

Note the ML extra's Python 3.15 limit in the harness skill (review feedback)
  src/pydantic_ai_harness/pydantic_ai_harness/.agents/skills/pydantic-ai-harness/references/CONTROL-AND-SAFETY.md
Due: clai-help

Use python_version for the harness 3.15 markers
  src/pydantic_ai_harness/pyproject.toml
Due: none

Minimize the lockfile to the bumps Python 3.15 needs; address review
  .github/scripts/pydantic-ai-runner.lock
  .github/workflows/ci.yml
  pyproject.toml
  src/pydantic_ai_harness/pydantic_ai_harness/.agents/skills/pydantic-ai-harness/references/CONTROL-AND-SAFETY.md
  tests/test_display.py
  uv.lock
Due: clai-help, format, lint, typecheck

Leave the examples on 3.11-3.14 instead of changing data_analyst
  .github/workflows/ci.yml
  docs/examples/data-analyst.md
  examples/pydantic_ai_examples/data_analyst.py
  examples/pyproject.toml
Due: clai-help, format, lint, typecheck

Lock 3.15 wheels built against the frozen 3.15 ABI
  uv.lock
Due: none

Add `RunContext.load_capability` to load on-demand capabilities from code
  docs/capabilities/on-demand.md
  docs/durable_execution/dbos.md
  docs/durable_execution/prefect.md
  docs/durable_execution/temporal.md
  docs/realtime/capabilities.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/ON-DEMAND-CAPABILITIES.md
  pydantic_ai_slim/pydantic_ai/_enqueue.py
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/capabilities/_pending_messages.py
  pydantic_ai_slim/pydantic_ai/toolsets/_deferred_capability_loader.py
  tests/durable_exec/temporal/test_durability.py
  tests/durable_exec/test_dbos.py
  tests/durable_exec/test_prefect.py
  tests/harness/background_tools/test_background_tools.py
  tests/realtime/test_capabilities.py
  tests/test_capability_deferred_loading.py
Due: clai-help, format, lint, typecheck

Address the adversarial review
  .github/scripts/pydantic-ai-runner.lock
  .github/workflows/ci.yml
  examples/pyproject.toml
  pyproject.toml
  src/pydantic_ai_harness/pydantic_ai_harness/prompt_injection_defender/_capability.py
  src/pydantic_ai_harness/pyproject.toml
  uv.lock
Due: clai-help, format, lint, typecheck

Check for a durable unit before reading `ctx.realtime` in `load_capability`
  pydantic_ai_slim/pydantic_ai/toolsets/_deferred_capability_loader.py
Due: clai-help, format, lint, typecheck

Activate a capability loaded from code on the next request, with a replay-stable call id
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_enqueue.py
  pydantic_ai_slim/pydantic_ai/capabilities/_pending_messages.py
  pydantic_ai_slim/pydantic_ai/toolsets/_deferred_capability_loader.py
  tests/durable_exec/test_prefect.py
  tests/test_capability_deferred_loading.py
Due: clai-help, format, lint, typecheck

Record the step's instructions on the request a capability load delivers
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/durable_exec/test_dbos.py
  tests/durable_exec/test_prefect.py
  tests/test_capability_deferred_loading.py
Due: clai-help, format, lint, typecheck

Support Python 3.15 (#10064)
  .github/scripts/ci_duration.py
  .github/scripts/pydantic-ai-runner.lock
  .github/workflows/ci.yml
  .github/workflows/latest-versions-canary.yml
  AGENTS.md
  Makefile
  clai/pyproject.toml
  docs/harness/prompt-injection-defender.md
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_evals/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
  src/pydantic_ai_harness/pydantic_ai_harness/prompt_injection_defender/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/prompt_injection_defender/_capability.py
  src/pydantic_ai_harness/pyproject.toml
  tests/clai2/test_stderr_relay.py
  tests/harness/prompt_injection_defender/test_defender.py
  tests/test_display.py
  uv.lock
Due: clai-help, format, lint, typecheck

Document Smol workspaces without duplicating the Harness provider
  docs/capabilities/third-party.md
Due: clai-help

Fix CombinedToolset exception handling
  pydantic_ai_slim/pydantic_ai/toolsets/combined.py
  tests/test_toolsets.py
Due: clai-help, format, lint, typecheck

test: use `sh` instead of a Python interpreter as the stderr relay test's child
  tests/clai2/test_stderr_relay.py
Due: clai-help, format, lint, typecheck

test: import heavy embedding packages as shared setup in the docs examples
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

ci: pull service images from AWS's mirror of Docker Hub's official images
  .github/workflows/ci.yml
Due: none

test: don't count shared fixture setup that a test requests during its call
  tests/cost_guards.py
  tests/test_cost_guards.py
Due: clai-help, format, lint, typecheck

test: drop the stderr relay test's `subprocess` marker now that its child is `sh`
  tests/clai2/test_stderr_relay.py
Due: clai-help, format, lint, typecheck

Fix the CI failures on `main`: per-test budget, subprocess guard, and Docker Hub rate limit (#10080)
  .github/workflows/ci.yml
  tests/clai2/test_stderr_relay.py
  tests/cost_guards.py
  tests/test_cost_guards.py
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

Bump `genai-prices` to 0.1.10
  .github/scripts/pydantic-ai-runner.lock
  pydantic_ai_slim/pyproject.toml
  tests/models/google/test_image_generation.py
  tests/models/google/test_structured_output.py
  tests/models/test_google.py
  uv.lock
Due: clai-help, format, lint, typecheck

Recover the DBOS default-IDs workflow through `DBOS.resume_workflow_async`
  tests/durable_exec/test_dbos.py
Due: clai-help, format, lint, typecheck

Decode clai2 test output the same way on Rich 14 and 15
  tests/clai2/test_prompt_surface.py
  tests/clai2/test_prompt_transcript.py
  tests/clai2/test_tool_call_groups.py
Due: clai-help, format, lint, typecheck

Let the fake E2B SDK raise the installed SDK's sandbox-gone error
  tests/harness/e2b_sandbox/fake_e2b.py
Due: clai-help, format, lint, typecheck

Document that Gemini grounding is included in `RunUsage.cost`
  docs/native-tools.md
Due: clai-help

Raise e2b's public SandboxNotRunningException from the fake, not its formatting helper
  tests/harness/e2b_sandbox/fake_e2b.py
Due: clai-help, format, lint, typecheck

Note the e2b 2.53.1 sandbox-gone exception in the fake's docstring
  tests/harness/e2b_sandbox/fake_e2b.py
Due: clai-help, format, lint, typecheck
