Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: replace-py-code-blocks
        name: Replace ```py with ```python
        # first pattern matches ```py <info> and second matches lone ```py<eol>
        entry: |
          if [[ "$(uname)" == "Darwin" ]]; then
            sed -i '' 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          else
            sed -i 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          fi
        language: system
        files: \.py$|\.md$
        pass_filenames: true

test: tests for new history processor behavior
  tests/test_history_processor.py
Due: format, lint, typecheck, replace-py-code-blocks

feat: updating docs about history processors with the new behavior info
  docs/message-history.md
Due: replace-py-code-blocks

addressing comments
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pyproject.toml
Due: format, lint, typecheck, replace-py-code-blocks

updates
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

fixing lint
  pydantic_ai_slim/pydantic_ai/builtin_tools.py
Due: format, lint, typecheck, replace-py-code-blocks

fixing lint
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

fix misspellings
  tests/models/cassettes/test_groq/test_groq_model_web_search_tool.yaml
  tests/models/test_groq.py
Due: format, lint, typecheck, replace-py-code-blocks

rename servertool to builtin tool everywhere
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_utils.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/test.py
  tests/models/test_anthropic.py
  tests/models/test_google.py
  tests/models/test_groq.py
Due: format, lint, typecheck, replace-py-code-blocks

test more xml without attributes
  tests/test_format_as_xml.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix ag_ui message toolcall order to support Anthropic requirements
  pydantic_ai_slim/pydantic_ai/ag_ui.py
Due: format, lint, typecheck, replace-py-code-blocks

removed extra file
  kimi_k2_fix_summary.md
Due: replace-py-code-blocks

feat: Add id and finish_reason to ModelResponse
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/test.py
Due: format, lint, typecheck, replace-py-code-blocks

fixed linter errors
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

fixing ordering
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/test.py
  tests/models/test_anthropic.py
  tests/models/test_google.py
  tests/models/test_groq.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix: TypeError in MCPServerSSE due to improper initialization (#2319)
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

Restore newlines around message
  pydantic_ai_slim/pydantic_ai/ag_ui.py
Due: format, lint, typecheck, replace-py-code-blocks

Pin tokenizers <= 0.21.2 as later 0.21.4 doesn't have required wheels
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

Pin tokenizers <= 0.21.2 as later 0.21.4 doesn't have required wheels (#2335)
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

Fix: AG-UI assistant text and tool call order (#2328)
  pydantic_ai_slim/pydantic_ai/ag_ui.py
Due: format, lint, typecheck, replace-py-code-blocks

add openai batch support
  pydantic_ai_slim/pydantic_ai/batches/__init__.py
  pydantic_ai_slim/pydantic_ai/batches/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Revert "Pin tokenizers <= 0.21.2 as later 0.21.4 doesn't have required wheels…"
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

Revert "Pin tokenizers <= 0.21.2 as later 0.21.4 doesn't have required wheels" (#2340)
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

moved missing finish reason check to before validation
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Allow `default` in tool schema with Gemini (#2309)
  pydantic_ai_slim/pydantic_ai/profiles/google.py
  tests/models/test_gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

test: add tests for handling missing finish_reason with tool calls
  tests/models/test_finish_reason_missing_with_tool_calls.py
  tests/models/test_openai_responses_finish_reason.py
Due: format, lint, typecheck, replace-py-code-blocks

Updated openai using cast and checking model_dump before validation
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Ensure AG-UI state is isolated between requests.
  docs/ag-ui.md
  pydantic_ai_slim/pydantic_ai/ag_ui.py
  tests/test_ag_ui.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix test
  .claude/settings.json
  tests/test_streaming.py
Due: format, lint, typecheck, replace-py-code-blocks

Remove unnecessary 'pragma: no cover'
  pydantic_ai_slim/pydantic_ai/ag_ui.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix AgentStream.stream_output and StreamedRunResult.stream_structured with output tools (#2314)
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
  pydantic_ai_slim/pydantic_ai/result.py
  tests/test_streaming.py
Due: format, lint, typecheck, replace-py-code-blocks

Ensure AG-UI state is isolated between requests. (#2343)
  docs/ag-ui.md
  pydantic_ai_slim/pydantic_ai/ag_ui.py
  tests/test_ag_ui.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix tests
  .claude/settings.json
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
  tests/test_toolsets.py
Due: format, lint, typecheck, replace-py-code-blocks

Refine retry logic for parallel tool calling (#2317)
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
  tests/test_toolsets.py
Due: format, lint, typecheck, replace-py-code-blocks

Set up environment for @claude, allow it make and uv, and reading CI logs
  .github/workflows/claude.yml
Due: none

remove the sleep
  .github/workflows/codeflash.yml
Due: none

Remove older deprecated models of Anthropic
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Fix tests for Logfire>=3.22.0
  pydantic_ai_slim/pyproject.toml
  tests/models/test_fallback.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

fixed linter errors for tests and formatted code
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_finish_reason_missing_with_tool_calls.py
  tests/models/test_openai_responses_finish_reason.py
Due: format, lint, typecheck, replace-py-code-blocks

Set up environment for @claude, allow it make and uv, and reading CI logs (#2344)
  .github/workflows/claude.yml
Due: none

docs: add TrueFoundry AI Gateway integration
  docs/models/index.md
  docs/models/openai.md
Due: replace-py-code-blocks
