Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

replace-py-code-blocks:
  name: Replace ```py with ```python
  entry: "if [[ \"$(uname)\" == \"Darwin\" ]]; then\n  sed -i '' 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nelse\n  sed -i 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nfi\n"
  language: system
  pass_filenames: true

fix test name
  tests/test_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

add --agent flag
  pydantic_ai_slim/pydantic_ai/_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

update docs
  tests/test_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

Add test for --agent flag
  tests/test_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

add non agent check
  tests/test_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

add bad module variable test
  tests/test_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

Update docs
  docs/cli.md
Due: replace-py-code-blocks

Revert "Update docs"
  docs/cli.md
Due: replace-py-code-blocks

minor fix
  docs/cli.md
Due: replace-py-code-blocks

remove case
  pydantic_ai_slim/pydantic_ai/_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

fix docs
  docs/cli.md
Due: replace-py-code-blocks

feat: improve error messages for tool name conflicts
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/mcp.py
  tests/test_mcp.py
  tests/test_tools.py
Due: format, lint, typecheck, replace-py-code-blocks

Add extra_headers to ModelSettings
  .gitignore
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/settings.py
Due: format, lint, typecheck, replace-py-code-blocks

Add extra_headers to ModelSettings
  .gitignore
Due: none

Multi-tool validation fix
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
Due: format, lint, typecheck, replace-py-code-blocks

Add extra_headers to ModelSettings
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Add extra_headers to ModelSettings
  tests/models/test_anthropic.py
  tests/models/test_groq.py
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

single quotes
  docs/cli.md
Due: replace-py-code-blocks

Add extra_headers to ModelSettings
  tests/models/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

Add test
  client.py
  fasta2a/fasta2a/_otel.py
  fasta2a/fasta2a/applications.py
  fasta2a/fasta2a/runner.py
  fasta2a/fasta2a/storage.py
  fasta2a/fasta2a/task_manager.py
  fasta2a/fasta2a/worker.py
  fasta2a/pyproject.toml
  main.py
  pydantic_ai_slim/pydantic_ai/_a2a.py
  pydantic_ai_slim/pyproject.toml
  tests/test_a2a.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

pass tests
  tests/test_a2a.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Almost there
  client.py
  docs/a2a/fasta2a.md
  main.py
  pydantic_ai_slim/pydantic_ai/_a2a.py
Due: format, lint, typecheck, replace-py-code-blocks

fix docs
  docs/a2a/fasta2a.md
  pydantic_ai_slim/pyproject.toml
Due: replace-py-code-blocks

move notrequired
  fasta2a/fasta2a/schema.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

make string instead of type
  fasta2a/fasta2a/schema.py
Due: format, lint, typecheck, replace-py-code-blocks

move self to typing_extensions
  fasta2a/fasta2a/worker.py
Due: format, lint, typecheck, replace-py-code-blocks

pending deprecation warning
  pyproject.toml
Due: none

make string instead of type
  fasta2a/fasta2a/schema.py
  pyproject.toml
Due: format, lint, typecheck, replace-py-code-blocks

add future annotations
  fasta2a/fasta2a/_otel.py
  fasta2a/fasta2a/client.py
  fasta2a/fasta2a/runner.py
  fasta2a/fasta2a/storage.py
  fasta2a/fasta2a/task_manager.py
  fasta2a/fasta2a/worker.py
Due: format, lint, typecheck, replace-py-code-blocks

add future annotations
  fasta2a/fasta2a/worker.py
Due: format, lint, typecheck, replace-py-code-blocks

fix type
  fasta2a/fasta2a/schema.py
Due: format, lint, typecheck, replace-py-code-blocks

Add extra_headers to ModelSettings
  tests/models/cassettes/test_anthropic/test_extra_headers.yaml
  tests/models/cassettes/test_groq/test_extra_headers.yaml
  tests/models/cassettes/test_openai/test_extra_headers.yaml
Due: none

Add extra_headers to ModelSettings
  .gitignore
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

fix more stuff
  fasta2a/fasta2a/storage.py
  pydantic_ai_slim/pydantic_ai/_a2a.py
  tests/test_a2a.py
Due: format, lint, typecheck, replace-py-code-blocks

fix
  fasta2a/fasta2a/applications.py
  fasta2a/fasta2a/client.py
  fasta2a/fasta2a/schema.py
  tests/test_a2a.py
Due: format, lint, typecheck, replace-py-code-blocks

add more coverage
  pydantic_ai_slim/pydantic_ai/_a2a.py
  tests/test_a2a.py
Due: format, lint, typecheck, replace-py-code-blocks

removing bad comment
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
Due: format, lint, typecheck, replace-py-code-blocks

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
  replace-py-code-blocks: any of: \.py$|\.md$
