Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

Pin `LocalWorkspace.env` in the capability spec schema snapshot
  tests/test_capability_spec.py
Due: clai-help, format, lint, typecheck

Say in the decision models intro that a route the model cannot continue down escalates to a language model
  docs/models/decision.md
Due: clai-help

Give escalation to a language model its own paragraph in the decision models intro, and say up front what kinds of questions a decision model answers
  docs/models/decision.md
Due: clai-help

Keep the type variable of a generic `OutputSpec[T]` passed to `Agent.run` under mypy (#8730)
  pydantic_ai_slim/pydantic_ai/output.py
  tests/typed_agent.py
Due: clai-help, format, lint, typecheck

Map every agent input to where it ends up for a decision model: the state it judges or the questions it asks
  docs/models/decision.md
Due: clai-help

refactor: drop a duplicated `google_tool_calls_non_blocking_by_default` block
  pydantic_ai_slim/pydantic_ai/profiles/google.py
Due: clai-help, format, lint, typecheck

ci: apply `PYRIGHT_TIME_BUDGET` to the root and nested pyright runs together
  scripts/test_typecheck_changed.py
  scripts/typecheck_changed.py
Due: clai-help, format, lint, typecheck

Make routes a first-party concept in `DecisionModel`
  docs/models/decision.md
  pydantic_ai_slim/pydantic_ai/models/decision.py
  tests/models/cassettes/test_typesafe/test_a_tool_is_proposed_not_called.yaml
  tests/models/cassettes/test_typesafe/test_an_output_function_is_a_hand_off_jev_picks.yaml
  tests/models/cassettes/test_typesafe/test_an_output_functions_arguments_are_filled_like_an_output_types_fields.yaml
  tests/models/cassettes/test_typesafe/test_tool_arguments_live.yaml
  tests/models/test_decision.py
  tests/models/test_typesafe.py
  tests/models/test_typesafe_output_matrix.py
Due: clai-help, format, lint, typecheck

Add `RunContext.in_durable_context` so hooks can tell they run in durable workflow code (#8723)
  docs/capabilities/custom.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/ORCHESTRATION-AND-INTEGRATIONS.md
  pydantic_ai_slim/pydantic_ai/_run_context.py
  tests/durable_exec/temporal/test_durability.py
  tests/durable_exec/test_durable_operation.py
Due: clai-help, format, lint, typecheck

Limit the CLAI2 speculative sandbox mount to what the run's `FileSystem` allows (pydantic/pydantic-ai-harness#1094)
  src/pydantic_clai2/README.md
  src/pydantic_clai2/pydantic_clai2/_app.py
  src/pydantic_clai2/pydantic_clai2/speculation.py
  src/pydantic_clai2/pydantic_clai2/speculative_mode.py
  tests/clai2/test_speculation.py
  tests/clai2/test_speculative_mode.py
Due: clai-help, format, lint, typecheck

docs: tighten the Decision models and TypeSafe intros
  docs/logfire.md
  pydantic_ai_slim/pydantic_ai/models/decision.py
  tests/models/test_decision.py
  tests/models/test_decision_instrumentation.py
Due: clai-help, format, lint, typecheck

docs: teach decision models from the top down, around a support-desk example
  docs/models/decision.md
  docs/models/typesafe.md
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

Weigh every function tool together against `decision_tool_call_threshold`
  docs/models/decision.md
  pydantic_ai_slim/pydantic_ai/models/decision.py
  tests/models/test_decision.py
Due: clai-help, format, lint, typecheck

docs: put Claude Opus 5.5 behind Jev in the decision model examples, and correct the pages against the code
  docs/models/decision.md
  docs/output.md
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

docs: keep the support desk's reply short, and drop an unsourced claim about the tool-call default
  docs/models/decision.md
  docs/models/typesafe.md
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

Report the route pick as `provider_details['route']`, in route labels
  docs/models/decision.md
  pydantic_ai_slim/pydantic_ai/models/decision.py
  tests/models/test_decision.py
  tests/models/test_typesafe.py
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

Label a single output function or `Enum` route by its own name
  docs/models/decision.md
  pydantic_ai_slim/pydantic_ai/models/decision.py
  tests/models/test_decision.py
  tests/models/test_typesafe.py
Due: clai-help, format, lint, typecheck

Read a wrapped `Enum`'s docstring from its definition, and accept boolean schemas
  pydantic_ai_slim/pydantic_ai/models/decision.py
  tests/models/test_decision.py
Due: clai-help, format, lint, typecheck

Bump `pydantic-ai-harness` to 0.34.0 in CI and type-check the docs examples that use it (#8708)
  .github/scripts/pydantic-ai-runner
  .github/scripts/pydantic-ai-runner.lock
  .github/scripts/pydantic_ai_gh_aw_shim/_backends.py
  .github/scripts/pydantic_ai_gh_aw_shim/todo_write.py
  .github/scripts/test_pydantic_ai_runner.py
  .github/workflows/ci.yml
  Makefile
  docs/common-tools.md
  pydantic_ai_slim/pydantic_ai/common_tools/exa.py
  pyproject.toml
  uv.lock
Due: clai-help, format, lint, typecheck

docs: state the wording best practices once and follow them in every decision model example
  docs/models/decision.md
  docs/models/typesafe.md
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

Cover a durable workspace's direct realpath and mark the Trio-only loop check
  pydantic_ai_slim/pydantic_ai/workspaces/local.py
  tests/durable_exec/test_durable_workspace.py
Due: clai-help, format, lint, typecheck

Round derived yes/no confidence to six decimal places
  pydantic_ai_slim/pydantic_ai/models/decision.py
  tests/models/test_decision.py
  tests/models/test_typesafe.py
Due: clai-help, format, lint, typecheck

docs: show falling back when the route pick is unsure
  docs/models/decision.md
Due: clai-help

docs: align the decision model best practices with TypeSafe's own guidance
  docs/models/decision.md
  docs/models/typesafe.md
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

Name the subject of the route question, and frame it with the agent's instructions
  docs/models/decision.md
  pydantic_ai_slim/pydantic_ai/models/decision.py
  tests/models/cassettes/test_typesafe/test_a_tool_is_proposed_not_called.yaml
  tests/models/cassettes/test_typesafe/test_an_output_function_is_a_hand_off_jev_picks.yaml
  tests/models/cassettes/test_typesafe/test_an_output_functions_arguments_are_filled_like_an_output_types_fields.yaml
  tests/models/cassettes/test_typesafe/test_tool_arguments_live.yaml
  tests/models/test_decision.py
  tests/models/test_typesafe.py
Due: clai-help, format, lint, typecheck

feat: add `prompt` to `ModelSelectionContext`
  docs/capabilities/custom.md
  docs/capabilities/select-model.md
  docs/models/decision.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/CAPABILITIES-AND-HOOKS.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  tests/test_capability_native_or_local.py
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

Type-check `.github/scripts` with pyright (#8732)
  .github/scripts/check_harness_navigation.py
  .github/scripts/pyrightconfig.json
  .github/scripts/test_feature_digest.py
  .github/scripts/test_protect_github_dir.py
  .github/scripts/test_semantic_owner_router.py
  .github/workflows/ci.yml
  Makefile
  pyproject.toml
  scripts/test_typecheck_changed.py
  scripts/typecheck_changed.py
Due: clai-help, format, lint, typecheck

test: assert the route question in RoutingDecisionModel instead of branching on it
  tests/models/test_decision.py
Due: clai-help, format, lint, typecheck

Restructure the Decision models docs around a worked support-desk example, and lead the TypeSafe page with one (#8731)
  docs/models/decision.md
  docs/models/typesafe.md
  docs/output.md
  pydantic_ai_slim/pydantic_ai/models/typesafe.py
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

docs: label Evals and Graph in the comparisons hub lead too
  docs/comparisons/index.md
Due: clai-help

docs: drop backticks from the two older meta descriptions so all render as plain text
  docs/capabilities/image-generation.md
  docs/embeddings.md
Due: clai-help

test: drop no-cover pragmas on tools the lean tests now call
  tests/models/test_decision.py
Due: clai-help, format, lint, typecheck

Label every part of the stack on the comparison pages, and add GitHub Agentic Workflows to the Interfaces row (#8699)
  docs/comparisons/index.md
  docs/comparisons/vs-agno.md
  docs/comparisons/vs-claude-agent-sdk.md
  docs/comparisons/vs-crewai.md
  docs/comparisons/vs-google-adk.md
  docs/comparisons/vs-langchain-langgraph.md
  docs/comparisons/vs-livekit.md
  docs/comparisons/vs-mastra.md
  docs/comparisons/vs-openai-agents-sdk.md
  docs/comparisons/vs-pi.md
  docs/comparisons/vs-pipecat.md
  docs/comparisons/vs-vercel-ai-sdk.md
Due: clai-help

Resolve realpath in the shell the way os.path.realpath does, replace a combined LocalWorkspace whole, and fall back when a backend refuses a bounded read
  pydantic_ai_slim/pydantic_ai/capabilities/local_workspace.py
  pydantic_ai_slim/pydantic_ai/workspaces/protocol.py
  pydantic_ai_slim/pydantic_ai/workspaces/workspace.py
  tests/durable_exec/test_durable_workspace.py
  tests/test_capability_combine.py
  tests/test_local_workspace.py
  tests/test_workspace.py
  tests/workspace_fakes.py
Due: clai-help, format, lint, typecheck

docs: name the LangGraph checkpointer on the Persistence page; link step persistence from the Harness sentence
  README.md
  docs/index.md
  docs/persistence.md
Due: clai-help

refactor(realtime): keep the Gemini-only flags on `GoogleRealtimeModelProfile`
  docs/realtime/gemini.md
  pydantic_ai_slim/pydantic_ai/profiles/google.py
  pydantic_ai_slim/pydantic_ai/realtime/google.py
  pydantic_ai_slim/pydantic_ai/realtime/profiles.py
  tests/realtime/test_azure_voice_live_ws.py
  tests/realtime/test_google.py
  tests/realtime/test_google_ws.py
  tests/realtime/test_openai_ws.py
  tests/realtime/test_xai.py
  tests/realtime/test_xai_ws.py
Due: clai-help, format, lint, typecheck

Drop the `pydantic-clai2` git pin on `pydantic-ai-slim` now that v2.49.0 is released (pydantic/pydantic-ai-harness#1097)
  src/pydantic_clai2/pyproject.toml
Due: none

docs: describe StepPersistence as checkpoint-style without naming LangGraph; link the Persistence page from the Harness sentence
  README.md
  docs/index.md
  docs/persistence.md
Due: clai-help

refactor(realtime): read the agent's model from the run context, not a new hook
  docs/realtime/openai-live.md
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/realtime/model.py
  pydantic_ai_slim/pydantic_ai/realtime/openai_live.py
  tests/realtime/test_openai_live.py
Due: clai-help, format, lint, typecheck
