Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

fix: escape regex parens in test_examples filterwarnings for to_a2a deprecation
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

test: pragma no-cover the unused drop_first body in attribute-readback test
  tests/v2/test_history_processors_kwarg_deprecation.py
Due: clai-help, format, lint, typecheck

fix: extend pyright suppression on legacy event_stream_handler= test sites
  tests/test_dbos.py
  tests/test_prefect.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

chore: gitignore local-notes/ (AICA mini-PR scratch dir)
  .gitignore
Due: none

fix: mirror unsupported gateway/google-vertex:* entries as gateway/google-cloud:*
  tests/models/test_model_names.py
Due: clai-help, format, lint, typecheck

address review: take `ModelRequestContext`, fold `prepare_request` + `annotate_tool_call_otel_metadata` into helper
  pydantic_ai_slim/pydantic_ai/_instrumentation.py
  pydantic_ai_slim/pydantic_ai/capabilities/instrumentation.py
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
Due: clai-help, format, lint, typecheck

Remove redundant type cleanup casts
  pydantic_ai_slim/pydantic_ai/embeddings/openai.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/retries.py
Due: clai-help, format, lint, typecheck

yield prepared `ModelRequestContext` from `open_model_request_span`
  pydantic_ai_slim/pydantic_ai/_instrumentation.py
  pydantic_ai_slim/pydantic_ai/capabilities/instrumentation.py
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
Due: clai-help, format, lint, typecheck

Add `resolve_model_id` delegation to `WrapperCapability`
  pydantic_ai_slim/pydantic_ai/capabilities/wrapper.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Deprecate `OutlinesModel` and `OutlinesProvider`
  README.md
  docs/index.md
  docs/install.md
  docs/models/outlines.md
  docs/models/overview.md
  pydantic_ai_slim/pydantic_ai/models/outlines.py
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/outlines.py
  tests/conftest.py
  tests/models/test_outlines.py
  tests/providers/test_outlines.py
  tests/providers/test_provider_names.py
Due: clai-help, format, lint, typecheck

fix(xai,bedrock): thinking_always_enabled for hybrid models without disable
  docs/thinking.md
  pydantic_ai_slim/pydantic_ai/profiles/grok.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock.py
  tests/models/cassettes/test_bedrock/test_bedrock_thinking_false_openai_variant_silent_drop.yaml
  tests/models/cassettes/test_bedrock/test_bedrock_thinking_false_qwen_variant_silent_drop.yaml
  tests/models/cassettes/test_bedrock/test_bedrock_thinking_high_openai_variant.yaml
  tests/models/cassettes/test_bedrock/test_bedrock_thinking_high_qwen_variant.yaml
  tests/models/test_bedrock.py
  tests/test_thinking.py
Due: clai-help, format, lint, typecheck

fix: pyright suppression on 11 deprec-test call sites + cover from_spec/from_file event_stream_handler= paths
  tests/v2/test_agent_ctor_kwargs_deprecation.py
Due: clai-help, format, lint, typecheck

v2: drop deprecated `instrument=` Agent surfaces
  clai/README.md
  pydantic_ai_slim/pydantic_ai/_utils.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/agent/spec.py
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
  pyproject.toml
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Rename priorities to `'asap'` / `'when_idle'`, drop `SystemPromptPart` from enqueue
  docs/message-history.md
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/capabilities/_pending_messages.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/run.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Add advisory Ty compatibility check
  .github/workflows/ty.yml
  .pre-commit-config.yaml
  AGENTS.md
  scripts/typecheck_ty.sh
Due: clai-help

docs(capabilities): surface `ToolSearch` in the capabilities reference
  docs/capabilities.md
Due: clai-help

Run advisory Ty check on pydantic-ai-slim
  .github/workflows/ty.yml
  AGENTS.md
  scripts/typecheck_ty.sh
Due: clai-help

v2 prep: fold Wed 2026-05-13 pair-review rules 11-25 + add v2:exec phase guidance
  V2-RULES.md
Due: clai-help

Allow trusted PR authors through bot config guard
  .github/workflows/bots.yml
Due: none

Remove agent config change from Ty PR
  AGENTS.md
Due: clai-help

Pin Ty fork checkout in advisory workflow
  .github/workflows/ty.yml
Due: none

Apply auto-review fix: use `pyright: ignore` over `type: ignore` for consistency with neighboring `GrokProvider` and the dominant codebase pattern
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
Due: clai-help, format, lint, typecheck

Point deprecation message at the Outlines repo, not ours
  docs/models/outlines.md
  pydantic_ai_slim/pydantic_ai/models/outlines.py
  pydantic_ai_slim/pydantic_ai/providers/outlines.py
Due: clai-help, format, lint, typecheck

Narrow trusted author guard to org members
  .github/workflows/bots.yml
Due: none

Soften deprecation message: just point at the Outlines issue tracker without prescribing what to ask for
  docs/models/outlines.md
  pydantic_ai_slim/pydantic_ai/models/outlines.py
  pydantic_ai_slim/pydantic_ai/providers/outlines.py
Due: clai-help, format, lint, typecheck

Add snapshot tests for `'asap'` end-of-run drain + rich message_history tail
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

feat(capabilities): adopt ToolSelector across capabilities and toolsets [WIP]
  pydantic_ai_slim/pydantic_ai/capabilities/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/defer_tool_loading.py
  pydantic_ai_slim/pydantic_ai/capabilities/filter_tools.py
  pydantic_ai_slim/pydantic_ai/capabilities/prefix_tools.py
  pydantic_ai_slim/pydantic_ai/capabilities/prepare_tools.py
  pydantic_ai_slim/pydantic_ai/capabilities/require_tool_approval.py
  pydantic_ai_slim/pydantic_ai/capabilities/set_tool_metadata.py
  pydantic_ai_slim/pydantic_ai/capabilities/wrapper.py
  pydantic_ai_slim/pydantic_ai/toolsets/abstract.py
  pydantic_ai_slim/pydantic_ai/toolsets/approval_required.py
  pydantic_ai_slim/pydantic_ai/toolsets/deferred_loading.py
  pydantic_ai_slim/pydantic_ai/toolsets/filtered.py
  pydantic_ai_slim/pydantic_ai/toolsets/include_return_schemas.py
  pydantic_ai_slim/pydantic_ai/toolsets/prefixed.py
  pydantic_ai_slim/pydantic_ai/toolsets/prepared.py
  pydantic_ai_slim/pydantic_ai/toolsets/set_metadata.py
  tests/test_capabilities.py
  tests/test_tool_search.py
  tests/test_toolsets.py
Due: clai-help, format, lint, typecheck

feat(capabilities): ToolSearch.tools selector, RequireToolApproval.handler, SetToolDescription
  pydantic_ai_slim/pydantic_ai/capabilities/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/_tool_search.py
  pydantic_ai_slim/pydantic_ai/capabilities/require_tool_approval.py
  pydantic_ai_slim/pydantic_ai/capabilities/set_tool_description.py
  pydantic_ai_slim/pydantic_ai/toolsets/__init__.py
  pydantic_ai_slim/pydantic_ai/toolsets/_tool_search.py
  pydantic_ai_slim/pydantic_ai/toolsets/abstract.py
  pydantic_ai_slim/pydantic_ai/toolsets/set_description.py
  tests/test_capabilities.py
  tests/test_tool_search.py
  tests/test_toolsets.py
Due: clai-help, format, lint, typecheck

Fix coverage gaps in enqueue tests
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

fix: split pyright ignores per line — CallIssue+UnknownVariableType on ctor, UnknownMemberType on assert
  tests/v2/test_agent_ctor_kwargs_deprecation.py
Due: clai-help, format, lint, typecheck

docs: use 'Pydantic AI' (two words) in multi-agent docs
  docs/multi-agent-applications.md
Due: clai-help

revert: roll back deferred-loading capability work to 1d175a685
  docs/capabilities.md
  docs/examples/support-specialist.md
  docs/nav.json
  docs/tools-advanced.md
  docs/tools.md
  docs/toolsets.md
  examples/pydantic_ai_examples/support_specialist.py
  pydantic_ai_slim/pydantic_ai/_deferred.py
  pydantic_ai_slim/pydantic_ai/_instructions.py
  pydantic_ai_slim/pydantic_ai/_load_capability.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
  pydantic_ai_slim/pydantic_ai/capabilities/combined.py
  pydantic_ai_slim/pydantic_ai/capabilities/deferred.py
  pydantic_ai_slim/pydantic_ai/capabilities/image_generation.py
  pydantic_ai_slim/pydantic_ai/capabilities/mcp.py
  pydantic_ai_slim/pydantic_ai/capabilities/native_or_local.py
  pydantic_ai_slim/pydantic_ai/capabilities/web_fetch.py
  pydantic_ai_slim/pydantic_ai/capabilities/web_search.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/toolsets/_capability_scoped.py
  pydantic_ai_slim/pydantic_ai/toolsets/_deferred_capability.py
  pydantic_ai_slim/pydantic_ai/toolsets/_tool_search.py
  tests/test_agent_output_schemas.py
  tests/test_capabilities.py
  tests/test_tool_search.py
Due: clai-help, format, lint, typecheck

add plan md
  PLAN.md
  clai/README.md
Due: clai-help

V2 removing iterator for run_stream_events
  docs/agent.md
  docs/output.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_agent.py
  pydantic_ai_slim/pydantic_ai/result.py
  pydantic_ai_slim/pydantic_ai/ui/_adapter.py
  tests/models/test_bedrock.py
  tests/models/test_deepseek.py
  tests/models/test_google.py
  tests/models/test_huggingface.py
  tests/models/test_openai.py
  tests/models/test_openai_responses.py
  tests/test_dbos.py
  tests/test_prefect.py
  tests/test_streaming.py
  tests/test_temporal.py
  tests/test_tools.py
Due: clai-help, format, lint, typecheck

Fixing the iterator pattern when generator does not run
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

review: address PR comments + close VCR audit gaps
  docs/thinking.md
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
  pydantic_ai_slim/pydantic_ai/profiles/grok.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock.py
  pydantic_ai_slim/pydantic_ai/providers/openrouter.py
  tests/models/cassettes/test_bedrock/test_bedrock_thinking_true_openai_variant.yaml
  tests/models/cassettes/test_openrouter/test_openrouter_thinking_true_emits_effort_medium.yaml
  tests/models/test_bedrock.py
  tests/models/test_openrouter.py
  tests/test_thinking.py
Due: clai-help, format, lint, typecheck

add interrupt handling
  PLAN.md
  docs/ui/ag-ui.md
  examples/pydantic_ai_examples/ag_ui/__init__.py
  examples/pydantic_ai_examples/ag_ui/api/__init__.py
  examples/pydantic_ai_examples/ag_ui/api/tool_approval.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_event_stream.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_utils.py
  pyproject.toml
  tests/test_ag_ui.py
  uv.lock
Due: clai-help, format, lint, typecheck

Add pragma: no cover to unreachable list comprehensions in run_stream_events workflow tests
  tests/test_dbos.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

update plan with working example
  PLAN.md
  examples/pydantic_ai_examples/ag_ui/api/tool_approval.py
Due: clai-help, format, lint, typecheck
