Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

replace-py-code-blocks:
  name: Replace ```py with ```python
  entry: "if [[ \"$(uname)\" == \"Darwin\" ]]; then\n  sed -i '' 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nelse\n  sed -i 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nfi\n"
  language: system
  pass_filenames: true

fix tests
  tests/models/test_gemini_vertexai.py
Due: format, lint, typecheck, replace-py-code-blocks

Use `get_running_loop` instead of `get_event_loop`
  pydantic_graph/pydantic_graph/_utils.py
Due: format, lint, typecheck, replace-py-code-blocks

Make it work for every python version in a proper way
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_graph/pydantic_graph/_utils.py
  pydantic_graph/pydantic_graph/graph.py
  tests/graph/test_utils.py
Due: format, lint, typecheck, replace-py-code-blocks

Add return docstring to the function description
  main.py
  pydantic_ai_slim/pydantic_ai/_griffe.py
Due: format, lint, typecheck, replace-py-code-blocks

Migrate openai models from using `max_tokens` to `max_completion_tokens` as the former is deprecated
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Is this fine?
  pydantic_ai_slim/pydantic_ai/_griffe.py
Due: format, lint, typecheck, replace-py-code-blocks

Add tests
  main.py
  pydantic_ai_slim/pydantic_ai/_griffe.py
  tests/test_tools.py
Due: format, lint, typecheck, replace-py-code-blocks

Add tests
  tests/test_tools.py
Due: format, lint, typecheck, replace-py-code-blocks

Add tests
  tests/models/cassettes/test_openai/test_max_completion_tokens[gpt-4.5-preview].yaml
  tests/models/cassettes/test_openai/test_max_completion_tokens[gpt-4o-mini].yaml
  tests/models/cassettes/test_openai/test_max_completion_tokens[o3-mini].yaml
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Migrate OpenAI models away from `max_tokens` to `max_completion_tokens` (#1206)
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/cassettes/test_openai/test_max_completion_tokens[gpt-4.5-preview].yaml
  tests/models/cassettes/test_openai/test_max_completion_tokens[gpt-4o-mini].yaml
  tests/models/cassettes/test_openai/test_max_completion_tokens[o3-mini].yaml
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Add more tests
  pydantic_ai_slim/pydantic_ai/_griffe.py
  tests/test_tools.py
Due: format, lint, typecheck, replace-py-code-blocks

Add return docstring to the function description (#1207)
  pydantic_ai_slim/pydantic_ai/_griffe.py
  tests/test_tools.py
Due: format, lint, typecheck, replace-py-code-blocks

Add `model_request_parameters` attribute (containing tool definitions) to chat spans (#1177)
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
  tests/models/test_fallback.py
  tests/models/test_instrumented.py
  tests/test_logfire.py
Due: format, lint, typecheck, replace-py-code-blocks

try now
  pydantic_graph/pydantic_graph/_utils.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix loop for 3.11 less
  pydantic_graph/pydantic_graph/_utils.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix implementation
  pydantic_graph/pydantic_graph/_utils.py
  tests/graph/test_utils.py
Due: format, lint, typecheck, replace-py-code-blocks

Use `get_running_loop` instead of `get_event_loop` (#1204)
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_graph/pydantic_graph/_utils.py
  pydantic_graph/pydantic_graph/graph.py
  tests/graph/test_utils.py
Due: format, lint, typecheck, replace-py-code-blocks

Support Thinking part
  main.py
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

Bump dependencies
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Check if minimum is good now
  pydantic_ai_slim/pyproject.toml
Due: none

bump openai
  uv.lock
Due: none

check now
  pydantic_ai_slim/pyproject.toml
Due: none

Bump dependencies (#1202)
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

AI Access Control example doc
  docs/examples/ai-access-control.md
Due: replace-py-code-blocks

Config script
  examples/pydantic_ai_examples/ai-access-control-config.py
Due: format, lint, typecheck, replace-py-code-blocks

Create ai-access-control
  examples/pydantic_ai_examples/ai-access-control
Due: none

Change file suffix
  examples/pydantic_ai_examples/ai-access-control.py
Due: format, lint, typecheck, replace-py-code-blocks

Doc updates
  docs/examples/ai-access-control.md
Due: replace-py-code-blocks

Lint
  examples/pydantic_ai_examples/ai-access-control-config.py
Due: format, lint, typecheck, replace-py-code-blocks

fix CLI
  pydantic_ai_slim/pydantic_ai/_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

Use `pydantic-ai-slim` version on CLI instead of `pydantic-ai` (#1213)
  pydantic_ai_slim/pydantic_ai/_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

add headers, timeout, and sse_read_timeout to MCPServerHTTP
  pydantic_ai_slim/pydantic_ai/mcp.py
  tests/test_mcp.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

add tool name filtering to mcp server implementation
  pydantic_ai_slim/pydantic_ai/mcp.py
  tests/test_mcp.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Update tools.md
  docs/tools.md
Due: replace-py-code-blocks

Add Cohere provider support and refactor CohereModel initialization
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/cohere.py
  tests/models/test_cohere.py
  tests/providers/test_cohere.py
  tests/providers/test_mock_cohere.py
  tests/providers/test_provider_names.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Update Documentation
  docs/models.md
Due: replace-py-code-blocks

Add note about search for issue before opening it
  .github/ISSUE_TEMPLATE/bug.yaml
Due: none

Add note about search for issue before opening it (#1226)
  .github/ISSUE_TEMPLATE/bug.yaml
Due: none

Fix; Refactor CohereProvider to include base_url and update tests
  docs/models.md
  pydantic_ai_slim/pydantic_ai/providers/cohere.py
  tests/providers/test_cohere.py
Due: format, lint, typecheck, replace-py-code-blocks

fix: bedrock documentation had incorrect environment variable to set region
  docs/models.md
Due: replace-py-code-blocks

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
  replace-py-code-blocks: any of: \.py$|\.md$
