Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

replace-py-code-blocks:
  name: Replace ```py with ```python
  entry: "if [[ \"$(uname)\" == \"Darwin\" ]]; then\n  sed -i '' 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nelse\n  sed -i 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nfi\n"
  language: system
  pass_filenames: true

add docu
  .devcontainer/README.md
Due: replace-py-code-blocks

feat: Add Anthropic advanced tool use features
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/builtin_tools.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/tools.py
  pydantic_ai_slim/pydantic_ai/toolsets/function.py
  tests/models/test_anthropic_advanced_tools.py
Due: format, lint, typecheck, replace-py-code-blocks

add pre-commit installation
  .devcontainer/devcontainer.json
Due: none

re-added skip=lint, as i can't make it pass CI otherwise...
  docs/input.md
Due: replace-py-code-blocks

Have `preview = true` only in `[tool.ruff.lint]`
  pyproject.toml
Due: none

Fix type errors and lint issues
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/test_anthropic_advanced_tools.py
Due: format, lint, typecheck, replace-py-code-blocks

Change `# noqa XXX` to `# noqa: XXX` format
  docs/.hooks/snippets.py
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/__init__.py
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  pydantic_evals/pydantic_evals/dataset.py
  pydantic_evals/pydantic_evals/otel/span_tree.py
  pydantic_graph/pydantic_graph/beta/graph.py
  pydantic_graph/pydantic_graph/beta/graph_builder.py
  pydantic_graph/pydantic_graph/beta/mermaid.py
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

basic docu
  .devcontainer/README.md
Due: replace-py-code-blocks

Update inline snapshots for new ToolDefinition fields
  tests/models/test_model_request_parameters.py
  tests/test_logfire.py
  tests/test_tools.py
Due: format, lint, typecheck, replace-py-code-blocks

minimal extensions
  .devcontainer/README.md
  .devcontainer/devcontainer.json
Due: replace-py-code-blocks

Fix the new doc-example test
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

more testing in the CI
  .devcontainer/Dockerfile
  .github/workflows/ci.yml
Due: none

Drop aiohttp connection handling from HuggingFaceModel
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  tests/models/test_huggingface.py
Due: format, lint, typecheck, replace-py-code-blocks

feat: add all duckduckgo search type tools
  docs/common-tools.md
  pydantic_ai_slim/pydantic_ai/common_tools/duckduckgo.py
Due: format, lint, typecheck, replace-py-code-blocks

Add OpenRouter thinking docs
  docs/api/models/openrouter.md
  docs/models/openrouter.md
  docs/thinking.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
  tests/models/test_openrouter.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix `pydantic_graph.beta.GraphRun` `GeneratorExit` handling (#3525)
  pydantic_graph/pydantic_graph/beta/graph.py
  tests/graph/beta/test_graph_execution.py
Due: format, lint, typecheck, replace-py-code-blocks

Ensure `openrouter_reasoning` model setting is sent to API (#3545)
  docs/api/models/openrouter.md
  docs/models/openrouter.md
  docs/thinking.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
  tests/models/test_openrouter.py
Due: format, lint, typecheck, replace-py-code-blocks

Add code comment
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

Allow any str OpenRouter reasoning format
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
Due: format, lint, typecheck, replace-py-code-blocks

add cassette
  tests/cassettes/test_mcp/test_custom_http_client_not_closed.yaml
  tests/test_mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

Add Gemini 3 Pro support to `OpenRouterModel` (#3548)
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
  tests/models/test_openrouter.py
Due: format, lint, typecheck, replace-py-code-blocks

feat: Add Anthropic skills, container, pause_turn handling, and bash code execution block support.
  pydantic_ai_slim/pydantic_ai/builtin_tools.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/test_anthropic_skills.py
Due: format, lint, typecheck, replace-py-code-blocks

more testing in the CI
  .github/workflows/ci.yml
  tests/test_prefect.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix double counting of request tokens in evals
  pydantic_evals/pydantic_evals/dataset.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix failing test
  tests/evals/test_dataset.py
Due: format, lint, typecheck, replace-py-code-blocks

Don't close custom httpx client provided to `MCPServerHTTP` (#3534)
  pydantic_ai_slim/pydantic_ai/mcp.py
  tests/cassettes/test_mcp/test_custom_http_client_not_closed.yaml
  tests/test_mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

better README
  .devcontainer/README.md
Due: replace-py-code-blocks

rephrase README
  .devcontainer/README.md
Due: replace-py-code-blocks

Use `model_name` property in `OpenAIChatModel` chat completion create request (#3543)
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Cursor issue
  .devcontainer/README.md
Due: replace-py-code-blocks

fix linter
  .devcontainer/README.md
Due: replace-py-code-blocks

Fix double counting of request tokens in evals (#3553)
  pydantic_evals/pydantic_evals/dataset.py
  tests/evals/test_dataset.py
Due: format, lint, typecheck, replace-py-code-blocks

Pin huggingface-hub to <1
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

unformat
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
Due: format, lint, typecheck, replace-py-code-blocks

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
  replace-py-code-blocks: any of: \.py$|\.md$
