Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

replace-py-code-blocks:
  name: Replace ```py with ```python
  entry: "if [[ \"$(uname)\" == \"Darwin\" ]]; then\n  sed -i '' 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nelse\n  sed -i 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nfi\n"
  language: system
  pass_filenames: true

Adding a new emphasis style
  docs/extra/tweaks.css
Due: none

Apply emphasis style
  docs/index.md
Due: replace-py-code-blocks

Fix lint
  docs/extra/tweaks.css
Due: none

Factor files so the html is all together
  docs/.partials/index-header.html
  docs/index.md
Due: replace-py-code-blocks

Fix lint
  docs/.partials/index-header.html
Due: none

Prettier file
  docs/.partials/index-header.html
Due: none

first pass - blocks for why use logfire
  docs/extra/tweaks.css
  docs/index.md
  docs/overrides/.icons/logfire/logo.svg
  mkdocs.yml
Due: replace-py-code-blocks

table on agents.md
  docs/agents.md
Due: replace-py-code-blocks

Fix doc error in ollama.md
  docs/api/models/ollama.md
Due: replace-py-code-blocks

fix remaining tests
  tests/test_streaming.py
Due: format, lint, typecheck, replace-py-code-blocks

Streamed response messages (#274)
  pydantic_ai_slim/pydantic_ai/_result.py
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/result.py
  tests/models/test_gemini.py
  tests/models/test_groq.py
  tests/models/test_mistral.py
  tests/test_agent.py
  tests/test_streaming.py
Due: format, lint, typecheck, replace-py-code-blocks

feedback and fix docs build
  README.md
  docs/.partials/index-header.html
  docs/index.md
Due: replace-py-code-blocks

uprev to v0.0.13
  pydantic_ai_examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

disable lightbox on logo
  docs/.partials/index-header.html
Due: none

Fix doc error in ollama.md (#279)
  docs/api/models/ollama.md
Due: replace-py-code-blocks

Alternative intro (#270)
  README.md
  docs/.partials/index-header.html
  docs/extra/tweaks.css
  docs/index.md
Due: replace-py-code-blocks

uprev to v0.0.13 (#280)
  pydantic_ai_examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

docs: fix model name in ollama example
  docs/api/models/ollama.md
Due: replace-py-code-blocks

Update chat_app.py
  pydantic_ai_examples/chat_app.py
Due: format, lint, typecheck, replace-py-code-blocks

docs: fix model name in ollama example (#281)
  docs/api/models/ollama.md
Due: replace-py-code-blocks

just blocks changes
  docs/extra/tweaks.css
  docs/index.md
  test.py
Due: format, lint, typecheck, replace-py-code-blocks

uncomment social
  mkdocs.yml
Due: none

remove test file
  test.py
Due: format, lint, typecheck, replace-py-code-blocks

first round of feedback
  docs/index.md
Due: replace-py-code-blocks

more engaging bullets
  docs/index.md
  mkdocs.yml
Due: replace-py-code-blocks

pr feedback
  docs/index.md
Due: replace-py-code-blocks

Added test on basemodel with required params
  tests/models/test_mistral.py
Due: format, lint, typecheck, replace-py-code-blocks

Updated comments
  pydantic_ai_slim/pydantic_ai/models/mistral.py
Due: format, lint, typecheck, replace-py-code-blocks

Removed json repair and simplify
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

Fix ModelMessage discriminator in chat_app example
  pydantic_ai_examples/chat_app.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix `ModelMessage` discriminator in chat_app example (#402)
  pydantic_ai_examples/chat_app.py
Due: format, lint, typecheck, replace-py-code-blocks

feedback from @summerscope
  docs/index.md
Due: replace-py-code-blocks

Rename Cost to Usage
  docs/api/models/ollama.md
  docs/api/result.md
  docs/results.md
  docs/testing-evals.md
  pydantic_ai_examples/pydantic_model.py
  pydantic_ai_examples/stream_markdown.py
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/test.py
  pydantic_ai_slim/pydantic_ai/result.py
  tests/models/test_anthropic.py
  tests/models/test_gemini.py
  tests/models/test_groq.py
  tests/models/test_mistral.py
  tests/models/test_model_function.py
  tests/models/test_ollama.py
  tests/models/test_openai.py
  tests/test_agent.py
  tests/test_live.py
  tests/test_logfire.py
  tests/test_streaming.py
Due: format, lint, typecheck, replace-py-code-blocks

Improved the json load
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  tests/models/test_mistral.py
Due: format, lint, typecheck, replace-py-code-blocks

close stale questions
  .github/workflows/stale.yml
Due: none

tweak wording
  .github/workflows/stale.yml
Due: none

ignore empty text parts, fix #37
  pydantic_ai_slim/pydantic_ai/agent.py
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

ignore empty text parts (#466)
  pydantic_ai_slim/pydantic_ai/agent.py
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

update time
  .github/workflows/stale.yml
Due: none

close stale questions (#465)
  .github/workflows/stale.yml
Due: none

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
  replace-py-code-blocks: any of: \.py$|\.md$
