Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: replace-py-code-blocks
        name: Replace ```py with ```python
        # first pattern matches ```py <info> and second matches lone ```py<eol>
        entry: |
          if [[ "$(uname)" == "Darwin" ]]; then
            sed -i '' 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          else
            sed -i 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          fi
        language: system
        files: \.py$|\.md$
        pass_filenames: true

up
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Wrap `GoogleModel` `google.genai.errors.APIError` in `ModelHTTPError` so it works with `FallbackModel` (#3139)
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/test_google.py
Due: format, lint, typecheck, replace-py-code-blocks

up
  docs/builtin-tools.md
  tests/models/cassettes/test_anthropic/test_anthropic_mcp_servers_stream.yaml
  tests/models/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

lint
  tests/models/test_google.py
Due: format, lint, typecheck, replace-py-code-blocks

up
  tests/models/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

up
  docs/builtin-tools.md
Due: replace-py-code-blocks

Adding MCP added stock analysis agent
  examples/pydantic_ai_examples/flight_booking_grok.py
  examples/pydantic_ai_examples/stock_analysis_agent.py
  pydantic_ai_slim/pydantic_ai/builtin_tools.py
  pydantic_ai_slim/pydantic_ai/models/grok.py
  tests/models/test_grok.py
Due: format, lint, typecheck, replace-py-code-blocks

Improve support for Gemini 3 Pro Preview (#3464)
  docs/models/google.md
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/profiles/google.py
  pydantic_ai_slim/pyproject.toml
  tests/models/cassettes/test_google/test_google_builtin_tools_with_other_tools.yaml
  tests/models/cassettes/test_google/test_google_native_output_with_builtin_tools_gemini_3.yaml
  tests/models/cassettes/test_google/test_thinking_with_tool_calls_from_other_model.yaml
  tests/models/test_google.py
  tests/models/test_model_names.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Updating docs
  docs/api/models/grok.md
  docs/models/grok.md
Due: replace-py-code-blocks

Set provider response id
  pydantic_ai_slim/pydantic_ai/models/grok.py
  tests/models/test_grok.py
Due: format, lint, typecheck, replace-py-code-blocks

validate strict compatibility
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/profiles/anthropic.py
  pydantic_ai_slim/pydantic_ai/tools.py
  tests/models/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

add another missing cassette
  tests/models/cassettes/test_openai/test_openai_model_usage_limit_exceeded.yaml
Due: none

shorted test string
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Adding reasoning and usage
  examples/pydantic_ai_examples/stock_analysis_agent.py
  pydantic_ai_slim/pydantic_ai/models/grok.py
  tests/models/mock_grok.py
  tests/models/test_grok.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix OpenAIResponsesModel: send blank input when no messages or previous_response_id
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

Update stock analytics agent to stream responses
  examples/pydantic_ai_examples/stock_analysis_agent.py
  tests/models/test_grok.py
Due: format, lint, typecheck, replace-py-code-blocks

Remove new line for tool calls
  examples/pydantic_ai_examples/stock_analysis_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

feat: add cache all and limit cache point in AnthropicModel
  docs/models/anthropic.md
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

fix ci issues
  docs/models/anthropic.md
Due: replace-py-code-blocks

use BetaTextBlockParam and add nocover
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

feat(anthropic): add structured outputs support with JSON schema transformer and strict tool calls
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/profiles/anthropic.py
  tests/models/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

fix stub inconsistencies and duplications
  stubs/mlx/__init__.pyi
  stubs/mlx_lm.pyi
  stubs/transformers/tokenization_utils.pyi
  stubs/vllm/sampling_params.pyi
Due: none

Update doc example to fix test
  docs/mcp/client.md
Due: replace-py-code-blocks

Fix test for docs examples
  docs/mcp/client.md
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Update example to show dynamic instructions
  docs/mcp/client.md
Due: replace-py-code-blocks

Remove mistaken no cover pragma
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Expose mcp server instructions in MCPServer class as a property
  docs/mcp/client.md
  pydantic_ai_slim/pydantic_ai/mcp.py
  tests/test_mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix test for instructions in test_mcp
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix condition to check for _instructions attribute
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

Bedrock: add prompt caching support and verification
  docs/models/bedrock.md
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  tests/models/cassettes/test_bedrock/test_bedrock_cache_point_adds_cache_control.yaml
  tests/models/cassettes/test_bedrock/test_bedrock_cache_write_and_read.yaml
  tests/models/cassettes/test_bedrock/test_bedrock_model_usage_limit_exceeded.yaml
  tests/models/test_bedrock.py
Due: format, lint, typecheck, replace-py-code-blocks

Skip documentation examples from tests
  docs/models/bedrock.md
Due: replace-py-code-blocks

fix: resolve CI test failures for Anthropic strict mode
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

Parametrize `test_bedrock_cache_point_adds_cache_control` to support multiple models
  tests/models/cassettes/test_bedrock/test_bedrock_cache_point_adds_cache_control.yaml
  tests/models/cassettes/test_bedrock/test_bedrock_cache_point_adds_cache_control[claude-sonnet-4-5].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_cache_point_adds_cache_control[nova-lite].yaml
  tests/models/test_bedrock.py
Due: format, lint, typecheck, replace-py-code-blocks

Updated failing tests and flatten logic
  pydantic_ai_slim/pydantic_ai/_json_schema.py
  tests/models/test_openai.py
  tests/test_json_schema_flattener.py
Due: format, lint, typecheck, replace-py-code-blocks

docu for stubs
  stubs/README.md
Due: replace-py-code-blocks

Add 'global' region to Google provider options
  pydantic_ai_slim/pydantic_ai/providers/google.py
Due: format, lint, typecheck, replace-py-code-blocks
