Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

docs: name independent review launch path
  .agents/skills/pushing-commits-to-the-repo/SKILL.md
Due: clai-help

tmp: point harness compat at the compat-honor-floors branch
  .github/workflows/harness-compat.yml
Due: none

fix(cerebras): keep stripping `logit_bias`, forward the rest
  pydantic_ai_slim/pydantic_ai/providers/cerebras.py
  pydantic_ai_slim/pydantic_ai/settings.py
  tests/models/cassettes/test_cerebras/test_cerebras_forwards_settings_the_api_honors.yaml
  tests/models/test_cerebras.py
  tests/profiles/test_resolution_matrix.py
  tests/providers/test_cerebras.py
Due: clai-help, format, lint, typecheck

docs: restore cross-harness pre-push review
  .agents/skills/pre-push-review/SKILL.md
  .agents/skills/pushing-commits-to-the-repo/SKILL.md
  .claude/skills/pre-push-review
Due: clai-help

docs: preserve live review context
  .agents/skills/pushing-commits-to-the-repo/SKILL.md
Due: clai-help

Revert "tmp: point harness compat at the compat-honor-floors branch"
  .github/workflows/harness-compat.yml
Due: none

docs: pre-gather independent review context
  .agents/skills/pre-push-review/SKILL.md
  .agents/skills/pushing-commits-to-the-repo/SKILL.md
  .gitignore
  AGENTS.md
Due: clai-help

docs: scope local review independence
  .agents/skills/pre-push-review/SKILL.md
  .agents/skills/pushing-commits-to-the-repo/SKILL.md
Due: clai-help

fix: don't serve a stale or shut-down exporter from the span-tree cache
  pydantic_evals/pydantic_evals/otel/_context_in_memory_span_exporter.py
  tests/evals/test_otel.py
Due: clai-help, format, lint, typecheck

docs: define local review boundary
  .agents/skills/pushing-commits-to-the-repo/SKILL.md
Due: clai-help

Stop the compat and floor jobs resolving `pydantic-ai` against dependencies it does not support (pydantic/pydantic-ai-harness#659)
  src/pydantic_ai_harness/pyproject.toml
Due: none

docs: clarify shared review authority
  .agents/skills/pre-push-review/SKILL.md
Due: clai-help

fix: key the exporter cache by provider identity and lock the check-then-act
  pydantic_evals/pydantic_evals/otel/_context_in_memory_span_exporter.py
  pydantic_evals/pydantic_evals/otel/_context_subtree.py
  tests/evals/test_otel.py
Due: clai-help, format, lint, typecheck

docs: separate fresh review scopes
  .agents/skills/pushing-commits-to-the-repo/SKILL.md
Due: clai-help

ci: return test matrices to GitHub-hosted runners
  .github/workflows/ci.yml
Due: none

Use `httpx2` for Anthropic clients (#7657)
  .github/scripts/check_http_dependencies.py
  .github/scripts/pydantic-ai-runner.lock
  .github/scripts/pydantic_ai_gh_aw_shim/cli.py
  docs/install.md
  docs/models/anthropic.md
  docs/models/http-request-retries.md
  pydantic_ai_slim/pydantic_ai/_http.py
  pydantic_ai_slim/pydantic_ai/models/_known_model_names.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/providers/anthropic.py
  pydantic_ai_slim/pydantic_ai/providers/gateway.py
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  tests/AGENTS.md
  tests/conftest.py
  tests/models/cassettes/test_anthropic/test_anthropic_sampling_settings_reach_the_wire.yaml
  tests/models/conftest.py
  tests/models/test_anthropic.py
  tests/models/test_model_settings_support.py
  tests/models/test_openrouter.py
  tests/providers/test_gateway.py
  tests/test_capabilities.py
  tests/test_exceptions.py
  tests/test_httpx2_sdk_readiness.py
  tests/test_model_name_suggestions.py
  tests/test_streaming_errors.py
  uv.lock
Due: clai-help, format, lint, typecheck

docs: carry settled review decisions
  .agents/skills/pushing-commits-to-the-repo/SKILL.md
Due: clai-help

docs: fix possessive typo in contribution rules
  docs/contributing.md
Due: clai-help

fix: drop the unreachable `__hash__` from the equal-providers test
  tests/evals/test_otel.py
Due: clai-help, format, lint, typecheck

ci: add a daily canary resolving dependencies at their latest allowed versions
  .github/workflows/latest-versions-canary.yml
Due: none

Preserve an explicit empty `Tool` `description` instead of falling back to the docstring
  pydantic_ai_slim/pydantic_ai/tools.py
  tests/test_agent.py
  tests/test_tools.py
Due: clai-help, format, lint, typecheck

fix: attach to the provider we key on, and cache only after the attach
  pydantic_evals/README.md
  pydantic_evals/pydantic_evals/otel/_context_in_memory_span_exporter.py
  tests/evals/test_otel.py
Due: clai-help, format, lint, typecheck

test: guard the shutdown recovery on the plain `opentelemetry-sdk` path
  pydantic_evals/pydantic_evals/otel/_context_in_memory_span_exporter.py
  tests/evals/test_otel.py
Due: clai-help, format, lint, typecheck

Narrow equal-bound generation fix to inclusive schemas
  pydantic_ai_slim/pydantic_ai/models/test.py
  tests/models/test_model_test.py
Due: clai-help, format, lint, typecheck

Warm the lazy `openai` import before BlockBuster
  tests/conftest.py
Due: clai-help, format, lint, typecheck

Add haiku.rag to third-party capabilities under a new Retrieval & RAG section
  docs/capabilities/third-party.md
Due: clai-help

Simplify deferred metadata ownership tests
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

docs: use canonical MCP transport links
  docs/mcp/client.md
Due: clai-help

Preserve metadata for unresolved deferred requests
  pydantic_ai_slim/pydantic_ai/_deferred.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Simplify enum reference regression coverage
  pydantic_ai_slim/pydantic_ai/function_signature.py
  tests/test_function_signature.py
Due: clai-help, format, lint, typecheck

Simplify Bedrock guardrail trace coverage
  tests/models/test_bedrock.py
Due: clai-help, format, lint, typecheck

Simplify empty tool description regression test
  tests/test_agent.py
  tests/test_tools.py
Due: clai-help, format, lint, typecheck

Fix dead MCP spec links in MCP client docs (#7220)
  docs/mcp/client.md
Due: clai-help

Fix pending-message drain dropping a concurrent worker-thread enqueue
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/capabilities/_pending_messages.py
  pydantic_ai_slim/pydantic_ai/run.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Filter cross-category deferred handler results
  pydantic_ai_slim/pydantic_ai/_deferred.py
  pydantic_ai_slim/pydantic_ai/tool_manager.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Fix stale `UIEventStream` part state on cancellation
  pydantic_ai_slim/pydantic_ai/ui/_event_stream.py
  tests/test_ui.py
Due: clai-help, format, lint, typecheck

fix(ag-ui): emit TEXT_MESSAGE_START before tool-only TOOL_CALL_START
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_event_stream.py
  tests/test_ag_ui.py
Due: clai-help, format, lint, typecheck

Scope the Code Execution Tool docs table to the OpenAI Responses API (#7522)
  docs/native-tools.md
Due: clai-help

Address `UIEventStream` cleanup review feedback
  pydantic_ai_slim/pydantic_ai/ui/_event_stream.py
  tests/test_ui.py
Due: clai-help, format, lint, typecheck

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
