Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

fix(zai): align `merge_profile` order, doc `ZaiModelProfile`, verify preserved-thinking round-trip
  docs/api/profiles.md
  pydantic_ai_slim/pydantic_ai/providers/zai.py
  tests/models/cassettes/test_zai/test_zai_preserved_thinking_round_trip.yaml
  tests/models/test_zai.py
  tests/providers/test_zai.py
Due: clai-help, format, lint, typecheck

fix(openai-responses): drop stray post-done function-call args delta (#5757)
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai_responses.py
Due: clai-help, format, lint, typecheck

fix(openai-responses): inject tool_search when defer_loading tool present
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai_responses.py
Due: clai-help, format, lint, typecheck

Add FAQ on deferred tools, tool search, and prompt caching
  docs/faq.md
  docs/nav.json
Due: clai-help

test: use running loop for tenacity timing
  tests/test_tenacity.py
Due: clai-help, format, lint, typecheck

fix(bedrock): split tool results from attachment user messages
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  tests/models/test_bedrock.py
Due: clai-help, format, lint, typecheck

Add faq.md to mkdocs nav so the FAQ page is reachable
  mkdocs.yml
Due: none

style(bedrock): apply ruff format to bedrock regression test
  tests/models/test_bedrock.py
Due: clai-help, format, lint, typecheck

Forward image `detail` from `vendor_metadata` for `MistralModel` too
  docs/input.md
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  tests/models/test_mistral.py
Due: clai-help, format, lint, typecheck

Preserve BinaryContent.vendor_metadata through AG-UI FilePart round-trip
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
  tests/test_ag_ui.py
Due: clai-help, format, lint, typecheck

test(zai): record multi-turn preserved-thinking round-trip against the live API
  tests/models/cassettes/test_zai/test_zai_preserved_thinking_roundtrip.yaml
  tests/models/test_zai.py
Due: clai-help, format, lint, typecheck

test(zai): drop duplicate preserved-thinking round-trip test
  tests/models/cassettes/test_zai/test_zai_preserved_thinking_roundtrip.yaml
  tests/models/test_zai.py
Due: clai-help, format, lint, typecheck

test(utils): assert non-emscripten default via behavior, not private API
  tests/test_utils.py
Due: clai-help, format, lint, typecheck

fix(utils): run sync callbacks inline on Pyodide/emscripten by default
  pydantic_ai_slim/pydantic_ai/_utils.py
  tests/test_utils.py
Due: clai-help, format, lint, typecheck

Suggest passing an explicit `name` to `Agent` for better Logfire observability
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/SKILL.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/AGENTS-CORE.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/TESTING-AND-DEBUGGING.md
Due: clai-help

Pass an explicit `name` in all skill `Agent` examples
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/SKILL.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/AGENTS-CORE.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/CAPABILITIES-AND-HOOKS.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/INPUT-AND-HISTORY.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/NATIVE-TOOLS.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/ON-DEMAND-CAPABILITIES.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/ORCHESTRATION-AND-INTEGRATIONS.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/TESTING-AND-DEBUGGING.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/TOOLS-ADVANCED.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/TOOLS-CORE.md
Due: clai-help

docs: recommend passing an explicit `name` to `Agent` for Logfire observability
  docs/logfire.md
  docs/multi-agent-applications.md
Due: clai-help

Correct and simplify the `name` observability guidance
  docs/logfire.md
  docs/multi-agent-applications.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/SKILL.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/AGENTS-CORE.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/TESTING-AND-DEBUGGING.md
Due: clai-help

Handle CRLF markdown JSON fences
  pydantic_ai_slim/pydantic_ai/_utils.py
  tests/test_utils.py
Due: clai-help, format, lint, typecheck

fix: allow RetryPromptPart.content to accept incomplete ErrorDetails (closes #5987)
  examples/pydantic_ai_examples/chat_app.py
Due: clai-help, format, lint, typecheck

fix(dbos,prefect): preserve runtime event stream handlers
  PR_SUMMARY.md
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_agent.py
  tests/test_dbos.py
  tests/test_prefect.py
Due: clai-help, format, lint, typecheck

chore: remove PR summary draft from tracked files
  PR_SUMMARY.md
Due: clai-help

fix(dbos,prefect): avoid rebuilding models for default handlers
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_agent.py
Due: clai-help, format, lint, typecheck

Preserve FilePart vendor_metadata in AG-UI adapter round-trip
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
  tests/test_ag_ui.py
Due: clai-help, format, lint, typecheck

Adding AgentSpec support for model swapping
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
  pydantic_ai_slim/pydantic_ai/managed/logfire.py
  tests/test_managed.py
Due: clai-help, format, lint, typecheck

Declare vendor_metadata in FileActivityContent schema
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_utils.py
Due: clai-help, format, lint, typecheck

fix(google): enable include_server_side_tool_invocations for CodeExecutionTool
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/test_tool_choice_unit.py
Due: clai-help, format, lint, typecheck

fix TestModel provider name on sync responses
  pydantic_ai_slim/pydantic_ai/models/test.py
  tests/test_agent.py
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

test: update TestModel provider snapshots
  tests/models/test_model_function.py
  tests/models/test_model_test.py
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

test(utils): move imports to module top per review feedback
  tests/test_utils.py
Due: clai-help, format, lint, typecheck

test: update remaining TestModel provider snapshots
  tests/test_capabilities.py
  tests/test_deps.py
  tests/test_direct.py
  tests/test_temporal.py
  tests/test_tools.py
  tests/test_toolsets.py
  tests/test_usage_limits.py
  tests/test_validation_context.py
Due: clai-help, format, lint, typecheck

Add `TypeAdapter` for `EvaluatorContext` (#3373)
  docs/evals/online-evaluation.md
  pydantic_evals/pydantic_evals/otel/_errors.py
  tests/evals/test_evaluator_context.py
Due: clai-help, format, lint, typecheck

Add a public Logfire trace to the deferred-tools/caching FAQ
  docs/faq.md
Due: clai-help

test: update docs TestModel provider expectation
  docs/testing.md
Due: clai-help

fix(tests): sort imports in test_utils for ruff I001
  tests/test_utils.py
Due: clai-help, format, lint, typecheck

fix(bedrock): prevent Converse ValidationException on consecutive tool_result and media attachment turns
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  tests/models/test_bedrock.py
Due: clai-help, format, lint, typecheck

docs: fix Join.as_node docstring referencing StepNode instead of JoinNode
  pydantic_graph/pydantic_graph/join.py
Due: clai-help, format, lint, typecheck

feat(cohere): implement request_stream / CohereStreamedResponse
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  tests/models/test_cohere.py
Due: clai-help, format, lint, typecheck

docs: add Temporal installation instructions
  docs/durable_execution/temporal.md
Due: clai-help
