Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

Use `get_type_hints()` in `function_schema()` (#3693)
  pydantic_ai_slim/pydantic_ai/_function_schema.py
Due: clai-help, format, lint, typecheck

fix merge
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: clai-help, format, lint, typecheck

docs: fix plural examples typo (#4046)
  docs/examples/setup.md
Due: clai-help

docs: escape quote to fix formatting in "Advanced Tool Features" (#4034)
  docs/tools-advanced.md
Due: clai-help

Fix Gemini ignoring user prompt when continuing conversation that ended on structured output (#3996)
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck

refactor: Simplify timeout code and tests per review feedback
  pydantic_ai_slim/pydantic_ai/providers/google.py
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck

VoyageAI embeddings support (#3856)
  docs/api/embeddings.md
  docs/api/providers.md
  docs/embeddings.md
  pydantic_ai_slim/pydantic_ai/embeddings/__init__.py
  pydantic_ai_slim/pydantic_ai/embeddings/cohere.py
  pydantic_ai_slim/pydantic_ai/embeddings/settings.py
  pydantic_ai_slim/pydantic_ai/embeddings/voyageai.py
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/voyageai.py
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  tests/cassettes/test_embeddings/TestCohere.test_query_with_cohere_truncate.yaml
  tests/cassettes/test_embeddings/TestCohere.test_query_with_truncate.yaml
  tests/cassettes/test_embeddings/TestVoyageAI.test_documents.yaml
  tests/cassettes/test_embeddings/TestVoyageAI.test_embed_error.yaml
  tests/cassettes/test_embeddings/TestVoyageAI.test_query.yaml
  tests/cassettes/test_embeddings/TestVoyageAI.test_query_voyage_4.yaml
  tests/cassettes/test_embeddings/TestVoyageAI.test_query_with_truncate.yaml
  tests/cassettes/test_embeddings/TestVoyageAI.test_query_with_voyageai_input_type.yaml
  tests/conftest.py
  tests/providers/test_voyageai.py
  tests/test_embeddings.py
  tests/test_examples.py
  uv.lock
Due: clai-help, format, lint, typecheck

fix(google): Set timeout in `HttpOptions` to prevent requests hanging indefinitely (#4032)
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/google.py
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck

requeted changes
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

bump
  uv.lock
Due: none

bug: Fix gateway snippet auto-generation for google-gla shorthand
  docs/.hooks/main.py
Due: clai-help, format, lint, typecheck

Add some references to logfire where helpful in the docs
  docs/agents.md
  docs/multi-agent-applications.md
  docs/retries.md
  docs/tools.md
Due: clai-help

Address comments, including making cassette version 1
  pydantic_ai_slim/pydantic_ai/models/xai.py
  tests/models/cassettes/test_xai/test_xai_builtin_code_execution_tool.xai.yaml
  tests/models/cassettes/test_xai/test_xai_builtin_code_execution_tool_stream.xai.yaml
  tests/models/cassettes/test_xai/test_xai_builtin_mcp_server_tool.xai.yaml
  tests/models/cassettes/test_xai/test_xai_builtin_mcp_server_tool_stream.xai.yaml
  tests/models/cassettes/test_xai/test_xai_builtin_multiple_tools.xai.yaml
  tests/models/cassettes/test_xai/test_xai_builtin_tools_with_custom_tools.xai.yaml
  tests/models/cassettes/test_xai/test_xai_builtin_web_search_tool.xai.yaml
  tests/models/cassettes/test_xai/test_xai_builtin_web_search_tool_stream.xai.yaml
  tests/models/cassettes/test_xai/test_xai_image_as_binary_content_input.xai.yaml
  tests/models/cassettes/test_xai/test_xai_image_as_binary_content_tool_response.xai.yaml
  tests/models/cassettes/test_xai/test_xai_image_url_tool_response.xai.yaml
  tests/models/cassettes/test_xai/test_xai_instructions.xai.yaml
  tests/models/cassettes/test_xai/test_xai_request_structured_response_native_output.xai.yaml
  tests/models/cassettes/test_xai/test_xai_request_structured_response_tool_output.xai.yaml
  tests/models/cassettes/test_xai/test_xai_request_tool_call.xai.yaml
  tests/models/cassettes/test_xai/test_xai_stream_events_with_reasoning.xai.yaml
  tests/models/cassettes/test_xai/test_xai_system_prompt.xai.yaml
  tests/models/test_xai.py
  tests/models/xai_proto_cassettes.py
Due: clai-help, format, lint, typecheck

Edit copy
  docs/agents.md
  docs/multi-agent-applications.md
  docs/retries.md
  docs/tools.md
Due: clai-help

test: use snapshot assertion for web search tool allowed domains test
  tests/models/cassettes/test_openai_responses/test_openai_responses_model_web_search_tool_with_allowed_domains.yaml
  tests/models/test_openai_responses.py
Due: clai-help, format, lint, typecheck

docs: Update docos and move token counting to relevant section
  docs/embeddings.md
Due: clai-help

chore: bump genai-prices (#4057)
  uv.lock
Due: none

feat(openai): implement field-based reasoning round-tripping
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: clai-help, format, lint, typecheck

feat(models): standardize ThinkingPart.id across providers
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
Due: clai-help, format, lint, typecheck

test(openai): add round-trip verification for reasoning fields
  tests/models/test_openai.py
Due: clai-help, format, lint, typecheck

bug: Fix gateway snippet auto-generation for the `google-gla` shorthand (#4058)
  docs/.hooks/main.py
Due: clai-help, format, lint, typecheck

Moving json_body_serializer to pydantic_ai.testing module
  docs/install.md
  pydantic_ai_slim/pydantic_ai/testing/__init__.py
  pydantic_ai_slim/pydantic_ai/testing/json_body_serializer.py
  pydantic_ai_slim/pyproject.toml
  tests/conftest.py
  tests/testing/__init__.py
  tests/testing/test_json_body_serializer.py
  uv.lock
Due: clai-help, format, lint, typecheck

refactor: Enhance Titan embedding handler with v1 warnings and v2 defaults for normalization
  pydantic_ai_slim/pydantic_ai/embeddings/bedrock.py
  tests/cassettes/test_embeddings/TestBedrock.test_titan_minimal.yaml
  tests/cassettes/test_embeddings/TestBedrock.test_titan_multiple_texts.yaml
  tests/cassettes/test_embeddings/TestBedrock.test_titan_with_dimensions.yaml
  tests/cassettes/test_embeddings/TestBedrock.test_titan_with_normalize.yaml
  tests/test_embeddings.py
Due: clai-help, format, lint, typecheck

test: update snapshots and fix linting for reasoning roundtripping
  tests/models/test_anthropic.py
  tests/models/test_groq.py
  tests/models/test_mistral.py
  tests/models/test_openai.py
Due: clai-help, format, lint, typecheck

docs: include implementation analysis in PR
  implementation-analysis.md
Due: clai-help

docs: stop tracking implementation-analysis.md
  implementation-analysis.md
Due: clai-help

Address PR review: move enable_tool_approval to Vercel-specific classes
  pydantic_ai_slim/pydantic_ai/ui/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/_event_stream.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_event_stream.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

fix(openai): improve type safety for reasoning fields
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: clai-help, format, lint, typecheck

style(openai): reformat with ruff
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: clai-help, format, lint, typecheck

Fix test snapshot: remove run_id from first request/response pair
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Standardize ThinkingPart IDs across providers and add cross-provider mapping in OpenAI
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_bedrock.py
  tests/models/test_gemini.py
  tests/models/test_google.py
  tests/models/test_openai.py
Due: clai-help, format, lint, typecheck

Fix test snapshot and import ordering
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Improving typing and exports for testing module
  pydantic_ai_slim/pydantic_ai/testing/__init__.py
  pydantic_ai_slim/pydantic_ai/testing/json_body_serializer.py
Due: clai-help, format, lint, typecheck
