Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

Revert "Remove the README capability matrix (pydantic/pydantic-ai-harness#461)" (pydantic/pydantic-ai-harness#462)
  src/pydantic_ai_harness/README.md
  src/pydantic_ai_harness/agent_docs/review-checklist.md
  tests/harness/test_docs_parity.py
Due: clai-help, format, lint, typecheck

Prepare MCP integration for FastMCP 4
  pydantic_ai_slim/pydantic_ai/_mcp.py
  pydantic_ai_slim/pydantic_ai/_mcp_compat.py
  pydantic_ai_slim/pydantic_ai/mcp.py
  tests/models/test_mcp_sampling.py
  tests/test_mcp.py
Due: clai-help, format, lint, typecheck

fix: address review feedback — asctime retry_after, import guards, and header assertions
  pydantic_ai_slim/pydantic_ai/exceptions.py
  tests/models/test_cohere.py
  tests/models/test_huggingface.py
  tests/models/test_mistral.py
  tests/test_embeddings.py
  tests/test_exceptions.py
Due: clai-help, format, lint, typecheck

fix: remove unnecessary type: ignore on APIError.response assignment
  tests/test_embeddings.py
Due: clai-help, format, lint, typecheck

Add configurable `max_retries` to `ToolSearchToolset`
  pydantic_ai_slim/pydantic_ai/toolsets/_tool_search.py
  tests/test_tool_search.py
Due: clai-help, format, lint, typecheck

Add Agent Skills as deferred capabilities (pydantic/pydantic-ai-harness#396)
  docs/harness/index.md
  docs/harness/skills.md
  src/pydantic_ai_harness/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/skills/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/skills/__init__.py
  src/pydantic_ai_harness/pydantic_ai_harness/skills/_capability.py
  src/pydantic_ai_harness/pydantic_ai_harness/skills/_loader.py
  src/pydantic_ai_harness/pyproject.toml
  tests/harness/skills/test_skills.py
  tests/harness/test_docs_parity.py
Due: clai-help, format, lint, typecheck

Fix `_openrouter_settings_to_openai_settings` mutating caller's settings dict
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
  tests/models/test_openrouter.py
Due: clai-help, format, lint, typecheck

Fix OpenRouterModelSettings TypedDict access in test to satisfy Pyright
  tests/models/test_openrouter.py
Due: clai-help, format, lint, typecheck

Add `InceptionProvider` for Inception Labs Mercury models
  README.md
  docs/api/providers.md
  docs/index.md
  docs/models/openai.md
  docs/models/overview.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/ARCHITECTURE.md
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/_known_model_names.py
  pydantic_ai_slim/pydantic_ai/profiles/inception.py
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/inception.py
  tests/models/test_model_names.py
  tests/profiles/test_resolution_matrix.py
  tests/providers/test_inception.py
  tests/providers/test_provider_names.py
  tests/test_agent.py
  tests/test_capabilities.py
  tests/test_cli.py
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

Keep Agent Skills loadable even with descriptions more than characters limit (pydantic/pydantic-ai-harness#466)
  docs/harness/skills.md
  src/pydantic_ai_harness/pydantic_ai_harness/skills/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/skills/_capability.py
  src/pydantic_ai_harness/pydantic_ai_harness/skills/_loader.py
  tests/harness/skills/test_skills.py
Due: clai-help, format, lint, typecheck

Bump Pydantic AI to 2.18.0 (pydantic/pydantic-ai-harness#472)
  docs/harness/index.md
  src/pydantic_ai_harness/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/.agents/skills/pydantic-ai-harness/SKILL.md
  src/pydantic_ai_harness/pyproject.toml
Due: clai-help

fix(openai): don't mutate reused settings when dropping reasoning-incompatible params
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai.py
Due: clai-help, format, lint, typecheck

Add `nimble_search_tool` common tool
  docs/api/common_tools.md
  docs/common-tools.md
  docs/install.md
  pydantic_ai_slim/pydantic_ai/common_tools/nimble.py
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  tests/cassettes/test_nimble/test_agent_calls_nimble_search.yaml
  tests/cassettes/test_nimble/test_basic_search.yaml
  tests/cassettes/test_nimble/test_factory_with_bound_params.yaml
  tests/cassettes/test_nimble/test_search_with_exclude_domains.yaml
  tests/cassettes/test_nimble/test_search_with_include_domains.yaml
  tests/cassettes/test_nimble/test_search_with_search_depth.yaml
  tests/cassettes/test_nimble/test_search_with_time_range.yaml
  tests/conftest.py
  tests/test_examples.py
  tests/test_nimble.py
  uv.lock
Due: clai-help, format, lint, typecheck

Expand Nimble common tools beyond search
  docs/common-tools.md
  docs/install.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/COMMON-TASKS.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/TOOLS-CORE.md
  pydantic_ai_slim/pydantic_ai/common_tools/nimble.py
  tests/test_nimble.py
Due: clai-help, format, lint, typecheck

Capture Anthropic thinking tokens in usage details
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/test_anthropic.py
Due: clai-help, format, lint, typecheck

Simplify usage serialization
  pydantic_ai_slim/pydantic_ai/usage.py
  tests/test_usage_limits.py
Due: clai-help, format, lint, typecheck

Serialize empty usage extras normally
  pydantic_ai_slim/pydantic_ai/usage.py
  tests/test_messages.py
Due: clai-help, format, lint, typecheck

Update empty usage serialization snapshots
  tests/test_agent.py
  tests/test_messages.py
Due: clai-help, format, lint, typecheck

Trim usage serialization tests
  tests/test_usage_limits.py
Due: clai-help, format, lint, typecheck

Update content filter usage snapshots
  tests/models/test_google.py
  tests/models/test_openai.py
Due: clai-help, format, lint, typecheck

Cover usage serialization filters
  tests/test_usage_limits.py
Due: clai-help, format, lint, typecheck

Record live Azure cassettes for the `reasoning.context` default
  tests/conftest.py
  tests/models/cassettes/test_openai_responses/test_azure_responses_reasoning_context_default_wire_contract[gpt-5.4].yaml
  tests/models/cassettes/test_openai_responses/test_azure_responses_reasoning_context_default_wire_contract[gpt-5.5].yaml
  tests/models/cassettes/test_openai_responses/test_azure_responses_reasoning_context_default_wire_contract[gpt-5.6-sol].yaml
  tests/models/test_openai_responses.py
Due: clai-help, format, lint, typecheck

Add `openai_responses_supports_reasoning_context` to the Mantle profile snapshot
  tests/providers/test_bedrock_mantle.py
Due: clai-help, format, lint, typecheck

Drop `httpx` compat shims from the `httpx2` migration
  pydantic_ai_slim/pydantic_ai/_ssrf.py
  pydantic_ai_slim/pydantic_ai/common_tools/web_fetch.py
  pyproject.toml
  tests/_vcr_httpcore2_compat.py
  tests/conftest.py
  tests/test_httpx2_sdk_readiness.py
  tests/test_ssrf.py
  tests/test_web_fetch.py
  uv.lock
Due: clai-help, format, lint, typecheck

Fetch the chat UI HTML with `httpx2`
  pydantic_ai_slim/pydantic_ai/ui/_web/app.py
  tests/test_ui_web.py
Due: clai-help, format, lint, typecheck

Drop `httpx` from `pydantic-ai-slim`'s required dependencies
  docs/install.md
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/test.py
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pydantic_ai/settings.py
  pydantic_ai_slim/pyproject.toml
  tests/test_httpx2_sdk_readiness.py
  tests/test_streaming.py
  uv.lock
Due: clai-help, format, lint, typecheck

Type the MCP SDK v1/v2 compat readers and drop private-API reach-ins
  pydantic_ai_slim/pydantic_ai/_mcp.py
  pydantic_ai_slim/pydantic_ai/_mcp_compat.py
  pydantic_ai_slim/pydantic_ai/mcp.py
  tests/test_mcp.py
Due: clai-help, format, lint, typecheck

Add `httpx` to the dev dependency group
  pyproject.toml
  uv.lock
Due: none

Recover two coverage branches that don't need the SDK v2 path
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: clai-help, format, lint, typecheck

Accept multimodal inputs in `Embedder`
  docs/api/embeddings.md
  docs/embeddings.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/embeddings/__init__.py
  pydantic_ai_slim/pydantic_ai/embeddings/base.py
  pydantic_ai_slim/pydantic_ai/embeddings/bedrock.py
  pydantic_ai_slim/pydantic_ai/embeddings/cohere.py
  pydantic_ai_slim/pydantic_ai/embeddings/google.py
  pydantic_ai_slim/pydantic_ai/embeddings/input.py
  pydantic_ai_slim/pydantic_ai/embeddings/instrumented.py
  pydantic_ai_slim/pydantic_ai/embeddings/openai.py
  pydantic_ai_slim/pydantic_ai/embeddings/result.py
  pydantic_ai_slim/pydantic_ai/embeddings/sentence_transformers.py
  pydantic_ai_slim/pydantic_ai/embeddings/test.py
  pydantic_ai_slim/pydantic_ai/embeddings/voyageai.py
  pydantic_ai_slim/pydantic_ai/embeddings/wrapper.py
  tests/cassettes/test_embeddings_multimodal/test_google_multimodal[batch-text-and-image-url].yaml
  tests/cassettes/test_embeddings_multimodal/test_google_multimodal[image-only].yaml
  tests/cassettes/test_embeddings_multimodal/test_google_multimodal[text-and-image-combined].yaml
  tests/test_embeddings_multimodal.py
Due: clai-help, format, lint, typecheck

Keep the `httpx` annotations resolvable at runtime
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pydantic_ai/settings.py
  tests/test_httpx2_sdk_readiness.py
Due: clai-help, format, lint, typecheck

Add `headers` and `retry_after` to `ModelHTTPError`, populate from all provider SDKs [murmur:murmur-workspace/modelhttperror-headers] (#6733)
  docs/models/overview.md
  pydantic_ai_slim/pydantic_ai/embeddings/bedrock.py
  pydantic_ai_slim/pydantic_ai/embeddings/cohere.py
  pydantic_ai_slim/pydantic_ai/embeddings/google.py
  pydantic_ai_slim/pydantic_ai/embeddings/openai.py
  pydantic_ai_slim/pydantic_ai/exceptions.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_cohere.py
  tests/models/test_huggingface.py
  tests/models/test_mistral.py
  tests/test_embeddings.py
  tests/test_exceptions.py
Due: clai-help, format, lint, typecheck

Preserve input identity and guard media-type inference
  docs/embeddings.md
  pydantic_ai_slim/pydantic_ai/embeddings/base.py
  pydantic_ai_slim/pydantic_ai/embeddings/bedrock.py
  pydantic_ai_slim/pydantic_ai/embeddings/cohere.py
  pydantic_ai_slim/pydantic_ai/embeddings/google.py
  pydantic_ai_slim/pydantic_ai/embeddings/instrumented.py
  pydantic_ai_slim/pydantic_ai/embeddings/openai.py
  pydantic_ai_slim/pydantic_ai/embeddings/sentence_transformers.py
  pydantic_ai_slim/pydantic_ai/embeddings/voyageai.py
  tests/test_embeddings_multimodal.py
Due: clai-help, format, lint, typecheck

Cover the MCP SDK v2 branches instead of leaving them unreached
  pydantic_ai_slim/pydantic_ai/_mcp.py
  pydantic_ai_slim/pydantic_ai/_mcp_compat.py
  pydantic_ai_slim/pydantic_ai/mcp.py
  tests/models/test_mcp_sampling.py
  tests/test_mcp.py
Due: clai-help, format, lint, typecheck

Fix and exercise the custom embedding model example
  docs/embeddings.md
Due: clai-help

Improve wording and example model in ModelHTTPError docs
  docs/models/overview.md
Due: clai-help

Teach PR-monitoring agents when to apply the `auto-review` label
  .agents/skills/pushing-commits-to-the-repo/SKILL.md
  AGENTS.md
Due: clai-help

Improve wording and example model in `ModelHTTPError` docs (#6756)
  docs/models/overview.md
Due: clai-help

Use Ubicloud runners for CI on push and tag runs
  .github/workflows/ci.yml
Due: none

Give PR-bot checks descriptive names and document the reviewer roles
  .github/workflows/AGENTS.md
  .github/workflows/bots.yml
  .github/workflows/docs-preview.yml
  .github/workflows/pr-guard.yml
Due: clai-help

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
