Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

replace-py-code-blocks:
  name: Replace ```py with ```python
  entry: "if [[ \"$(uname)\" == \"Darwin\" ]]; then\n  sed -i '' 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nelse\n  sed -i 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nfi\n"
  language: system
  pass_filenames: true

fix cache
  .github/workflows/ci.yml
Due: none

fix for lint
  .github/workflows/ci.yml
Due: none

fix
  .github/workflows/ci.yml
Due: none

Fix otel import
  pydantic_graph/pydantic_graph/graph.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix ImportError when opentelemetry is not installed (#1773)
  pydantic_graph/pydantic_graph/graph.py
Due: format, lint, typecheck, replace-py-code-blocks

Set COLUMNS env var for cli tests (#1762)
  tests/test_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix light/dark mode documentation toggle (#1760)
  mkdocs.yml
Due: none

Update pydantic_ai_slim/pydantic_ai/mcp.py
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

feat: detect rename case
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_tools.py
Due: format, lint, typecheck, replace-py-code-blocks

fix: fixed type
  pydantic_ai_slim/pydantic_ai/models/gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

fix: removed unnecessary tab
  pydantic_ai_slim/pydantic_ai/messages.py
Due: format, lint, typecheck, replace-py-code-blocks

feat: added id and finish reason to Model Response and gemini
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

fix: handle list correctly
  pydantic_ai_slim/pydantic_ai/models/gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

fix: added default to correct typechecking
  pydantic_ai_slim/pydantic_ai/models/gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

fix: linted
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

fix: default empty list
  pydantic_ai_slim/pydantic_ai/messages.py
Due: format, lint, typecheck, replace-py-code-blocks

Add all licenses.
  clai/LICENSE
  examples/LICENSE
  fasta2a/LICENSE
  mcp-run-python/LICENSE
  pydantic_ai_slim/LICENSE
  pydantic_evals/LICENSE
  pydantic_graph/LICENSE
Due: none

chore: rebased on upstream
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

Use tuple instead of [1]
  tests/test_messages.py
Due: format, lint, typecheck, replace-py-code-blocks

Add `make test-fast` with `xdist` for local development (#1768)
  Makefile
  pydantic_ai_slim/pyproject.toml
  tests/test_cli.py
  tests/test_examples.py
  tests/test_messages.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

pass tests
  docs/models/google.md
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

finish documentation
  docs/.cursor/rules.mdc
  docs/models/google.md
Due: replace-py-code-blocks

Add licenses to all packages (#1775)
  clai/LICENSE
  examples/LICENSE
  fasta2a/LICENSE
  mcp-run-python/LICENSE
  pydantic_ai_slim/LICENSE
  pydantic_evals/LICENSE
  pydantic_graph/LICENSE
Due: none

docs passing
  docs/models/google.md
Due: replace-py-code-blocks

fix: update token count keys for consistency and backwards compatibility
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  tests/models/test_gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

Add OpenRouter provider
  docs/models/openai.md
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/openrouter.py
  tests/conftest.py
  tests/providers/cassettes/test_openrouter/test_openrouter_with_google_model.yaml
  tests/providers/test_openrouter.py
  tests/providers/test_provider_names.py
Due: format, lint, typecheck, replace-py-code-blocks

coverage
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/providers/google.py
  tests/models/test_google.py
Due: format, lint, typecheck, replace-py-code-blocks

Add OpenRouter provider (#1778)
  docs/models/openai.md
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/openrouter.py
  tests/conftest.py
  tests/providers/cassettes/test_openrouter/test_openrouter_with_google_model.yaml
  tests/providers/test_openrouter.py
  tests/providers/test_provider_names.py
Due: format, lint, typecheck, replace-py-code-blocks

Add Google GenAI provider (#1751)
  .github/workflows/ci.yml
  docs/.cursor/rules.mdc
  docs/api/models/google.md
  docs/api/providers.md
  docs/models/gemini.md
  docs/models/google.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/providers/google.py
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  tests/models/cassettes/test_google/test_google_model.yaml
  tests/models/cassettes/test_google/test_google_model_document_url_input.yaml
  tests/models/cassettes/test_google/test_google_model_image_as_binary_content_input.yaml
  tests/models/cassettes/test_google/test_google_model_image_url_input.yaml
  tests/models/cassettes/test_google/test_google_model_instructions.yaml
  tests/models/cassettes/test_google/test_google_model_iter_stream.yaml
  tests/models/cassettes/test_google/test_google_model_max_tokens.yaml
  tests/models/cassettes/test_google/test_google_model_multiple_documents_in_history.yaml
  tests/models/cassettes/test_google/test_google_model_retry.yaml
  tests/models/cassettes/test_google/test_google_model_safety_settings.yaml
  tests/models/cassettes/test_google/test_google_model_stream.yaml
  tests/models/cassettes/test_google/test_google_model_structured_response.yaml
  tests/models/cassettes/test_google/test_google_model_text_as_binary_content_input.yaml
  tests/models/cassettes/test_google/test_google_model_text_document_url_input.yaml
  tests/models/cassettes/test_google/test_google_model_thinking_config.yaml
  tests/models/cassettes/test_google/test_google_model_top_p.yaml
  tests/models/cassettes/test_google/test_google_model_vertex_provider.yaml
  tests/models/cassettes/test_google/test_google_model_video_as_binary_content_input.yaml
  tests/models/cassettes/test_google/test_google_model_video_url_input.yaml
  tests/models/test_google.py
  tests/test_examples.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

docs: disable thinking config
  docs/models/gemini.md
  docs/models/google.md
  pydantic_ai_slim/pydantic_ai/_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

docs: disable thinking config (#1779)
  docs/models/gemini.md
  docs/models/google.md
  pydantic_ai_slim/pydantic_ai/_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

Update docs/tools.md
  docs/tools.md
Due: replace-py-code-blocks

Add prepare_tools param to Agent class (#1474)
  docs/tools.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/tools.py
  tests/test_tools.py
Due: format, lint, typecheck, replace-py-code-blocks

fix: remove forgotten print on `GoogleModel`
  pydantic_ai_slim/pydantic_ai/models/google.py
Due: format, lint, typecheck, replace-py-code-blocks

fix: remove forgotten print on `GoogleModel` (#1780)
  pydantic_ai_slim/pydantic_ai/models/google.py
Due: format, lint, typecheck, replace-py-code-blocks

fasta2a: be more strict on agent card
  fasta2a/fasta2a/applications.py
  fasta2a/fasta2a/schema.py
  tests/fasta2a/test_applications.py
Due: format, lint, typecheck, replace-py-code-blocks

skip if
  tests/fasta2a/test_applications.py
Due: format, lint, typecheck, replace-py-code-blocks

Output handling refactoring borrowed from output_mode PR
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/result.py
  pydantic_ai_slim/pydantic_ai/tools.py
Due: format, lint, typecheck, replace-py-code-blocks

docs: use the correct URL for the `google-genai` package
  docs/models/google.md
Due: replace-py-code-blocks

Support functions as output_type, as well as lists of functions and other types
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/result.py
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
  replace-py-code-blocks: any of: \.py$|\.md$
