Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

refactor: rename sandbox hooks to `create_sandbox`/`get_sandbox`/`destroy_sandbox` and fix durable resolution
  docs/capabilities/custom.md
  docs/sandbox.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/SANDBOXES.md
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
  pydantic_ai_slim/pydantic_ai/capabilities/combined.py
  pydantic_ai_slim/pydantic_ai/capabilities/wrapper.py
  pydantic_ai_slim/pydantic_ai/durable_exec/_base.py
  pydantic_ai_slim/pydantic_ai/durable_exec/_sandbox.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_durability.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_durability.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_run_context.py
  pydantic_ai_slim/pydantic_ai/sandboxes/_policy.py
  tests/sandbox_fakes.py
  tests/test_dbos.py
  tests/test_logfire.py
  tests/test_prefect.py
  tests/test_sandbox.py
  tests/test_temporal.py
  tests/test_wrap_entire_run.py
Due: clai-help, format, lint, typecheck

fix: resolve lazy OpenAI SDK and genai-prices imports at model construction time
  docs/troubleshooting.md
  pydantic_ai_slim/pydantic_ai/_cost.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai.py
Due: clai-help, format, lint, typecheck

Use anyio.Path for web UI file I/O and exempt lazy SDK credential loading
  pydantic_ai_slim/pydantic_ai/ui/_web/app.py
  tests/conftest.py
  tests/test_ui_web.py
Due: clai-help, format, lint, typecheck

Compare preserved prefixItems against a pre-walk copy
  tests/models/test_openai.py
Due: clai-help, format, lint, typecheck

fix: warm OpenAI resources via the provider client, not the overridable client property
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: clai-help, format, lint, typecheck

Use `httpx2` for Mistral clients (#7377)
  docs/models/mistral.md
  pydantic_ai_slim/pydantic_ai/_http.py
  pydantic_ai_slim/pydantic_ai/providers/mistral.py
  pydantic_ai_slim/pydantic_ai/providers/openai.py
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  tests/providers/test_mistral.py
  tests/test_httpx2_sdk_readiness.py
  uv.lock
Due: clai-help, format, lint, typecheck

ci: validate build artifacts with `twine check` on every PR
  .github/workflows/ci.yml
Due: none

fix: disable forced tool choice for Together DeepSeek V4
  pydantic_ai_slim/pydantic_ai/providers/together.py
  tests/providers/test_together.py
Due: clai-help, format, lint, typecheck

docs: add realtime, Crusoe API, TwelveLabs example and evaluator pages to nav.json
  docs/nav.json
Due: none

Support FastMCP 4 and MCP SDK v2 in `MCPToolset` alongside FastMCP 3 (#6738)
  .github/workflows/ci.yml
  .github/workflows/gateway-model-health.yml
  Makefile
  docs/mcp/client.md
  examples/pyproject.toml
  pydantic_ai_slim/pydantic_ai/_mcp.py
  pydantic_ai_slim/pydantic_ai/_mcp_compat.py
  pydantic_ai_slim/pydantic_ai/mcp.py
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  tests/models/test_mcp_sampling.py
  tests/test_mcp.py
  uv.lock
Due: clai-help, format, lint, typecheck

docs: add realtime and TwelveLabs pages to the canonical navigation.yml manifest
  docs/navigation.yml
Due: none

Fix realtime HTTPX2 test clients
  tests/realtime/test_webrtc.py
Due: clai-help, format, lint, typecheck

Support realtime `SpeechPart` and `AbstractModel` run models from pydantic-ai `2.28` (pydantic/pydantic-ai-harness#586)
  src/pydantic_ai_harness/pydantic_ai_harness/compaction/_context_window.py
  src/pydantic_ai_harness/pydantic_ai_harness/compaction/_shared.py
  src/pydantic_ai_harness/pydantic_ai_harness/compaction/_summarizing_compaction.py
  src/pydantic_ai_harness/pydantic_ai_harness/compaction/_tiered_compaction.py
  src/pydantic_ai_harness/pydantic_ai_harness/conversation_search/_toolset.py
  src/pydantic_ai_harness/pydantic_ai_harness/dynamic_workflow/_toolset.py
  src/pydantic_ai_harness/pydantic_ai_harness/subagents/_toolset.py
  src/pydantic_ai_harness/pydantic_ai_harness/tool_output_limits/_capability.py
  src/pydantic_ai_harness/pyproject.toml
  tests/harness/compaction/test_context_budget.py
  tests/harness/conversation_search/test_conversation_search.py
  tests/harness/step_persistence/test_step_persistence.py
  tests/harness/subagents/test_subagents_disk.py
  tests/harness/tool_output_limits/test_tool_output_limits.py
Due: clai-help, format, lint, typecheck

docs: make realtime routes canonical
  docs/navigation.yml
Due: none

refactor: rename the internal `create_run_sandbox` walk to `resolve_run_sandbox`
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
  pydantic_ai_slim/pydantic_ai/capabilities/combined.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_durability.py
Due: clai-help, format, lint, typecheck

fix: shield run-owned sandbox teardown from an already-cancelled scope
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  tests/test_sandbox.py
Due: clai-help, format, lint, typecheck

fix: reject per-run sandbox suppliers under DBOS and Prefect durability instead of ignoring them
  pydantic_ai_slim/pydantic_ai/durable_exec/_base.py
  tests/test_dbos.py
  tests/test_prefect.py
Due: clai-help, format, lint, typecheck

docs: correct `LocalSandbox` attachment claim and document create retry idempotency and the deferred-tools lifecycle
  docs/sandbox.md
  pydantic_ai_slim/pydantic_ai/sandboxes/local.py
Due: clai-help, format, lint, typecheck

fix: address Macroscope realtime WebRTC follow-ups (#7392)
  docs/examples/realtime-webrtc.md
  pydantic_ai_slim/pydantic_ai/providers/azure.py
  pydantic_ai_slim/pydantic_ai/realtime/_session.py
  pydantic_ai_slim/pydantic_ai/realtime/openai.py
  tests/realtime/conftest.py
  tests/realtime/test_instrumentation.py
  tests/realtime/test_webrtc.py
Due: clai-help, format, lint, typecheck

Add docs learning roadmap page and deploy it to GitHub Pages
  .github/workflows/roadmap-pages.yml
  hero.jpg
  learning-roadmap.html
Due: none

Sync GPT-5.5 known model names
  pydantic_ai_slim/pydantic_ai/models/_known_model_names.py
Due: clai-help, format, lint, typecheck

Use logo.svg for nav brand and favicon, include it in Pages deploy
  .github/workflows/roadmap-pages.yml
  learning-roadmap.html
  logo.svg
Due: none

Make nav logo transparent and smaller
  learning-roadmap.html
Due: none

Bump nav logo to 24px
  learning-roadmap.html
Due: none

Update GPT-5.5 capability schema snapshot
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Crop logo.svg viewBox to glyph bounds and center it in nav pill
  learning-roadmap.html
  logo.svg
Due: none

Unbold nav pill links
  learning-roadmap.html
Due: none

Link nav logo to SpringNote repo
  learning-roadmap.html
Due: none

fix: gate gateway realtime cassette fixtures on their own deps, not google-genai
  tests/realtime/conftest.py
Due: clai-help, format, lint, typecheck

Match nav link typography to openchamber (14px/500, secondary text color)
  learning-roadmap.html
Due: none

Add realtime, Crusoe, and TwelveLabs pages to the pydantic.dev nav manifests `docs/navigation.yml` and `docs/nav.json` (#7410)
  docs/nav.json
  docs/navigation.yml
Due: none

Unify GitHub pill typography with nav links
  learning-roadmap.html
Due: none

feat: tell the model when `search_tools` results were trimmed by `max_results`
  docs/tools-advanced.md
  pydantic_ai_slim/pydantic_ai/_tool_search.py
  pydantic_ai_slim/pydantic_ai/toolsets/_tool_search.py
  tests/test_tool_search.py
Due: clai-help, format, lint, typecheck

Remove hero subtitle, keep CTA position
  learning-roadmap.html
Due: none

Upgrade OpenAI integration to SDK 3
  .github/scripts/check_http_dependencies.py
  pydantic_ai_slim/pydantic_ai/models/_known_model_names.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/providers/github.py
  pydantic_ai_slim/pydantic_ai/providers/openai.py
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  tests/models/test_openai.py
  tests/models/test_openai_responses.py
  tests/providers/test_openai_compatible_http_clients.py
  tests/test_capabilities.py
  uv.lock
Due: clai-help, format, lint, typecheck

Restore full git history and tags in the gh-aw shim before pre-warm
  .gitattributes
  .github/workflows/pydantic-ai-bug-hunter.lock.yml
  .github/workflows/pydantic-ai-docs-drift.lock.yml
  .github/workflows/pydantic-ai-pr-review.lock.yml
  .github/workflows/pydantic-ai-provider-mapping-sweep.lock.yml
  .github/workflows/pydantic-ai-provider-parity-explore.lock.yml
  .github/workflows/pydantic-ai-regression-detector.lock.yml
  .github/workflows/pydantic-ai-roundtrip-sweep.lock.yml
  .github/workflows/pydantic-ai-streaming-resilience-sweep.lock.yml
  .github/workflows/pydantic-ai-ui-security-review.lock.yml
  .github/workflows/shared/pre-agent-steps.md
Due: clai-help

ci: validate build artifacts with `twine check` on every PR (#7414)
  .github/workflows/ci.yml
Due: none

docs: remove legacy Pydantic AI navigation manifest
  .github/workflows/manually-deploy-docs.yml
  agent_docs/documentation.md
  docs/contributing.md
  docs/nav.json
  docs/navigation.yml
Due: clai-help

Fix inherited realtime WebRTC and Azure `for_realtime` bugs from `#6676``` (#7412)
  docs/examples/realtime-webrtc.md
  pydantic_ai_slim/pydantic_ai/providers/azure.py
  pydantic_ai_slim/pydantic_ai/realtime/_session.py
  pydantic_ai_slim/pydantic_ai/realtime/openai.py
  tests/realtime/conftest.py
  tests/realtime/test_instrumentation.py
  tests/realtime/test_webrtc.py
Due: clai-help, format, lint, typecheck

Fix concurrent provider stream shutdown (#7375)
  docs/models/google.md
  docs/models/huggingface.md
  docs/models/xai.md
  docs/output.md
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/_continuation.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  pydantic_ai_slim/pydantic_ai/models/xai.py
  pydantic_ai_slim/pydantic_ai/result.py
  tests/conftest.py
  tests/models/cassettes/test_google/test_stream_cancel.yaml
  tests/models/cassettes/test_stream_close/test_cancel_recorded_provider_stream[google].yaml
  tests/models/cassettes/test_stream_close/test_cancel_recorded_provider_stream[huggingface].yaml
  tests/models/cassettes/test_stream_close/test_cancel_recorded_provider_stream[xai].xai.yaml
  tests/models/test_google.py
  tests/models/test_huggingface.py
  tests/models/test_stream_close.py
  tests/models/test_xai.py
  tests/models/xai_proto_cassettes.py
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck
