Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: replace-py-code-blocks
        name: Replace ```py with ```python
        # first pattern matches ```py <info> and second matches lone ```py<eol>
        entry: |
          if [[ "$(uname)" == "Darwin" ]]; then
            sed -i '' 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          else
            sed -i 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          fi
        language: system
        files: \.py$|\.md$
        pass_filenames: true

Correct the uv lock
  uv.lock
Due: none

drop cast
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

Update pydantic_ai_slim/pydantic_ai/mcp.py
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

docstring
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
Due: format, lint, typecheck, replace-py-code-blocks

test only on 3.10+
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

fix docs
  docs/mcp_servers.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/mcp.py
  pyproject.toml
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Add links
  docs/mcp_servers.md
Due: replace-py-code-blocks

Add tests
  pydantic_ai_slim/pydantic_ai/mcp.py
  pydantic_ai_slim/pyproject.toml
  tests/test_mcp.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Add MCP support
  docs/mcp_servers.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

Update docs
  docs/mcp_servers.md
Due: replace-py-code-blocks

Add name main
  examples/pydantic_ai_examples/mcp_server.py
Due: format, lint, typecheck, replace-py-code-blocks

Use my branch on MCP server
  pydantic_ai_slim/pydantic_ai/mcp.py
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Update pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Add server instructions
  docs/mcp_servers.md
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

Only the MCPRemoteServer test is failling
  docs/mcp_servers.md
  examples/pydantic_ai_examples/mcp_server.py
  pyproject.toml
Due: format, lint, typecheck, replace-py-code-blocks

what about now
  .github/workflows/ci.yml
Due: none

Test coverage on branch should be 100% (#1141)
  .github/workflows/ci.yml
Due: none

fix example tests
  docs/mcp_servers.md
  pydantic_ai_slim/pydantic_ai/mcp.py
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

fix for 3.9
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix span attributes when instrumenting FallbackModel streaming
  pydantic_ai_slim/pydantic_ai/models/fallback.py
  tests/models/test_fallback.py
Due: format, lint, typecheck, replace-py-code-blocks

docs: Remove note about default event_mode changing
  docs/logfire.md
Due: replace-py-code-blocks

docs: Remove note about default event_mode changing (#1149)
  docs/logfire.md
Due: replace-py-code-blocks

Fix span attributes when instrumenting FallbackModel streaming (#1147)
  pydantic_ai_slim/pydantic_ai/models/fallback.py
  tests/models/test_fallback.py
Due: format, lint, typecheck, replace-py-code-blocks

Add my personal review
  pydantic_ai_slim/pydantic_ai/providers/anthropic.py
  tests/models/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

Add Anthropic provider classes (#1120)
  docs/models.md
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/anthropic.py
  tests/models/test_anthropic.py
  tests/providers/test_anthropic.py
  tests/test_live.py
Due: format, lint, typecheck, replace-py-code-blocks

Add Mistral provider
  docs/models.md
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/mistral.py
  tests/models/test_mistral.py
  tests/providers/test_mistral.py
  tests/providers/test_provider_names.py
  tests/test_live.py
Due: format, lint, typecheck, replace-py-code-blocks

Apply my opinion
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/providers/mistral.py
  tests/providers/test_anthropic.py
  tests/providers/test_groq.py
  tests/providers/test_mistral.py
  tests/providers/test_provider_names.py
Due: format, lint, typecheck, replace-py-code-blocks

Apply more changes
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Add Mistral provider (#1118)
  docs/models.md
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/mistral.py
  tests/models/test_mistral.py
  tests/providers/test_anthropic.py
  tests/providers/test_groq.py
  tests/providers/test_mistral.py
  tests/providers/test_provider_names.py
  tests/test_live.py
Due: format, lint, typecheck, replace-py-code-blocks

Add 100% coverage
  docs/mcp_servers.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/mcp.py
  tests/test_examples.py
  tests/test_mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

Add note
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
Due: format, lint, typecheck, replace-py-code-blocks

Version 0.0.41
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Use a custom GenerateJsonSchema subclass by default
  docs/tools.md
  pydantic_ai_slim/pydantic_ai/_pydantic.py
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/tools.py
  tests/graph/test_graph.py
  tests/graph/test_persistence.py
  tests/test_tools.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix docstrings
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/tools.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix example code
  docs/tools.md
Due: replace-py-code-blocks

Fix 3.9 tests
  tests/test_tools.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix coverage
  tests/test_tools.py
Due: format, lint, typecheck, replace-py-code-blocks

Version 0.0.41 (#1150)
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Improve the added test
  tests/test_tools.py
Due: format, lint, typecheck, replace-py-code-blocks

Apply suggestions from code review
  docs/mcp_servers.md
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: format, lint, typecheck, replace-py-code-blocks
