Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

Bump `genai-prices` to 0.1.6 (#8019)
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

Trim the sandbox public surface and docstrings
  docs/sandbox.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/SANDBOXES.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/ui/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  tests/test_ag_ui.py
  tests/test_local_sandbox.py
  tests/test_readonly_sandbox.py
  tests/test_sandbox.py
Due: clai-help, format, lint, typecheck

fix(openai): guard Responses reasoning IDs
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai_responses.py
Due: clai-help, format, lint, typecheck

Tighten the sandbox test suite
  pydantic_ai_slim/pydantic_ai/sandboxes/sandbox.py
  tests/durable_exec/temporal/test_agent.py
  tests/durable_exec/temporal/test_durability.py
  tests/durable_exec/test_prefect.py
  tests/example_modules/my_sandboxes.py
  tests/sandbox_fakes.py
  tests/test_examples.py
  tests/test_local_sandbox.py
  tests/test_readonly_sandbox.py
  tests/test_sandbox.py
Due: clai-help, format, lint, typecheck

fix(openai): preserve compatible reasoning IDs
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai_responses.py
Due: clai-help, format, lint, typecheck

Correct the add-new-model skill's snapshot path and Gemini thinking-level probe
  .agents/skills/add-new-model/SKILL.md
Due: clai-help

Prevent synthetic reasoning IDs from reaching OpenAI Responses (#8020)
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai_responses.py
Due: clai-help, format, lint, typecheck

Drop `Sandbox.attached` and the backend `provider` field
  docs/sandbox.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/SANDBOXES.md
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_cache_policies.py
  pydantic_ai_slim/pydantic_ai/sandboxes/_policy.py
  pydantic_ai_slim/pydantic_ai/sandboxes/local.py
  pydantic_ai_slim/pydantic_ai/sandboxes/protocol.py
  pydantic_ai_slim/pydantic_ai/sandboxes/readonly.py
  pydantic_ai_slim/pydantic_ai/sandboxes/sandbox.py
  pydantic_ai_slim/pydantic_ai/sandboxes/unavailable.py
  tests/durable_exec/test_prefect.py
  tests/example_modules/my_sandboxes.py
  tests/sandbox_fakes.py
  tests/test_local_sandbox.py
  tests/test_readonly_sandbox.py
  tests/test_sandbox.py
Due: clai-help, format, lint, typecheck

Disable Prefect's task-run recorder in the capability test harness (#7951)
  tests/durable_exec/test_capability_durable_operation.py
Due: clai-help, format, lint, typecheck

Pin the `gemini-3.8-flash` thinking disable signal on the wire
  tests/cassettes/test_thinking_wire_contract/test_reasoning_wire_contract[google-gemini-38-flash-disable].yaml
  tests/test_thinking_wire_contract.py
Due: clai-help, format, lint, typecheck

Record the genai-prices dependency in the add-new-model skill
  .agents/skills/add-new-model/SKILL.md
Due: clai-help

Match the request body so the wire case fails on drift
  tests/test_thinking_wire_contract.py
Due: clai-help, format, lint, typecheck

fix: reject empty compaction summaries as wire boundaries
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/test_tool_availability.py
Due: clai-help, format, lint, typecheck

test(openai): cover strict streaming edge cases
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/cassettes/test_openai_stream/test_complete_stream_is_accepted_when_finish_reason_is_required.yaml
  tests/models/test_openai_stream.py
Due: clai-help, format, lint, typecheck

Simplify `update_in_background()` now that genai-prices 0.1.6 shares one updater
  docs/agent.md
  pydantic_ai_slim/pydantic_ai/prices.py
  pydantic_ai_slim/pydantic_ai/usage.py
  tests/test_prices.py
Due: clai-help, format, lint, typecheck

Route only to skills this repo ships
  .agents/skills/adopt-pr/SKILL.md
  .agents/skills/branch-context/SKILL.md
  .agents/skills/branch-context/skill-routing.md
  .agents/skills/initialize-worktree/SKILL.md
Due: clai-help

Guard the logfire import in test_capability_spec
  tests/test_capability_spec.py
Due: clai-help, format, lint, typecheck

test(openai): explain moderation stream coverage
  tests/models/test_openai_stream.py
Due: clai-help, format, lint, typecheck

docs: name the cause in the stale-thinking warning, and its prompt-cache cost
  docs/models/anthropic.md
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
Due: clai-help, format, lint, typecheck

Revert "Route only to skills this repo ships"
  .agents/skills/adopt-pr/SKILL.md
  .agents/skills/branch-context/SKILL.md
  .agents/skills/branch-context/skill-routing.md
  .agents/skills/initialize-worktree/SKILL.md
Due: clai-help

Add profile flag to reject streams without `finish_reason` (#7096)
  docs/models/openai.md
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  tests/models/cassettes/test_openai_stream/test_clean_eof_without_finish_reason_is_accepted_by_default.yaml
  tests/models/cassettes/test_openai_stream/test_complete_stream_is_accepted_when_finish_reason_is_required.yaml
  tests/models/test_openai_stream.py
Due: clai-help, format, lint, typecheck

fix: keep CI's dependency install off anonymous GitHub Git fetches
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: none

Add ImageGenerationResult.image for the single-image case
  docs/image-generation.md
  pydantic_ai_slim/pydantic_ai/images/__init__.py
  pydantic_ai_slim/pydantic_ai/images/base.py
  pydantic_ai_slim/pydantic_ai/images/result.py
  tests/test_images.py
Due: clai-help, format, lint, typecheck

Fix occurrence collapse, callable toolset ids, and order-dependent id validation
  docs/capabilities/custom.md
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
  pydantic_ai_slim/pydantic_ai/capabilities/capability.py
  pydantic_ai_slim/pydantic_ai/capabilities/combined.py
  tests/test_capability_combine.py
Due: clai-help, format, lint, typecheck

Install `strict-no-cover` only in the coverage job and authenticate CI's Git fetches (#8025)
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: none

Add `gemini-3.8-flash` model (#8021)
  .agents/skills/add-new-model/SKILL.md
  pydantic_ai_slim/pydantic_ai/models/_known_model_names.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/profiles/google.py
  tests/cassettes/test_thinking_wire_contract/test_reasoning_wire_contract[google-gemini-38-flash-disable].yaml
  tests/profiles/test_google.py
  tests/test_capability_spec.py
  tests/test_thinking_wire_contract.py
Due: clai-help, format, lint, typecheck

Keep skill routing out of the repo
  .agents/skills/branch-context/SKILL.md
  .agents/skills/branch-context/skill-routing.md
  .claude/skills/branch-context/skill-routing.md
  .gitignore
Due: clai-help

Combine the agent's own duplicate capabilities before reading what they contribute
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
  tests/test_capability_combine.py
Due: clai-help, format, lint, typecheck

Let a custom event opt out of reaching the frontend with `ui=False`
  docs/agent.md
  docs/ui/ag-ui.md
  docs/ui/overview.md
  docs/ui/vercel-ai.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/AGENTS-CORE.md
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/ui/_event_stream.py
  tests/test_ag_ui.py
  tests/test_custom_events.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Route the agents skill to the direct image generation API
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/SKILL.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/COMMON-TASKS.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/ORCHESTRATION-AND-INTEGRATIONS.md
Due: clai-help

Export ImageOutputFormat from pydantic_ai.images and scope ImageGenerationInput to it
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/images/__init__.py
  tests/test_images.py
Due: clai-help, format, lint, typecheck

refactor(agent): fully initialize prepared runs
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
Due: clai-help, format, lint, typecheck

test: relax streaming cancellation deadlines
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

Document provider limits, geometry policy, and telemetry for image generation
  docs/capabilities/image-generation.md
  docs/image-generation.md
  pydantic_ai_slim/pydantic_ai/images/xai.py
  tests/test_images.py
Due: clai-help, format, lint, typecheck

Emit `REASONING_*` events from `ag-ui-protocol` 0.1.11 instead of 0.1.13 (#7226)
  docs/ui/ag-ui.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/INPUT-AND-HISTORY.md
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_event_stream.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_thinking_0_10.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_thinking_0_11.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_utils.py
  tests/cassettes/test_cache_prefix_stability/test_anthropic_thinking_roundtrip_wire_stable[ag_ui-0_1_11].yaml
  tests/test_ag_ui.py
  tests/test_cache_prefix_stability.py
Due: clai-help, format, lint, typecheck

Walk a wrapper's subtree once, and hold a merge to the constructor's invariants
  pydantic_ai_slim/pydantic_ai/capabilities/image_generation.py
  pydantic_ai_slim/pydantic_ai/capabilities/wrapper.py
  pydantic_ai_slim/pydantic_ai/capabilities/x_search.py
  tests/test_capability_combine.py
Due: clai-help, format, lint, typecheck

Don't forward an unresolved custom event to the frontend
  docs/agent.md
  docs/ui/ag-ui.md
  docs/ui/vercel-ai.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/AGENTS-CORE.md
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/ui/_event_stream.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Relax `test_outer_cancellation_cancels_pending_tools` readiness deadlines (#8027)
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

Say that `name=` also exists to match a tag you don't control
  docs/agent.md
Due: clai-help

Document that a capability event's namespace is required but inherited
  docs/capabilities/overview.md
  tests/test_capability_events.py
Due: clai-help, format, lint, typecheck
