Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

replace-py-code-blocks:
  name: Replace ```py with ```python
  entry: "if [[ \"$(uname)\" == \"Darwin\" ]]; then\n  sed -i '' 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nelse\n  sed -i 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nfi\n"
  language: system
  pass_filenames: true

Fix o1 usage with tool calls (#764)
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/settings.py
Due: format, lint, typecheck, replace-py-code-blocks

modifications after PR review
  docs/graph.md
Due: replace-py-code-blocks

Add ABC
  pydantic_ai_slim/pydantic_ai/agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Move agent graph implementation to ._agent_graph module
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Extended Support to OpenAI and Ollama Models
  examples/pydantic_ai_examples/multimodal_input.py
  examples/pydantic_ai_examples/pixtral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Code Clean Up
  examples/pydantic_ai_examples/multimodal_input.py
Due: format, lint, typecheck, replace-py-code-blocks

Remove redundant project_id validation in VertexAIModel since the cred_project_id and self.project_id can be different and self.project_id should be given priority over cred_project_id.
  pydantic_ai_slim/pydantic_ai/models/vertexai.py
Due: format, lint, typecheck, replace-py-code-blocks

add blocked field to geminiContent to fix validation error
  pydantic_ai_slim/pydantic_ai/models/gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

remove ollama model
  README.md
  docs/api/models/ollama.md
  docs/index.md
  docs/models.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/ollama.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_model.py
  tests/models/test_model_names.py
  tests/models/test_ollama.py
  tests/test_live.py
Due: format, lint, typecheck, replace-py-code-blocks

add model prefix for inference
  README.md
  docs/agents.md
  docs/index.md
  docs/models.md
  docs/multi-agent-applications.md
  docs/results.md
  docs/testing-evals.md
  docs/tools.md
Due: replace-py-code-blocks

format examples
  docs/multi-agent-applications.md
Due: replace-py-code-blocks

Update docs/graph.md
  docs/graph.md
Due: replace-py-code-blocks

added documentation to visualize a graph within a jupyter-notebook (#786)
  docs/graph.md
Due: replace-py-code-blocks

Make pydantic-graph a dependency of pydantic-ai-slim
  .github/workflows/ci.yml
  pydantic_ai_slim/pyproject.toml
Due: none

just use simple bullets
  docs/index.md
Due: replace-py-code-blocks

adding notes about httpx request monitoring
  docs/logfire.md
  docs/troubleshooting.md
Due: replace-py-code-blocks

Remove `OllamaModel` in favor of usage with `OpenAIModel` (#805)
  README.md
  docs/api/models/ollama.md
  docs/index.md
  docs/models.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/ollama.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_model.py
  tests/models/test_model_names.py
  tests/models/test_ollama.py
  tests/test_live.py
Due: format, lint, typecheck, replace-py-code-blocks

Remove the AgentModel class
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/test.py
  pydantic_ai_slim/pydantic_ai/models/vertexai.py
  tests/models/test_gemini.py
  tests/models/test_mistral.py
  tests/models/test_vertexai.py
Due: format, lint, typecheck, replace-py-code-blocks

Remove the AgentModel class
  docs/api/models/base.md
  docs/api/models/vertexai.md
  docs/models.md
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Docs fix: use model provider prefix in all examples (#806)
  README.md
  docs/agents.md
  docs/index.md
  docs/models.md
  docs/multi-agent-applications.md
  docs/results.md
  docs/testing-evals.md
  docs/tools.md
Due: replace-py-code-blocks

WIP
  pydantic_ai_slim/pydantic_ai/models/test.py
  tests/models/test_vertexai.py
  tests/test_logfire.py
Due: format, lint, typecheck, replace-py-code-blocks

clarifying on reusing messages with different models
  docs/message-history.md
Due: replace-py-code-blocks

fix examples
  docs/message-history.md
Due: replace-py-code-blocks

invent -> invented typo
  docs/message-history.md
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Get tests passing
  docs/api/models/base.md
  docs/api/models/test.md
  docs/tools.md
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/test.py
  tests/test_agent.py
  tests/test_logfire.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix some issues
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/test_gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix docs reference
  docs/tools.md
Due: replace-py-code-blocks

cohere docs
  .github/workflows/ci.yml
  docs/api/models/cohere.md
  docs/install.md
  docs/models.md
  mkdocs.yml
  tests/test_live.py
Due: format, lint, typecheck, replace-py-code-blocks

more cohere docs updates
  docs/models.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/models/cohere.py
Due: format, lint, typecheck, replace-py-code-blocks

CO_API_KEY
  .github/workflows/ci.yml
  docs/models.md
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  tests/models/test_model.py
Due: format, lint, typecheck, replace-py-code-blocks

Make some functions into methods for easier overriding
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

fix api key issue with test
  docs/models.md
Due: replace-py-code-blocks

fix docs build
  docs/models.md
Due: replace-py-code-blocks

try r model for live test
  tests/test_live.py
Due: format, lint, typecheck, replace-py-code-blocks

skip cohere for streaming
  tests/test_live.py
Due: format, lint, typecheck, replace-py-code-blocks

try smarter model
  tests/test_live.py
Due: format, lint, typecheck, replace-py-code-blocks

new experimental gemini models
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

tweaking agent usage
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/agent.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

remove my mess
  pydantic_ai_slim/pydantic_ai/agent.py
Due: format, lint, typecheck, replace-py-code-blocks

fix docstring
  pydantic_ai_slim/pydantic_ai/agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
  replace-py-code-blocks: any of: \.py$|\.md$
