Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

fix(vercel): Align `dump_messages` output with Vercel spec (#4196)
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_event_stream.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_utils.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

test: add test for parallel tool exception cancelling sibling tasks
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

fix: cancel sibling tasks on any exception in parallel tool execution (#4502)
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

feat: support list[str] in get_instructions
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/toolsets/_dynamic.py
  pydantic_ai_slim/pydantic_ai/toolsets/abstract.py
  pydantic_ai_slim/pydantic_ai/toolsets/combined.py
  pydantic_ai_slim/pydantic_ai/toolsets/wrapper.py
  tests/test_logfire.py
  tests/test_toolsets.py
Due: clai-help, format, lint, typecheck

feat: update unit tests
  tests/test_toolsets.py
Due: clai-help, format, lint, typecheck

fix: add `__reduce__` to exception classes for pickle support
  pydantic_ai_slim/pydantic_ai/exceptions.py
  tests/test_exceptions.py
Due: clai-help, format, lint, typecheck

fix: add __reduce__ to ToolRetryError for pickle support
  pydantic_ai_slim/pydantic_ai/exceptions.py
  tests/test_exceptions.py
Due: clai-help, format, lint, typecheck

fix: sort imports in _utils.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_utils.py
Due: clai-help, format, lint, typecheck

Simplify tool approval tests
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Add missing AI SDK v6 tool approval part types
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_utils.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/request_types.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Fix iter_tool_approval_responses matching output-denied parts
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_utils.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Preserve tool denial state through message round-trips
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_event_stream.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Update test_hitl_tool_approval snapshot for is_denied field
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

Fix serialized snapshot and doc example field ordering for status
  docs/deferred-tools.md
  tests/models/test_model_function.py
Due: clai-help, format, lint, typecheck

Store denial state in metadata instead of a dedicated field
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  tests/test_agent.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Add test for denied builtin tool return streaming
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Replace is_denied property with status field on BaseToolReturnPart
  docs/deferred-tools.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_event_stream.py
  tests/test_agent.py
  tests/test_tools.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Set status='error' on BuiltinToolReturnPart for tool errors in Vercel adapter
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Update test_approval_required_toolset snapshot for metadata and run_id
  tests/test_tools.py
Due: clai-help, format, lint, typecheck

Preserve denial reason through dump/load round-trips
  docs/deferred-tools.md
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Fix rebase conflicts: adopt _safe_args_as_dict/tool_return_output, update snapshots
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_event_stream.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Add PLAN.md for native shell tool support (#3963)
  PLAN.md
Due: clai-help

Use ToolOutput*Part (not DynamicToolOutput*Part) for non-builtin tool dumps
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Use status field for error detection in builtin tool dump path
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
Due: clai-help, format, lint, typecheck

refactor(ui): remove round-trip support for retries in AG-UI adapter
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
  tests/test_ag_ui.py
Due: clai-help, format, lint, typecheck

refactor(ui): simplify builtin tool call ID parsing in AGUIAdapter
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
Due: clai-help, format, lint, typecheck

refactor(ui): remove unused _load_builtin_tool_call_id function
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
Due: clai-help, format, lint, typecheck

fix(exceptions): make ModelHTTPError and related exceptions picklable (fixes #4503)
  pydantic_ai_slim/pydantic_ai/exceptions.py
Due: clai-help, format, lint, typecheck

test(ui): add edge case tests for AGUIAdapter.dump_messages
  tests/test_ag_ui.py
Due: clai-help, format, lint, typecheck

test(ui): improve type safety in _sync_timestamps helper
  tests/test_ag_ui.py
Due: clai-help, format, lint, typecheck

ci: Add PR issue guard workflow to prevent duplicate PRs
  .github/workflows/pr-guard.yml
Due: none

ci: Skip closed issues and add job timeout
  .github/workflows/pr-guard.yml
Due: none

ci: Add PR guard workflow to prevent duplicate PRs (#4500)
  .github/workflows/pr-guard.yml
Due: none

refactor
  docs/api/environments.md
  docs/environments.md
  pydantic_ai_slim/pydantic_ai/environments/__init__.py
  pydantic_ai_slim/pydantic_ai/environments/_base.py
  pydantic_ai_slim/pydantic_ai/environments/docker.py
  pydantic_ai_slim/pydantic_ai/environments/local.py
  pydantic_ai_slim/pydantic_ai/toolsets/execution_environment.py
  tests/environment_helpers.py
  tests/test_environments.py
Due: clai-help, format, lint, typecheck

refactor
  pydantic_ai_slim/pydantic_ai/environments/_base.py
  pydantic_ai_slim/pydantic_ai/toolsets/execution_environment.py
Due: clai-help, format, lint, typecheck

Revert pyproject.toml and uv.lock to main
  pyproject.toml
  uv.lock
Due: none

removing stuff
  pydantic_ai_slim/pyproject.toml
Due: none

trying to revert uv.lock
  pydantic_ai_slim/pyproject.toml
Due: none

trying to revert uv.lock
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
