Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

demos
  demos/code_mode/sql_analysis_demo.py
Due: clai-help, format, lint, typecheck

tool calling
  demos/code_mode/batch_operations_demo.py
  demos/code_mode/expense_analysis_demo.py
  demos/code_mode/file_processing_demo.py
  demos/code_mode/pr_discussion_demo.py
  demos/code_mode/sql_analysis_demo.py
Due: clai-help, format, lint, typecheck

add bare .env.vertex
  .env.vertex
Due: none

env vertex
  .env.vertex
Due: none

add instructions and skill for testing + template env files
  .claude/skills/pytest-vcr/SKILL.md
  .claude/skills/pytest-vcr/parse_cassette.py
  .claude/skills/pytest-vcr/run-vertex-tests.sh
  .env.example
  .gitignore
  tests/AGENTS.md
  tests/CLAUDE.md
  tests/conftest.py
Due: clai-help, format, lint, typecheck

remove dumb line
  tests/AGENTS.md
Due: clai-help

Update .claude/skills/pytest-vcr/run-vertex-tests.sh
  .claude/skills/pytest-vcr/run-vertex-tests.sh
Due: none

cleaning up mess
  demos/code_mode/batch_operations_demo.py
  demos/code_mode/expense_analysis_demo.py
  demos/code_mode/file_processing_demo.py
  demos/code_mode/pr_discussion_demo.py
  demos/code_mode/sql_analysis_demo.py
Due: clai-help, format, lint, typecheck

Rename `docs/agents.md` to not conflict with `docs/AGENTS.md` on case insensitive file systems (#4212)
  AGENTS.md
  docs-site/src/index.ts
  docs/agent.md
  docs/builtin-tools.md
  docs/dependencies.md
  docs/durable_execution/dbos.md
  docs/durable_execution/overview.md
  docs/durable_execution/prefect.md
  docs/durable_execution/temporal.md
  docs/examples/bank-support.md
  docs/examples/flight-booking.md
  docs/examples/slack-lead-qualifier.md
  docs/examples/sql-gen.md
  docs/graph.md
  docs/index.md
  docs/logfire.md
  docs/mcp/overview.md
  docs/models/overview.md
  docs/output.md
  docs/thinking.md
  docs/tools-advanced.md
  docs/ui/ag-ui.md
  docs/ui/overview.md
  docs/ui/vercel-ai.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
Due: clai-help, format, lint, typecheck

Update .claude/skills/pytest-vcr/parse_cassette.py
  .claude/skills/pytest-vcr/parse_cassette.py
Due: clai-help, format, lint, typecheck

Update TODO to reference new tracking issue #4210
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck

Add AGENTS.md rules extracted from past PR comments
  AGENTS.md
  docs/AGENTS.md
  docs/CLAUDE.md
  pydantic_ai_slim/pydantic_ai/models/AGENTS.md
  pydantic_ai_slim/pydantic_ai/models/CLAUDE.md
  tests/AGENTS.md
  tests/CLAUDE.md
Due: clai-help

Add PR auto-review
  .github/workflows/at-claude.yml
  .github/workflows/review.yml
Due: none

fix tests and docs paths
  AGENTS.md
Due: clai-help

add opus 4.6
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/profiles/anthropic.py
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: clai-help, format, lint, typecheck

Add AGENTS.md rules extracted from past PR comments (#4214)
  AGENTS.md
  docs/AGENTS.md
  docs/CLAUDE.md
  pydantic_ai_slim/pydantic_ai/models/AGENTS.md
  pydantic_ai_slim/pydantic_ai/models/CLAUDE.md
  tests/AGENTS.md
  tests/CLAUDE.md
Due: clai-help

move to examples
  examples/pydantic_ai_examples/code_mode/__init__.py
  examples/pydantic_ai_examples/code_mode/batch_operations_demo.py
  examples/pydantic_ai_examples/code_mode/expense_analysis_demo.py
  examples/pydantic_ai_examples/code_mode/file_processing_demo.py
  examples/pydantic_ai_examples/code_mode/pr_discussion_demo.py
  examples/pydantic_ai_examples/code_mode/sql_analysis_demo.py
Due: clai-help, format, lint, typecheck

Support fork PRs in CI workflows and restrict @claude to maintainers
  .github/workflows/at-claude.yml
  .github/workflows/review.yml
Due: none

Only trigger @claude workflow on actual @claude mentions
  .github/workflows/at-claude.yml
Due: none

address comments
  .claude/skills/pytest-vcr/SKILL.md
  .claude/skills/pytest-vcr/parse_cassette.py
  tests/AGENTS.md
Due: clai-help, format, lint, typecheck

Harden CI workflows: explicit tool allowlists, timeouts, fork fixes
  .github/workflows/at-claude.yml
  .github/workflows/review.yml
Due: none

fix tests
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  tests/models/anthropic/test_output.py
Due: clai-help, format, lint, typecheck

Split @claude into separate jobs for fork/non-fork, upgrade checkout to v6
  .github/workflows/after-ci.yml
  .github/workflows/at-claude.yml
  .github/workflows/ci.yml
  .github/workflows/manually-deploy-docs.yml
Due: none

add new tests and rerecord old ones
  tests/models/cassettes/test_anthropic/test_anthropic_model_thinking_part.yaml
  tests/models/cassettes/test_anthropic/test_anthropic_model_thinking_part_stream.yaml
  tests/models/cassettes/test_anthropic/test_anthropic_opus_46_features[adaptive-thinking].yaml
  tests/models/cassettes/test_anthropic/test_anthropic_opus_46_features[basic].yaml
  tests/models/cassettes/test_anthropic/test_anthropic_opus_46_features[effort].yaml
  tests/models/cassettes/test_anthropic/test_anthropic_output_tool_with_thinking.yaml
  tests/models/cassettes/test_anthropic/test_anthropic_tool_with_thinking.yaml
  tests/models/test_anthropic.py
Due: clai-help, format, lint, typecheck

Reject PRs that modify agent config files instead of restoring them
  .github/workflows/at-claude.yml
  .github/workflows/review.yml
Due: none

chore: Track issue #4210 (#4215)
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck

fix slim
  tests/models/test_anthropic.py
Due: clai-help, format, lint, typecheck

Add anthropic betas to `AnthropicModelSettings` (#4180)
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/test_anthropic.py
Due: clai-help, format, lint, typecheck

Add PR auto-review based on rules extracted from past PR comments (#4213)
  .github/workflows/after-ci.yml
  .github/workflows/at-claude.yml
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/manually-deploy-docs.yml
  .github/workflows/review.yml
Due: none

Fix gh pr diff on fork PRs by specifying --repo explicitly
  .github/workflows/at-claude.yml
  .github/workflows/review.yml
Due: none

Fix Auto Review on forks (#4218)
  .github/workflows/at-claude.yml
  .github/workflows/review.yml
Due: none

fix docstring based on devin
  pydantic_ai_slim/pydantic_ai/messages.py
Due: clai-help, format, lint, typecheck

Address review comments:
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/models/test_google.py
  tests/test_ag_ui.py
  tests/test_args_validator.py
  tests/test_dbos.py
  tests/test_streaming.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

devin fix
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  tests/test_messages.py
Due: clai-help, format, lint, typecheck

add new finish reasong
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  tests/models/test_anthropic.py
Due: clai-help, format, lint, typecheck

Update .env.vertex
  .env.vertex
Due: none

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
