Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

replace-py-code-blocks:
  name: Replace ```py with ```python
  entry: "if [[ \"$(uname)\" == \"Darwin\" ]]; then\n  sed -i '' 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nelse\n  sed -i 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nfi\n"
  language: system
  pass_filenames: true

Add AGENTS.md
  AGENTS.md
Due: replace-py-code-blocks

Add AGENTS.md (#2637)
  AGENTS.md
Due: replace-py-code-blocks

Fix model
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_model.py
  tests/test_dbos.py
Due: format, lint, typecheck, replace-py-code-blocks

DBOS MCP server
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/__init__.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_mcp_server.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_model.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_utils.py
  tests/test_dbos.py
Due: format, lint, typecheck, replace-py-code-blocks

Clean up todos
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/__init__.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_mcp_server.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_model.py
  tests/test_dbos.py
Due: format, lint, typecheck, replace-py-code-blocks

test for spans
  dbos-1.13.0a2+g4b56355-py3-none-any.whl
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_model.py
  pydantic_ai_slim/pyproject.toml
  tests/test_dbos.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

oops revert version
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

Ensure for assistant tool call messages for OpenAI.
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/cassettes/test_openai/test_document_as_binary_content_input_with_tool.yaml
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Add Cerebras provider
  docs/api/providers.md
  docs/models/index.md
  docs/models/openai.md
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  pydantic_ai_slim/pydantic_ai/profiles/qwen.py
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/cerebras.py
  pydantic_ai_slim/pydantic_ai/providers/cohere.py
  pydantic_ai_slim/pydantic_ai/providers/deepseek.py
  pydantic_ai_slim/pydantic_ai/providers/fireworks.py
  pydantic_ai_slim/pydantic_ai/providers/github.py
  pydantic_ai_slim/pydantic_ai/providers/grok.py
  pydantic_ai_slim/pydantic_ai/providers/groq.py
  pydantic_ai_slim/pydantic_ai/providers/heroku.py
  pydantic_ai_slim/pydantic_ai/providers/mistral.py
  pydantic_ai_slim/pydantic_ai/providers/moonshotai.py
  pydantic_ai_slim/pydantic_ai/providers/openrouter.py
  pydantic_ai_slim/pydantic_ai/providers/together.py
  pydantic_ai_slim/pydantic_ai/providers/vercel.py
  tests/conftest.py
  tests/json_body_serializer.py
  tests/models/cassettes/test_model_names/test_known_model_names.yaml
  tests/models/cassettes/test_openai/test_openai_model_cerebras_provider.yaml
  tests/models/cassettes/test_openai/test_openai_model_cerebras_provider_qwen_3_coder.yaml
  tests/models/test_model_names.py
  tests/models/test_openai.py
  tests/providers/test_cerebras.py
  tests/test_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

boom
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

extract also dataclasses field metadata for xml format
  pydantic_ai_slim/pydantic_ai/format_prompt.py
  tests/test_format_as_xml.py
Due: format, lint, typecheck, replace-py-code-blocks

minor improvement in tests for xml format
  tests/test_format_as_xml.py
Due: format, lint, typecheck, replace-py-code-blocks

coverage fix in tests for xml format
  tests/test_format_as_xml.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix tests
  .github/workflows/ci.yml
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_agent.py
  tests/models/cassettes/test_model_names/test_known_model_names.yaml
  tests/test_dbos.py
Due: format, lint, typecheck, replace-py-code-blocks

Better step wrapping
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_mcp_server.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_model.py
Due: format, lint, typecheck, replace-py-code-blocks

wrong file
  dbos-1.13.0a2+g4b56355-py3-none-any.whl
Due: none

fix test-loewst-versions
  .github/workflows/ci.yml
Due: none

fix coverage?
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

uv.lock?
  uv.lock
Due: none

Add test for LiteLLMProvider
  tests/providers/test_provider_names.py
Due: format, lint, typecheck, replace-py-code-blocks

fix coverage
  pydantic_evals/pydantic_evals/otel/_context_in_memory_span_exporter.py
Due: format, lint, typecheck, replace-py-code-blocks

add: load_mcp_servers
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/mcp.py
  tests/test_mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

rm: removed load_mcp_servers for now
  pydantic_ai_slim/pydantic_ai/__init__.py
Due: format, lint, typecheck, replace-py-code-blocks

rm: removed load_mcp_servers from __all__
  pydantic_ai_slim/pydantic_ai/__init__.py
Due: format, lint, typecheck, replace-py-code-blocks

update: annotation
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

fix: lint
  pydantic_ai_slim/pydantic_ai/__init__.py
Due: format, lint, typecheck, replace-py-code-blocks

fix: param annotation
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

fix: lint
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

restore init
  pydantic_ai_slim/pydantic_ai/__init__.py
Due: format, lint, typecheck, replace-py-code-blocks

test: skip on mcp import failure
  tests/test_mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

rm: irrelevant import
  pydantic_ai_slim/pydantic_ai/__init__.py
Due: format, lint, typecheck, replace-py-code-blocks

no cover
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

debug
  tests/test_dbos.py
Due: format, lint, typecheck, replace-py-code-blocks

fix coverage, cleanup
  pydantic_evals/pydantic_evals/otel/_context_in_memory_span_exporter.py
  tests/cassettes/test_dbos/test_dbos_agent_sync_tool_activity_disabled.yaml
  tests/cassettes/test_dbos/test_logfire_plugin.yaml
  tests/test_dbos.py
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

fix coverage badge
  .github/workflows/after-ci.yml
  .github/workflows/ci.yml
Due: none

generate report
  .github/workflows/ci.yml
Due: none

fix coverage badge (#2652)
  .github/workflows/after-ci.yml
  .github/workflows/ci.yml
Due: none

Add citations
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/models/cassettes/test_model_names/test_known_model_names.yaml
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
  replace-py-code-blocks: any of: \.py$|\.md$
