Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

Infer gateway base URL from token region (#4192)
  pydantic_ai_slim/pydantic_ai/providers/gateway.py
  tests/providers/test_gateway.py
Due: clai-help, format, lint, typecheck

Drop .python-version and fix test
  .python-version
  pydantic_ai_slim/pydantic_ai/format_prompt.py
Due: clai-help, format, lint, typecheck

move to use gh pr diff instead of checking out
  .github/workflows/pr-auto-label.yml
Due: none

increase timeout
  .github/workflows/ci.yml
Due: none

fix as much as i could
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Try getting CI passing
  tests/test_concurrency.py
Due: clai-help, format, lint, typecheck

Add concurrency limiting for Agents and Models (#4149)
  docs/agents.md
  docs/api/concurrency.md
  docs/models/overview.md
  docs/models/xai.md
  docs/troubleshooting.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/concurrency.py
  pydantic_ai_slim/pydantic_ai/exceptions.py
  pydantic_ai_slim/pydantic_ai/models/concurrency.py
  tests/test_concurrency.py
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

fix(gateway): add missing `-_` characeters to match api key
  pydantic_ai_slim/pydantic_ai/providers/gateway.py
Due: clai-help, format, lint, typecheck

feedback fixes
  docs/input.md
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

fix(gateway): add missing `-_` characeters to match api key (#4194)
  pydantic_ai_slim/pydantic_ai/providers/gateway.py
Due: clai-help, format, lint, typecheck

refactor: call `is_model_like` once
  pydantic_evals/pydantic_evals/evaluators/common.py
Due: clai-help, format, lint, typecheck

refactor: restore `output` to `output_dict`, matching original `expected_dict`
  pydantic_evals/pydantic_evals/evaluators/common.py
Due: clai-help, format, lint, typecheck

coverage vercel
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

fix feedback
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_model.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

feat(models): add gpt-5.2-codex to KnownModelName
  pydantic_ai_slim/pydantic_ai/models/__init__.py
Due: clai-help, format, lint, typecheck

update lint
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

docs: update outdated model references to latest versions
  docs/common-tools.md
  docs/durable_execution/temporal.md
  docs/evals/evaluators/built-in.md
  docs/troubleshooting.md
Due: clai-help

feat(evals): update default LLM judge model from gpt-4o to gpt-5.2
  pydantic_evals/pydantic_evals/evaluators/common.py
  pydantic_evals/pydantic_evals/evaluators/llm_as_a_judge.py
  pydantic_evals/pydantic_evals/generation.py
Due: clai-help, format, lint, typecheck

chore(tests): update model names to latest versions
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

docs: update model references in direct.py and output.py docstrings
  pydantic_ai_slim/pydantic_ai/direct.py
  pydantic_ai_slim/pydantic_ai/output.py
Due: clai-help, format, lint, typecheck

docs(output): update model references to latest GPT-4.1 series
  pydantic_ai_slim/pydantic_ai/output.py
Due: clai-help, format, lint, typecheck

chore(examples): update model names to latest versions
  examples/pydantic_ai_examples/bank_support.py
  examples/pydantic_ai_examples/chat_app.py
  examples/pydantic_ai_examples/data_analyst.py
  examples/pydantic_ai_examples/evals/agent.py
  examples/pydantic_ai_examples/evals/example_04_compare_models.py
  examples/pydantic_ai_examples/flight_booking.py
  examples/pydantic_ai_examples/pydantic_model.py
  examples/pydantic_ai_examples/question_graph.py
  examples/pydantic_ai_examples/rag.py
  examples/pydantic_ai_examples/slack_lead_qualifier/agent.py
  examples/pydantic_ai_examples/sql_gen.py
  examples/pydantic_ai_examples/stream_markdown.py
  examples/pydantic_ai_examples/stream_whales.py
Due: clai-help, format, lint, typecheck

docs: update model names to latest versions in documentation examples
  docs/common-tools.md
  docs/evals/evaluators/llm-judge.md
  docs/troubleshooting.md
Due: clai-help

docs(pydantic-evals): fix model default in generate_dataset docstring
  pydantic_evals/pydantic_evals/generation.py
Due: clai-help, format, lint, typecheck

docs(examples): update stale GPT-4 references in stream_whales
  examples/pydantic_ai_examples/stream_whales.py
Due: clai-help, format, lint, typecheck

fix(docs): use gpt-4o in NativeOutput example
  pydantic_ai_slim/pydantic_ai/output.py
Due: clai-help, format, lint, typecheck

fix(docs): correct default judge model from gpt-5 to gpt-4o
  docs/evals/evaluators/built-in.md
Due: clai-help

docs(examples): remove GPT-4 reference from stream-whales docs
  docs/examples/stream-whales.md
Due: clai-help

docs(output): use gpt-4o for Native Output example
  docs/output.md
Due: clai-help

Use existing image fixture instead of a separate base64 value
  tests/test_a2a.py
Due: clai-help, format, lint, typecheck

too many pragmas
  tests/models/test_multimodal_tool_returns.py
Due: clai-help, format, lint, typecheck

Fix new_messages() bug by tracking run_id in messages
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_history_processor.py
Due: clai-help, format, lint, typecheck

coverage
  tests/test_searchable_toolset.py
  tests/test_tool_search_vcr.py
Due: clai-help, format, lint, typecheck

Fix snapshot check to use image_content's media_type variable
  tests/test_a2a.py
Due: clai-help, format, lint, typecheck

handle pause turn
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_event_stream.py
  tests/models/test_anthropic_pause_turn.py
Due: clai-help, format, lint, typecheck

address devin comments
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: clai-help, format, lint, typecheck

test coverage
  pydantic_ai_slim/pydantic_ai/_griffe.py
  pydantic_ai_slim/pydantic_ai/_output.py
  tests/models/test_anthropic.py
  tests/test_tools.py
Due: clai-help, format, lint, typecheck

coverage
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/models/test_multimodal_tool_returns.py
Due: clai-help, format, lint, typecheck

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
