Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

Ensure `stream_output()` always calls output function/validator with `partial_output=False` at the end of streaming (#3918)
  docs/output.md
  pydantic_ai_slim/pydantic_ai/result.py
  tests/models/test_anthropic.py
  tests/models/test_gemini.py
  tests/models/test_groq.py
  tests/models/test_huggingface.py
  tests/models/test_mistral.py
  tests/models/test_openai.py
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

Clarify that maintainer will set PR label
  .github/workflows/label.yml
Due: none

Set human-readable Temporal activity summaries (#3919)
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_dynamic_toolset.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_function_toolset.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_mcp.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_model.py
Due: clai-help, format, lint, typecheck

Don't consider PRs stale so quickly
  .github/workflows/stale.yml
Due: none

Let agent call nonexistent tool as often as `Agent` `retries` limit specifies (#3597)
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

chore: Clarify that maintainer will set PR label and don't consider PRs stale so quickly (#3931)
  .github/workflows/label.yml
  .github/workflows/stale.yml
Due: none

Add various cassette and snapshotting fixes (#3900)
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pyproject.toml
  tests/conftest.py
  tests/json_body_serializer.py
  tests/models/cassettes/test_gemini/test_gemini_model_thinking_part.yaml
  tests/models/test_gemini.py
  uv.lock
Due: clai-help, format, lint, typecheck

coverage
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/__init__.py
Due: clai-help, format, lint, typecheck

Revert "tests: Patch Prefect hang (#3930)"
  tests/test_prefect.py
Due: clai-help, format, lint, typecheck

Revert "tests: Patch Prefect hang (#3930)" (#3932)
  tests/test_prefect.py
Due: clai-help, format, lint, typecheck

Fix `PydanticAIPlugin` to preserve custom `payload_codec` and respect `PydanticPayloadConverter` subclasses (#3920)
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/__init__.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

ci: Add automatic PR labeling for size and category
  .github/workflows/label.yml
  .github/workflows/pr-auto-label.yml
Due: none

Add tool approval docs with correct parameter name
  docs/ui/vercel-ai.md
Due: clai-help

Fix end-of-file and trailing whitespace issues
  AGENTS.md
  pydantic_ai_slim/pydantic_ai/models/mcp_sampling.py
Due: clai-help, format, lint, typecheck

Fix: implement fully_qualified_model_name in MyModel subclasses for CI
  tests/evals/test_evaluators.py
  tests/models/test_instrumented.py
Due: clai-help, format, lint, typecheck

Fix: add # pragma: no cover to MyModel.fully_qualified_model_name in test files
  tests/evals/test_evaluators.py
  tests/models/test_instrumented.py
Due: clai-help, format, lint, typecheck

Add # pragma: no cover to fully_qualified_model_name properties to fix coverage CI
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/fallback.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  pydantic_ai_slim/pydantic_ai/models/mcp_sampling.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/outlines.py
Due: clai-help, format, lint, typecheck

fix: use thread-based streaming for proper OTel context
  pydantic_ai_slim/pydantic_ai/result.py
Due: clai-help, format, lint, typecheck

Drop httpx cache
  pydantic_ai_slim/pydantic_ai/providers/openai.py
Due: clai-help, format, lint, typecheck

Add OpenAI Batch API support for 50% cost savings
  docs/direct.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/direct.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai_batch.py
Due: clai-help, format, lint, typecheck

Add input and output guardrails
  docs/api/guardrails.md
  docs/guardrails.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_guardrail.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/guardrails.py
  tests/test_guardrails.py
Due: clai-help, format, lint, typecheck

Update announcement banner for PyAI Conf
  docs/.overrides/main.html
Due: none

Address review feedback: simplify API and improve docs
  pydantic_ai_slim/pydantic_ai/direct.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai_batch.py
Due: clai-help, format, lint, typecheck

Address review feedback: simplify API and improve consistency
  docs/guardrails.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_guardrail.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/guardrails.py
  tests/test_guardrails.py
Due: clai-help, format, lint, typecheck

fix: use OpenAIProvider for mock client injection in batch tests
  tests/models/test_openai_batch.py
Due: clai-help, format, lint, typecheck

fix: remove unused AsyncOpenAI import
  tests/models/test_openai_batch.py
Due: clai-help, format, lint, typecheck

test: add coverage for run_stream_sync context manager
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

Fix lint: format imports and remove unused Agent import
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
Due: clai-help, format, lint, typecheck

Fix pyright error in test_guardrail_result_passed_with_output
  tests/test_guardrails.py
Due: clai-help, format, lint, typecheck

fix: add proper type casting for mock OpenAI client in tests
  tests/models/test_openai_batch.py
Due: clai-help, format, lint, typecheck

chore: mark unreachable exception re-raise with pragma no cover
  pydantic_ai_slim/pydantic_ai/result.py
Due: clai-help, format, lint, typecheck

Fix docs/guardrails.md examples: async function and import sorting
  docs/guardrails.md
Due: clai-help

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
