Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

docs: make the genai-prices duplicate check checkout-agnostic
  .agents/skills/add-new-model/SKILL.md
Due: clai-help

docs: use a provider-file placeholder in the genai-prices duplicate check
  .agents/skills/add-new-model/SKILL.md
Due: clai-help

Build AnthropicModelSettings inside the resolver tests, not at collection time
  tests/models/test_prompt_cache_retention.py
Due: clai-help, format, lint, typecheck

docs: simplify compatible APIs page, drop providers without a provider class, add realtime cross-links
  docs/capabilities/thinking.md
  docs/embeddings.md
  docs/models/azure.md
  docs/models/compatible-apis.md
  docs/models/deepseek.md
  docs/models/github-copilot.md
  docs/models/google-cloud.md
  docs/models/google.md
  docs/models/moonshotai.md
  docs/models/openai.md
  docs/models/overview.md
  docs/models/xai.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/ARCHITECTURE.md
Due: clai-help

Raise `ContentFilterError` for a thinking-only response with a `content_filter` finish reason
  docs/models/overview.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

fix: preserve cleanup after preparation and shared resolution failures
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/_run_resolution.py
  tests/realtime/test_session.py
  tests/test_capability_hooks.py
  tests/test_workspace.py
Due: clai-help, format, lint, typecheck

Address review: lighter install next steps, Gateway in the provider list, frontier models, uvx commands
  README.md
  docs/index.md
  docs/install.md
  docs/models/overview.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/SKILL.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/AGENTS-CORE.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/TESTING-AND-DEBUGGING.md
Due: clai-help

Match the done marker by tag, fail on an unwritable PID directory, and run in the resolved working dir
  docs/harness/docker-sandbox.md
  src/pydantic_ai_harness/pydantic_ai_harness/docker_sandbox/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/docker_sandbox/_backend.py
  tests/harness/docker_sandbox/_fake_docker.py
  tests/harness/docker_sandbox/test_docker_sandbox.py
Due: clai-help, format, lint, typecheck

test: keep `google.genai` out of the collection-time parametrize
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck

fix: collect error category tests without optional SDKs, keep `ModelAPIError.__reduce__` override-compatible
  pydantic_ai_slim/pydantic_ai/exceptions.py
  tests/models/test_error_categories.py
Due: clai-help, format, lint, typecheck

Use claude-fable-5-1 and gpt-6-sol in the added examples; README tip as a plain blockquote for PyPI
  README.md
  docs/models/overview.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/SKILL.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/AGENTS-CORE.md
Due: clai-help

Track fake docker execs per process so removal never kills a reused PID
  tests/harness/docker_sandbox/_fake_docker.py
Due: clai-help, format, lint, typecheck

fix: also deny Unix datagram sockets without network, which sendmsg can address without connect
  docs/harness/bubblewrap-sandbox.md
  src/pydantic_ai_harness/pydantic_ai_harness/.agents/skills/pydantic-ai-harness/references/CODING-AND-WORKSPACES.md
  src/pydantic_ai_harness/pydantic_ai_harness/bubblewrap_sandbox/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/bubblewrap_sandbox/_seccomp.py
  tests/harness/bubblewrap_sandbox/test_seccomp.py
Due: clai-help, format, lint, typecheck

docs: move realtime tips next to the first example, group major providers first in the directory
  docs/changelog.md
  docs/models/azure.md
  docs/models/google-cloud.md
  docs/models/google.md
  docs/models/openai.md
  docs/models/overview.md
  docs/models/xai.md
Due: clai-help

Address review: end the call even when closing raises, refuse unsupported models before closing, add `AgentRealtime.hang_up`
  docs/realtime/deployment.md
  docs/realtime/tools.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/SKILL.md
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/realtime/_openai_webrtc.py
  pydantic_ai_slim/pydantic_ai/realtime/_session.py
  pydantic_ai_slim/pydantic_ai/realtime/azure.py
  pydantic_ai_slim/pydantic_ai/realtime/model.py
  pydantic_ai_slim/pydantic_ai/realtime/openai.py
  pydantic_ai_slim/pydantic_ai/realtime/openai_live.py
  tests/realtime/test_openai_live_ws.py
  tests/realtime/test_openai_ws.py
  tests/realtime/test_webrtc.py
Due: clai-help, format, lint, typecheck

Move the docs atlas next to its generator and stop committing docs/map.html
  .gitattributes
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  agent_docs/index.md
  docs/map.html
  pyproject.toml
  scripts/docs_map/docs-atlas.md
  scripts/generate_docs_map.py
Due: clai-help, format, lint, typecheck

Render append-mode instructions as `<context>` elements per delivery path
  docs/agent.md
  pydantic_ai_slim/pydantic_ai/_instructions.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  src/pydantic_ai_harness/pydantic_ai_harness/compaction/_shared.py
  tests/cassettes/test_instruction_updates/test_instruction_updates_after_tool_mutation[False-anthropic-fallback].yaml
  tests/cassettes/test_instruction_updates/test_instruction_updates_after_tool_mutation[False-anthropic-inline].yaml
  tests/cassettes/test_instruction_updates/test_instruction_updates_after_tool_mutation[False-responses-continuation].yaml
  tests/cassettes/test_instruction_updates/test_instruction_updates_after_tool_mutation[False-responses].yaml
  tests/cassettes/test_instruction_updates/test_instruction_updates_after_tool_mutation[True-anthropic-fallback].yaml
  tests/cassettes/test_instruction_updates/test_instruction_updates_after_tool_mutation[True-anthropic-inline].yaml
  tests/cassettes/test_instruction_updates/test_instruction_updates_after_tool_mutation[True-responses-continuation].yaml
  tests/cassettes/test_instruction_updates/test_instruction_updates_after_tool_mutation[True-responses].yaml
  tests/cassettes/test_instruction_updates/test_instruction_updates_preserve_wire_prefix[False-anthropic-fallback].yaml
  tests/cassettes/test_instruction_updates/test_instruction_updates_preserve_wire_prefix[False-anthropic-inline].yaml
  tests/cassettes/test_instruction_updates/test_instruction_updates_preserve_wire_prefix[False-responses-continuation].yaml
  tests/cassettes/test_instruction_updates/test_instruction_updates_preserve_wire_prefix[False-responses].yaml
  tests/cassettes/test_instruction_updates/test_instruction_updates_preserve_wire_prefix[True-anthropic-fallback].yaml
  tests/cassettes/test_instruction_updates/test_instruction_updates_preserve_wire_prefix[True-anthropic-inline].yaml
  tests/cassettes/test_instruction_updates/test_instruction_updates_preserve_wire_prefix[True-responses-continuation].yaml
  tests/cassettes/test_instruction_updates/test_instruction_updates_preserve_wire_prefix[True-responses].yaml
  tests/durable_exec/temporal/test_agent.py
  tests/harness/compaction/test_context_budget.py
  tests/harness/conversation_search/test_conversation_search.py
  tests/test_instruction_updates.py
Due: clai-help, format, lint, typecheck

Add `google_workspace` as a built-in `clai2` plugin backed by harness `GoogleWorkspace` (#8907)
  src/pydantic_ai_harness/pydantic_ai_harness/google_workspace/__init__.py
  src/pydantic_clai2/PLUGINS.md
  src/pydantic_clai2/README.md
  src/pydantic_clai2/pydantic_clai2/_app.py
  src/pydantic_clai2/pydantic_clai2/api_keys.py
  src/pydantic_clai2/pydantic_clai2/google_workspace.py
  src/pydantic_clai2/pydantic_clai2/plugin_loader.py
  src/pydantic_clai2/pydantic_clai2/plugins.py
  tests/clai2/test_builtin_plugins.py
  tests/clai2/test_google_workspace.py
  tests/clai2/test_plugin_loader.py
Due: clai-help, format, lint, typecheck

test(realtime): address the review of the simulator fixes
  tests/realtime/simulation/_findings.py
  tests/realtime/simulation/_invariants.py
  tests/realtime/simulation/_openai_server.py
  tests/realtime/simulation/_openai_simulation.py
  tests/realtime/simulation/test_invariants.py
  tests/realtime/simulation/test_simulation.py
Due: clai-help, format, lint, typecheck

docs: list the gateway, big three labs and clouds first in one provider directory, and match the sidebar
  docs/models/overview.md
  docs/navigation.yml
Due: clai-help

Apply `thinking`, `openai_turn_detection`, `openai_input_noise_reduction` and a new `azure_voice_live_temperature` on Azure AI Voice Live (#9051)
  docs/realtime/azure.md
  docs/realtime/overview.md
  pydantic_ai_slim/pydantic_ai/realtime/azure.py
  pydantic_ai_slim/pydantic_ai/realtime/settings.py
  tests/realtime/cassettes/test_azure_voice_live_ws/test_cascade_reasoning_model_settings_are_adapted.yaml
  tests/realtime/cassettes/test_azure_voice_live_ws/test_openai_audio_settings_apply_on_voice_live.yaml
  tests/realtime/test_azure.py
  tests/realtime/test_azure_voice_live_ws.py
Due: clai-help, format, lint, typecheck

test: assert the read-check shim only sees shell strings, so it has no uncovered argv branch
  tests/harness/shell/test_shell.py
Due: clai-help, format, lint, typecheck

Render the docs viewer only when writing it
  scripts/generate_docs_map.py
Due: clai-help, format, lint, typecheck

Seed tool calls and results as native function parts on Gemini `gemini-3.8-live` (#9058)
  docs/realtime/gemini.md
  docs/realtime/history.md
  docs/realtime/openai.md
  pydantic_ai_slim/pydantic_ai/profiles/google.py
  pydantic_ai_slim/pydantic_ai/realtime/google.py
  pydantic_ai_slim/pydantic_ai/realtime/openai_live.py
  tests/realtime/cassettes/test_google_ws/test_message_history_function_part_seeding.yaml
  tests/realtime/test_google.py
  tests/realtime/test_google_ws.py
Due: clai-help, format, lint, typecheck

test(realtime): cover every branch of the new xAI history tests
  tests/realtime/test_xai.py
Due: clai-help, format, lint, typecheck

fix: let a local workspace spawn finish before a startup timeout kills its process group
  pydantic_ai_slim/pydantic_ai/workspaces/local.py
  tests/test_local_workspace.py
Due: clai-help, format, lint, typecheck

Compare all streams at once in the parity test, so it has no uncovered branch
  tests/models/anthropic/test_stream_parity.py
Due: clai-help, format, lint, typecheck

test: replace the web_fetch event-loop heartbeat with a deterministic check
  tests/test_web_fetch.py
Due: clai-help, format, lint, typecheck

test: mark the unreachable stream consumer line as uncovered
  tests/models/test_openai_responses.py
Due: clai-help, format, lint, typecheck

docs: move Decision models to the end of the Models sidebar
  docs/navigation.yml
Due: none

test: mark the unreachable stream consumer line as uncovered
  tests/models/test_mistral.py
Due: clai-help, format, lint, typecheck

Only attach to and remove containers labelled as `DockerSandbox` workspaces
  docs/harness/docker-sandbox.md
  src/pydantic_ai_harness/pydantic_ai_harness/docker_sandbox/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/docker_sandbox/_backend.py
  tests/harness/docker_sandbox/_fake_docker.py
  tests/harness/docker_sandbox/test_docker_sandbox.py
Due: clai-help, format, lint, typecheck

Keep sub-agents named `asyncio` callable, reserve `_dw_`, and serialize `save_workflow`
  docs/harness/dynamic-workflow.md
  src/pydantic_ai_harness/pydantic_ai_harness/dynamic_workflow/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/dynamic_workflow/_catalog.py
  src/pydantic_ai_harness/pydantic_ai_harness/dynamic_workflow/_prelude.py
  src/pydantic_ai_harness/pydantic_ai_harness/dynamic_workflow/_toolset.py
  tests/harness/dynamic_workflow/test_saved_workflows.py
  tests/harness/dynamic_workflow/test_script_helpers.py
Due: clai-help, format, lint, typecheck

Map in-stream error objects to `ModelAPIError` in `OpenAIChatModel`, `GroqModel` and `HuggingFaceModel` (#9313)
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_groq.py
  tests/models/test_huggingface.py
  tests/models/test_openai.py
Due: clai-help, format, lint, typecheck

fix: keep the full error group reachable from the raised Bedrock embedding error
  pydantic_ai_slim/pydantic_ai/embeddings/bedrock.py
  tests/test_embeddings.py
Due: clai-help, format, lint, typecheck

Raise `ModelAPIError` instead of `ValidationError` when an `OpenRouterModel` stream drops mid-response (#9312)
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
  tests/models/test_openrouter.py
Due: clai-help, format, lint, typecheck

Match wire text through JSON instead of an untyped recursive walk
  tests/test_instruction_updates.py
Due: clai-help, format, lint, typecheck

Read the `capabilities` docs topic from `capabilities/overview.md` in `PydanticAIDocs` (#9011)
  docs/harness/pydantic-ai-docs.md
  src/pydantic_ai_harness/pydantic_ai_harness/pydantic_ai_docs/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/pydantic_ai_docs/_toolset.py
  tests/harness/pydantic_ai_docs/test_pydantic_ai_docs.py
Due: clai-help, format, lint, typecheck

test: cover the nested Responses `error` event shape now that #9313 maps it
  tests/models/test_openai_responses.py
Due: clai-help, format, lint, typecheck

Apply `FileSystem` default `read_only_patterns` to nested `.env` and `.git/` paths (#9021)
  docs/harness/filesystem.md
  src/pydantic_ai_harness/pydantic_ai_harness/filesystem/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/filesystem/_capability.py
  tests/harness/filesystem/test_filesystem.py
Due: clai-help, format, lint, typecheck
