Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

test: cover cache boundary response blocks
  tests/models/test_anthropic.py
Due: clai-help, format, lint, typecheck

fix: run synchronous hooks in executor
  pydantic_ai_slim/pydantic_ai/_utils.py
  pydantic_ai_slim/pydantic_ai/capabilities/hooks.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

feat: unified `cache` setting on `ModelSettings`, mirroring unified `thinking`
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/_prompt_cache.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
  pydantic_ai_slim/pydantic_ai/profiles/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/anthropic.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock.py
  pydantic_ai_slim/pydantic_ai/providers/google.py
  pydantic_ai_slim/pydantic_ai/providers/openai.py
  pydantic_ai_slim/pydantic_ai/providers/openrouter.py
  pydantic_ai_slim/pydantic_ai/settings.py
Due: clai-help, format, lint, typecheck

fix: run sync hook functions in a thread via run_in_executor (#7553)
  docs/hooks.md
  pydantic_ai_slim/pydantic_ai/capabilities/hooks.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

feat: warn once when a `CachePoint` lands on a provider that ignores it
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
  pydantic_ai_slim/pydantic_ai/models/xai.py
  tests/models/openrouter/test_cache.py
  tests/models/test_bedrock.py
  tests/models/test_cohere.py
  tests/models/test_google.py
  tests/models/test_huggingface.py
  tests/models/test_instrumented.py
  tests/models/test_openai_prompt_cache.py
  tests/models/test_xai.py
Due: clai-help, format, lint, typecheck

test: cover unified `cache` resolution, translation, and retention
  tests/models/test_anthropic.py
  tests/models/test_model_settings_support.py
  tests/test_cache_setting.py
Due: clai-help, format, lint, typecheck

docs: document the unified `cache` setting; delegate retention through `WrapperModel`
  docs/models/anthropic.md
  docs/models/bedrock.md
  docs/models/google.md
  docs/models/openai.md
  docs/models/openrouter.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/INPUT-AND-HISTORY.md
  pydantic_ai_slim/pydantic_ai/models/wrapper.py
  tests/test_cache_setting.py
Due: clai-help, format, lint, typecheck

Document worker-thread consequences for sync hooks and pin ContextVar behavior
  docs/hooks.md
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

docs(gemini): update models to 3.7 Flash
  docs/models/google.md
Due: clai-help

fix: correct region for 37f
  docs/models/google.md
Due: clai-help

fix: harden unified `cache` after adversarial review
  docs/models/bedrock.md
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/fallback.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock.py
  pydantic_ai_slim/pydantic_ai/settings.py
  tests/models/test_bedrock.py
  tests/models/test_fallback.py
  tests/models/test_model_request_parameters.py
  tests/models/test_model_settings_support.py
  tests/models/test_openai_prompt_cache.py
  tests/test_cache_setting.py
  tests/test_logfire.py
Due: clai-help, format, lint, typecheck

feat(openai): add `openai_cache_instructions`
  docs/models/openai.md
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai_prompt_cache.py
Due: clai-help, format, lint, typecheck

Skip the Responses inlining when there is no breakpoint to place
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai_prompt_cache.py
Due: clai-help, format, lint, typecheck

Cover the Responses system-prompt fallback
  tests/models/test_openai_prompt_cache.py
Due: clai-help, format, lint, typecheck

fix: harden sandboxes against path, slice, and kill-path pitfalls
  pydantic_ai_slim/pydantic_ai/durable_exec/_sandbox.py
  pydantic_ai_slim/pydantic_ai/sandboxes/local.py
  pydantic_ai_slim/pydantic_ai/sandboxes/protocol.py
  pydantic_ai_slim/pydantic_ai/sandboxes/sandbox.py
  tests/test_local_sandbox.py
  tests/test_sandbox.py
Due: clai-help, format, lint, typecheck

style: satisfy ruff format and docstring rules in the sandbox hardening
  pydantic_ai_slim/pydantic_ai/sandboxes/local.py
  pydantic_ai_slim/pydantic_ai/sandboxes/sandbox.py
Due: clai-help, format, lint, typecheck

Fix the merge crash, chained-request duplication, and system-prompt parity
  docs/models/openai.md
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai_prompt_cache.py
Due: clai-help, format, lint, typecheck

Drop the redundant server-state case and assert request shapes directly
  tests/models/test_openai_prompt_cache.py
Due: clai-help, format, lint, typecheck

test: cover the run-only backend's identity forwarding
  tests/test_sandbox.py
Due: clai-help, format, lint, typecheck

Update Gemini models in docs to 3.7 Flash (#7558)
  docs/models/google.md
Due: clai-help

test: refresh profile-resolution and settings-schema snapshots for the cache profile keys
  tests/profiles/test_resolution_matrix.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

test: close coverage gaps on the unified cache paths
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/providers/google.py
  tests/models/test_groq.py
  tests/models/test_mistral.py
  tests/test_cache_setting.py
Due: clai-help, format, lint, typecheck

Add the harness `Keenable Search` page to the docs navigation
  docs/navigation.yml
Due: none

Abandon worker threads at the deadline so sync tool and hook timeouts fire
  pydantic_ai_slim/pydantic_ai/_utils.py
  pydantic_ai_slim/pydantic_ai/capabilities/hooks.py
  pydantic_ai_slim/pydantic_ai/toolsets/function.py
  tests/test_capabilities.py
  tests/test_tools.py
Due: clai-help, format, lint, typecheck

Keep the sync hooks docs to user-facing guidance
  docs/hooks.md
Due: clai-help

Document that implicit mode composes with the instruction breakpoint
  docs/models/openai.md
Due: clai-help

Create the run's cancellation controller before setup-phase for_run hooks
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  tests/test_run_cancellation.py
Due: clai-help, format, lint, typecheck

test: close the sandbox coverage gaps
  tests/test_dbos.py
  tests/test_readonly_sandbox.py
  tests/test_sandbox.py
  tests/test_wrap_entire_run.py
Due: clai-help, format, lint, typecheck

Drop wrong no-cover pragmas: abandoned threads run to completion
  tests/test_capabilities.py
  tests/test_tools.py
Due: clai-help, format, lint, typecheck

Trim the prompt caching docs to match the Anthropic page
  docs/models/openai.md
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: clai-help, format, lint, typecheck

Carry Bedrock guardrail `trace` in `ModelResponse.provider_details`
  docs/models/bedrock.md
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  tests/models/test_bedrock.py
Due: clai-help, format, lint, typecheck

Note in the timeouts table that a def hook is not stopped at the deadline
  docs/timeouts.md
Due: clai-help

Call out the ContextVar implications of sync hooks running on a separate thread
  docs/capabilities/custom.md
  docs/hooks.md
Due: clai-help

fix: accrue subagent tool usage into the outer run's RunUsage
  pydantic_ai_slim/pydantic_ai/common_tools/image_generation.py
  pydantic_ai_slim/pydantic_ai/common_tools/x_search.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Fix pyright errors in Bedrock guardrail trace provider_details
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  tests/models/test_bedrock.py
Due: clai-help, format, lint, typecheck

Lead the sync hooks note with the why: sync is assumed blocking
  docs/hooks.md
Due: clai-help

Mirror the separate-thread note for sync tools and name the exact error
  docs/hooks.md
  docs/tools-advanced.md
Due: clai-help

Run sync hooks in a thread pool and enforce `timeout=` for blocking sync tools and hooks (#7557)
  docs/capabilities/custom.md
  docs/hooks.md
  docs/timeouts.md
  docs/tools-advanced.md
  pydantic_ai_slim/pydantic_ai/_utils.py
  pydantic_ai_slim/pydantic_ai/capabilities/hooks.py
  pydantic_ai_slim/pydantic_ai/toolsets/function.py
  tests/test_capabilities.py
  tests/test_tools.py
Due: clai-help, format, lint, typecheck

fix: treat a response whose only text parts are empty as having no text output
  docs/output.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

Finalize `None` output for blank-text-only responses when `None` is allowed
  docs/output.md
  docs/retries.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
