Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

replace-py-code-blocks:
  name: Replace ```py with ```python
  entry: "if [[ \"$(uname)\" == \"Darwin\" ]]; then\n  sed -i '' 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nelse\n  sed -i 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nfi\n"
  language: system
  pass_filenames: true

Add documentation of graph interruption with iteration
  docs/graph.md
  pydantic_graph/pydantic_graph/graph.py
Due: format, lint, typecheck, replace-py-code-blocks

Replace type by kind
  pydantic_ai_slim/pydantic_ai/messages.py
Due: format, lint, typecheck, replace-py-code-blocks

Version 0.0.26
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Support multimodal inputs (#971)
  .pre-commit-config.yaml
  docs/input.md
  examples/pydantic_ai_examples/chat_app.py
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/tools.py
  tests/assets/kiwi.png
  tests/assets/marcelo.mp3
  tests/conftest.py
  tests/graph/test_history.py
  tests/graph/test_state.py
  tests/json_body_serializer.py
  tests/models/cassettes/test_anthropic/test_image_url_input.yaml
  tests/models/cassettes/test_anthropic/test_multiple_parallel_tool_calls.yaml
  tests/models/cassettes/test_gemini/test_image_as_binary_content_input.yaml
  tests/models/cassettes/test_gemini/test_image_url_input.yaml
  tests/models/cassettes/test_groq/test_image_as_binary_content_input.yaml
  tests/models/cassettes/test_groq/test_image_url_input.yaml
  tests/models/cassettes/test_openai/test_audio_as_binary_content_input.yaml
  tests/models/cassettes/test_openai/test_image_as_binary_content_input.yaml
  tests/models/test_anthropic.py
  tests/models/test_cohere.py
  tests/models/test_gemini.py
  tests/models/test_groq.py
  tests/models/test_mistral.py
  tests/models/test_model_function.py
  tests/models/test_model_test.py
  tests/models/test_openai.py
  tests/test_agent.py
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix agent graph types
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix agent graph types (#983)
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
Due: format, lint, typecheck, replace-py-code-blocks

Use .iter() API to fully replace existing streaming implementation
  docs/agents.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/result.py
Due: format, lint, typecheck, replace-py-code-blocks

Version 0.0.26 (#982)
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

docs: remove unnecessary variable in code example
  docs/input.md
Due: replace-py-code-blocks

docs: remove unnecessary variable in code example (#984)
  docs/input.md
Due: replace-py-code-blocks

Fix test
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Push exceptiongroup
  docs/models.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/exceptions.py
  pydantic_ai_slim/pydantic_ai/models/fallback.py
  pydantic_ai_slim/pyproject.toml
  tests/models/test_fallback.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

tests passing
  docs/models.md
Due: replace-py-code-blocks

Only run documentation build hooks in CI
  .github/workflows/ci.yml
  docs/.hooks/algolia.py
  docs/.hooks/build_llms_txt.py
Due: format, lint, typecheck, replace-py-code-blocks

feedback
  .github/workflows/ci.yml
  docs/.hooks/algolia.py
  docs/.hooks/build_llms_txt.py
Due: format, lint, typecheck, replace-py-code-blocks

Only run documentation build hooks in CI (#986)
  docs/.hooks/algolia.py
  docs/.hooks/build_llms_txt.py
Due: format, lint, typecheck, replace-py-code-blocks

Add `DocumentUrl` and support document via `BinaryContent`
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

Apply David's comments
  docs/models.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/exceptions.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/fallback.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_anthropic.py
  tests/models/test_cohere.py
  tests/models/test_fallback.py
  tests/models/test_gemini.py
  tests/models/test_groq.py
  tests/models/test_mistral.py
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Update docs/models.md
  docs/models.md
Due: replace-py-code-blocks

Use async for in the docs
  docs/agents.md
Due: replace-py-code-blocks

Update docs
  docs/models.md
Due: replace-py-code-blocks

Push more
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

Improve model names in tests
  docs/agents.md
  docs/message-history.md
  docs/models.md
  docs/tools.md
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix tests
  docs/message-history.md
  pydantic_ai_slim/pydantic_ai/models/function.py
  tests/models/test_fallback.py
  tests/models/test_model_function.py
  tests/test_agent.py
  tests/test_examples.py
  tests/test_streaming.py
Due: format, lint, typecheck, replace-py-code-blocks

Add `FallbackModel` support (#894)
  docs/agents.md
  docs/api/models/fallback.md
  docs/message-history.md
  docs/models.md
  docs/tools.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/exceptions.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/fallback.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pyproject.toml
  tests/conftest.py
  tests/models/mock_async_stream.py
  tests/models/test_anthropic.py
  tests/models/test_cohere.py
  tests/models/test_fallback.py
  tests/models/test_gemini.py
  tests/models/test_groq.py
  tests/models/test_mistral.py
  tests/models/test_model_function.py
  tests/models/test_openai.py
  tests/test_agent.py
  tests/test_examples.py
  tests/test_streaming.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

A bit more clean-up
  docs/agents.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix typeguard import
  pydantic_ai_slim/pydantic_ai/agent.py
Due: format, lint, typecheck, replace-py-code-blocks

fix: send the right data format to gemini image input
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  tests/models/cassettes/test_gemini/test_image_as_binary_content_input.yaml
  tests/models/cassettes/test_gemini/test_image_url_input.yaml
  tests/models/test_gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

fix: send the right data format to gemini image input (#991)
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  tests/models/cassettes/test_gemini/test_image_as_binary_content_input.yaml
  tests/models/cassettes/test_gemini/test_image_url_input.yaml
  tests/models/test_gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

Version 0.0.27
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Version 0.0.27 (#992)
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Bump anthropic
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

fix(anthropic): multi modal inputs w/ ImageUrl, hard-coded to image/jpeg mimetype. Copy logic from gemini models
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

chore: remove commented code
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

fix: linting
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

I'm not able to make it work..
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  tests/assets/dummy.pdf
  tests/models/cassettes/test_gemini/test_document_url_input.yaml
  tests/models/test_gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

Add tests
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/cassettes/test_anthropic/test_image_url_input_invalid_mime_type.yaml
  tests/models/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

Anthropic Modles using ImageUrl - hardcoded mimetype image/jpeg (#993)
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/cassettes/test_anthropic/test_image_url_input_invalid_mime_type.yaml
  tests/models/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

Fixed DuplicateTableError for sql gen example
  examples/pydantic_ai_examples/sql_gen.py
Due: format, lint, typecheck, replace-py-code-blocks

Add support for AWS Bedrock Converse API
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  tests/models/cassettes/test_bedrock/test_bedrock_model.yaml
  tests/models/cassettes/test_bedrock/test_bedrock_model_structured_response.yaml
  tests/models/test_bedrock.py
  tests/models/test_model_names.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
  replace-py-code-blocks: any of: \.py$|\.md$
