Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: replace-py-code-blocks
        name: Replace ```py with ```python
        # first pattern matches ```py <info> and second matches lone ```py<eol>
        entry: |
          if [[ "$(uname)" == "Darwin" ]]; then
            sed -i '' 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          else
            sed -i 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          fi
        language: system
        files: \.py$|\.md$
        pass_filenames: true

require opentelemetry-api
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

join thread
  tests/graph/test_utils.py
Due: format, lint, typecheck, replace-py-code-blocks

Pass non-annotated settings to OpenAI API
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

fix lints and types
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

remove span from docstring
  pydantic_graph/pydantic_graph/graph.py
Due: format, lint, typecheck, replace-py-code-blocks

Create a new event loop on each thread (#1004)
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_graph/pydantic_graph/_utils.py
  pydantic_graph/pydantic_graph/graph.py
  tests/graph/test_utils.py
Due: format, lint, typecheck, replace-py-code-blocks

Version 0.0.29
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Version 0.0.29 (#1008)
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Attributes mode
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
  tests/test_logfire.py
Due: format, lint, typecheck, replace-py-code-blocks

fix tests
  tests/models/test_instrumented.py
Due: format, lint, typecheck, replace-py-code-blocks

fix error lint
  docs/examples/transcription.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_model_names.py
Due: format, lint, typecheck, replace-py-code-blocks

fix codespell of example transcription
  docs/examples/transcription.md
Due: replace-py-code-blocks

Update test
  docs/agents.md
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix formatter error
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix test docs
  docs/examples/transcription.md
Due: replace-py-code-blocks

Fix list md errors
  docs/examples/transcription.md
Due: replace-py-code-blocks

Fix error md when eval
  docs/examples/transcription.md
  examples/pydantic_ai_examples/transcription.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix test
  docs/agents.md
  pydantic_ai_slim/pydantic_ai/models/function.py
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Create test to new method transcription
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Create test to increment cover
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

remove comment
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Update tests a bit
  docs/agents.md
Due: replace-py-code-blocks

Update coverage
  pydantic_ai_slim/pydantic_ai/agent.py
  tests/test_streaming.py
Due: format, lint, typecheck, replace-py-code-blocks

Use `.iter()` API to fully replace existing streaming implementation (#951)
  docs/agents.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/result.py
  tests/test_examples.py
  tests/test_streaming.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix more tests
  docs/agents.md
  tests/test_streaming.py
Due: format, lint, typecheck, replace-py-code-blocks

Added gpt-4.5-preview support for OpenAIModel
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Fixed missing version and placement
  pydantic_ai_slim/pydantic_ai/models/__init__.py
Due: format, lint, typecheck, replace-py-code-blocks

Added gpt-4.5-preview support for OpenAIModel (#1011)
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Add `Provider`s API
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/providers.py
Due: format, lint, typecheck, replace-py-code-blocks

Add attributes mode to InstrumentedModel (#1010)
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
  pydantic_ai_slim/pydantic_ai/usage.py
  tests/models/test_instrumented.py
Due: format, lint, typecheck, replace-py-code-blocks

Add DeepSeek to Agent inference
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/providers.py
Due: format, lint, typecheck, replace-py-code-blocks

fix
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
Due: format, lint, typecheck, replace-py-code-blocks

Support different content inputs in TestModel
  pydantic_ai_slim/pydantic_ai/models/function.py
  tests/models/test_model_test.py
Due: format, lint, typecheck, replace-py-code-blocks

Version 0.0.30
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Support different content inputs in TestModel (#1015)
  pydantic_ai_slim/pydantic_ai/models/function.py
  tests/models/test_model_test.py
Due: format, lint, typecheck, replace-py-code-blocks

Version 0.0.30 (#1016)
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

handle serialization errors
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
Due: format, lint, typecheck, replace-py-code-blocks

Accept recursive objects in `return_type`
  pydantic_ai_slim/pydantic_ai/_utils.py
  tests/test_utils.py
Due: format, lint, typecheck, replace-py-code-blocks

pragma
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
Due: format, lint, typecheck, replace-py-code-blocks

comprehension
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
Due: format, lint, typecheck, replace-py-code-blocks
