Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: replace-py-code-blocks
        name: Replace ```py with ```python
        # first pattern matches ```py <info> and second matches lone ```py<eol>
        entry: |
          if [[ "$(uname)" == "Darwin" ]]; then
            sed -i '' 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          else
            sed -i 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          fi
        language: system
        files: \.py$|\.md$
        pass_filenames: true

minor change in test sambanova
  pydantic_ai_slim/pydantic_ai/models/sambanova.py
  tests/models/test_sambanova.py
Due: format, lint, typecheck, replace-py-code-blocks

Added completion model structured
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  tests/models/test_mistral.py
Due: format, lint, typecheck, replace-py-code-blocks

fmt
  pydantic_ai_slim/pydantic_ai/models/sambanova.py
Due: format, lint, typecheck, replace-py-code-blocks

minor change in test sambanova
  tests/models/test_sambanova.py
Due: format, lint, typecheck, replace-py-code-blocks

lint
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/sambanova.py
Due: format, lint, typecheck, replace-py-code-blocks

Revert "difference for linux vs mac?"
  .pre-commit-config.yaml
Due: none

other fences
  docs/dependencies.md
  docs/examples/pydantic-model.md
  docs/examples/rag.md
Due: replace-py-code-blocks

def pass filenames
  .pre-commit-config.yaml
Due: none

lint
  pydantic_ai_slim/pydantic_ai/models/sambanova.py
Due: format, lint, typecheck, replace-py-code-blocks

remove pre-commit job
  .pre-commit-config.yaml
Due: none

Standardize "py" -> "python" in code blocks with pre-commit (#217)
  README.md
  docs/agents.md
  docs/api/models/ollama.md
  docs/api/models/vertexai.md
  docs/dependencies.md
  docs/examples/bank-support.md
  docs/examples/chat-app.md
  docs/examples/pydantic-model.md
  docs/examples/rag.md
  docs/examples/sql-gen.md
  docs/examples/stream-markdown.md
  docs/examples/stream-whales.md
  docs/examples/weather-agent.md
  docs/index.md
  docs/install.md
  docs/logfire.md
  docs/message-history.md
  docs/results.md
  docs/testing-evals.md
  pydantic_ai_slim/pydantic_ai/_utils.py
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/tools.py
Due: format, lint, typecheck, replace-py-code-blocks

minor change
  tests/models/test_sambanova.py
Due: format, lint, typecheck, replace-py-code-blocks

adding anthropic and disabling ollama for now
  tests/test_live.py
Due: format, lint, typecheck, replace-py-code-blocks

Add Anthropic (non-streaming) Support (#193)
  .github/workflows/ci.yml
  README.md
  docs/api/models/anthropic.md
  docs/index.md
  docs/install.md
  mkdocs.yml
  pydantic_ai_examples/pyproject.toml
  pydantic_ai_slim/pydantic_ai/_utils.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  tests/models/test_anthropic.py
  tests/models/test_model_function.py
  tests/test_live.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

update sambanova available model list
  pydantic_ai_slim/pydantic_ai/models/__init__.py
Due: format, lint, typecheck, replace-py-code-blocks

run -> run_async
  README.md
  docs/agents.md
  docs/dependencies.md
  docs/index.md
  docs/install.md
  docs/testing-evals.md
  pydantic_ai_examples/rag.py
  pydantic_ai_examples/sql_gen.py
  pydantic_ai_examples/weather_agent.py
  pydantic_ai_slim/pydantic_ai/agent.py
  tests/models/test_anthropic.py
  tests/models/test_gemini.py
  tests/models/test_groq.py
  tests/models/test_ollama.py
  tests/models/test_openai.py
  tests/test_agent.py
  tests/test_live.py
  tests/test_logfire.py
Due: format, lint, typecheck, replace-py-code-blocks

docs fixes
  docs/agents.md
  docs/api/agent.md
  docs/message-history.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/messages.py
Due: format, lint, typecheck, replace-py-code-blocks

Added tests model structured and result type
  tests/models/test_mistral.py
Due: format, lint, typecheck, replace-py-code-blocks

Cleaned merge with new tool id
  pydantic_ai_slim/pydantic_ai/models/mistral.py
Due: format, lint, typecheck, replace-py-code-blocks

Optimised tool call
  pydantic_ai_slim/pydantic_ai/models/mistral.py
Due: format, lint, typecheck, replace-py-code-blocks

Updated tests code style
  tests/models/test_mistral.py
Due: format, lint, typecheck, replace-py-code-blocks

Cleaned documentation and todo
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  tests/models/test_mistral.py
Due: format, lint, typecheck, replace-py-code-blocks

Cleaned documentation and fixed none delta
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  tests/models/test_mistral.py
Due: format, lint, typecheck, replace-py-code-blocks

fix double anthropic reference
  docs/index.md
Due: replace-py-code-blocks

Added Tests Completion Function call and costs
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  tests/models/test_mistral.py
Due: format, lint, typecheck, replace-py-code-blocks

feat: add support for new Gemini model 'gemini-2.0-flash-exp'
  pydantic_ai_slim/pydantic_ai/models/gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

run `make format`
  pydantic_ai_slim/pydantic_ai/models/gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

Update docs/index.md
  docs/index.md
Due: replace-py-code-blocks

fix double anthropic reference (#222)
  docs/index.md
Due: replace-py-code-blocks

feat: add 'gemini-2.0-flash-exp' to KnownModelName list
  pydantic_ai_slim/pydantic_ai/models/__init__.py
Due: format, lint, typecheck, replace-py-code-blocks

Update pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
Due: format, lint, typecheck, replace-py-code-blocks

Update pyproject.toml
  pyproject.toml
Due: none
