Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

replace-py-code-blocks:
  name: Replace ```py with ```python
  entry: "if [[ \"$(uname)\" == \"Darwin\" ]]; then\n  sed -i '' 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nelse\n  sed -i 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nfi\n"
  language: system
  pass_filenames: true

Remove the agent provider, just use a RestateAgent
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/__init__.py
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Add support tool approval and deferred tools
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_toolset.py
Due: format, lint, typecheck, replace-py-code-blocks

Cache the model serde
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_model.py
Due: format, lint, typecheck, replace-py-code-blocks

rebase
  uv.lock
Due: none

Treat ModelRetry as successful value
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_toolset.py
Due: format, lint, typecheck, replace-py-code-blocks

Use the correct .run() signature
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

enhance existing response model init test and revert openai init test name
  tests/models/test_openai.py
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

Chat Completions adapter + even stream WIP
  pydantic_ai_slim/pydantic_ai/openai_api.py
  pydantic_ai_slim/pydantic_ai/ui/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/chat_completions/__init__.py
  pydantic_ai_slim/pydantic_ai/ui/chat_completions/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/chat_completions/_event_stream.py
  pydantic_ai_slim/pydantic_ai/ui/chat_completions/_type_guards.py
  pydantic_ai_slim/pydantic_ai/ui/chat_completions/app.py
  tests/test_chat_completions.py
Due: format, lint, typecheck, replace-py-code-blocks

Support event_stream_handler
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_model.py
Due: format, lint, typecheck, replace-py-code-blocks

wip: improve coverage
  pydantic_ai_slim/pydantic_ai/_parts_manager.py
  tests/test_parts_manager.py
  tests/test_parts_manager_split_tags.py
  tests/test_streaming.py
Due: format, lint, typecheck, replace-py-code-blocks

Chat Completions adapter + even stream WIP
  pydantic_ai_slim/pydantic_ai/openai_api.py
  pydantic_ai_slim/pydantic_ai/ui/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/chat_completions/__init__.py
  pydantic_ai_slim/pydantic_ai/ui/chat_completions/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/chat_completions/_type_guards.py
  pydantic_ai_slim/pydantic_ai/ui/chat_completions/app.py
  tests/test_chat_completions.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

simplify hooks
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
  tests/models/cassettes/test_openrouter/test_openrouter_stream_error.yaml
  tests/models/test_openrouter.py
Due: format, lint, typecheck, replace-py-code-blocks

Add support for detecting and handling `application/msword` files.
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/test_messages.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix typevar variance for agent deps
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_run_context.py
  tests/typed_deps.py
Due: format, lint, typecheck, replace-py-code-blocks

fix: use line_length when testing stream_text, add mock response
  docs/output.md
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

revert whitespace change
  pydantic_ai_slim/pydantic_ai/_output.py
Due: format, lint, typecheck, replace-py-code-blocks

rename o to output for consistency; remove unneeded assert
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

remove trailing whitespace
  docs/output.md
Due: replace-py-code-blocks

More typing improvements..?
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_run_context.py
  pydantic_ai_slim/pydantic_ai/tools.py
  tests/typed_agent.py
  tests/typed_deps.py
Due: format, lint, typecheck, replace-py-code-blocks

fix coverage/linting
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
Due: format, lint, typecheck, replace-py-code-blocks

Update docs/agents.md
  docs/agents.md
Due: replace-py-code-blocks

fix lint
  pydantic_ai_slim/pydantic_ai/providers/openrouter.py
Due: format, lint, typecheck, replace-py-code-blocks

revert changes to validator signature
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
Due: format, lint, typecheck, replace-py-code-blocks

rename tool_args_partial to partial_output
  docs/durable_execution/temporal.md
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_run_context.py
Due: format, lint, typecheck, replace-py-code-blocks

Use message_history arg for run_chat; fix typos in tests
  pydantic_ai_slim/pydantic_ai/_cli.py
  tests/test_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

Use read_bytes() to load conversation JSON
  pydantic_ai_slim/pydantic_ai/_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix broken docs API link
  docs/api/result.md
Due: replace-py-code-blocks

set partial_output when calling validators
  pydantic_ai_slim/pydantic_ai/result.py
Due: format, lint, typecheck, replace-py-code-blocks

update partial output tests to use ctx field
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

update docs example to use partial_output in ctx
  docs/output.md
Due: replace-py-code-blocks

Rename partial output subsection
  docs/output.md
Due: replace-py-code-blocks

Rename subsection on partial output
  docs/output.md
Due: replace-py-code-blocks

feat: Agent to OpenAI endpoint router
  pydantic_ai_slim/pydantic_ai/fastapi/__init__.py
  pydantic_ai_slim/pydantic_ai/fastapi/agent_router.py
  pydantic_ai_slim/pydantic_ai/fastapi/api/__init__.py
  pydantic_ai_slim/pydantic_ai/fastapi/api/completions.py
  pydantic_ai_slim/pydantic_ai/fastapi/api/models.py
  pydantic_ai_slim/pydantic_ai/fastapi/api/responses.py
  pydantic_ai_slim/pydantic_ai/fastapi/convert/__init__.py
  pydantic_ai_slim/pydantic_ai/fastapi/convert/convert_messages.py
  pydantic_ai_slim/pydantic_ai/fastapi/data_models/__init__.py
  pydantic_ai_slim/pydantic_ai/fastapi/data_models/models.py
  pydantic_ai_slim/pydantic_ai/fastapi/registry.py
  pydantic_ai_slim/pydantic_ai/settings.py
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  tests/conftest.py
  tests/fastapi/__init__.py
  tests/fastapi/conftest.py
  tests/fastapi/integration_tests/conftest.py
  tests/fastapi/integration_tests/test_api_integration.py
  tests/fastapi/unit_tests/test_convert_messages.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
  replace-py-code-blocks: any of: \.py$|\.md$
