Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

fix(typesafe): say why an optional rubric is refused, and document pick-one probability keys
  docs/models/typesafe.md
  pydantic_ai_slim/pydantic_ai/models/typesafe.py
  tests/models/test_typesafe.py
Due: clai-help, format, lint, typecheck

fix(typesafe): drop the supported-fields hint from the optional rubric refusal
  pydantic_ai_slim/pydantic_ai/models/typesafe.py
Due: clai-help, format, lint, typecheck

test: pin the annotated `str` member of a union as an output tool
  tests/test_agent_output_schemas.py
Due: clai-help, format, lint, typecheck

Name a `str` field's text extractor with a `TextCandidates` marker instead of keying by field name
  docs/models/typesafe.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/AGENTS-CORE.md
  pydantic_ai_slim/pydantic_ai/_json_schema.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/typesafe.py
  tests/models/test_typesafe.py
  tests/realtime/test_session.py
  tests/test_examples.py
  tests/test_json_schema.py
Due: clai-help, format, lint, typecheck

Keep an uninstrumented delegate's usage off its caller's agent run span
  docs/logfire.md
  pydantic_ai_slim/pydantic_ai/_usage_attribution.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  tests/durable_exec/test_capability_durable_operation.py
  tests/test_logfire.py
Due: clai-help, format, lint, typecheck

Record the sampling-settings drop for every flagged model, and pin `gpt-oss` keeping them
  tests/models/cassettes/test_bedrock/test_bedrock_openai_api_rejects_sampling_settings[global.openai.gpt-6-astra].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_api_rejects_sampling_settings[global.openai.gpt-6-luna].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_api_rejects_sampling_settings[global.openai.gpt-6-sol].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_api_rejects_sampling_settings[us.openai.gpt-5.6-luna].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_api_rejects_sampling_settings[us.openai.gpt-5.6-sol].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_api_rejects_sampling_settings[us.openai.gpt-5.6-terra].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_drops_sampling_settings[global.openai.gpt-6-astra].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_drops_sampling_settings[global.openai.gpt-6-luna].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_drops_sampling_settings[global.openai.gpt-6-sol].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_drops_sampling_settings[us.openai.gpt-5.6-luna].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_drops_sampling_settings[us.openai.gpt-5.6-sol].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_drops_sampling_settings[us.openai.gpt-5.6-terra].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_gpt_oss_keeps_sampling_settings.yaml
  tests/models/test_bedrock.py
Due: clai-help, format, lint, typecheck

fix(typesafe): read a field's default from `default`, not from `required`
  docs/models/typesafe.md
  pydantic_ai_slim/pydantic_ai/models/typesafe.py
  tests/models/test_typesafe.py
Due: clai-help, format, lint, typecheck

Keep a `TypeSafeModel` profile's schema transformer, and leave `dependentRequired` names alone
  pydantic_ai_slim/pydantic_ai/_json_schema.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/typesafe.py
  tests/test_json_schema.py
Due: clai-help, format, lint, typecheck

Add `BoolCriteria` to say what a `bool` field's yes and no mean, and let a `True`/`False` `Enum` do the same (#8586)
  docs/api/output.md
  docs/models/typesafe.md
  docs/output.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/AGENTS-CORE.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/TOOLS-CORE.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/models/typesafe.py
  pydantic_ai_slim/pydantic_ai/output.py
  tests/models/test_typesafe.py
  tests/models/test_typesafe_output_matrix.py
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

Use what the user wrote about `None` as the "none of these" option in `TypeSafeModel` (#8684)
  docs/models/typesafe.md
  pydantic_ai_slim/pydantic_ai/models/typesafe.py
  tests/models/test_typesafe.py
Due: clai-help, format, lint, typecheck

test: check a described `None` route reaches TypeSafe for both union spellings
  tests/models/test_typesafe.py
  tests/models/test_typesafe_output_matrix.py
Due: clai-help, format, lint, typecheck

Accept `TypeForm` output types and bump pyright to 1.1.414
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/output.py
  pyproject.toml
  uv.lock
Due: clai-help, format, lint, typecheck

Reset usage attribution at realtime session entry too; use capfire in the replay test
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  tests/durable_exec/test_capability_durable_operation.py
Due: clai-help, format, lint, typecheck

Fix `google_proactive_audio`, which no Gemini Live session could ever connect with (#8394)
  docs/realtime/gemini.md
  pydantic_ai_slim/pydantic_ai/realtime/google.py
  tests/realtime/test_google.py
Due: clai-help, format, lint, typecheck

Only reset usage attribution for realtime sessions that are runs
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
Due: clai-help, format, lint, typecheck

Keep the older-pyright helpers, pin `TypeForm` inference, and fix pyright 1.1.414 fallout
  docs/output.md
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/_utils.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/common_tools/tavily.py
  pydantic_ai_slim/pydantic_ai/output.py
  tests/evals/test_evaluator_base.py
  tests/models/test_typesafe.py
  tests/test_agent.py
  tests/test_capability_events.py
  tests/test_custom_events.py
  tests/typed_agent.py
Due: clai-help, format, lint, typecheck

Drop `temperature` and `top_p` for OpenAI GPT-5.6 and GPT-6 on Bedrock Converse instead of failing with a 400 (#8668)
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock.py
  tests/models/cassettes/test_bedrock/test_bedrock_openai_api_rejects_sampling_settings[global.openai.gpt-6-astra].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_api_rejects_sampling_settings[global.openai.gpt-6-luna].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_api_rejects_sampling_settings[global.openai.gpt-6-sol].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_api_rejects_sampling_settings[us.openai.gpt-5.6-luna].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_api_rejects_sampling_settings[us.openai.gpt-5.6-sol].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_api_rejects_sampling_settings[us.openai.gpt-5.6-terra].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_drops_sampling_settings[global.openai.gpt-6-astra].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_drops_sampling_settings[global.openai.gpt-6-luna].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_drops_sampling_settings[global.openai.gpt-6-sol].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_drops_sampling_settings[us.openai.gpt-5.6-luna].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_drops_sampling_settings[us.openai.gpt-5.6-sol].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_drops_sampling_settings[us.openai.gpt-5.6-terra].yaml
  tests/models/cassettes/test_bedrock/test_bedrock_openai_gpt_oss_keeps_sampling_settings.yaml
  tests/models/test_bedrock.py
  tests/providers/test_bedrock_mantle.py
Due: clai-help, format, lint, typecheck

Return a real `bool` from `is_model_like` and say older Pyright needs the docs workaround too
  docs/output.md
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/_utils.py
Due: clai-help, format, lint, typecheck

fix(realtime): keep Live's idle audio track out of the user's turn
  pydantic_ai_slim/pydantic_ai/realtime/openai_live.py
  tests/realtime/test_openai_live.py
Due: clai-help, format, lint, typecheck

Let a field's default apply when `TypeSafeModel` answers "None of these" for an optional field (#8685)
  docs/models/typesafe.md
  pydantic_ai_slim/pydantic_ai/models/typesafe.py
  tests/models/test_typesafe.py
Due: clai-help, format, lint, typecheck

fix(realtime): survive an undecodable Live frame, and drop results for abandoned calls
  pydantic_ai_slim/pydantic_ai/realtime/openai_live.py
  tests/realtime/test_openai_live.py
Due: clai-help, format, lint, typecheck

fix(realtime): record a delegated Live tool round's tokens on the tool-call response
  pydantic_ai_slim/pydantic_ai/realtime/openai_live.py
  tests/realtime/test_openai_live.py
  tests/realtime/test_openai_live_ws.py
Due: clai-help, format, lint, typecheck

fix: declare deferred tools beside Codex native tool search
  pydantic_ai_slim/pydantic_ai/profiles/openai_codex.py
  tests/models/cassettes/test_openai_codex/test_codex_deferred_tool_search.yaml
  tests/models/test_openai_codex.py
  tests/profiles/test_openai_codex.py
  tests/profiles/test_resolution_matrix.py
Due: clai-help, format, lint, typecheck

docs(realtime): account for GPT-Live in the provider enumerations it invalidates
  docs/realtime/observability.md
  docs/realtime/openai-live.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/SKILL.md
Due: clai-help

docs: make the skill's `TextCandidates` snippet self-contained so the skill-example lint passes
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/AGENTS-CORE.md
Due: clai-help

docs: keep this PR to the Pipecat page; the ADK move and the Interfaces sweep come out
  docs/comparisons/index.md
  docs/comparisons/vs-agno.md
  docs/comparisons/vs-claude-agent-sdk.md
  docs/comparisons/vs-crewai.md
  docs/comparisons/vs-google-adk.md
  docs/comparisons/vs-langchain-langgraph.md
  docs/comparisons/vs-livekit.md
  docs/comparisons/vs-mastra.md
  docs/comparisons/vs-openai-agents-sdk.md
  docs/comparisons/vs-pi.md
  docs/comparisons/vs-pipecat.md
  docs/comparisons/vs-vercel-ai-sdk.md
Due: clai-help

docs: tighten the Pipecat page after review; correct the Krisp and text-only cells
  docs/comparisons/vs-pipecat.md
Due: clai-help

docs: fix the Framework table's Evals and Observability cells on the Pipecat page
  docs/comparisons/vs-pipecat.md
Due: clai-help

Surface realtime receive-side failures to every consumer shape, and end `send_audio(iterable)` cleanly on close (#8138)
  docs/api/realtime.md
  docs/realtime/audio.md
  docs/realtime/lifecycle.md
  docs/realtime/tools.md
  examples/pydantic_ai_examples/realtime_voice.py
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/SKILL.md
  pydantic_ai_slim/pydantic_ai/realtime/_session.py
  tests/conftest.py
  tests/realtime/conftest.py
  tests/realtime/test_openai_ws.py
  tests/realtime/test_session.py
  tests/realtime/test_ws_cassettes.py
  tests/realtime/ws_cassettes.py
Due: clai-help, format, lint, typecheck

Let the union `ToolOutput` ignore in `typed_agent.py` go unused on the Python versions mypy accepts it on
  tests/typed_agent.py
Due: clai-help, format, lint, typecheck

Say Pyright checks `TypeForm` from 1.1.412, the first release that does
  docs/output.md
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/output.py
Due: clai-help, format, lint, typecheck

Keep `Annotated` metadata on the members of an `X | Y` `output_type` (#8687)
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/_utils.py
  tests/models/test_typesafe.py
  tests/test_agent_output_schemas.py
Due: clai-help, format, lint, typecheck

Offer whole numbers that are not a rubric as a `Choice` in `TypeSafeModel` (#8686)
  docs/models/typesafe.md
  pydantic_ai_slim/pydantic_ai/models/typesafe.py
  tests/models/test_typesafe.py
  tests/models/test_typesafe_output_matrix.py
Due: clai-help, format, lint, typecheck

chore(ci): refresh the gh-aw runner's script lock for the `openai` 3.12 floor
  .github/scripts/pydantic-ai-runner.lock
Due: none

fix(anthropic): only record and forward the one-hour cache write count
  docs/models/anthropic.md
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/anthropic/test_cache_write_ttl_usage.py
  tests/models/cassettes/test_anthropic/test_anthropic_cache_write_ttl_pricing[request].yaml
  tests/models/cassettes/test_anthropic/test_anthropic_cache_write_ttl_pricing[stream].yaml
  tests/models/test_anthropic.py
Due: clai-help, format, lint, typecheck

Pin `Annotated[...] | X` output type inference in `typed_agent.py`
  tests/typed_agent.py
Due: clai-help, format, lint, typecheck

Point the atomicmail entries at PyPI now that the package is published
  docs/capabilities/third-party.md
  docs/toolsets.md
Due: clai-help

docs: build the custom capability spec with `AgentSpec` and `CapabilitySpec`
  docs/capabilities/custom.md
Due: clai-help

Accept a `TypeForm` for `Agent(deps_type=...)`, so `Literal[...]` deps infer precisely
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  tests/typed_deps.py
Due: clai-help, format, lint, typecheck

docs: keep the on-demand capabilities as dataclasses, typed like the base fields
  docs/capabilities/on-demand.md
Due: clai-help

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
