Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: replace-py-code-blocks
        name: Replace ```py with ```python
        # first pattern matches ```py <info> and second matches lone ```py<eol>
        entry: |
          if [[ "$(uname)" == "Darwin" ]]; then
            sed -i '' 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          else
            sed -i 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          fi
        language: system
        files: \.py$|\.md$
        pass_filenames: true

- remove remaining pai references - add web command to help output - reintroduce hook that adds the help menu output to the clai/README
  .pre-commit-config.yaml
  clai/README.md
  clai/update_readme.py
  pydantic_ai_slim/pydantic_ai/_cli/__init__.py
  tests/models/anthropic/conftest.py
  tests/test_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

fix more imports
  tests/models/test_huggingface.py
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

revert my changes
  pydantic_ai_slim/pydantic_ai/providers/anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

fix last
  tests/profiles/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

link to PR comment
  tests/typed_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

fix now last
  tests/providers/test_bedrock.py
Due: format, lint, typecheck, replace-py-code-blocks

chore(exa): require exa-py>=2.0.0 for new API
  pydantic_ai_slim/pyproject.toml
Due: none

feat(exa): add 'fast' and 'deep' search types to exa_search_tool
  pydantic_ai_slim/pydantic_ai/common_tools/exa.py
Due: format, lint, typecheck, replace-py-code-blocks

feat(exa): add ExaToolset with shared client per review feedback
  pydantic_ai_slim/pydantic_ai/common_tools/exa.py
Due: format, lint, typecheck, replace-py-code-blocks

docs(exa): add Exa tools to common-tools.md per review feedback
  docs/common-tools.md
Due: replace-py-code-blocks

refactor(exa): migrate exa_find_similar_tool from find_similar_and_contents() to find_similar() API
  pydantic_ai_slim/pydantic_ai/common_tools/exa.py
Due: format, lint, typecheck, replace-py-code-blocks

fix(exa): add type ignore comments for pyright compatibility
  pydantic_ai_slim/pydantic_ai/common_tools/exa.py
Due: format, lint, typecheck, replace-py-code-blocks

feat: add Exa tools integration
  docs/install.md
  pydantic_ai_slim/pydantic_ai/common_tools/exa.py
  pydantic_ai_slim/pyproject.toml
Due: format, lint, typecheck, replace-py-code-blocks

refactor(exa): use list comprehensions per review feedback
  pydantic_ai_slim/pydantic_ai/common_tools/exa.py
Due: format, lint, typecheck, replace-py-code-blocks

feat(exa): add max_characters param to exa_search_tool for token control
  pydantic_ai_slim/pydantic_ai/common_tools/exa.py
Due: format, lint, typecheck, replace-py-code-blocks

refactor(exa): migrate exa_search_tool from search_and_contents() to search() API
  pydantic_ai_slim/pydantic_ai/common_tools/exa.py
Due: format, lint, typecheck, replace-py-code-blocks

fix(exa): add exa-py to dev deps and type ignores for CI compatibility
  pyproject.toml
Due: none

fix(exa): add more type ignores and update lockfile for CI
  pydantic_ai_slim/pydantic_ai/common_tools/exa.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

refactor(exa): dedupe factory functions and update docs per review
  docs/common-tools.md
  pydantic_ai_slim/pydantic_ai/common_tools/exa.py
Due: format, lint, typecheck, replace-py-code-blocks

requested changes
  docs/models/anthropic.md
  pydantic_ai_slim/pydantic_ai/providers/anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

pragmas
  pydantic_ai_slim/pydantic_ai/_cli/__init__.py
Due: format, lint, typecheck, replace-py-code-blocks

Coverage fixes
  tests/test_agent.py
  tests/test_toolsets.py
Due: format, lint, typecheck, replace-py-code-blocks

documentation
  docs/agents.md
  docs/api/prompt_config.md
  docs/output.md
  pydantic_ai_slim/pydantic_ai/prompt_config.py
Due: format, lint, typecheck, replace-py-code-blocks

fix pipeline
  .github/workflows/ci.yml
Due: none

drop group dev
  .github/workflows/ci.yml
Due: none

timeout up
  .github/workflows/ci.yml
Due: none

try now
  .github/workflows/ci.yml
Due: none

fixing type checks
  pydantic_ai_slim/pydantic_ai/prompt_config.py
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Adding example
  docs/agents.md
Due: replace-py-code-blocks

renaming variables to more appropriate names
  docs/agents.md
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/prompt_config.py
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

fix(exa): update pyright ignores for exa-py partial types
  pydantic_ai_slim/pydantic_ai/common_tools/exa.py
Due: format, lint, typecheck, replace-py-code-blocks

fixing doc lint
  docs/agents.md
Due: replace-py-code-blocks

Ensure `type` field when converting `const` to `enum` in `GoogleJsonSchemaTransformer` (#3751)
  pydantic_ai_slim/pydantic_ai/profiles/google.py
  tests/profiles/test_google.py
Due: format, lint, typecheck, replace-py-code-blocks

style(exa): apply ruff formatting
  pydantic_ai_slim/pydantic_ai/common_tools/exa.py
Due: format, lint, typecheck, replace-py-code-blocks

Add missing AI SDK data chunk fields for reconciliation
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/response_types.py
  tests/test_vercel_ai.py
Due: format, lint, typecheck, replace-py-code-blocks

Emit ToolApprovalRequestChunk for deferred tool approvals
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_event_stream.py
  tests/test_vercel_ai.py
Due: format, lint, typecheck, replace-py-code-blocks

Use public all_messages() API instead of private _state
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_event_stream.py
  tests/test_vercel_ai.py
Due: format, lint, typecheck, replace-py-code-blocks

bump google-genai to latest
  uv.lock
Due: none

Use UUID for tool approval request approval_id
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_event_stream.py
  tests/test_vercel_ai.py
Due: format, lint, typecheck, replace-py-code-blocks
