Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

Handle `TextContent` and `UploadedFile` in `model_messages_to_openai_format`
  pydantic_ai_slim/pydantic_ai/_conversions.py
  tests/test_conversions.py
Due: clai-help, format, lint, typecheck

Sort legacy OTEL events by `gen_ai.message.index` before grouping
  pydantic_ai_slim/pydantic_ai/_conversions.py
  tests/test_conversions.py
Due: clai-help, format, lint, typecheck

Fix `group_by_temporal` emitting first item alone when delayed past soft_max_interval
  pydantic_ai_slim/pydantic_ai/_utils.py
  tests/test_utils.py
Due: clai-help, format, lint, typecheck

Back gh-aw shim `Bash`/`Read`/`Write`/`Edit` with harness `FileSystem`/`Shell`
  .github/scripts/pydantic-ai-runner
  .github/scripts/pydantic_ai_gh_aw_shim/__init__.py
  .github/scripts/pydantic_ai_gh_aw_shim/_backends.py
  .github/scripts/pydantic_ai_gh_aw_shim/bash.py
  .github/scripts/pydantic_ai_gh_aw_shim/edit.py
  .github/scripts/pydantic_ai_gh_aw_shim/read.py
  .github/scripts/pydantic_ai_gh_aw_shim/write.py
  .github/scripts/test_pydantic_ai_runner.py
Due: clai-help, format, lint, typecheck

docs: add top_k to ModelSettings parameter list in agent.md
  docs/agent.md
Due: clai-help

docs: add gateway/gemini: deprecation notice to gateway.md
  docs/gateway.md
Due: clai-help

Add `Agent.to_responses()` to serve an agent as an OpenAI Responses API endpoint
  docs/api/responses.md
  docs/responses.md
  docs/ui/overview.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/ORCHESTRATION-AND-INTEGRATIONS.md
  pydantic_ai_slim/pydantic_ai/_responses/__init__.py
  pydantic_ai_slim/pydantic_ai/_responses/_app.py
  pydantic_ai_slim/pydantic_ai/_responses/_events.py
  pydantic_ai_slim/pydantic_ai/_responses/_messages.py
  pydantic_ai_slim/pydantic_ai/_responses/request_types.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  tests/test_responses.py
Due: clai-help, format, lint, typecheck

docs(openrouter): use property-style result.usage in caching example
  docs/models/openrouter.md
Due: clai-help

fix(mistral): forward `presence_penalty` and `frequency_penalty` in non-streaming requests
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  tests/models/test_mistral.py
Due: clai-help, format, lint, typecheck

Reinject agent `system_prompt`, require `openai` extra, and rename `_responses` modules
  docs/api/responses.md
  docs/responses.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/ORCHESTRATION-AND-INTEGRATIONS.md
  pydantic_ai_slim/pydantic_ai/_responses/__init__.py
  pydantic_ai_slim/pydantic_ai/_responses/app.py
  pydantic_ai_slim/pydantic_ai/_responses/events.py
  pydantic_ai_slim/pydantic_ai/_responses/messages.py
  pydantic_ai_slim/pydantic_ai/_responses/types.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  tests/test_responses.py
Due: clai-help, format, lint, typecheck

Clarify `ModelResponse.usage` holds per-request usage in its docstring (#5942)
  pydantic_ai_slim/pydantic_ai/messages.py
Due: clai-help, format, lint, typecheck

fix(cohere): forward usage.cached_tokens as cache_read_tokens
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  tests/models/test_cohere.py
Due: clai-help, format, lint, typecheck

Widen Anthropic `web_search_20260209`/`web_fetch_20260209` gate to all documented models
  pydantic_ai_slim/pydantic_ai/profiles/anthropic.py
  tests/profiles/test_anthropic.py
Due: clai-help, format, lint, typecheck

Explain code mode metadata selection (pydantic/pydantic-ai-harness#292)
  src/pydantic_ai_harness/pydantic_ai_harness/code_mode/README.md
Due: clai-help

Ignore third-party `huggingface-hub` `local_dir_use_symlinks` deprecation surfaced by the `outlines` llamacpp test
  pyproject.toml
Due: none

docs: drop parentheses on property-style `usage` reference in streaming docs
  docs/output.md
Due: clai-help

docs: migrate deprecated `response_tokens_limit` to `output_tokens_limit` in usage-limits example
  docs/agent.md
Due: clai-help

fix(_utils): initialise group_start_time to None so first group debounce window starts on first item
  pydantic_ai_slim/pydantic_ai/_utils.py
Due: clai-help, format, lint, typecheck

fix(cohere): forward cached_tokens to RequestUsage.cache_read_tokens in _map_usage
  pydantic_ai_slim/pydantic_ai/models/cohere.py
Due: clai-help, format, lint, typecheck

fix(vercel-ai): round-trip ToolReturnPart.metadata data chunks through load_messages
  docs/ui/vercel-ai.md
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_utils.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

ci: add pydantic-ai v2 beta early-warning job and make code_mode v1/v2 compatible (pydantic/pydantic-ai-harness#291)
  src/pydantic_ai_harness/pydantic_ai_harness/code_mode/_toolset.py
  tests/harness/code_mode/test_code_mode.py
  tests/harness/logfire_variables/test_managed_prompt.py
Due: clai-help, format, lint, typecheck

test(zai): assert thinking on the wire and consolidate settings-transformation tests
  tests/models/test_zai.py
Due: clai-help, format, lint, typecheck

Record time-to-first-token for streaming model requests
  pydantic_ai_slim/pydantic_ai/_instrumentation.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
  tests/models/test_instrumented.py
Due: clai-help, format, lint, typecheck

test(zai): refresh capabilities schema snapshot after main merge, harden wire-body assertion
  tests/models/test_zai.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Add `zai:` models to `KnownModelName` (missed during main merge staging)
  pydantic_ai_slim/pydantic_ai/models/_known_model_names.py
Due: clai-help, format, lint, typecheck

Note that standalone `zai_clear_thinking` should be recorded against the API
  pydantic_ai_slim/pydantic_ai/models/zai.py
Due: clai-help, format, lint, typecheck

Drop code TODO; tracked as a PR review comment instead
  pydantic_ai_slim/pydantic_ai/models/zai.py
Due: clai-help, format, lint, typecheck

Also record TTFT for agent-run streaming
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/capabilities/instrumentation.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  tests/test_logfire.py
Due: clai-help, format, lint, typecheck

fix(cohere): map cached tokens to usage
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  tests/models/test_cohere.py
Due: clai-help, format, lint, typecheck

Silence pyright unknown-type on `vcr.requests` length assertion
  tests/models/test_zai.py
Due: clai-help, format, lint, typecheck

fix(test): build vercel-ai metadata chunks inside test body
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

fix(ag-ui): preserve request part order when dumping messages
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
  tests/test_ag_ui.py
Due: clai-help, format, lint, typecheck

fix(cohere): map cached_tokens to cache_read_tokens in _map_usage
  pydantic_ai_slim/pydantic_ai/models/cohere.py
Due: clai-help, format, lint, typecheck

fix: use running loop in chat app example
  examples/pydantic_ai_examples/chat_app.py
Due: clai-help, format, lint, typecheck

fix(ag-ui): preserve ModelRequest part order when dumping messages
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
Due: clai-help, format, lint, typecheck

feat(providers): add Pinstripes OpenAI-compatible provider
  pydantic_ai_slim/pydantic_ai/providers/pinstripes.py
Due: clai-help, format, lint, typecheck

feat(providers): wire PinstripeProvider into infer_provider_class
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
Due: clai-help, format, lint, typecheck

docs(providers): add PinstripeProvider to API reference
  docs/api/providers.md
Due: clai-help

test(providers): add tests for PinstripeProvider
  tests/providers/test_pinstripes_provider.py
Due: clai-help, format, lint, typecheck

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
