Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

Strengthen Bedrock Mantle integration coverage
  tests/models/cassettes/test_bedrock_mantle/test_protocol_switching.yaml
  tests/models/cassettes/test_bedrock_mantle/test_reused_tool_call_ids[request].yaml
  tests/models/cassettes/test_bedrock_mantle/test_reused_tool_call_ids[stream].yaml
  tests/models/cassettes/test_bedrock_mantle/test_safeguard_chat_routing.yaml
  tests/models/test_bedrock_mantle.py
  tests/providers/test_bedrock_mantle.py
Due: clai-help, format, lint, typecheck

Keep Mantle recordings hermetic
  tests/models/test_bedrock_mantle.py
Due: clai-help, format, lint, typecheck

Validate Mantle safeguard API routing
  pydantic_ai_slim/pydantic_ai/providers/bedrock.py
  tests/providers/test_bedrock_mantle.py
Due: clai-help, format, lint, typecheck

Update Groq thinking-part docs example to `openai/gpt-oss-120b` (off decommissioned `qwen/qwen3-32b`)
  docs/thinking.md
Due: clai-help

Remove Groq models decommissioned after 2026-07-17 (`meta-llama/llama-4-scout-17b-16e-instruct`, `qwen/qwen3-32b`) (#6410)
  docs/thinking.md
  pydantic_ai_slim/pydantic_ai/models/_known_model_names.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Update stale `qwen/qwen3-32b` comments after Groq decommission (comment-only)
  pydantic_ai_slim/pydantic_ai/profiles/groq.py
  tests/providers/test_groq.py
Due: clai-help, format, lint, typecheck

Fix broken relative link to harness Code Mode docs in FAQ
  docs/faq.md
Due: clai-help

Keep already-empty ModelRequests in LimitWarner._strip_old_warnings (pydantic/pydantic-ai-harness#311)
  src/pydantic_ai_harness/pydantic_ai_harness/compaction/_limit_warner.py
  tests/harness/compaction/test_compaction.py
Due: clai-help, format, lint, typecheck

Add `include_model_request_parameters` instrumentation setting to omit the `model_request_parameters` span attribute (#6488)
  docs/logfire.md
  pydantic_ai_slim/pydantic_ai/_instrumentation.py
  pydantic_ai_slim/pydantic_ai/models/fallback.py
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
  tests/models/test_fallback.py
  tests/models/test_instrumented.py
Due: clai-help, format, lint, typecheck

Qualify tool-prefix cache claim in FAQ for the Google exception
  docs/faq.md
Due: clai-help

fix: forward model settings consistently in MistralModel streaming paths
  pydantic_ai_slim/pydantic_ai/models/mistral.py
Due: clai-help, format, lint, typecheck

Bump `mcp` to 1.28.1 for security fixes
  examples/pyproject.toml
  uv.lock
Due: none

Fix Mistral streaming model settings
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  tests/models/test_mistral.py
Due: clai-help, format, lint, typecheck

Preserve Mistral streaming defaults
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  tests/models/test_mistral.py
Due: clai-help, format, lint, typecheck

Use valid Mistral sampler settings
  tests/models/test_mistral.py
Due: clai-help, format, lint, typecheck

Fix `MistralModel` streaming settings (#6563)
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  tests/models/test_mistral.py
Due: clai-help, format, lint, typecheck

Declare mcp in public MCP extra
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

Revert "Declare mcp in public MCP extra"
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

deps: bump `mcp` to 1.28.1 for Dependabot alerts (#6562)
  examples/pyproject.toml
  uv.lock
Due: none

Add recorded accept-path e2e tests for OpenAI explicit prompt caching
  tests/models/cassettes/test_openai_prompt_cache/test_openai_chat_prompt_cache_e2e.yaml
  tests/models/cassettes/test_openai_prompt_cache/test_openai_responses_prompt_cache_e2e.yaml
  tests/models/cassettes/test_openai_prompt_cache/test_openrouter_responses_prompt_cache_e2e.yaml
  tests/models/test_openai_prompt_cache.py
Due: clai-help, format, lint, typecheck

docs(mistral): note magistral deprecation
  docs/thinking.md
Due: clai-help

Address attention monitor review feedback
  .github/scripts/issue_pr_attention_monitor.py
  .github/scripts/test_issue_pr_attention_monitor.py
  .github/workflows/issue-pr-attention-monitor.yml
  pyproject.toml
Due: clai-help, format, lint, typecheck

fix(temporal): pass through `pydantic_monty` in sandbox
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/__init__.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

fix(mistral): confine adjustable-reasoning thinking to the native provider
  docs/thinking.md
  pydantic_ai_slim/pydantic_ai/profiles/mistral.py
  pydantic_ai_slim/pydantic_ai/providers/mistral.py
  tests/profiles/test_mistral.py
  tests/profiles/test_resolution_matrix.py
Due: clai-help, format, lint, typecheck

Drop vestigial Azure mistral-prefix cache regression param
  tests/profiles/test_resolution_matrix.py
Due: clai-help, format, lint, typecheck

test(mistral): pin native negative ids, fix OpenRouter docs caveat
  docs/thinking.md
  tests/profiles/test_mistral.py
Due: clai-help, format, lint, typecheck

Fix FallbackModel finish reason note in docs
  docs/models/overview.md
Due: clai-help

Add LangChain migration skill
  pydantic_ai_slim/pydantic_ai/.agents/skills/migrating-langchain-to-pydantic-ai/SKILL.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/migrating-langchain-to-pydantic-ai/agents/openai.yaml
  pydantic_ai_slim/pydantic_ai/.agents/skills/migrating-langchain-to-pydantic-ai/evals/eval_queries.json
  pydantic_ai_slim/pydantic_ai/.agents/skills/migrating-langchain-to-pydantic-ai/evals/evals.json
  pydantic_ai_slim/pydantic_ai/.agents/skills/migrating-langchain-to-pydantic-ai/evals/files/persistent_graph.py
  pydantic_ai_slim/pydantic_ai/.agents/skills/migrating-langchain-to-pydantic-ai/evals/files/semantic_gap_register.template.json
  pydantic_ai_slim/pydantic_ai/.agents/skills/migrating-langchain-to-pydantic-ai/evals/files/semantic_traps.py
  pydantic_ai_slim/pydantic_ai/.agents/skills/migrating-langchain-to-pydantic-ai/evals/files/simple_agent.py
  pydantic_ai_slim/pydantic_ai/.agents/skills/migrating-langchain-to-pydantic-ai/evals/semantic_oracles.py
  pydantic_ai_slim/pydantic_ai/.agents/skills/migrating-langchain-to-pydantic-ai/evals/verify_semantic_eval.py
  pydantic_ai_slim/pydantic_ai/.agents/skills/migrating-langchain-to-pydantic-ai/references/CONCEPT-MAPPING.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/migrating-langchain-to-pydantic-ai/references/PROJECT-PATTERNS.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/migrating-langchain-to-pydantic-ai/references/SEMANTIC-GAPS.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/migrating-langchain-to-pydantic-ai/references/VERIFICATION-AND-CUTOVER.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/migrating-langchain-to-pydantic-ai/references/WORKAROUND-RECIPES.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/migrating-langchain-to-pydantic-ai/scripts/inventory_langchain.py
  pydantic_ai_slim/pydantic_ai/.agents/skills/migrating-langchain-to-pydantic-ai/scripts/test_inventory_langchain.py
Due: clai-help, format, lint, typecheck

Keep attention tests out of global discovery
  pyproject.toml
Due: none

docs: clarify finish-reason handling vs FallbackModel defaults
  docs/models/overview.md
Due: clai-help

Simplify e2e cassette body helper to close coverage gap
  tests/models/test_openai_prompt_cache.py
Due: clai-help, format, lint, typecheck

Make `complete-partial-pr` maintainer-neutral (#6464)
  .agents/skills/complete-partial-pr/SKILL.md
  tests/test_embeddings.py
Due: clai-help, format, lint, typecheck

Complete dynamic capability model selection
  docs/api/models/base.md
  docs/capabilities.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/CAPABILITIES-AND-HOOKS.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
  pydantic_ai_slim/pydantic_ai/capabilities/combined.py
  pydantic_ai_slim/pydantic_ai/capabilities/resolve_model_id.py
  pydantic_ai_slim/pydantic_ai/capabilities/wrapper.py
  pydantic_ai_slim/pydantic_ai/ui/_web/api.py
  tests/test_capabilities.py
  tests/test_ui_web.py
Due: clai-help, format, lint, typecheck

Make a bare-int run-time `retries` override both tool and output budgets
  docs/agent.md
  docs/tools-advanced.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/TOOLS-ADVANCED.md
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_agent.py
  tests/test_agent.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Add `RaiseContentFilterError` capability to raise content filter error for non-empty content filter responses (#6167)
  docs/capabilities.md
  docs/models/overview.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/ARCHITECTURE.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/CAPABILITIES-AND-HOOKS.md
  pydantic_ai_slim/pydantic_ai/capabilities/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/content_filter.py
  pydantic_ai_slim/pydantic_ai/exceptions.py
  tests/test_agent.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Improve strict-mode docs: base-model example and link tool output docs to strict section
  docs/output.md
  docs/tools-advanced.md
Due: clai-help

Add VCR test proving Gemini `VALIDATED` accepts strict-incompatible schemas
  tests/models/google/cassettes/test_output/test_google_validated_accepts_strict_incompatible_schema.yaml
  tests/models/google/test_output.py
Due: clai-help, format, lint, typecheck

Re-record Google tool cassettes under default `VALIDATED`; bump retired `gemini-2.5-pro-preview-05-06` to `gemini-2.5-pro`
  tests/models/cassettes/test_google/test_google_prompted_output_with_tools.yaml
  tests/models/cassettes/test_google/test_google_text_output_function.yaml
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck

Raise immediately on a negative tool-retry budget instead of looping forever
  docs/tools-advanced.md
  pydantic_ai_slim/pydantic_ai/tool_manager.py
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

Document tool search prompt-caching on the Tool Search page, drop standalone FAQ
  docs/capabilities.md
  docs/faq.md
  docs/nav.json
  docs/tools-advanced.md
  mkdocs.yml
Due: clai-help

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
