Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

Drop inert capability-only tool search surface
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/capabilities/_tool_search.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/toolsets/_tool_search.py
  tests/models/test_anthropic.py
Due: clai-help, format, lint, typecheck

Test repeated cross-provider tool search replay
  tests/test_tool_search.py
Due: clai-help, format, lint, typecheck

Carry deferred capability IDs in model requests
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/test_fallback.py
  tests/models/test_instrumented.py
  tests/test_logfire.py
  tests/test_tool_search.py
Due: clai-help, format, lint, typecheck

Re-record the realtime cassettes against the live providers
  tests/realtime/cassettes/test_gateway_ws/test_gateway_openai_text_in_audio_out.yaml
  tests/realtime/cassettes/test_google_ws/test_audio_in_server_vad_turn.yaml
  tests/realtime/cassettes/test_google_ws/test_message_history_seeding.yaml
  tests/realtime/cassettes/test_google_ws/test_text_in_audio_out_turn.yaml
  tests/realtime/cassettes/test_google_ws/test_tool_call_round.yaml
  tests/realtime/cassettes/test_openai_ws/test_audio_in_server_vad_turn.yaml
  tests/realtime/cassettes/test_openai_ws/test_message_history_seeding.yaml
  tests/realtime/cassettes/test_openai_ws/test_text_in_audio_out_turn.yaml
  tests/realtime/cassettes/test_openai_ws/test_tool_call_round.yaml
  tests/realtime/cassettes/test_xai_ws/test_audio_in_server_vad_turn.yaml
  tests/realtime/cassettes/test_xai_ws/test_message_history_seeding.yaml
  tests/realtime/cassettes/test_xai_ws/test_session_resumption_after_drop.yaml
  tests/realtime/cassettes/test_xai_ws/test_text_in_audio_out_turn.yaml
  tests/realtime/cassettes/test_xai_ws/test_tool_call_round.yaml
  tests/realtime/test_google_ws.py
  tests/realtime/test_openai_ws.py
  tests/realtime/test_xai_ws.py
Due: clai-help, format, lint, typecheck

Stop claiming realtime has no browser-direct WebRTC path
  docs/realtime/index.md
Due: clai-help

Document tool availability portability matrix
  docs/tools-advanced.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/ON-DEMAND-CAPABILITIES.md
Due: clai-help

Pin tool availability portability matrix
  docs/tools-advanced.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/ON-DEMAND-CAPABILITIES.md
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R1-T1-native-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R1-T2-native-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R1-T3-native-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R1-T4-local-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R1-T5-local-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R1-T6-local-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R2-T1-native-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R2-T2-native-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R2-T3-native-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R2-T4-local-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R2-T5-local-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R2-T6-local-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R3-T1-native-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R3-T2-native-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R3-T3-native-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R3-T4-local-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R3-T5-local-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R3-T6-local-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R4-T1-tool-addition].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R4-T2-local-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R4-T2-native-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R4-T3-additional-tools].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R4-T4-local-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R4-T5-local-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R4-T6-local-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R5-T1-native-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R5-T2-native-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R5-T3-native-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R5-T4-local-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R5-T5-local-search].yaml
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R5-T6-local-search].yaml
  tests/test_tool_availability_portability.py
Due: clai-help, format, lint, typecheck

Remove superseded matrix cassette
  tests/cassettes/test_tool_availability_portability/test_tool_availability_portability_matrix[R4-T2-local-search].yaml
Due: none

Accept multimodal inputs on `gemini-embedding-2-preview`
  pydantic_ai_slim/pydantic_ai/embeddings/google.py
  tests/cassettes/test_embeddings_multimodal/test_google_preview_embeds_a_file_and_still_sends_a_task_type.yaml
  tests/test_embeddings_multimodal.py
Due: clai-help, format, lint, typecheck

Document `gemini-embedding-2-preview` as multimodal
  docs/embeddings.md
Due: clai-help

Address the review threads on `EmbeddingContent` and download fan-out
  pydantic_ai_slim/pydantic_ai/embeddings/base.py
  pydantic_ai_slim/pydantic_ai/embeddings/google.py
  pydantic_ai_slim/pydantic_ai/embeddings/input.py
  tests/test_embeddings_multimodal.py
Due: clai-help, format, lint, typecheck

Fix embedding test request guards
  tests/models/test_bedrock.py
  tests/test_embeddings.py
Due: clai-help, format, lint, typecheck

Include toolset id in durable runtime toolset rejection error
  pydantic_ai_slim/pydantic_ai/durable_exec/_runtime_toolsets.py
  tests/test_dbos.py
  tests/test_prefect.py
  tests/test_runtime_toolsets.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

Construct xAI AsyncClient inside a running event loop in test_xai_pass_xai_client
  tests/providers/test_xai.py
Due: clai-help, format, lint, typecheck

Remove redundant usage serializer descriptor
  pydantic_ai_slim/pydantic_ai/usage.py
Due: clai-help, format, lint, typecheck

Validate nested usage extras
  pydantic_ai_slim/pydantic_ai/usage.py
  tests/test_usage_limits.py
Due: clai-help, format, lint, typecheck

Simplify arbitrary usage serialization
  pydantic_ai_slim/pydantic_ai/usage.py
  tests/test_usage_limits.py
Due: clai-help, format, lint, typecheck

Rename `EmbeddingContent` to `EmbeddingGroup` and give it a `kind` discriminator
  docs/embeddings.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/embeddings/__init__.py
  pydantic_ai_slim/pydantic_ai/embeddings/base.py
  pydantic_ai_slim/pydantic_ai/embeddings/google.py
  pydantic_ai_slim/pydantic_ai/embeddings/input.py
  pydantic_ai_slim/pydantic_ai/embeddings/instrumented.py
  pydantic_ai_slim/pydantic_ai/embeddings/result.py
  tests/test_embeddings_multimodal.py
Due: clai-help, format, lint, typecheck

Align strict docstrings with default-on Gemini `VALIDATED`
  docs/tools-advanced.md
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/profiles/google.py
  pydantic_ai_slim/pydantic_ai/tools.py
  pydantic_ai_slim/pydantic_ai/toolsets/function.py
Due: clai-help, format, lint, typecheck

Make `EmbeddingGroup.kind` keyword-only and correct its docs
  pydantic_ai_slim/pydantic_ai/embeddings/input.py
  tests/test_embeddings_multimodal.py
Due: clai-help, format, lint, typecheck

Make a bare `McpError` from an MCP server recoverable instead of fatal
  .github/scripts/pydantic_ai_gh_aw_shim/cli.py
  .github/scripts/test_pydantic_ai_runner.py
  pydantic_ai_slim/pydantic_ai/mcp.py
  tests/test_mcp.py
Due: clai-help, format, lint, typecheck

Remove usage serializer mixin
  pydantic_ai_slim/pydantic_ai/usage.py
Due: clai-help, format, lint, typecheck

ci(bots): fix douwebot failure-notice label in retry instructions
  .github/workflows/bots.yml
Due: none

Preserve arbitrary `RequestUsage` fields across serialization (#6685)
  pydantic_ai_slim/pydantic_ai/usage.py
  tests/test_messages.py
  tests/test_temporal.py
  tests/test_usage_limits.py
Due: clai-help, format, lint, typecheck

subagents: let the orchestrator route a delegation to a model (pydantic/pydantic-ai-harness#451)
  docs/harness/subagents.md
  src/pydantic_ai_harness/pydantic_ai_harness/experimental/subagents/__init__.py
  src/pydantic_ai_harness/pydantic_ai_harness/subagents/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/subagents/__init__.py
  src/pydantic_ai_harness/pydantic_ai_harness/subagents/_capability.py
  src/pydantic_ai_harness/pydantic_ai_harness/subagents/_models.py
  src/pydantic_ai_harness/pydantic_ai_harness/subagents/_toolset.py
  tests/harness/subagents/test_subagents_models.py
Due: clai-help, format, lint, typecheck

Add `EmbeddingModelProfile` and multimodal Bedrock Nova 2 embeddings
  docs/api/embeddings.md
  docs/embeddings.md
  pydantic_ai_slim/pydantic_ai/embeddings/__init__.py
  pydantic_ai_slim/pydantic_ai/embeddings/base.py
  pydantic_ai_slim/pydantic_ai/embeddings/bedrock.py
  pydantic_ai_slim/pydantic_ai/embeddings/google.py
  pydantic_ai_slim/pydantic_ai/embeddings/profile.py
  pydantic_ai_slim/pydantic_ai/embeddings/test.py
  pydantic_ai_slim/pydantic_ai/embeddings/wrapper.py
  tests/cassettes/test_embeddings_multimodal/test_nova_multimodal[audio].yaml
  tests/cassettes/test_embeddings_multimodal/test_nova_multimodal[image-url].yaml
  tests/cassettes/test_embeddings_multimodal/test_nova_multimodal[image].yaml
  tests/cassettes/test_embeddings_multimodal/test_nova_multimodal[text].yaml
  tests/cassettes/test_embeddings_multimodal/test_nova_multimodal[video].yaml
  tests/test_embeddings_multimodal.py
Due: clai-help, format, lint, typecheck

Stamp `CI Review` output with the commit the agent actually read
  .github/workflows/pydantic-ai-pr-review.lock.yml
  .github/workflows/pydantic-ai-pr-review.md
  .github/workflows/shared/prompts/pydantic-ai-pr-review.md
Due: clai-help

ci(bots): widen the douwebot config guard to every file the reviewer loads
  .github/workflows/bots.yml
Due: none

Keep Nova's text request path live behind a shared envelope
  pydantic_ai_slim/pydantic_ai/embeddings/bedrock.py
Due: clai-help, format, lint, typecheck

Register skills page in docs nav.json (pydantic/pydantic-ai-harness#484)
  docs/harness/nav.json
Due: none

Fix `BedrockConverseModel` silently dropping `top_p=0.0`
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  tests/models/test_bedrock.py
Due: clai-help, format, lint, typecheck

Add Claude Opus 5 (`claude-opus-5`) support (#6723)
  docs/capabilities/thinking.md
  docs/models/anthropic.md
  pydantic_ai_slim/pydantic_ai/models/_known_model_names.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/native_tools/__init__.py
  pydantic_ai_slim/pydantic_ai/profiles/anthropic.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock.py
  tests/models/cassettes/test_anthropic/test_anthropic_opus_5_features.yaml
  tests/models/test_anthropic.py
  tests/profiles/test_anthropic.py
  tests/profiles/test_resolution_matrix.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Fix a stale helper name and an instrumentation docstring
  pydantic_ai_slim/pydantic_ai/embeddings/google.py
  pydantic_ai_slim/pydantic_ai/embeddings/instrumented.py
Due: clai-help, format, lint, typecheck

Add support for message phases in OpenAI responses
  docs/models/openai.md
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai_responses.py
Due: clai-help, format, lint, typecheck

ci(bots): remove the reviewer's arbitrary-exec sinks and state what the guard covers
  .github/workflows/bots.yml
Due: none

Stamp `CI Review` output with the commit the agent actually read (#6789)
  .github/workflows/pydantic-ai-pr-review.lock.yml
  .github/workflows/pydantic-ai-pr-review.md
  .github/workflows/shared/prompts/pydantic-ai-pr-review.md
Due: clai-help

ci(bots): keep the fork out of the workspace root, per the action's own guidance
  .github/workflows/bots.yml
  scripts/gather-review-context.sh
Due: none

ci(bots): say where arbitrary reads are contained, not just arbitrary exec
  .github/workflows/bots.yml
Due: none

Document why the Vertex tool-config guards are unit tests, not VCR tests
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck
