Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

Drop agent scratch report
  REPORT.md
Due: clai-help

Degrade malformed args in `ToolCallPart.args_as_json_str()`
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_event_stream.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_event_stream.py
  tests/models/test_openai.py
  tests/test_ag_ui.py
  tests/test_messages.py
Due: clai-help, format, lint, typecheck

fix(images): correct Files API media type, telemetry settings, and false warnings
  pydantic_ai_slim/pydantic_ai/capabilities/image_generation.py
  pydantic_ai_slim/pydantic_ai/images/base.py
  pydantic_ai_slim/pydantic_ai/images/google.py
  pydantic_ai_slim/pydantic_ai/images/openai.py
  pydantic_ai_slim/pydantic_ai/images/result.py
  tests/test_capabilities.py
  tests/test_images.py
Due: clai-help, format, lint, typecheck

Fold Gemini's output-less turn boundary into the response that follows it
  pydantic_ai_slim/pydantic_ai/realtime/_session.py
  tests/realtime/test_google.py
  tests/realtime/test_parity_ws.py
  tests/realtime/test_session.py
  tests/realtime/ws_cassettes.py
Due: clai-help, format, lint, typecheck

Keep `to_json` encoding for complete `dict` args in the UI event streams
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_event_stream.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_event_stream.py
  tests/models/test_openai.py
  tests/test_ag_ui.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Preserve docs-only `PR Guard` exemption
  .github/workflows/pr-guard.yml
Due: none

Fix CI: guard the realtime example imports, `cost` snapshot, and a tool's deps type
  tests/realtime/test_session.py
  tests/test_messages.py
  tests/test_realtime_examples.py
Due: clai-help, format, lint, typecheck

Address review: docstring scope and test idiom
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Act on the second review round: instructions, int enums, and three smaller defects
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/profiles/google.py
  pydantic_ai_slim/pydantic_ai/providers/gateway.py
  pydantic_ai_slim/pydantic_ai/realtime/google.py
  pydantic_ai_slim/pydantic_ai/realtime/openai.py
  pydantic_ai_slim/pydantic_ai/realtime/xai.py
  tests/providers/test_gateway.py
  tests/realtime/test_google.py
Due: clai-help, format, lint, typecheck

Replace provider delta flags with `tool_additions`
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/profiles/__init__.py
  pydantic_ai_slim/pydantic_ai/profiles/anthropic.py
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  pydantic_ai_slim/pydantic_ai/providers/anthropic.py
  pydantic_ai_slim/pydantic_ai/providers/openai.py
  tests/models/test_anthropic_mid_conversation_system.py
  tests/models/test_openai_tool_availability_delta.py
  tests/profiles/test_resolution_matrix.py
  tests/test_tool_availability_portability.py
  tests/test_tool_search.py
Due: clai-help, format, lint, typecheck

wip rvF
  REPORT.md
  examples/pydantic_ai_examples/realtime_camera/index.html
Due: clai-help

Call `prepare_messages` with parameters directly
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_model.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/fallback.py
  pydantic_ai_slim/pydantic_ai/models/wrapper.py
  tests/test_tool_availability_portability.py
Due: clai-help, format, lint, typecheck

Privatize tool availability model helpers
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/xai.py
Due: clai-help, format, lint, typecheck

Only trim retained input audio on a provider that draws speech boundaries
  pydantic_ai_slim/pydantic_ai/realtime/_session.py
Due: clai-help, format, lint, typecheck

Close unassigned contributor PRs in `PR Guard` (#7091)
  .github/workflows/pr-guard.yml
Due: none

Apply tool availability review fixes
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/test_tool_availability_portability.py
  tests/test_tool_search.py
Due: clai-help, format, lint, typecheck

Broaden deferred capability loading guidance
  pydantic_ai_slim/pydantic_ai/toolsets/_deferred_capability_loader.py
Due: clai-help, format, lint, typecheck

Validate UI tool availability payloads with Pydantic
  pydantic_ai_slim/pydantic_ai/ui/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
Due: clai-help, format, lint, typecheck

Render tool availability deltas in system voice
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
  tests/test_messages.py
Due: clai-help, format, lint, typecheck

Format the playback buffer to the examples' line length
  examples/pydantic_ai_examples/realtime_voice.py
Due: clai-help, format, lint, typecheck

wip rvG
  docs/realtime/gemini.md
  docs/realtime/index.md
  pydantic_ai_slim/pydantic_ai/realtime/__init__.py
  pydantic_ai_slim/pydantic_ai/realtime/google.py
  pydantic_ai_slim/pydantic_ai/realtime/xai.py
  tests/realtime/test_google.py
  tests/realtime/test_inference.py
  tests/realtime/test_xai.py
Due: clai-help, format, lint, typecheck

Pass OpenAI introduced tool names explicitly
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai_responses.py
  tests/models/test_openai_tool_availability_delta.py
  tests/test_tool_search.py
Due: clai-help, format, lint, typecheck

Pin the Responses transport and widen the streaming assertions
  docs/message-history.md
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  tests/models/test_openai_responses.py
  tests/test_ag_ui.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Fix a deadlocking quickstart, a missing extra, and four provider defects
  tests/realtime/test_google.py
Due: clai-help, format, lint, typecheck

Mark cross-module private helper as used
  pydantic_ai_slim/pydantic_ai/models/__init__.py
Due: clai-help, format, lint, typecheck

wip rvH
  examples/pydantic_ai_examples/realtime_voice.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/realtime/_openai_protocol.py
  pydantic_ai_slim/pydantic_ai/realtime/_session.py
  pydantic_ai_slim/pydantic_ai/realtime/openai.py
  tests/models/test_model_function.py
  tests/realtime/test_openai.py
  tests/realtime/test_session.py
  tests/test_messages.py
  tests/test_realtime_examples.py
Due: clai-help, format, lint, typecheck

Correct tool availability docs to match the implemented behavior
  docs/capabilities/on-demand.md
  docs/message-history.md
  docs/tools-advanced.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/INPUT-AND-HISTORY.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/ON-DEMAND-CAPABILITIES.md
Due: clai-help

Name `NativeToolCallPart` in the AG-UI args loss note
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
Due: clai-help, format, lint, typecheck

Fix invalid YAML frontmatter in `i-have-adhd` SKILL.md
  .agents/skills/i-have-adhd/SKILL.md
Due: clai-help

Truncate outbound audio in WebSocket cassettes, like inbound already was
  pydantic_ai_slim/pydantic_ai/realtime/_session.py
  tests/realtime/cassettes/test_azure_ws/test_audio_in_server_vad_transcription_requires_deployment.yaml
  tests/realtime/cassettes/test_azure_ws/test_spoken_turn_transcribed_drives_a_tool_and_answers_in_audio.yaml
  tests/realtime/cassettes/test_openai_ws/test_audio_in_server_vad_turn.yaml
  tests/realtime/cassettes/test_openai_ws/test_input_audio_retention_segments_three_server_vad_turns.yaml
  tests/realtime/cassettes/test_xai_ws/test_audio_in_server_vad_turn.yaml
  tests/realtime/test_session.py
  tests/realtime/ws_cassettes.py
Due: clai-help, format, lint, typecheck

Fix invalid YAML frontmatter in `i-have-adhd` SKILL.md (#7093)
  .agents/skills/i-have-adhd/SKILL.md
Due: clai-help

fix(images): adopt the shared cost helpers after the `_warnings` split
  pydantic_ai_slim/pydantic_ai/images/instrumented.py
  pydantic_ai_slim/pydantic_ai/images/result.py
  tests/test_images.py
Due: clai-help, format, lint, typecheck

Make `introduced_tool_names` optional and self-computing in `_map_messages`
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: clai-help, format, lint, typecheck

Don't record being closed as the node stream's error
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/capabilities/process_event_stream.py
Due: clai-help, format, lint, typecheck

Truncate outbound audio in the webrtc-only Azure cassette too
  tests/realtime/cassettes/test_azure_ws/test_audio_in_server_vad_transcribes.yaml
Due: none

Close the last coverage gaps from the review round
  pydantic_ai_slim/pydantic_ai/realtime/_session.py
  tests/providers/test_azure.py
  tests/realtime/test_openai.py
  tests/realtime/test_openai_ws.py
  tests/realtime/test_session.py
Due: clai-help, format, lint, typecheck

Update OTel delta tests for the system-voice split
  tests/models/test_instrumented.py
  tests/test_messages.py
Due: clai-help, format, lint, typecheck
