Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

fix(service_tier): `auto` omits on Bedrock/GLA; add Cerebras `openai_service_tier` filter
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/providers/cerebras.py
  tests/models/test_bedrock.py
  tests/models/test_google.py
  tests/providers/test_cerebras.py
Due: clai-help, format, lint, typecheck

test(google): update snapshots and stream mock for google-genai 1.70 bump
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck

Set `gen_ai.operation.name=execute_tool` on tool-execution spans (#5179)
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/tool_manager.py
  tests/test_logfire.py
Due: clai-help, format, lint, typecheck

test(anthropic): add `service_tier` mapping coverage
  tests/models/test_anthropic.py
Due: clai-help, format, lint, typecheck

Set `gen_ai.operation.name=execute_tool` on tool-execution spans (#5182)
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/tool_manager.py
  tests/test_logfire.py
Due: clai-help, format, lint, typecheck

fix: avoid stale client references in model and embedding classes (#4276)
  pydantic_ai_slim/pydantic_ai/embeddings/bedrock.py
  pydantic_ai_slim/pydantic_ai/embeddings/cohere.py
  pydantic_ai_slim/pydantic_ai/embeddings/google.py
  pydantic_ai_slim/pydantic_ai/embeddings/openai.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/xai.py
  tests/models/test_anthropic.py
  tests/models/test_bedrock.py
  tests/models/test_cohere.py
  tests/models/test_gemini.py
  tests/models/test_google.py
  tests/models/test_groq.py
  tests/models/test_huggingface.py
  tests/models/test_mistral.py
  tests/models/test_openai.py
  tests/models/test_openai_responses.py
  tests/models/test_xai.py
Due: clai-help, format, lint, typecheck

test: fix CI collection + Vertex logprobs + capability schema snapshots
  tests/models/test_anthropic.py
  tests/models/test_google.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

refactor(service_tier): strictly type Vertex header helper; trim dead Bedrock branch
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/google.py
Due: clai-help, format, lint, typecheck

fix(service_tier): emit DeprecationWarning for `google_service_tier`; doc/test fixes
  docs/models/bedrock.md
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/settings.py
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck

chore: gitignore CLAUDE.local.md
  .gitignore
Due: none

feat(ui): add UIAdapter.sanitize_messages and allowed_file_url_schemes
  docs/input.md
  docs/ui/ag-ui.md
  docs/ui/overview.md
  docs/ui/vercel-ai.md
  pydantic_ai_slim/pydantic_ai/ag_ui.py
  pydantic_ai_slim/pydantic_ai/ui/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  tests/test_ag_ui.py
  tests/test_ui.py
Due: clai-help, format, lint, typecheck

refactor(service_tier): map Vertex `priority`; extract GLA helper; Anthropic None-early-return
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck

chore: gitignore CLAUDE.local.md (#5184)
  .gitignore
Due: none

refactor: move output-retry ctx adjustment to PreparedToolset construction
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/toolsets/abstract.py
  pydantic_ai_slim/pydantic_ai/toolsets/combined.py
  pydantic_ai_slim/pydantic_ai/toolsets/prepared.py
  pydantic_ai_slim/pydantic_ai/toolsets/wrapper.py
Due: clai-help, format, lint, typecheck

fix: pass max_tokens to max_tokens parameter and add max_completion_tokens setting
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: clai-help, format, lint, typecheck

feat(toolsets): warn when prepare_tools callback returns None (#5177)
  docs/tools-advanced.md
  pydantic_ai_slim/pydantic_ai/toolsets/prepared.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Adding close_stream() to CompletedResponse for durable execs and fixing the iterator breaking out, generator not closing comment by Devin
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/wrapper.py
  pydantic_ai_slim/pydantic_ai/result.py
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

docs: add AI policy for contributor communication
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
  .github/ISSUE_TEMPLATE/question.yaml
  .github/pull_request_template.md
  AI_POLICY.md
  docs/contributing.md
Due: clai-help

fix(toolsets): safe lookup of prepare_func name in warning and fix test_dynamic_tools_agent_wide
  pydantic_ai_slim/pydantic_ai/toolsets/prepared.py
  tests/test_tools.py
Due: clai-help, format, lint, typecheck

ai-policy
  AI_POLICY.md
Due: clai-help

lint fix
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
Due: clai-help, format, lint, typecheck

fix(toolsets): misleading warning message
  pydantic_ai_slim/pydantic_ai/toolsets/prepared.py
  tests/test_capabilities.py
  tests/test_tools.py
Due: clai-help, format, lint, typecheck

Narrow Anthropic builtin update to web tools
  pydantic_ai_slim/pydantic_ai/builtin_tools.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/profiles/anthropic.py
  tests/models/test_anthropic.py
Due: clai-help, format, lint, typecheck

feat: add count_tokens support for OpenAIResponsesModel
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/mock_openai.py
  tests/models/test_openai_responses.py
Due: clai-help, format, lint, typecheck

update cassettes
  docs/builtin-tools.md
  pydantic_ai_slim/pydantic_ai/builtin_tools/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pyproject.toml
  tests/models/cassettes/test_anthropic/test_anthropic_code_execution_tool.yaml
  tests/models/cassettes/test_anthropic/test_anthropic_code_execution_tool_file_ids.yaml
  tests/models/cassettes/test_anthropic/test_anthropic_code_execution_tool_file_ids_not_resent_with_reused_container.yaml
  tests/models/cassettes/test_anthropic/test_anthropic_code_execution_tool_haiku_4_5_support.yaml
  tests/models/cassettes/test_anthropic/test_anthropic_code_execution_tool_stream.yaml
  tests/models/cassettes/test_anthropic/test_anthropic_server_tool_receive_history_from_another_provider.yaml
  tests/models/cassettes/test_anthropic/test_anthropic_text_editor_code_execution_tool.yaml
  tests/models/cassettes/test_anthropic/test_anthropic_text_editor_code_execution_tool_stream.yaml
  tests/models/test_anthropic.py
  uv.lock
Due: clai-help, format, lint, typecheck

Fix Anthropic code execution snapshot
  tests/models/test_anthropic.py
Due: clai-help, format, lint, typecheck

recording cassettes
  tests/models/anthropic/cassettes/test_output/test_mixed_tools_native_output.yaml
  tests/models/anthropic/cassettes/test_output/test_no_tools_native_output_strict_none.yaml
  tests/models/anthropic/cassettes/test_output/test_no_tools_native_output_strict_true.yaml
  tests/models/anthropic/cassettes/test_output/test_strict_false_tool_native_output.yaml
  tests/models/anthropic/cassettes/test_output/test_strict_none_tool_native_output.yaml
Due: none

feat(fastmcp): add background task support (SEP-1686)
  docs/mcp/fastmcp-client.md
  pydantic_ai_slim/pydantic_ai/toolsets/fastmcp.py
  tests/test_fastmcp.py
Due: clai-help, format, lint, typecheck

fix(tests): import PrepareTools on top of file
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

chore: add pydocket to dev dependencies
  pyproject.toml
Due: none

fix(warnings): update warning message to use backticks and repr string formatting
  pydantic_ai_slim/pydantic_ai/toolsets/prepared.py
  tests/test_capabilities.py
  tests/test_tools.py
Due: clai-help, format, lint, typecheck

fix: address review feedback
  docs/mcp/fastmcp-client.md
  pydantic_ai_slim/pydantic_ai/toolsets/fastmcp.py
  pydantic_ai_slim/pyproject.toml
  tests/test_fastmcp.py
  uv.lock
Due: clai-help, format, lint, typecheck

docs: fix code style and add expected output
  docs/mcp/fastmcp-client.md
Due: clai-help

docs: skip untestable doc example
  docs/mcp/fastmcp-client.md
Due: clai-help

adding response.close handler
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/xai.py
  tests/models/test_anthropic.py
  tests/models/test_google.py
  tests/models/test_huggingface.py
  tests/models/test_xai.py
Due: clai-help, format, lint, typecheck

fix: keep max_tokens fallback for max_completion_tokens for backwards compat
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: clai-help, format, lint, typecheck

fix: add pragma no cover for unreachable line
  tests/test_fastmcp.py
Due: clai-help, format, lint, typecheck

address review: delete internal handoff doc, fix validate hook docstring
  REVIEW_HANDOFF_OUTPUT_HOOKS.md
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
Due: clai-help, format, lint, typecheck

Export EventStreamProcessor; document HandleEventStream error semantics
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/event_stream_handler.py
Due: clai-help, format, lint, typecheck

Restore pragma: no cover on post-merge unreachable raise
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
Due: clai-help, format, lint, typecheck
