Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

Merge main into instrument-cap, add Instrumentation.get_ordering()
  pydantic_ai_slim/pydantic_ai/capabilities/instrumentation.py
Due: clai-help, format, lint, typecheck

Update capability matrix: add teams, checkpointing, fix links (pydantic/pydantic-ai-harness#197)
  src/pydantic_ai_harness/README.md
Due: clai-help

Add DeferredToolHandler capability and DeferredToolRequestsPending exception
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/deferred_tool_handler.py
  pydantic_ai_slim/pydantic_ai/exceptions.py
  pydantic_ai_slim/pydantic_ai/result.py
  tests/test_agent.py
  tests/test_capabilities.py
  tests/test_tools.py
Due: clai-help, format, lint, typecheck

refactor: move tool search wrapping into an auto-injected `ToolSearch` capability
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/_tool_search.py
  tests/test_tool_search.py
Due: clai-help, format, lint, typecheck

address review feedback: add `has_capability_type` helper, `Agent.root_capability` property, fix override path
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/_ordering.py
  tests/test_tool_search.py
Due: clai-help, format, lint, typecheck

Add version policy and README table of contents (pydantic/pydantic-ai-harness#198)
  src/pydantic_ai_harness/README.md
Due: clai-help

extract auto-injection helper, add coverage tests, eliminate dead branch
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  tests/test_tool_search.py
Due: clai-help, format, lint, typecheck

rename _output_retry to _output_retry_count, add field docstrings
  pydantic_ai_slim/pydantic_ai/_output.py
Due: clai-help, format, lint, typecheck

fix: prevent double ToolSearch wrapping in per-run spec merge
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
Due: clai-help, format, lint, typecheck

refactor: move tool search wrapping into auto-injected `ToolSearch` capability (#5047)
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/_ordering.py
  pydantic_ai_slim/pydantic_ai/capabilities/_tool_search.py
  tests/test_tool_search.py
Due: clai-help, format, lint, typecheck

feat: add `ordering` parameter to `Hooks` and support instance refs in `wraps`/`wrapped_by`
  docs/capabilities.md
  pydantic_ai_slim/pydantic_ai/capabilities/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/_ordering.py
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
  pydantic_ai_slim/pydantic_ai/capabilities/combined.py
  pydantic_ai_slim/pydantic_ai/capabilities/hooks.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

fix: improve instance ref test to distinguish from type ref behavior
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

docs: note instance ref identity semantics with `for_run` in docstrings
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
Due: clai-help, format, lint, typecheck

docs: add Pydantic Harness references throughout docs and contributing guide
  .github/pull_request_template.md
  docs/capabilities.md
  docs/contributing.md
  docs/extensibility.md
  docs/harness.md
  mkdocs.yml
Due: clai-help

feat: `Hooks` ordering parameter and instance refs in `wraps`/`wrapped_by` (#5048)
  docs/capabilities.md
  pydantic_ai_slim/pydantic_ai/capabilities/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/_ordering.py
  pydantic_ai_slim/pydantic_ai/capabilities/_tool_search.py
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
  pydantic_ai_slim/pydantic_ai/capabilities/combined.py
  pydantic_ai_slim/pydantic_ai/capabilities/hooks.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

Merge main, update get_ordering to instance method
  pydantic_ai_slim/pydantic_ai/capabilities/instrumentation.py
Due: clai-help, format, lint, typecheck

Merge main (#5048: instance get_ordering) and update durability capabilities
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_durability.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_durability.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_durability.py
Due: clai-help, format, lint, typecheck

fix: make `mcp` optional for DBOS module import
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/__init__.py
Due: clai-help, format, lint, typecheck

fix: make `mcp` optional for DBOS module import (#5050)
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/__init__.py
Due: clai-help, format, lint, typecheck

docs: deduplicate harness explanations, use generic issues URL
  docs/capabilities.md
  docs/contributing.md
  docs/extensibility.md
Due: clai-help

Remove broken CAPABILITY_TYPES registration, add Bedrock CompactionPart handling
  pydantic_ai_slim/pydantic_ai/capabilities/__init__.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
Due: clai-help, format, lint, typecheck

fix: read root_capability from run context instead of tool_manager
  pydantic_ai_slim/pydantic_ai/result.py
Due: clai-help, format, lint, typecheck

fix: pass root_capability directly to AgentStream via new field
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/result.py
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

docs: mention Pydantic Harness in feature list on index and README
  README.md
  docs/index.md
Due: clai-help

Guard against missing encrypted_content in CompactionPart provider_details
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: clai-help, format, lint, typecheck

Update package description and authors for launch (pydantic/pydantic-ai-harness#199)
  src/pydantic_ai_harness/pyproject.toml
Due: none

Merge main, add CompactionPart handling to AG-UI adapter
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
Due: clai-help, format, lint, typecheck

Skip docstring example tests that require model provider packages
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_durability.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_durability.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_durability.py
Due: clai-help, format, lint, typecheck

Add pragma: no cover to AG-UI CompactionPart skip branch
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
Due: clai-help, format, lint, typecheck

bug: Warn about Azure OpenAI completions file-incompatibility (#4048)
  docs/input.md
  docs/models/openai.md
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  pydantic_ai_slim/pydantic_ai/providers/azure.py
  tests/models/cassettes/test_openai/test_x_yaml_document_as_binary_content_input.yaml
  tests/models/cassettes/test_openai/test_yaml_document_as_binary_content_input.yaml
  tests/models/cassettes/test_openai/test_yaml_document_url_input.yaml
  tests/models/test_openai.py
  tests/providers/test_azure.py
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

restore deleted skill files (address-feedback, pre-push-review)
  .claude/skills/address-feedback/SKILL.md
  .claude/skills/pre-push-review/SKILL.md
Due: clai-help

Add server-side compaction support via `OpenAICompaction` and `AnthropicCompaction` capabilities (#4943)
  docs/capabilities.md
  docs/models/anthropic.md
  docs/models/openai.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/capabilities/__init__.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/outlines.py
  pydantic_ai_slim/pydantic_ai/models/test.py
  pydantic_ai_slim/pydantic_ai/models/wrapper.py
  pydantic_ai_slim/pydantic_ai/models/xai.py
  pydantic_ai_slim/pydantic_ai/ui/_event_stream.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  tests/models/cassettes/test_anthropic/test_anthropic_compaction_end_to_end.yaml
  tests/models/cassettes/test_anthropic/test_anthropic_compaction_round_trip.yaml
  tests/models/cassettes/test_openai_responses/test_openai_responses_compact_messages.yaml
  tests/models/cassettes/test_openai_responses/test_openai_responses_compact_messages_direct.yaml
  tests/models/cassettes/test_openai_responses/test_openai_responses_compact_with_auto_previous_response_id.yaml
  tests/models/cassettes/test_openai_responses/test_openai_responses_compact_with_instructions.yaml
  tests/models/test_anthropic.py
  tests/models/test_instrumented.py
  tests/models/test_openai_responses.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

fix: remove double retry counting in execute_output_tool_call
  pydantic_ai_slim/pydantic_ai/tool_manager.py
Due: clai-help, format, lint, typecheck

fix: unknown tool calls no longer exhaust global retry counter (#4940)
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_agent.py
  tests/test_streaming.py
  tests/test_ui.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Fix `output_mode`/`allow_text_output` coupling in `ModelRequestParameters` (#4274)
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/test_model_request_parameters.py
Due: clai-help, format, lint, typecheck

address review: fix ctx.max_retries propagation, keep ToolsetTool.max_retries as int
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_dynamic_toolset.py
  pydantic_ai_slim/pydantic_ai/toolsets/abstract.py
  pydantic_ai_slim/pydantic_ai/toolsets/fastmcp.py
  pydantic_ai_slim/pydantic_ai/toolsets/function.py
  tests/test_fastmcp.py
  tests/test_toolsets.py
Due: clai-help, format, lint, typecheck

Feature: Code Mode Capability with Monty (pydantic/pydantic-ai-harness#167)
  src/pydantic_ai_harness/AGENTS.md
  src/pydantic_ai_harness/README.md
  src/pydantic_ai_harness/demo_code_mode.py
  src/pydantic_ai_harness/pydantic_harness/__init__.py
  src/pydantic_ai_harness/pydantic_harness/code_mode/__init__.py
  src/pydantic_ai_harness/pydantic_harness/code_mode/_capability.py
  src/pydantic_ai_harness/pydantic_harness/code_mode/_toolset.py
  src/pydantic_ai_harness/pydantic_harness/py.typed
  src/pydantic_ai_harness/pyproject.toml
  src/pydantic_ai_harness/src/pydantic_harness/__init__.py
  tests/harness/_code_mode/__init__.py
  tests/harness/_code_mode/test_code_mode.py
  tests/harness/_code_mode/test_dbos.py
  tests/harness/_code_mode/test_temporal.py
Due: clai-help, format, lint, typecheck

fix: correct tool search link in harness.md
  docs/harness.md
Due: clai-help

fix: output validators see global retry counter on tool output path (#4956)
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_output.py
  tests/test_agent.py
Due: clai-help, format, lint, typecheck
