Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: replace-py-code-blocks
        name: Replace ```py with ```python
        # first pattern matches ```py <info> and second matches lone ```py<eol>
        entry: |
          if [[ "$(uname)" == "Darwin" ]]; then
            sed -i '' 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          else
            sed -i 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          fi
        language: system
        files: \.py$|\.md$
        pass_filenames: true

fix typing imports
  pydantic_evals/pydantic_evals/dataset.py
  pydantic_evals/pydantic_evals/otel/span_tree.py
Due: format, lint, typecheck, replace-py-code-blocks

fix types for 3.9
  pydantic_evals/pydantic_evals/dataset.py
  pydantic_evals/pydantic_evals/evaluators/_spec.py
  pydantic_evals/pydantic_evals/evaluators/evaluator.py
  pydantic_evals/pydantic_evals/otel/_context_in_memory_span_exporter.py
  pydantic_evals/pydantic_evals/reporting/render_numbers.py
Due: format, lint, typecheck, replace-py-code-blocks

fix PR
  docs/tools.md
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

use anyio
  pydantic_evals/pydantic_evals/dataset.py
  pydantic_evals/pyproject.toml
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

use anyio
  pydantic_evals/pydantic_evals/dataset.py
Due: format, lint, typecheck, replace-py-code-blocks

Remove non-provider parameters from models
  docs/api/providers.md
  docs/models.md
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/vertexai.py
  pydantic_ai_slim/pydantic_ai/providers/anthropic.py
  pydantic_ai_slim/pydantic_ai/providers/azure.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock.py
  pydantic_ai_slim/pydantic_ai/providers/cohere.py
  pydantic_ai_slim/pydantic_ai/providers/deepseek.py
  pydantic_ai_slim/pydantic_ai/providers/google_gla.py
  pydantic_ai_slim/pydantic_ai/providers/google_vertex.py
  pydantic_ai_slim/pydantic_ai/providers/groq.py
  pydantic_ai_slim/pydantic_ai/providers/mistral.py
  pydantic_ai_slim/pydantic_ai/providers/openai.py
  tests/conftest.py
  tests/models/test_anthropic.py
  tests/models/test_gemini.py
  tests/models/test_mistral.py
  tests/models/test_vertexai.py
  tests/providers/test_anthropic.py
  tests/providers/test_bedrock.py
  tests/providers/test_cohere.py
  tests/providers/test_deepseek.py
  tests/providers/test_google_gla.py
  tests/providers/test_groq.py
  tests/providers/test_mistral.py
  tests/providers/test_provider_names.py
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

docs improvements
  docs/evals.md
  pydantic_evals/pydantic_evals/evaluators/common.py
  pydantic_evals/pydantic_evals/evaluators/llm_as_a_judge.py
  pydantic_evals/pydantic_evals/examples.py
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix order of dataset stuff using new task_group_gather
  pydantic_evals/pydantic_evals/_utils.py
  pydantic_evals/pydantic_evals/dataset.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix some issue
  docs/evals.md
  pydantic_evals/pydantic_evals/dataset.py
  pydantic_evals/pydantic_evals/evaluators/common.py
  pydantic_evals/pydantic_evals/evaluators/evaluator.py
  pydantic_evals/pydantic_evals/otel/_context_in_memory_span_exporter.py
  pydantic_evals/pydantic_evals/otel/_context_subtree.py
Due: format, lint, typecheck, replace-py-code-blocks

anthropic prompt caching hack
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

rebase and fix usage int/none/0 issues
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

Rework evaluators to just define evaluate
  docs/evals.md
  pydantic_evals/pydantic_evals/dataset.py
  pydantic_evals/pydantic_evals/demo/time_range/eval.py
  pydantic_evals/pydantic_evals/evaluators/common.py
  pydantic_evals/pydantic_evals/evaluators/evaluator.py
Due: format, lint, typecheck, replace-py-code-blocks

3.9
  docs/evals.md
  pydantic_evals/pydantic_evals/evaluators/llm_as_a_judge.py
  pydantic_evals/pydantic_evals/examples.py
  pydantic_evals/pyproject.toml
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Force specific width for wide printed tables in examples
  docs/evals.md
Due: replace-py-code-blocks

Fix console width stuff
  docs/evals.md
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Add pydantic_evals.examples to docs
  docs/api/pydantic_evals/examples.md
  mkdocs.yml
Due: replace-py-code-blocks

Add lots of tests
  pydantic_evals/pydantic_evals/_utils.py
  pydantic_evals/pydantic_evals/dataset.py
  pydantic_evals/pydantic_evals/evaluators/common.py
  pydantic_evals/pydantic_evals/evaluators/evaluator.py
  pydantic_evals/pydantic_evals/evaluators/llm_as_a_judge.py
  pydantic_evals/pydantic_evals/examples.py
  pydantic_evals/pydantic_evals/reporting/__init__.py
  pydantic_evals/pydantic_evals/reporting/reports.py
  tests/evals/test_dataset.py
  tests/evals/test_evaluator_base.py
  tests/evals/test_evaluator_common.py
  tests/evals/test_evaluator_context.py
  tests/evals/test_evaluator_spec.py
  tests/evals/test_llm_as_a_judge.py
  tests/evals/test_reporting.py
  tests/evals/test_utils.py
Due: format, lint, typecheck, replace-py-code-blocks

Try again
  tests/evals/test_evaluator_common.py
Due: format, lint, typecheck, replace-py-code-blocks

Try fixing imports
  tests/evals/test_evaluator_base.py
  tests/evals/test_evaluator_common.py
  tests/evals/test_otel.py
Due: format, lint, typecheck, replace-py-code-blocks

Try fixing imports
  tests/evals/test_evaluator_base.py
  tests/evals/test_evaluator_common.py
Due: format, lint, typecheck, replace-py-code-blocks

JSON JSON schema and docs work
  docs/evals.md
  pydantic_evals/pydantic_evals/dataset.py
  pydantic_evals/pydantic_evals/examples.py
  tests/evals/test_dataset.py
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Add some coverage
  pydantic_evals/pydantic_evals/_utils.py
  pydantic_evals/pydantic_evals/dataset.py
  tests/evals/test_dataset.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix 3.9 tests
  docs/evals.md
  pydantic_evals/pydantic_evals/dataset.py
  tests/evals/test_dataset.py
Due: format, lint, typecheck, replace-py-code-blocks

Update graph.md
  docs/graph.md
Due: replace-py-code-blocks

Increase coverage
  pydantic_ai_slim/pydantic_ai/exceptions.py
  tests/conftest.py
  tests/models/test_openai.py
  tests/providers/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

fix tests
  tests/providers/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Drop vertexai page
  docs/api/models/vertexai.md
  mkdocs.yml
Due: replace-py-code-blocks

Remove non-provider parameters from models (#1239)
  docs/api/models/vertexai.md
  docs/api/providers.md
  docs/models.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/exceptions.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/vertexai.py
  pydantic_ai_slim/pydantic_ai/providers/anthropic.py
  pydantic_ai_slim/pydantic_ai/providers/azure.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock.py
  pydantic_ai_slim/pydantic_ai/providers/cohere.py
  pydantic_ai_slim/pydantic_ai/providers/deepseek.py
  pydantic_ai_slim/pydantic_ai/providers/google_gla.py
  pydantic_ai_slim/pydantic_ai/providers/google_vertex.py
  pydantic_ai_slim/pydantic_ai/providers/groq.py
  pydantic_ai_slim/pydantic_ai/providers/mistral.py
  pydantic_ai_slim/pydantic_ai/providers/openai.py
  tests/conftest.py
  tests/models/test_anthropic.py
  tests/models/test_gemini.py
  tests/models/test_mistral.py
  tests/models/test_openai.py
  tests/models/test_vertexai.py
  tests/providers/test_anthropic.py
  tests/providers/test_bedrock.py
  tests/providers/test_cohere.py
  tests/providers/test_deepseek.py
  tests/providers/test_google_gla.py
  tests/providers/test_groq.py
  tests/providers/test_mistral.py
  tests/providers/test_openai.py
  tests/providers/test_provider_names.py
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

use hyphen in docs
  docs-site/src/index.ts
  docs/common-tools.md
  mkdocs.yml
Due: replace-py-code-blocks

Use different HTTP clients based on providers
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/anthropic.py
  pydantic_ai_slim/pydantic_ai/providers/azure.py
  pydantic_ai_slim/pydantic_ai/providers/cohere.py
  pydantic_ai_slim/pydantic_ai/providers/deepseek.py
  pydantic_ai_slim/pydantic_ai/providers/google_gla.py
  pydantic_ai_slim/pydantic_ai/providers/google_vertex.py
  pydantic_ai_slim/pydantic_ai/providers/groq.py
  pydantic_ai_slim/pydantic_ai/providers/mistral.py
  pydantic_ai_slim/pydantic_ai/providers/openai.py
  tests/conftest.py
Due: format, lint, typecheck, replace-py-code-blocks

Version 0.0.45
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

use hyphen in docs (#1241)
  docs-site/src/index.ts
  docs/common-tools.md
  mkdocs.yml
Due: replace-py-code-blocks

Revert "use hyphen in docs (#1241)"
  docs-site/src/index.ts
  docs/common_tools.md
  mkdocs.yml
Due: replace-py-code-blocks

Version 0.0.45 (#1243)
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Revert "use hyphen in docs" (#1244)
  docs-site/src/index.ts
  docs/common_tools.md
  mkdocs.yml
Due: replace-py-code-blocks

debug redirects
  docs-site/src/index.ts
  docs-site/wrangler.toml
Due: none

remove debug
  docs-site/src/index.ts
Due: none

use hyphen in docs (#1245)
  docs-site/src/index.ts
  docs-site/wrangler.toml
  docs/common-tools.md
  mkdocs.yml
Due: replace-py-code-blocks
