Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

replace-py-code-blocks:
  name: Replace ```py with ```python
  entry: "if [[ \"$(uname)\" == \"Darwin\" ]]; then\n  sed -i '' 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nelse\n  sed -i 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nfi\n"
  language: system
  pass_filenames: true

the message is more useful
  tests/models/test_huggingface.py
Due: format, lint, typecheck, replace-py-code-blocks

rephrase
  .devcontainer/README.md
Due: replace-py-code-blocks

Pin `huggingface-hub` to `<1` (#3557)
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  pydantic_ai_slim/pyproject.toml
  tests/models/test_huggingface.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

make ollama cli opt-in
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .github/workflows/ci.yml
Due: replace-py-code-blocks

support rae cot 1
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

add INSTALL_OLLAMA flag
  .devcontainer/Dockerfile
  .devcontainer/README.md
Due: replace-py-code-blocks

include live gpt-oss streaming test and remove computer-use model
  docs/models/openai.md
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/cassettes/test_openai_responses/test_openai_responses_raw_cot_stream_openrouter.yaml
  tests/models/cassettes/test_openai_responses/test_openai_responses_reasoning_generate_summary.yaml
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

simplify filter
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

note about test flakiness
  tests/models/cassettes/test_openai_responses/test_openai_responses_raw_cot_stream_openrouter.yaml
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

re-add computer use names
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Pin click at 8.1.0 to stop inadvertently upgrading modal
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

Add built in tool name and finish reason map
  pydantic_ai_slim/pydantic_ai/models/xai.py
Due: format, lint, typecheck, replace-py-code-blocks

add tool and resource caching for mcp servers that support change notifications
  pydantic_ai_slim/pydantic_ai/mcp.py
  tests/test_mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

Add Anthropic built-in `WebFetchTool` support (#3427)
  docs/builtin-tools.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/builtin_tools.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/cassettes/test_anthropic/test_anthropic_mcp_servers_stream.yaml
  tests/models/cassettes/test_anthropic/test_anthropic_web_fetch_tool.yaml
  tests/models/cassettes/test_anthropic/test_anthropic_web_fetch_tool_stream.yaml
  tests/models/cassettes/test_google/test_google_model_web_fetch_tool[False].yaml
  tests/models/cassettes/test_google/test_google_model_web_fetch_tool[True].yaml
  tests/models/cassettes/test_google/test_google_model_web_fetch_tool_stream.yaml
  tests/models/test_anthropic.py
  tests/models/test_google.py
  tests/models/test_model_request_parameters.py
  tests/test_builtin_tools.py
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix tests
  pydantic_ai_slim/pydantic_ai/models/xai.py
  pydantic_ai_slim/pydantic_ai/profiles/grok.py
  tests/models/test_xai.py
Due: format, lint, typecheck, replace-py-code-blocks

Adding tool_choice and response_format arguments to create_chat
  pydantic_ai_slim/pydantic_ai/models/xai.py
Due: format, lint, typecheck, replace-py-code-blocks

Update docs/models/anthropic.md
  docs/models/anthropic.md
Due: replace-py-code-blocks

Add `anthropic_cache_messages` model setting and automatically strip cache points over the limit (#3442)
  docs/models/anthropic.md
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/cassettes/test_anthropic/test_anthropic_cache_messages_real_api.yaml
  tests/models/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

Updating docs for xai.md
  docs/api/models/grok.md
  docs/api/models/xai.md
  docs/models/overview.md
  mkdocs.yml
Due: replace-py-code-blocks

Update case of xAI
  docs/models/overview.md
Due: replace-py-code-blocks

Adding tests for tool_choice and native json output
  tests/models/test_xai.py
Due: format, lint, typecheck, replace-py-code-blocks

Updating docs link for models
  docs/models/xai.md
Due: replace-py-code-blocks

Address PR feedback for Cerebras integration
  docs/api/models/cerebras.md
  docs/models/cerebras.md
  docs/models/groq.md
  docs/models/mistral.md
  docs/models/openai.md
  docs/models/overview.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/cerebras.py
  pydantic_ai_slim/pydantic_ai/providers/cerebras.py
  tests/providers/test_cerebras.py
Due: format, lint, typecheck, replace-py-code-blocks

Create XaiModelName and deprecated GrokProvider
  pydantic_ai_slim/pydantic_ai/models/xai.py
  pydantic_ai_slim/pydantic_ai/providers/grok.py
  pydantic_ai_slim/pydantic_ai/providers/xai.py
  tests/providers/test_grok.py
Due: format, lint, typecheck, replace-py-code-blocks

Remove deprecated model from cassette
  tests/models/cassettes/test_model_names/test_known_model_names.yaml
Due: none

Update builtin tests to verify output parts with snapshot
  pydantic_ai_slim/pydantic_ai/models/xai.py
  tests/models/mock_xai.py
  tests/models/test_xai.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix mcp_server tool with prefix and snapshot
  pydantic_ai_slim/pydantic_ai/models/xai.py
  tests/models/test_xai.py
Due: format, lint, typecheck, replace-py-code-blocks

fixes after review
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/profiles/anthropic.py
  tests/models/anthropic/test_output.py
Due: format, lint, typecheck, replace-py-code-blocks

Add docs examples to use the Gateway aside from the `gateway/<provider>:<model>` shorthand (#3484)
  docs/api/providers.md
  docs/gateway.md
Due: replace-py-code-blocks

Allow `user_prompt` in HITL (#3528)
  docs/deferred-tools.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_agent.py
  tests/test_examples.py
  tests/test_tools.py
Due: format, lint, typecheck, replace-py-code-blocks

format
  tests/models/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

Adding streaming tests for web_search and code_execution
  tests/models/test_xai.py
Due: format, lint, typecheck, replace-py-code-blocks

fix doc example
  pydantic_ai_slim/pydantic_ai/profiles/anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

Update remaining test to use snapshot
  tests/models/test_xai.py
Due: format, lint, typecheck, replace-py-code-blocks

Adding tests for run_stream_events and added constants for model names
  tests/models/test_xai.py
Due: format, lint, typecheck, replace-py-code-blocks

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
  replace-py-code-blocks: any of: \.py$|\.md$
