Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: replace-py-code-blocks
        name: Replace ```py with ```python
        # first pattern matches ```py <info> and second matches lone ```py<eol>
        entry: |
          if [[ "$(uname)" == "Darwin" ]]; then
            sed -i '' 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          else
            sed -i 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          fi
        language: system
        files: \.py$|\.md$
        pass_filenames: true

Update DBOS version and tests
  pydantic_ai_slim/pyproject.toml
  tests/test_dbos.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

fix iteration nodes
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/run.py
  pydantic_graph/pydantic_graph/v2/graph.py
Due: format, lint, typecheck, replace-py-code-blocks

Address review comments
  dbostest.sqlite
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
Due: format, lint, typecheck, replace-py-code-blocks

Lint
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
Due: format, lint, typecheck, replace-py-code-blocks

Update Ollama tutorial
  docs/models/openai.md
Due: replace-py-code-blocks

Fix broken documentation rendering for OpenAI model page
  docs/models/openai.md
Due: replace-py-code-blocks

Add Model Garden link
  docs/models/google.md
Due: replace-py-code-blocks

Remove custom client
  docs/models/google.md
Due: replace-py-code-blocks

Clarify model access for generateContent API
  docs/models/google.md
Due: replace-py-code-blocks

Updated code based on review requests
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Updated _inline_file_block based on feedback
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix instruction typing
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/agent/wrapper.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix typing
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix graph with temporal
  .python-version
  pydantic_graph/pydantic_graph/v2/graph.py
Due: format, lint, typecheck, replace-py-code-blocks

update docs on pickle
  docs/durable_execution/dbos.md
  pydantic_ai_slim/pyproject.toml
  tests/test_dbos.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Remove `activity` and `parallel` attributes
  .python-version
  pydantic_graph/pydantic_graph/v2/graph_builder.py
  pydantic_graph/pydantic_graph/v2/step.py
Due: format, lint, typecheck, replace-py-code-blocks

Initial support for restate
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/__init__.py
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_model.py
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_serde.py
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_toolset.py
  pydantic_ai_slim/pyproject.toml
Due: format, lint, typecheck, replace-py-code-blocks

Remove docstring contents of __init__.py
  pydantic_graph/pydantic_graph/v2/__init__.py
Due: format, lint, typecheck, replace-py-code-blocks

Add addtional type hints
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Add docstrings
  examples/pydantic_ai_examples/temporal_graph.py
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_graph/pydantic_graph/v2/__init__.py
  pydantic_graph/pydantic_graph/v2/decision.py
  pydantic_graph/pydantic_graph/v2/graph.py
  pydantic_graph/pydantic_graph/v2/graph_builder.py
  pydantic_graph/pydantic_graph/v2/id_types.py
  pydantic_graph/pydantic_graph/v2/join.py
  pydantic_graph/pydantic_graph/v2/mermaid.py
  pydantic_graph/pydantic_graph/v2/node.py
  pydantic_graph/pydantic_graph/v2/node_types.py
  pydantic_graph/pydantic_graph/v2/parent_forks.py
  pydantic_graph/pydantic_graph/v2/paths.py
  pydantic_graph/pydantic_graph/v2/step.py
  pydantic_graph/pydantic_graph/v2/util.py
Due: format, lint, typecheck, replace-py-code-blocks

Make GraphBuilder.edge_from(...).to take a type[BaseNode]
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_graph/pydantic_graph/v2/__init__.py
  pydantic_graph/pydantic_graph/v2/node_types.py
  pydantic_graph/pydantic_graph/v2/paths.py
Due: format, lint, typecheck, replace-py-code-blocks

Update the docstrings/typevars of decision.py
  pydantic_graph/pydantic_graph/v2/decision.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix generic base nodes
  pydantic_graph/pydantic_graph/v2/graph_builder.py
  pydantic_graph/pydantic_graph/v2/paths.py
  pydantic_graph/pydantic_graph/v2/step.py
Due: format, lint, typecheck, replace-py-code-blocks

Update some docstrings
  pydantic_graph/pydantic_graph/v2/__init__.py
  pydantic_graph/pydantic_graph/v2/decision.py
  pydantic_graph/pydantic_graph/v2/graph.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix auto instrumentation
  examples/pydantic_ai_examples/temporal_graph.py
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_graph/pydantic_graph/v2/graph.py
  pydantic_graph/pydantic_graph/v2/graph_builder.py
Due: format, lint, typecheck, replace-py-code-blocks

Tweak automatic edge creation from step function return hints
  examples/pydantic_ai_examples/temporal_graph.py
  pydantic_graph/pydantic_graph/v2/graph_builder.py
Due: format, lint, typecheck, replace-py-code-blocks

remove logfire
  examples/pydantic_ai_examples/temporal_graph.py
Due: format, lint, typecheck, replace-py-code-blocks

remove claude generated examples
  pydantic_graph/pydantic_graph/v2/__init__.py
  pydantic_graph/pydantic_graph/v2/graph.py
  pydantic_graph/pydantic_graph/v2/graph_builder.py
  pydantic_graph/pydantic_graph/v2/join.py
  pydantic_graph/pydantic_graph/v2/step.py
Due: format, lint, typecheck, replace-py-code-blocks

Use 3.10 in CI
  .github/workflows/ci.yml
Due: none

Delete plan
  pydantic_graph/pydantic_graph/v2/plan.md
Due: replace-py-code-blocks

Use 3.11 for docs in CI
  .github/workflows/ci.yml
Due: none

Rename graph v2 to beta
  examples/pydantic_ai_examples/dr2/nodes.py
  examples/pydantic_ai_examples/dr2/plan_outline_graph.py
  examples/pydantic_ai_examples/temporal_graph.py
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/run.py
  pydantic_graph/pydantic_graph/beta/__init__.py
  pydantic_graph/pydantic_graph/beta/decision.py
  pydantic_graph/pydantic_graph/beta/graph.py
  pydantic_graph/pydantic_graph/beta/graph_builder.py
  pydantic_graph/pydantic_graph/beta/id_types.py
  pydantic_graph/pydantic_graph/beta/join.py
  pydantic_graph/pydantic_graph/beta/mermaid.py
  pydantic_graph/pydantic_graph/beta/node.py
  pydantic_graph/pydantic_graph/beta/node_types.py
  pydantic_graph/pydantic_graph/beta/parent_forks.py
  pydantic_graph/pydantic_graph/beta/paths.py
  pydantic_graph/pydantic_graph/beta/step.py
  pydantic_graph/pydantic_graph/beta/util.py
Due: format, lint, typecheck, replace-py-code-blocks

Lint on 3.10 and 3.13
  .github/workflows/ci.yml
Due: none

Use correct pyright python version
  .github/workflows/ci.yml
  Makefile
Due: none

remove old examples
  examples/pydantic_ai_examples/deep_research/__init__.py
  examples/pydantic_ai_examples/deep_research/diagram.md
  examples/pydantic_ai_examples/deep_research/graph.py
  examples/pydantic_ai_examples/deep_research/nodes.py
  examples/pydantic_ai_examples/deep_research/plan_outline_graph.py
  examples/pydantic_ai_examples/deep_research/shared_types.py
  examples/pydantic_ai_examples/deep_research/write_section_graph.py
  examples/pydantic_ai_examples/dr2/__init__.py
  examples/pydantic_ai_examples/dr2/diagram.md
  examples/pydantic_ai_examples/dr2/nodes.py
  examples/pydantic_ai_examples/dr2/plan_outline_graph.py
  examples/pydantic_ai_examples/dr2/shared_types.py
  examples/pydantic_ai_examples/temporal_graph.py
Due: format, lint, typecheck, replace-py-code-blocks

test: add comprehensive test suite for _takes_ctx function schema validation
  tests/test_function_schema.py
Due: format, lint, typecheck, replace-py-code-blocks

refactor: replace function implementations with stubs and add no-cover pragmas in tests
  pydantic_ai_slim/pydantic_ai/_function_schema.py
  tests/test_function_schema.py
Due: format, lint, typecheck, replace-py-code-blocks

refactor: remove unnecessary pragma no cover comments in _function_schema.py
  pydantic_ai_slim/pydantic_ai/_function_schema.py
Due: format, lint, typecheck, replace-py-code-blocks

Update `pyproject.toml` to be PEP639 compliant
  pyproject.toml
Due: none
