Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

Un-skip the fallback model docs example and use `response.output` (#5876)
  docs/models/overview.md
Due: clai-help

docs: fix inaccurate `_metadata_panel` docstring in `pydantic_evals` reporting (#5928)
  pydantic_evals/pydantic_evals/reporting/__init__.py
Due: clai-help, format, lint, typecheck

docs: dataset JSON schema typo (#5813)
  docs/evals/how-to/dataset-management.md
Due: clai-help

Move debounce_by note below example and link stream_text reference
  docs/output.md
Due: clai-help

Document stream_text debounce_by behavior (#5997)
  docs/output.md
Due: clai-help

Move Atlas Cloud section to end of OpenAI-compatible providers
  docs/models/openai.md
Due: clai-help

Fix map `downstream_join_id` double-firing the join on a non-empty iterable
  pydantic_graph/pydantic_graph/graph_builder.py
  tests/graph/beta/test_broadcast_and_spread.py
Due: clai-help, format, lint, typecheck

add unit test
  tests/graph/beta/test_broadcast_and_spread.py
Due: clai-help, format, lint, typecheck

Fix `ThinkingPart.id` AG-UI round trip
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
  tests/test_ag_ui.py
Due: clai-help, format, lint, typecheck

feat: add `xai_max_turns` to `XaiModelSettings` (#5978)
  docs/models/xai.md
  pydantic_ai_slim/pydantic_ai/models/xai.py
  tests/models/test_xai.py
Due: clai-help, format, lint, typecheck

Fix `group_by_temporal` first group timing
  pydantic_ai_slim/pydantic_ai/_utils.py
  tests/test_utils.py
Due: clai-help, format, lint, typecheck

Fix `downstream_join_id` map reducer reuse
  pydantic_graph/pydantic_graph/graph_builder.py
  tests/graph/beta/test_joins_and_reducers.py
Due: clai-help, format, lint, typecheck

Pass `vendor_metadata` `detail` through for Groq image URL content
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  tests/models/test_groq_vendor_metadata.py
Due: clai-help, format, lint, typecheck

Fix `RetryPromptPart` partial error round-trip
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/test_messages.py
Due: clai-help, format, lint, typecheck

docs(openrouter): use property-style `result.usage` in caching example (#5950)
  docs/agent.md
  docs/models/openrouter.md
  docs/output.md
Due: clai-help

fix(groq): add `groq_reasoning_effort` setting (#5797)
  docs/thinking.md
  pydantic_ai_slim/pydantic_ai/models/groq.py
  tests/cassettes/test_thinking_wire_contract/test_reasoning_wire_contract[cerebras-gpt-oss-always-on].yaml
  tests/cassettes/test_thinking_wire_contract/test_reasoning_wire_contract[groq-qwen3-disable-merges-user-extra-body].yaml
  tests/cassettes/test_thinking_wire_contract/test_reasoning_wire_contract[groq-qwen3-disable-overrides-effort-setting].yaml
  tests/cassettes/test_thinking_wire_contract/test_reasoning_wire_contract[groq-qwen3-disable].yaml
  tests/cassettes/test_thinking_wire_contract/test_reasoning_wire_contract[groq-qwen3-effort-setting].yaml
  tests/test_thinking_wire_contract.py
Due: clai-help, format, lint, typecheck

fix(openai): raise ContentFilterError for plain-text content_filter responses
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai_responses.py
Due: clai-help, format, lint, typecheck

ci: try ubicloud-standard-8-arm in place of ubicloud-premium-4
  .github/workflows/ci.yml
Due: none

ci: try -n $(($(nproc) * 2)) — oversubscribe to 2× logical workers
  .github/workflows/ci.yml
Due: none

ci: revert 2x oversubscribe — tests aren't I/O-bound enough, 16 workers on 8 cores hurt wall-clock 14-41% across all variants
  .github/workflows/ci.yml
Due: none

Add Apache Airflow durable execution docs (#5984)
  docs/durable_execution/airflow.md
  docs/durable_execution/overview.md
  docs/nav.json
  mkdocs.yml
Due: clai-help

docs: add Raindrop to alternative observability backends (#5991)
  docs/logfire.md
Due: clai-help

fix: use running loop in chat app example (#5971)
  examples/pydantic_ai_examples/chat_app.py
Due: clai-help, format, lint, typecheck

Make retry-after transport test deterministic (#5533)
  tests/test_tenacity.py
Due: clai-help, format, lint, typecheck

test(cohere): assert cache_read_tokens from a real recorded usage
  tests/models/cassettes/test_cohere/test_request_usage_with_cached_tokens.yaml
  tests/models/test_cohere.py
Due: clai-help, format, lint, typecheck

Explain the long Cohere instructions prefix in cache-hit test
  tests/models/test_cohere.py
Due: clai-help, format, lint, typecheck

docs: use canonical `platform.claude.com` Anthropic tool-use links
  docs/native-tools.md
Due: clai-help

Use released `pydantic-ai-harness>=0.4.0` for gh-aw shim and fix lint
  .github/scripts/pydantic-ai-runner
  .github/scripts/test_pydantic_ai_runner.py
  pyproject.toml
  uv.lock
Due: clai-help, format, lint, typecheck

fix(cohere): forward usage.cached_tokens as cache_read_tokens (#5957)
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  tests/models/cassettes/test_cohere/test_request_usage_with_cached_tokens.yaml
  tests/models/test_cohere.py
Due: clai-help, format, lint, typecheck

Drop the `lint` group from the `lowest-versions` resolution
  .github/workflows/ci.yml
Due: none

test(mistral): assert forwarded penalties via VCR recording
  tests/models/cassettes/test_mistral/test_mistral_forwards_penalties.yaml
  tests/models/test_mistral.py
Due: clai-help, format, lint, typecheck

fix(mistral): forward penalties in completions (#5695)
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  tests/models/cassettes/test_mistral/test_mistral_forwards_penalties.yaml
  tests/models/test_mistral.py
Due: clai-help, format, lint, typecheck

refactor: rename Anthropic `anthropic_supports_dynamic_filtering` flag and close review gaps
  docs/native-tools.md
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/profiles/anthropic.py
  tests/models/test_anthropic.py
  tests/profiles/test_anthropic.py
Due: clai-help, format, lint, typecheck

Add scheduled lychee workflow to check docs links
  .github/workflows/link-check.yml
  .github/workflows/lychee.toml
Due: none

Grant checkout contents:read and drop file:// link false positives
  .github/workflows/link-check.yml
  .github/workflows/lychee.toml
Due: none

docs: fix broken temporalio API reference links (#5740)
  docs/durable_execution/temporal.md
Due: clai-help

Add scheduled lychee workflow to check docs links (#6018)
  .github/workflows/link-check.yml
  .github/workflows/lychee.toml
Due: none

Clarify outcome/denied and retry-reload docstrings
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
Due: clai-help, format, lint, typecheck

fix(groq): support image detail via vendor_metadata (#6011)
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  tests/models/test_groq.py
Due: clai-help, format, lint, typecheck

Fix broken xAI and ACI.dev doc links
  docs/native-tools.md
  docs/third-party-tools.md
  docs/toolsets.md
Due: clai-help

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
