Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: replace-py-code-blocks
        name: Replace ```py with ```python
        # first pattern matches ```py <info> and second matches lone ```py<eol>
        entry: |
          if [[ "$(uname)" == "Darwin" ]]; then
            sed -i '' 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          else
            sed -i 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          fi
        language: system
        files: \.py$|\.md$
        pass_filenames: true

adding docs for MCP sampling
  docs/api/models/mcp-sampling.md
  docs/mcp/client.md
  docs/mcp/server.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/mcp.py
  tests/test_mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

renaming to include content
  docs/logfire.md
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
  tests/models/test_instrumented.py
Due: format, lint, typecheck, replace-py-code-blocks

typo
  docs/logfire.md
Due: replace-py-code-blocks

Removing content key altogether + refactoring to remove duplicated code
  pydantic_ai_slim/pydantic_ai/messages.py
Due: format, lint, typecheck, replace-py-code-blocks

Adding test for binary_content as well
  tests/models/test_instrumented.py
Due: format, lint, typecheck, replace-py-code-blocks

deprecate call_id in favor of tool_call_id
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/models/test_bedrock.py
  tests/models/test_google.py
  tests/test_streaming.py
Due: format, lint, typecheck, replace-py-code-blocks

improve how examples are tested
  .gitignore
  docs/common-tools.md
  docs/dependencies.md
  docs/evals.md
  docs/graph.md
  docs/input.md
  docs/mcp/client.md
  docs/mcp/run-python.md
  docs/mcp/server.md
  docs/output.md
  docs/testing.md
  docs/tools.md
  pydantic_graph/pydantic_graph/graph.py
  tests/example_modules/mcp_server.py
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

fix examples tests
  docs/mcp/client.md
  docs/testing.md
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

fix cwd in tests
  pydantic_ai_slim/pydantic_ai/mcp.py
  tests/test_examples.py
  tests/test_mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

codespell fix
  .pre-commit-config.yaml
  tests/models/cassettes/test_cohere/test_cohere_model_thinking_part.yaml
  tests/models/test_cohere.py
Due: format, lint, typecheck, replace-py-code-blocks

uprev pytest-pretty
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

codespell fix (#2029)
  .pre-commit-config.yaml
  tests/models/cassettes/test_cohere/test_cohere_model_thinking_part.yaml
  tests/models/test_cohere.py
Due: format, lint, typecheck, replace-py-code-blocks

add dep group to ci
  .github/workflows/ci.yml
Due: none

uprev `pytest-pretty` (#2030)
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

avoid uv in mcp calls
  .github/workflows/ci.yml
  docs/mcp/client.md
  docs/mcp/server.md
Due: replace-py-code-blocks

simplify examples tests cwd
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

tweak API docs
  pydantic_ai_slim/pydantic_ai/models/mcp_sampling.py
  pydantic_ai_slim/pydantic_ai/settings.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix thinking part related tests
  tests/models/test_anthropic.py
  tests/models/test_bedrock.py
  tests/models/test_google.py
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

cleanup
  docs/mcp/client.md
Due: replace-py-code-blocks

Set 'us-central1' by default on `GoogleProvider`
  pydantic_ai_slim/pydantic_ai/providers/google.py
Due: format, lint, typecheck, replace-py-code-blocks

Address feedback
  docs/output.md
  pydantic_ai_slim/pydantic_ai/output.py
Due: format, lint, typecheck, replace-py-code-blocks

feat: include missing fields in usage details
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_deepseek.py
Due: format, lint, typecheck, replace-py-code-blocks

cleanup
  docs/mcp/client.md
  docs/mcp/server.md
  docs/output.md
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

Adding docs for MCP sampling (#2027)
  .gitignore
  docs/api/models/mcp-sampling.md
  docs/common-tools.md
  docs/dependencies.md
  docs/evals.md
  docs/graph.md
  docs/input.md
  docs/mcp/client.md
  docs/mcp/run-python.md
  docs/mcp/server.md
  docs/testing.md
  docs/tools.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/mcp.py
  pydantic_ai_slim/pydantic_ai/models/mcp_sampling.py
  pydantic_ai_slim/pydantic_ai/settings.py
  pydantic_graph/pydantic_graph/graph.py
  tests/example_modules/mcp_server.py
  tests/test_examples.py
  tests/test_mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

Move `ThinkingPart` to preceed `TextPart` in `OpenAIResponsesModel`
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix docs examples requiring code from other examples
  docs/output.md
Due: replace-py-code-blocks

Retaining content for the kinds of data
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/models/test_instrumented.py
Due: format, lint, typecheck, replace-py-code-blocks

fix usage issue
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

feat: optimize usage details mapping in _map_usage function
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Removing args from tool calls when include_content is false
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/tools.py
  tests/models/test_instrumented.py
Due: format, lint, typecheck, replace-py-code-blocks

chore(fasta2a): updated with_config style
  fasta2a/fasta2a/schema.py
Due: format, lint, typecheck, replace-py-code-blocks

feat: AG-UI adapter
  adapter_ag_ui/LICENSE
  adapter_ag_ui/README.md
  adapter_ag_ui/adapter_ag_ui/__init__.py
  adapter_ag_ui/adapter_ag_ui/_enums.py
  adapter_ag_ui/adapter_ag_ui/_exceptions.py
  adapter_ag_ui/adapter_ag_ui/adapter.py
  adapter_ag_ui/adapter_ag_ui/consts.py
  adapter_ag_ui/adapter_ag_ui/deps.py
  adapter_ag_ui/adapter_ag_ui/protocols.py
  adapter_ag_ui/adapter_ag_ui/py.typed
  adapter_ag_ui/pyproject.toml
  docs/install.md
  examples/adapter_ag_ui_examples/README.md
  examples/adapter_ag_ui_examples/__init__.py
  examples/adapter_ag_ui_examples/api/__init__.py
  examples/adapter_ag_ui_examples/api/agent.py
  examples/adapter_ag_ui_examples/api/agentic_chat.py
  examples/adapter_ag_ui_examples/api/agentic_generative_ui.py
  examples/adapter_ag_ui_examples/api/human_in_the_loop.py
  examples/adapter_ag_ui_examples/api/predictive_state_updates.py
  examples/adapter_ag_ui_examples/api/shared_state.py
  examples/adapter_ag_ui_examples/api/tool_based_generative_ui.py
  examples/adapter_ag_ui_examples/basic.py
  examples/adapter_ag_ui_examples/dojo_server.py
  examples/adapter_ag_ui_examples/py.typed
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  tests/adapter_ag_ui/__init__.py
  tests/adapter_ag_ui/test_adapter.py
  tests/test_ag_ui.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

chore(mistral): disable model_fields deprecation warning
  pyproject.toml
Due: none

chore(ag-ui): only run tests on python 3.10 and above
  tests/adapter_ag_ui/test_adapter.py
  tests/test_ag_ui.py
Due: format, lint, typecheck, replace-py-code-blocks

Implement Toolset
  docs/mcp/client.md
  mcp-run-python/README.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/mcp.py
  pydantic_ai_slim/pydantic_ai/result.py
  pydantic_ai_slim/pydantic_ai/tools.py
  pydantic_ai_slim/pydantic_ai/toolset.py
  tests/test_examples.py
  tests/test_mcp.py
  tests/test_tools.py
  tests/test_toolset.py
Due: format, lint, typecheck, replace-py-code-blocks

chore(ag-ui): improve test coverage
  adapter_ag_ui/adapter_ag_ui/_exceptions.py
  adapter_ag_ui/adapter_ag_ui/adapter.py
  adapter_ag_ui/adapter_ag_ui/deps.py
  tests/adapter_ag_ui/test_adapter.py
Due: format, lint, typecheck, replace-py-code-blocks

Make MCPServer a Toolset
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/mcp.py
  pydantic_ai_slim/pydantic_ai/toolset.py
  tests/test_examples.py
  tests/test_mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

Add MappedToolset
  pydantic_ai_slim/pydantic_ai/mcp.py
  pydantic_ai_slim/pydantic_ai/toolset.py
Due: format, lint, typecheck, replace-py-code-blocks

Import Never from typing_extensions instead of typing
  pydantic_ai_slim/pydantic_ai/toolset.py
Due: format, lint, typecheck, replace-py-code-blocks

from __future__ import annotations
  tests/test_tools.py
  tests/test_toolset.py
Due: format, lint, typecheck, replace-py-code-blocks
