Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

Create the run's cancellation controller before setup-phase for_run hooks
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  tests/test_run_cancellation.py
Due: clai-help, format, lint, typecheck

fix: raise ContentFilterError for filtered blank-text responses, rename predicate, pin finish_reason behavior
  docs/output.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

Record `RunContext.cancel()` from setup-phase `for_run` hooks instead of raising `UserError` (#7567)
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  tests/test_run_cancellation.py
Due: clai-help, format, lint, typecheck

Keep the `ManagedPrompt` baggage snapshot valid when the resolution span nests under the run span (pydantic/pydantic-ai-harness#641)
  tests/harness/logfire_variables/test_managed_prompt.py
Due: clai-help, format, lint, typecheck

Treat a response containing only empty text parts as having no text output (#7568)
  docs/output.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

feat(agent): add ProductionDebtAgentGate and TechnicalDueDiligenceLedger
  pydantic_ai_slim/pydantic_ai/production_debt.py
  tests/test_production_debt.py
Due: clai-help, format, lint, typecheck

Support deferred capability tools in realtime sessions where the provider allows mid-session tool updates
  docs/api/realtime.md
  docs/realtime/azure.md
  docs/realtime/capabilities.md
  docs/realtime/gemini.md
  docs/realtime/openai.md
  docs/realtime/overview.md
  docs/realtime/tools.md
  docs/realtime/xai.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  pydantic_ai_slim/pydantic_ai/realtime/_session.py
  pydantic_ai_slim/pydantic_ai/realtime/_utils.py
  pydantic_ai_slim/pydantic_ai/realtime/codec.py
  pydantic_ai_slim/pydantic_ai/realtime/openai.py
  pydantic_ai_slim/pydantic_ai/realtime/profiles.py
  pydantic_ai_slim/pydantic_ai/realtime/xai.py
  tests/realtime/test_azure.py
  tests/realtime/test_azure_voice_live_ws.py
  tests/realtime/test_capabilities.py
  tests/realtime/test_google_ws.py
  tests/realtime/test_openai.py
  tests/realtime/test_openai_ws.py
  tests/realtime/test_session.py
  tests/realtime/test_xai.py
  tests/realtime/test_xai_ws.py
Due: clai-help, format, lint, typecheck

Add `supports_tool_updates` to the session's `_FULL_PROFILE` fallback
  pydantic_ai_slim/pydantic_ai/realtime/_session.py
Due: clai-help, format, lint, typecheck

fix: render tool availability announcements after sibling tool results
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  tests/models/test_bedrock.py
  tests/test_tool_availability_portability.py
Due: clai-help, format, lint, typecheck

fix: only list available tools in the unknown-tool retry message
  pydantic_ai_slim/pydantic_ai/tool_manager.py
  tests/test_tool_availability.py
Due: clai-help, format, lint, typecheck

fix: pass the standing-prompt exemption along when a leading empty-delta request drops out
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  tests/test_tool_availability_portability.py
Due: clai-help, format, lint, typecheck

Note mid-session deferred capability tool loading in the realtime skill facts
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/SKILL.md
Due: clai-help

refactor: share the tool-results-first sort key between the graph merge and announcement rendering
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
Due: clai-help, format, lint, typecheck

Shorten the nothing-callable retry message to just the search instruction
  pydantic_ai_slim/pydantic_ai/tool_manager.py
  tests/test_tool_availability.py
Due: clai-help, format, lint, typecheck

Only list available tools in the unknown-tool retry message (#7572)
  pydantic_ai_slim/pydantic_ai/tool_manager.py
  tests/test_tool_availability.py
Due: clai-help, format, lint, typecheck

refactor: make the announcement reorder read plainly
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
Due: clai-help, format, lint, typecheck

refactor: keep _standing_system_prompt_count and its callers untouched
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
Due: clai-help, format, lint, typecheck

Repair mixed resurface state and rotate the dormant escalation sweep
  .github/scripts/issue_pr_attention_monitor.py
  .github/scripts/test_issue_pr_attention_monitor.py
Due: clai-help, format, lint, typecheck

Keep maintainer attention queue rotating (#7529)
  .github/scripts/issue_pr_attention_monitor.py
  .github/scripts/test_issue_pr_attention_monitor.py
  .github/scripts/test_pydantic_ai_runner.py
  .github/workflows/issue-pr-attention-monitor.yml
  .github/workflows/pydantic-ai-attention-triage.lock.yml
  .github/workflows/pydantic-ai-attention-triage.md
Due: clai-help, format, lint, typecheck

Add a daily attention coverage heartbeat to the triage channel
  .github/scripts/issue_pr_attention_monitor.py
  .github/scripts/test_issue_pr_attention_monitor.py
  .github/workflows/issue-pr-attention-monitor.yml
Due: clai-help, format, lint, typecheck

feat: split request boundary into start and end events
  docs/agent.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/AGENTS-CORE.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_agent.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/ui/_event_stream.py
  tests/conftest.py
  tests/models/google/test_code_execution.py
  tests/models/test_anthropic.py
  tests/models/test_bedrock.py
  tests/models/test_google.py
  tests/models/test_groq.py
  tests/models/test_openai_responses.py
  tests/models/test_xai.py
  tests/test_ag_ui.py
  tests/test_agent.py
  tests/test_capability_process_event_stream.py
  tests/test_dbos.py
  tests/test_messages.py
  tests/test_prefect.py
  tests/test_streaming.py
  tests/test_temporal.py
  tests/test_ui.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

feat(mcp): Add stateless mode for deferred MCP initialization
  docs/mcp/client.md
  pydantic_ai_slim/pydantic_ai/mcp.py
  tests/test_mcp.py
Due: clai-help, format, lint, typecheck

Sort tool results ahead of tool availability announcements so Bedrock accepts turns revealing multiple tools (#7571)
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  tests/models/test_bedrock.py
  tests/test_tool_availability_portability.py
Due: clai-help, format, lint, typecheck

Drop the accidental `legacy_httpx` re-export from `pydantic_ai.models`
  pydantic_ai_slim/pydantic_ai/models/__init__.py
Due: clai-help, format, lint, typecheck

Preserve legacy MCP and realtime docs routes
  docs/navigation.yml
Due: none

Render enum and const $ref definitions as inline Literal in tool signatures
  pydantic_ai_slim/pydantic_ai/function_signature.py
  tests/test_function_signature.py
Due: clai-help, format, lint, typecheck

Render enum $refs as `Literal` in `FunctionSignature`
  pydantic_ai_slim/pydantic_ai/function_signature.py
  tests/test_function_signature.py
Due: clai-help, format, lint, typecheck

fix(openrouter): strengthen annotation handling
  docs/models/openrouter.md
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
  tests/models/test_openrouter.py
Due: clai-help, format, lint, typecheck

Document why the suggestion is a field, not an exception type
  pydantic_ai_slim/pydantic_ai/models/__init__.py
Due: clai-help, format, lint, typecheck

test(xai): pin attachment_search defaults and restore whole-message snapshot
  docs/models/xai.md
  tests/models/test_xai.py
  tests/models/xai/test_attachment_search.py
Due: clai-help, format, lint, typecheck

Preserve legacy MCP and realtime docs routes (#7575)
  docs/navigation.yml
Due: none

Suggest known model names for invalid identifiers (#7325)
  docs/models/overview.md
  pydantic_ai_slim/pydantic_ai/exceptions.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/gateway.py
  tests/cassettes/test_model_name_suggestions/test_inferred_model_name_suggestion.yaml
  tests/cassettes/test_model_name_suggestions/test_model_name_suggestion[anthropic].yaml
  tests/cassettes/test_model_name_suggestions/test_model_name_suggestion[bedrock].yaml
  tests/cassettes/test_model_name_suggestions/test_model_name_suggestion[google].yaml
  tests/cassettes/test_model_name_suggestions/test_model_name_suggestion[groq].yaml
  tests/cassettes/test_model_name_suggestions/test_model_name_suggestion[openai-chat].yaml
  tests/cassettes/test_model_name_suggestions/test_model_name_suggestion[openai-responses].yaml
  tests/models/google/test_native_tools.py
  tests/models/test_anthropic.py
  tests/models/test_google.py
  tests/models/test_model.py
  tests/models/test_stream_close.py
  tests/test_cli.py
  tests/test_exceptions.py
  tests/test_gateway_model_name_suggestions.py
  tests/test_model_name_suggestions.py
  tests/test_streaming_errors.py
Due: clai-help, format, lint, typecheck

Support xAI attachment search lifecycle (#7156)
  docs/models/xai.md
  pydantic_ai_slim/pydantic_ai/models/xai.py
  tests/models/test_xai.py
  tests/models/xai/cassettes/test_attachment_search/test_xai_attachment_search_stream.xai.yaml
  tests/models/xai/cassettes/test_attachment_search/test_xai_attachment_search_with_output.xai.yaml
  tests/models/xai/test_attachment_search.py
Due: clai-help, format, lint, typecheck

Drop the expired `mistralai` cutoff and quarantine later OpenAI/Google artifacts
  pyproject.toml
  uv.lock
Due: none

Attribute the `LoggingHandler` warning filter to DBOS
  pyproject.toml
Due: none

refactor(anthropic): restore linear native tool replay cleanup
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
Due: clai-help, format, lint, typecheck

Point the `LoggingHandler` filter at the DBOS issue tracking it
  pyproject.toml
Due: none

docs(openrouter): address annotation review feedback
  docs/models/openrouter.md
Due: clai-help

fix(tests): keep Responses grouping tests importable without the anthropic extra
  tests/models/test_openai_responses.py
Due: clai-help, format, lint, typecheck

docs: document DeepSeek Responses function-call grouping
  docs/message-history.md
  docs/models/openai.md
Due: clai-help

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
