Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

Cover combined sandbox routing detection
  tests/test_sandbox.py
Due: clai-help, format, lint, typecheck

Skip inactive capability hooks in agent tracebacks (#7328)
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
  pydantic_ai_slim/pydantic_ai/capabilities/combined.py
  pydantic_ai_slim/pydantic_ai/capabilities/hooks.py
  pydantic_ai_slim/pydantic_ai/capabilities/wrapper.py
  pydantic_ai_slim/pydantic_ai/run.py
  tests/test_capabilities.py
  tests/test_capability_hooks.py
Due: clai-help, format, lint, typecheck

docs: add the Trajectory Judge harness page to navigation
  docs/navigation.yml
Due: none

docs: say which docstring sections reach the model
  docs/tools.md
Due: clai-help

test(durable): complete model lifecycle coverage
  pydantic_ai_slim/pydantic_ai/durable_exec/_utils.py
  tests/durable_exec/temporal/test_model_and_serialization.py
  tests/durable_exec/test_capability_durable_operation.py
  tests/durable_exec/test_dbos.py
  tests/durable_exec/test_prefect.py
  tests/model_lifecycle_utils.py
Due: clai-help, format, lint, typecheck

test: keep pinning the default model on the registered-ownership path
  tests/durable_exec/temporal/test_model_and_serialization.py
Due: clai-help, format, lint, typecheck

Freeze the clock the per-call timeout test reads (pydantic/pydantic-ai-harness#745)
  tests/harness/playwright/test_playwright.py
Due: clai-help, format, lint, typecheck

Floor on released `pydantic-ai` 2.36.0 and drop the version straddle (pydantic/pydantic-ai-harness#743)
  src/pydantic_ai_harness/pydantic_ai_harness/repo_context/_loader.py
  src/pydantic_ai_harness/pyproject.toml
  tests/harness/coder/test_coder_integration.py
  tests/harness/repo_context/test_repo_context.py
  tests/harness/test_coder.py
Due: clai-help, format, lint, typecheck

Record why the provider SDK override cannot move out of `[tool.uv]` (pydantic/pydantic-ai-harness#744)
  src/pydantic_ai_harness/pyproject.toml
Due: none

fix(durable): manage inferred model during legacy cancellation
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_durability.py
  tests/durable_exec/temporal/test_agent.py
Due: clai-help, format, lint, typecheck

fix: restore response-scoped tool call IDs on replay
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  tests/models/test_bedrock_mantle.py
  tests/models/test_openai_responses.py
Due: clai-help, format, lint, typecheck

docs: use a current model in vLLM examples and map GLM models to the ZAI profile
  docs/models/openai.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/ARCHITECTURE.md
  pydantic_ai_slim/pydantic_ai/providers/vllm.py
  tests/providers/test_vllm.py
Due: clai-help, format, lint, typecheck

feat: sync SGLang sibling with vLLM review changes (GLM profile mapping, docs model bump)
  docs/models/openai.md
  pydantic_ai_slim/pydantic_ai/providers/sglang.py
  tests/providers/test_sglang.py
Due: clai-help, format, lint, typecheck

fix: restore tool call IDs for Responses compaction
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai_responses.py
Due: clai-help, format, lint, typecheck

fix: limit tool call ID restoration to scoped profiles
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: clai-help, format, lint, typecheck

fix: validate Workflow Stream batch interval
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_durability.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_event_stream.py
  tests/durable_exec/temporal/test_workflow_streams.py
Due: clai-help, format, lint, typecheck

Reduce duplicate coverage collection
  .github/workflows/ci.yml
Due: none

Document the provider SDK retry layer and retry multiplication in the retries guide
  docs/durable_execution/prefect.md
  docs/models/bedrock.md
  docs/models/google.md
  docs/models/http-request-retries.md
  docs/models/openai.md
  docs/models/overview.md
  docs/retries.md
Due: clai-help

Fix retries docs example output marker and pin provider SDK retries anchor
  docs/models/http-request-retries.md
  docs/retries.md
Due: clai-help

Point readers at a worked PlaywrightBrowser run (pydantic/pydantic-ai-harness#654)
  docs/harness/playwright.md
  src/pydantic_ai_harness/pydantic_ai_harness/playwright/README.md
Due: clai-help

test: record ordinary OpenAI tool call replay
  tests/models/cassettes/test_openai_responses/test_openai_previous_response_id_seed_auto_chains_through_retries.yaml
  tests/models/cassettes/test_openai_responses/test_openai_responses_stream.yaml
  tests/models/test_openai_responses.py
Due: clai-help, format, lint, typecheck

Make `SummarizingCompaction` summarization a durable operation (pydantic/pydantic-ai-harness#707)
  docs/harness/compaction.md
  src/pydantic_ai_harness/pydantic_ai_harness/compaction/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/compaction/_summarizing_compaction.py
  tests/harness/compaction/test_durable_summarizing_compaction.py
Due: clai-help, format, lint, typecheck

fix(messages): treat an empty CompactionPart as a non-boundary
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/test_messages.py
Due: clai-help, format, lint, typecheck

Context-manage models rebuilt inside durable operations (#7954)
  pydantic_ai_slim/pydantic_ai/durable_exec/_base.py
  pydantic_ai_slim/pydantic_ai/durable_exec/_utils.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_durability.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_model.py
  tests/durable_exec/temporal/test_agent.py
  tests/durable_exec/temporal/test_model_and_serialization.py
  tests/durable_exec/test_capability_durable_operation.py
  tests/durable_exec/test_dbos.py
  tests/durable_exec/test_prefect.py
  tests/model_lifecycle_utils.py
Due: clai-help, format, lint, typecheck

fix(durable): bypass capability dispatch outside durable contexts
  pydantic_ai_slim/pydantic_ai/durable_exec/_base.py
  pydantic_ai_slim/pydantic_ai/durable_exec/_capability_operation.py
  tests/durable_exec/test_capability_durable_operation.py
Due: clai-help, format, lint, typecheck

fix(durable): preserve resolved model provenance
  pydantic_ai_slim/pydantic_ai/durable_exec/_base.py
  tests/durable_exec/test_capability_durable_operation.py
Due: clai-help, format, lint, typecheck

Address the durable-execution review of custom and capability events
  docs/agent.md
  docs/capabilities/overview.md
  docs/durable_execution/dbos.md
  docs/durable_execution/prefect.md
  docs/durable_execution/temporal.md
  pydantic_ai_slim/pydantic_ai/_event_registry.py
  pydantic_ai_slim/pydantic_ai/durable_exec/_capability_operation.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_durability.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_payload_converter.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_run_context.py
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/durable_exec/temporal/_shared.py
  tests/durable_exec/temporal/test_agent.py
  tests/durable_exec/temporal/test_durability.py
  tests/durable_exec/temporal/test_model_and_serialization.py
  tests/durable_exec/test_capability_durable_operation.py
  tests/durable_exec/test_dbos.py
  tests/durable_exec/test_durable_exec_compat.py
  tests/durable_exec/test_prefect.py
Due: clai-help, format, lint, typecheck

Reject per-run `capabilities=` on DBOS, matching Temporal (#6955)
  docs/durable_execution/dbos.md
  docs/durable_execution/prefect.md
  docs/durable_execution/temporal.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/ORCHESTRATION-AND-INTEGRATIONS.md
  pydantic_ai_slim/pydantic_ai/durable_exec/_base.py
  pydantic_ai_slim/pydantic_ai/durable_exec/_spec.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_durability.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_durability.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_durability.py
  tests/durable_exec/test_dbos.py
  tests/durable_exec/test_prefect.py
Due: clai-help, format, lint, typecheck

Restore the Temporal toolset-registration guidance lost in a merge
  docs/durable_execution/temporal.md
Due: clai-help

test(durable): share the tracked-model resolver across the swap tests
  tests/durable_exec/test_capability_durable_operation.py
Due: clai-help, format, lint, typecheck

Journal Prefect tool discovery in tasks (#6966)
  docs/durable_execution/prefect.md
  pydantic_ai_slim/pydantic_ai/durable_exec/_base.py
  pydantic_ai_slim/pydantic_ai/durable_exec/_spec.py
  pydantic_ai_slim/pydantic_ai/durable_exec/_toolset.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_durability.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_dynamic_toolset.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_operation_names.py
  tests/durable_exec/test_durable_exec_compat.py
  tests/durable_exec/test_durable_operation.py
  tests/durable_exec/test_prefect.py
Due: clai-help, format, lint, typecheck

test(durable): cover releasing a resolved model's provenance record
  tests/durable_exec/test_capability_durable_operation.py
Due: clai-help, format, lint, typecheck

Add a `combine` hook for capabilities sharing an `id`
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
  pydantic_ai_slim/pydantic_ai/capabilities/combined.py
  tests/test_capability_spec.py
  tests/test_zz_combine.py
Due: clai-help, format, lint, typecheck

Stop rebuilding unmanaged models in durable capability operations (#7972)
  pydantic_ai_slim/pydantic_ai/durable_exec/_base.py
  pydantic_ai_slim/pydantic_ai/durable_exec/_capability_operation.py
  tests/durable_exec/test_capability_durable_operation.py
Due: clai-help, format, lint, typecheck

Keep one event class across the Temporal workflow sandbox
  docs/durable_execution/temporal.md
  pydantic_ai_slim/pydantic_ai/_event_registry.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/__init__.py
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/durable_exec/temporal/test_durability.py
  tests/test_custom_events.py
Due: clai-help, format, lint, typecheck

Let an instruction function declare itself `static`
  docs/agent.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/AGENTS-CORE.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_instructions.py
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/capability.py
  tests/test_static_instructions.py
Due: clai-help, format, lint, typecheck

Journal replay-safe capability reads and model calls (pydantic/pydantic-ai-harness#710)
  docs/harness/memory.md
  docs/harness/planning.md
  docs/harness/system-reminders.md
  docs/harness/tool-output-limits.md
  src/pydantic_ai_harness/pydantic_ai_harness/memory/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/memory/_capability.py
  src/pydantic_ai_harness/pydantic_ai_harness/planning/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/planning/_capability.py
  src/pydantic_ai_harness/pydantic_ai_harness/system_reminders/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/system_reminders/_capability.py
  src/pydantic_ai_harness/pydantic_ai_harness/tool_output_limits/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/tool_output_limits/_capability.py
  tests/harness/_recording_durability.py
  tests/harness/memory/test_memory.py
  tests/harness/planning/test_planning.py
  tests/harness/system_reminders/test_system_reminders.py
  tests/harness/tool_output_limits/test_tool_output_limits.py
Due: clai-help, format, lint, typecheck

Resolve duplicate capability ids through `combine` instead of a bespoke layer pass
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/content_filter.py
  pydantic_ai_slim/pydantic_ai/capabilities/image_generation.py
  pydantic_ai_slim/pydantic_ai/capabilities/instrumentation.py
  pydantic_ai_slim/pydantic_ai/capabilities/mcp.py
  pydantic_ai_slim/pydantic_ai/capabilities/reinject_system_prompt.py
  pydantic_ai_slim/pydantic_ai/capabilities/thinking.py
  pydantic_ai_slim/pydantic_ai/capabilities/web_fetch.py
  pydantic_ai_slim/pydantic_ai/capabilities/web_search.py
  pydantic_ai_slim/pydantic_ai/capabilities/x_search.py
  pydantic_ai_slim/pydantic_ai/exceptions.py
  tests/test_capability_spec.py
  tests/test_capability_visit_and_replace.py
  tests/test_zz_combine.py
Due: clai-help, format, lint, typecheck

test(prefect): disable the task-run recorder in the capability-operation harness
  tests/durable_exec/test_capability_durable_operation.py
Due: clai-help, format, lint, typecheck

Document `combine` as how repeated capability ids resolve
  docs/capabilities/custom.md
Due: clai-help
