Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

Fix pyright ignores: reportCallIssue for mixed args, reportDeprecated for deprecated-only
  tests/test_usage_limits.py
Due: clai-help, format, lint, typecheck

Add test: skip marker (requires external API)
  examples/pydantic_ai_examples/pinchwork_marketplace.py
Due: clai-help, format, lint, typecheck

Add test infrastructure for pinchwork_marketplace example
  examples/pydantic_ai_examples/pinchwork_marketplace.py
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

Add extra_headers support for Google model provider
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/settings.py
  tests/models/cassettes/test_google/test_google_extra_headers.yaml
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck

address comment
  .claude/settings.json
  .claude/skills/pytest-vcr/SKILL.md
  .claude/skills/pytest-vcr/run-vertex-tests.sh
  tests/conftest.py
Due: clai-help, format, lint, typecheck

Make example self-contained with mock marketplace
  examples/pydantic_ai_examples/pinchwork_marketplace.py
Due: clai-help, format, lint, typecheck

Fix last coverage issue
  tests/test_args_validator.py
Due: clai-help, format, lint, typecheck

WIP: Report-level evaluators & experiment-wide analyses
  pydantic_evals/pydantic_evals/__init__.py
  pydantic_evals/pydantic_evals/dataset.py
  pydantic_evals/pydantic_evals/evaluators/__init__.py
  pydantic_evals/pydantic_evals/evaluators/report_common.py
  pydantic_evals/pydantic_evals/evaluators/report_evaluator.py
  pydantic_evals/pydantic_evals/reporting/__init__.py
  pydantic_evals/pydantic_evals/reporting/analyses.py
  tests/evals/test_report_evaluators.py
Due: clai-help, format, lint, typecheck

Remove test mocks - example is self-contained
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

linting
  tests/models/test_gemini_vertex.py
Due: clai-help, format, lint, typecheck

Add documentation for report evaluators
  docs/evals/core-concepts.md
  docs/evals/evaluators/built-in.md
  docs/evals/evaluators/custom.md
  docs/evals/evaluators/overview.md
  docs/evals/evaluators/report-evaluators.md
  mkdocs.yml
Due: clai-help

Update pydantic_ai_slim/pydantic_ai/providers/groq.py
  pydantic_ai_slim/pydantic_ai/providers/groq.py
Due: clai-help, format, lint, typecheck

Fix update direction in groq_moonshotai_model_profile so Groq-specific settings take precedence
  pydantic_ai_slim/pydantic_ai/providers/groq.py
Due: clai-help, format, lint, typecheck

Only trigger auto-review on `labeled` when the `auto-review` label is added
  .github/workflows/review.yml
Due: none

Only trigger auto-review on `labeled` when the `auto-review` label is added (#4244)
  .github/workflows/review.yml
Due: none

Address review feedback: fix defaults, add error handling, make doc examples self-contained
  docs/evals/evaluators/report-evaluators.md
  pydantic_evals/pydantic_evals/dataset.py
  pydantic_evals/pydantic_evals/evaluators/report_common.py
Due: clai-help, format, lint, typecheck

Record report evaluator failures on the report and render them when printing
  pydantic_evals/pydantic_evals/dataset.py
  pydantic_evals/pydantic_evals/reporting/__init__.py
Due: clai-help, format, lint, typecheck

Fix order of base64 import
  tests/test_a2a.py
Due: clai-help, format, lint, typecheck

Update tests/test_a2a.py
  tests/test_a2a.py
Due: clai-help, format, lint, typecheck

Update `UsageLimits` to preserve explicit 0 token limits instead of falling back on deprecated fields (#4208)
  pydantic_ai_slim/pydantic_ai/usage.py
  tests/test_usage_limits.py
Due: clai-help, format, lint, typecheck

Iterate on auto-review prompt
  .github/workflows/review.yml
Due: none

Add ReportEvaluator serialization/deserialization support
  docs/evals/evaluators/report-evaluators.md
  pydantic_evals/pydantic_evals/dataset.py
  pydantic_evals/pydantic_evals/evaluators/report_common.py
  pydantic_evals/pydantic_evals/evaluators/report_evaluator.py
  tests/evals/test_dataset.py
  tests/evals/test_report_evaluators.py
Due: clai-help, format, lint, typecheck

Iterate on auto-review prompt (#4245)
  .github/workflows/review.yml
Due: none

Update second snapshot to use base64 image fixture test data
  tests/test_a2a.py
Due: clai-help, format, lint, typecheck

Remove unused ConfusionMatrix.normalize field and make PrecisionRecallEvaluator args required
  docs/evals/evaluators/report-evaluators.md
  pydantic_evals/pydantic_evals/evaluators/report_common.py
  pydantic_evals/pydantic_evals/reporting/analyses.py
Due: clai-help, format, lint, typecheck

Fix duplicate assignment
  tests/test_a2a.py
Due: clai-help, format, lint, typecheck

Document why native output is preferred for Groq models
  pydantic_ai_slim/pydantic_ai/providers/groq.py
Due: clai-help, format, lint, typecheck

Fix auto-label workflow for forks, address review feedback
  .github/workflows/pr-auto-label.yml
Due: none

Fix dataset-management doc examples to include report_evaluators in serialized output
  docs/evals/how-to/dataset-management.md
Due: clai-help

Only check for modified agent config files on fork PRs in auto-review workflow
  .github/workflows/review.yml
Due: none

Only check for modified agent config files on fork PRs in auto-review workflow (#4246)
  .github/workflows/review.yml
Due: none

Type annotation and whitespace fixes
  tests/test_a2a.py
Due: clai-help, format, lint, typecheck

Fix pyright strict mode type errors in report evaluators and tests
  pydantic_evals/pydantic_evals/evaluators/report_common.py
  pydantic_evals/pydantic_evals/reporting/__init__.py
  tests/evals/test_report_evaluators.py
Due: clai-help, format, lint, typecheck

Address Restate integration review feedback
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_dynamic_toolset.py
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_fastmcp_toolset.py
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_mcp_server.py
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_restate_types.py
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_serde.py
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_toolset.py
  pydantic_ai_slim/pydantic_ai/toolsets/__init__.py
  tests/test_restate.py
Due: clai-help, format, lint, typecheck

Document Restate model stream handler durability
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_model.py
Due: clai-help, format, lint, typecheck

Tidy Restate toolset wrappers
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_dynamic_toolset.py
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_fastmcp_toolset.py
Due: clai-help, format, lint, typecheck

Restrict config file check to forks, scope down gh api tool access
  .github/workflows/pr-auto-label.yml
Due: none

Make Restate run_stream_events return async iterator
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_agent.py
  tests/test_restate.py
Due: clai-help, format, lint, typecheck

Refine Restate wrappers per review
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_dynamic_toolset.py
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_fastmcp_toolset.py
  pydantic_ai_slim/pydantic_ai/durable_exec/restate/_model.py
Due: clai-help, format, lint, typecheck
