Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

Ignore reserved usage names during deserialization
  pydantic_ai_slim/pydantic_ai/usage.py
  tests/test_usage_limits.py
Due: clai-help, format, lint, typecheck

Preserve normalized usage details during loading
  pydantic_ai_slim/pydantic_ai/usage.py
  tests/test_usage_limits.py
Due: clai-help, format, lint, typecheck

Cover usage selector mapping forms
  pydantic_ai_slim/pydantic_ai/usage.py
  tests/test_usage_limits.py
Due: clai-help, format, lint, typecheck

Keep typecheck out of agent state (pydantic/pydantic-ai-harness#435)
  src/pydantic_ai_harness/pyproject.toml
Due: none

fix(messages): add NativeToolReturnPart to ModelRequestPart union
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/test_messages.py
Due: clai-help, format, lint, typecheck

Make `RequestUsage` and `RunUsage` support arbitrary fields for upcoming genai-prices (#6683)
  pydantic_ai_slim/pydantic_ai/usage.py
  tests/conftest.py
  tests/test_logfire.py
  tests/test_usage_limits.py
Due: clai-help, format, lint, typecheck

Change value check from truthy to None check
  pydantic_ai_slim/pydantic_ai/usage.py
Due: clai-help, format, lint, typecheck

Refer to Google Cloud, not Vertex AI, in the Model Armor streaming note
  docs/models/google.md
Due: clai-help

Teach reviewers to trace execution boundaries (pydantic/pydantic-ai-harness#427)
  src/pydantic_ai_harness/.agents/agents/docs-parity-reviewer.md
  src/pydantic_ai_harness/agent_docs/index.md
  src/pydantic_ai_harness/agent_docs/review-checklist.md
  src/pydantic_ai_harness/agent_docs/testing-capabilities.md
Due: clai-help

Fix inline snapshots for arbitrary usage fields
  tests/conftest.py
  tests/test_usage_limits.py
Due: clai-help, format, lint, typecheck

Detach workflow-stream pollers before completing in Temporal stream tests
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

Add regression test for tool return answering a call across an intervening response
  tests/test_transcript_repair.py
Due: clai-help, format, lint, typecheck

docs(tests): pin the xAI model-alias note to the test assertion, not the recording
  tests/test_images.py
Due: clai-help, format, lint, typecheck

Fix `ContentFilterError` for real Model Armor response blocks (`finishReason: MODEL_ARMOR`) and record moderation wire-truth cassettes (#6679)
  docs/models/google.md
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/conftest.py
  tests/models/cassettes/test_google/test_google_model_armor_response_template_real_block.yaml
  tests/models/cassettes/test_openai/test_openai_moderation_block_policy.yaml
  tests/models/cassettes/test_openai/test_openai_moderation_flagged.yaml
  tests/models/cassettes/test_openai_responses/test_openai_responses_moderation_block_policy.yaml
  tests/models/test_google.py
  tests/models/test_openai.py
  tests/models/test_openai_responses.py
Due: clai-help, format, lint, typecheck

docs(tests): pin recorded facts in test assertions, not cassettes
  tests/AGENTS.md
Due: clai-help

Add regression test for tool return answering a call across an intervening response (#6690)
  tests/test_transcript_repair.py
Due: clai-help, format, lint, typecheck

Stop inserting `/v1` into the gateway realtime WebSocket URL
  pydantic_ai_slim/pydantic_ai/realtime/openai.py
  tests/realtime/test_openai.py
Due: clai-help, format, lint, typecheck

Strengthen `ReduceFirstValue` test to exercise the real cancellation boundary
  tests/graph/builder/test_joins_and_reducers.py
Due: clai-help, format, lint, typecheck

Update the gateway inference test for the `/v1`-less realtime URL
  tests/realtime/test_inference.py
Due: clai-help, format, lint, typecheck

docs(tests): pin recorded facts in test assertions, not cassettes (#6691)
  tests/AGENTS.md
Due: clai-help

Add `function_declaration_count` VCR matcher so the declaration-count assertion detects drift
  tests/models/google/conftest.py
  tests/models/google/test_output.py
Due: clai-help, format, lint, typecheck

Strengthen foreign-thinking test: signed-foreign case + `object` over `Any`
  tests/test_foreign_thinking_marker.py
Due: clai-help, format, lint, typecheck

Call the `try_import` check in test skipif marks
  tests/test_foreign_thinking_marker.py
Due: clai-help, format, lint, typecheck

Fix raw google.genai errors escaping GoogleModel streaming before the first chunk
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck

Normalize the non-deterministic `Tasks completed` output in the `ReduceFirstValue` docs example (#6667)
  docs/graph/builder/joins.md
  tests/graph/builder/test_joins_and_reducers.py
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

Docs: hoist mutation contract into standalone section with `replace` safety and re-serialization rationale
  docs/message-history.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/INPUT-AND-HISTORY.md
  pydantic_ai_slim/pydantic_ai/exceptions.py
Due: clai-help, format, lint, typecheck

Render foreign `ThinkingPart`s in a noted `<thinking>` tag instead of a prose marker
  pydantic_ai_slim/pydantic_ai/_thinking_part.py
  pydantic_ai_slim/pydantic_ai/models/xai.py
  tests/test_foreign_thinking_marker.py
Due: clai-help, format, lint, typecheck

Restructure Bedrock docs around the `bedrock:` Converse and `bedrock-mantle:` routes
  docs/api/models/bedrock_mantle.md
  docs/install.md
  docs/models/bedrock.md
Due: clai-help

Add `mistral_prediction` setting for Mistral predicted outputs
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  tests/models/test_mistral.py
Due: clai-help, format, lint, typecheck

ci: enforce agent sensitive-path guard at the CI boundary
  .github/workflows/agent-sensitive-path-guard.yml
Due: none

Rescope round-trip fidelity doc to the UI adapters
  .github/workflows/shared/prompts/pydantic-ai-roundtrip-sweep.md
  docs/message-history.md
  pydantic_ai_slim/pydantic_ai/messages.py
Due: clai-help, format, lint, typecheck

Update `test_xai_thinking_part_in_message_history` snapshot for the noted `<thinking>` tag
  tests/models/test_xai.py
Due: clai-help, format, lint, typecheck

Explain why Gemini tool search isn't prefix-cache-stable (no native tool-search primitive)
  docs/tools-advanced.md
Due: clai-help

Cache per-message OTel serialization to avoid `O(n²)` instrumentation cost (#6635)
  docs/message-history.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/INPUT-AND-HISTORY.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/_instrumentation.py
  pydantic_ai_slim/pydantic_ai/capabilities/instrumentation.py
  pydantic_ai_slim/pydantic_ai/exceptions.py
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
  tests/models/test_instrumented.py
  tests/test_logfire.py
Due: clai-help, format, lint, typecheck

Qualify TypeAdapter fidelity: Any-typed fields are JSON-normalized
  .github/workflows/shared/prompts/pydantic-ai-roundtrip-sweep.md
  docs/message-history.md
Due: clai-help

feat(durable_exec): declarative durability base — engines supply fields + one primitive
  pydantic_ai_slim/pydantic_ai/durable_exec/_base.py
  pydantic_ai_slim/pydantic_ai/durable_exec/_codec.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_durability.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_durability.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_durability.py
  tests/test_dbos.py
  tests/test_prefect.py
Due: clai-help, format, lint, typecheck

ci(at-claude): sign @claude commits via GitHub API to make the sensitive-path guard unforgeable
  .github/workflows/at-claude.yml
Due: none

Narrow JSON-parse exception handlers to their expected families
  tests/cassette_utils.py
Due: clai-help, format, lint, typecheck

fix(durable_exec): enforce _wrapped_toolset_kinds for mcp/dynamic; guard DBOS non-streaming enqueue
  pydantic_ai_slim/pydantic_ai/durable_exec/_base.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_durability.py
  tests/test_prefect.py
Due: clai-help, format, lint, typecheck
