Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

Bind `RecordingWorkspaceBackend` to a given ref instead of deriving one from a name
  tests/durable_exec/temporal/test_agent.py
  tests/test_workspace.py
  tests/workspace_fakes.py
Due: clai-help, format, lint, typecheck

Document workspace references and the exception contract in the workspace guide and skill
  docs/workspace.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/WORKSPACES.md
Due: clai-help

Compare wrapper state, not only classes, in the durable workspace policy check
  pydantic_ai_slim/pydantic_ai/durable_exec/_base.py
  tests/durable_exec/test_durable_workspace.py
Due: clai-help, format, lint, typecheck

Document the `WorkspaceRef` lifecycle and backend exception contract
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
  pydantic_ai_slim/pydantic_ai/capabilities/local_workspace.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/workspaces/protocol.py
  pydantic_ai_slim/pydantic_ai/workspaces/workspace.py
Due: clai-help, format, lint, typecheck

Raise `WorkspaceUnavailableError` from `LocalWorkspaceBackend` when its directory is missing
  pydantic_ai_slim/pydantic_ai/workspaces/local.py
  tests/test_local_workspace.py
  tests/test_local_workspace_capability.py
Due: clai-help, format, lint, typecheck

Drop an unreachable branch from the durable workspace policy test
  tests/durable_exec/test_durable_workspace.py
Due: clai-help, format, lint, typecheck

test: cover dated GPT-6 Sol and Luna profiles
  .agents/skills/add-new-model/SKILL.md
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  tests/profiles/test_resolution_matrix.py
Due: clai-help, format, lint, typecheck

fix: name every `Annotated` output after its inner type and resolve it in native unions
  pydantic_ai_slim/pydantic_ai/_output.py
  tests/models/test_typesafe_output_matrix.py
  tests/test_agent_output_schemas.py
  tests/test_annotated_output.py
Due: clai-help, format, lint, typecheck

Replace `DescribedBool()` with a `BoolCriteria` metadata marker
  docs/api/output.md
  docs/models/typesafe.md
  docs/output.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/AGENTS-CORE.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/TOOLS-CORE.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/output.py
  tests/models/test_typesafe.py
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

fix: type `None` in a sequence of output types as `... | None`
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/output.py
  tests/models/test_typesafe.py
  tests/typed_agent.py
Due: clai-help, format, lint, typecheck

fix: keep every keyword an `Annotated` model's `Field` adds to the output schema
  pydantic_ai_slim/pydantic_ai/_output.py
  tests/test_agent_output_schemas.py
Due: clai-help, format, lint, typecheck

test: drop redundant Opus 5.5 additions to shared-flag test lists
  tests/models/test_bedrock.py
  tests/models/test_tool_choice_unit.py
  tests/profiles/test_resolution_matrix.py
  tests/providers/test_anthropic.py
Due: clai-help, format, lint, typecheck

fix: keep the public `NativeOutput.outputs` and `PromptedOutput.outputs` field types unchanged
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/output.py
  tests/models/test_typesafe.py
Due: clai-help, format, lint, typecheck

test: drop a leftover comment fragment
  tests/models/test_typesafe.py
Due: clai-help, format, lint, typecheck

test: cover GPT-6 Sol and Luna OpenRouter routes
  .agents/skills/add-new-model/SKILL.md
  tests/profiles/test_resolution_matrix.py
Due: clai-help, format, lint, typecheck

Type-check docs examples with pyright in `tests/test_examples.py`
  .github/workflows/ci.yml
  docs/AGENTS.md
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

docs: use bare `RunContext` and `AbstractCapability` for agents without deps
  README.md
  docs/agent.md
  docs/capabilities/custom.md
  docs/capabilities/on-demand.md
  docs/durable_execution/backends.md
  docs/durable_execution/temporal.md
  docs/hooks.md
  docs/index.md
  docs/message-history.md
  docs/models/anthropic.md
  docs/models/typesafe.md
  docs/realtime/tools.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/CAPABILITIES-AND-HOOKS.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/INPUT-AND-HISTORY.md
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/durable_exec/_capability_operation.py
Due: clai-help, format, lint, typecheck

docs: narrow `Optional` values before using them in examples
  docs/agent.md
  docs/api/models/test.md
  docs/dependencies.md
  docs/evals.md
  docs/evals/examples/simple-validation.md
  docs/evals/how-to/lifecycle.md
  docs/models/google.md
  docs/models/openai.md
  docs/models/typesafe.md
  docs/native-tools.md
  docs/tools-advanced.md
  docs/tools.md
  docs/toolsets.md
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/agent/wrapper.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_agent.py
  pydantic_ai_slim/pydantic_ai/run.py
  pydantic_evals/README.md
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

docs: narrow unions before reading a member only some variants have
  docs/capabilities/custom.md
  docs/capabilities/reinject-system-prompt.md
  docs/direct.md
  docs/gateway.md
  docs/mcp/server.md
  docs/models/typesafe.md
  docs/testing.md
  docs/toolsets.md
Due: clai-help

docs: build settings and specs with their typed constructors
  docs/agent-spec.md
  docs/capabilities/custom.md
  docs/capabilities/thinking.md
  docs/embeddings.md
  docs/evals/evaluators/span-based.md
  docs/evals/how-to/retry-strategies.md
  docs/models/bedrock.md
  docs/models/google.md
  pydantic_ai_slim/pydantic_ai/_deferred.py
Due: clai-help, format, lint, typecheck

Accept a list of evaluators in `Case` and `Dataset.add_case`
  pydantic_evals/pydantic_evals/dataset.py
Due: clai-help, format, lint, typecheck

docs: fix the graph examples' generic parameters for the `object` defaults
  docs/graph.md
  docs/graph/builder/joins.md
  pydantic_graph/README.md
Due: clai-help

docs: drop `# type: ignore` comments pyright no longer needs on union output types
  docs/graph.md
  docs/multi-agent-applications.md
  docs/output.md
Due: clai-help

docs: fix examples that call APIs the wrong way
  docs/agent.md
  docs/capabilities/on-demand.md
  docs/durable_execution/prefect.md
  docs/durable_execution/temporal.md
  docs/evals/evaluators/custom.md
  docs/evals/evaluators/span-based.md
  docs/evals/how-to/logfire-integration.md
  docs/evals/how-to/metrics-attributes.md
  docs/mcp/client.md
  docs/models/openai.md
  docs/models/overview.md
  docs/tools-advanced.md
  docs/toolsets.md
  docs/ui/ag-ui.md
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/mistral.py
  pydantic_ai_slim/pydantic_ai/tools.py
  pydantic_ai_slim/pydantic_ai/toolsets/function.py
Due: clai-help, format, lint, typecheck

Run pyright once per Python version the docs examples target
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

docs: opt examples out of type checking where no natural fix exists
  docs/agent.md
  docs/common-tools.md
  docs/evals/evaluators/custom.md
  docs/evals/evaluators/overview.md
  docs/graph.md
  docs/input.md
  docs/models/anthropic.md
  docs/models/overview.md
  docs/models/typesafe.md
  docs/realtime/azure.md
  docs/testing.md
  docs/third-party-tools.md
  docs/toolsets.md
  docs/troubleshooting.md
  pydantic_ai_slim/pydantic_ai/common_tools/exa.py
Due: clai-help, format, lint, typecheck

docs: make the reranker example return the `str` it promises
  docs/embeddings.md
Due: clai-help

Fix `GoogleModel` returning Gemini's interim thought images as output when not streaming
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck

Gate the docs example type check on `TYPECHECK_EXAMPLES` and test its error mapping
  .github/workflows/ci.yml
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

Add OpenAI `gpt-6-sol` and `gpt-6-luna` model support (#8635)
  .agents/skills/add-new-model/SKILL.md
  docs/models/openai.md
  pydantic_ai_slim/pydantic_ai/models/_known_model_names.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  tests/profiles/test_openai.py
  tests/profiles/test_resolution_matrix.py
  tests/test_capability_spec.py
Due: clai-help, format, lint, typecheck

docs: generalize the add-new-model skill's genai-prices matching guidance beyond OpenAI
  .agents/skills/add-new-model/SKILL.md
Due: clai-help

Skip the docs example type check in the latest-versions canary
  .github/workflows/latest-versions-canary.yml
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

fix: accept `ToolOutput(None)` so a named decline route types as `... | None`
  pydantic_ai_slim/pydantic_ai/output.py
  tests/models/test_typesafe.py
  tests/typed_agent.py
Due: clai-help, format, lint, typecheck

Add Claude Opus 5.5 (`claude-opus-5-5`) support (#8637)
  .agents/skills/add-new-model/SKILL.md
  .github/scripts/pydantic-ai-runner.lock
  docs/capabilities/thinking.md
  docs/models/anthropic.md
  pydantic_ai_slim/pydantic_ai/models/_known_model_names.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/native_tools/__init__.py
  pydantic_ai_slim/pydantic_ai/profiles/anthropic.py
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  tests/models/anthropic/cassettes/test_output/test_opus_5_5_basemodel_output_falls_back_to_auto.yaml
  tests/models/anthropic/cassettes/test_thinking_block_binding/test_anthropic_drops_a_stale_thinking_block[claude-fable-5-1].yaml
  tests/models/anthropic/cassettes/test_thinking_block_binding/test_anthropic_drops_a_stale_thinking_block[claude-opus-5-5].yaml
  tests/models/anthropic/cassettes/test_thinking_block_binding/test_anthropic_explicit_error_rejects_a_stale_thinking_block_on_binding_models[claude-opus-5-5-True].yaml
  tests/models/anthropic/cassettes/test_thinking_block_binding/test_anthropic_explicit_error_rejects_a_stale_thinking_block_on_binding_models[claude-opus-5-False].yaml
  tests/models/anthropic/test_output.py
  tests/models/anthropic/test_thinking_block_binding.py
  tests/models/cassettes/test_anthropic/test_anthropic_opus_5_5_features.yaml
  tests/models/cassettes/test_anthropic/test_anthropic_opus_5_5_thinking_false_omits_thinking.yaml
  tests/models/test_anthropic.py
  tests/profiles/test_anthropic.py
  tests/test_capability_spec.py
  tests/test_thinking.py
  uv.lock
Due: clai-help, format, lint, typecheck

docs: take the overview lead edits out of this PR; they move to their own branch
  README.md
  docs/index.md
Due: clai-help

Bump `genai-prices` to 0.1.8
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

test: expect the Jev cost that genai-prices 0.1.8 now reports
  tests/models/test_typesafe.py
Due: clai-help, format, lint, typecheck

ci: keep the gh-aw runner lock as checked out through the pre-warm, and check it is fresh
  .github/scripts/prewarm-pydantic-ai-runner.sh
  .github/scripts/test_pydantic_ai_runner.py
  .github/workflows/ci.yml
Due: clai-help, format, lint, typecheck

chore: refresh the gh-aw runner lock for genai-prices 0.1.8
  .github/scripts/pydantic-ai-runner.lock
Due: none

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
