Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

replace-py-code-blocks:
  name: Replace ```py with ```python
  entry: "if [[ \"$(uname)\" == \"Darwin\" ]]; then\n  sed -i '' 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nelse\n  sed -i 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nfi\n"
  language: system
  pass_filenames: true

coverage
  tests/models/anthropic/test_output.py
Due: format, lint, typecheck, replace-py-code-blocks

coverage
  tests/models/anthropic/conftest.py
  tests/models/anthropic/test_output.py
Due: format, lint, typecheck, replace-py-code-blocks

Return ModelRequestParameters and ModelSettings on the ModelRequest object
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_model_request_parameters.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  tests/test_messages.py
Due: format, lint, typecheck, replace-py-code-blocks

Set compare=False to avoid breaking snapshots
  pydantic_ai_slim/pydantic_ai/messages.py
Due: format, lint, typecheck, replace-py-code-blocks

GraphRun exit stack: capture BaseExceptionGroup instead of ExceptionGroup
  pydantic_graph/pydantic_graph/beta/graph.py
Due: format, lint, typecheck, replace-py-code-blocks

added test
  tests/graph/beta/test_graph_execution.py
Due: format, lint, typecheck, replace-py-code-blocks

Add file upload examples for OpenAI and Google FileSearchTool
  docs/builtin-tools.md
Due: replace-py-code-blocks

Add openai_include_file_search_results setting
  docs/builtin-tools.md
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix Google non-streaming file search to extract retrievedContext
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/test_google.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix Google streaming file search parsing
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/test_google.py
Due: format, lint, typecheck, replace-py-code-blocks

make the two code samples complete - they can be run as-is now
  docs/input.md
Due: replace-py-code-blocks

made file_bytes self-explanatory
  docs/input.md
Due: replace-py-code-blocks

Revert boto3 version bump to match main
  uv.lock
Due: none

Fix CI typecheck and formatting errors
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_google.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix FileSearchToolParam typecheck error with cast
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix FileSearchTool documentation examples and update test snapshots
  docs/builtin-tools.md
  tests/models/test_google.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix deprecated event types in FileSearchTool test snapshots
  tests/models/test_google.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix import order in FileSearchTool documentation examples
  docs/builtin-tools.md
Due: replace-py-code-blocks

Fix import order: put submodule imports before top-level imports
  docs/builtin-tools.md
Due: replace-py-code-blocks

Revert import order to match working example pattern
  docs/builtin-tools.md
Due: replace-py-code-blocks

Add workaround for pydantic_ai import sorting issue in test framework
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Suppress complexity warning for test_docs_examples function
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Add pyright ignore for private usage in tests
  tests/models/test_google.py
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

Skip deferred requests test
  tests/test_agent_output_schemas.py
Due: format, lint, typecheck, replace-py-code-blocks

Allow user_prompt in HITL
  docs/deferred-tools.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_agent.py
  tests/test_tools.py
Due: format, lint, typecheck, replace-py-code-blocks

Small fixes and more tests
  pydantic_ai_slim/pydantic_ai/_output.py
  tests/test_agent_output_schemas.py
Due: format, lint, typecheck, replace-py-code-blocks

Update deferred requests snapshot
  tests/test_agent_output_schemas.py
Due: format, lint, typecheck, replace-py-code-blocks

fix test
  docs/deferred-tools.md
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Maybe fix test coverage
  pydantic_ai_slim/pydantic_ai/_output.py
  tests/test_agent_output_schemas.py
Due: format, lint, typecheck, replace-py-code-blocks

devcontainer skeleton
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
Due: none

first rough version
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
Due: replace-py-code-blocks

Fix test failures: wrap mock responses in lists for multiple API calls
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix test failures: add allow_model_requests fixture to mock tests
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

fix quotes
  pyproject.toml
Due: none

Updated duplicated code, added tests for 100% coverage
  pydantic_ai_slim/pydantic_ai/_json_schema.py
  tests/test_json_schema.py
  tests/test_json_schema_flattener.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix coverage: add tests for missing openai.py branches and cleanup code
  tests/models/test_google.py
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

Refactor cleanup code into helper functions for 100% coverage
  tests/models/test_google.py
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

add devcontainer build to CI
  .github/workflows/ci.yml
Due: none

fix linter
  .devcontainer/README.md
Due: replace-py-code-blocks

try free up disk space
  .github/workflows/ci.yml
Due: none

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
  replace-py-code-blocks: any of: \.py$|\.md$
