Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

replace-py-code-blocks:
  name: Replace ```py with ```python
  entry: "if [[ \"$(uname)\" == \"Darwin\" ]]; then\n  sed -i '' 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nelse\n  sed -i 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nfi\n"
  language: system
  pass_filenames: true

🚨 Fix instructions when using Anthropic
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

add test
  tests/models/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

Add span generation to ObjectOutputProcessor
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/result.py
  tests/test_logfire.py
Due: format, lint, typecheck, replace-py-code-blocks

Add working version with non-ToolCallPart call
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_output.py
  tests/test_logfire.py
Due: format, lint, typecheck, replace-py-code-blocks

Add working version
  pydantic_ai_slim/pydantic_ai/_output.py
  tests/test_logfire.py
Due: format, lint, typecheck, replace-py-code-blocks

Working tests
  tests/test_logfire.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix tool_response serialisation in tracing
  pydantic_ai_slim/pydantic_ai/_output.py
  tests/test_logfire.py
Due: format, lint, typecheck, replace-py-code-blocks

Add tests for TraceContext
  pydantic_ai_slim/pydantic_ai/_output.py
  tests/test_logfire.py
  tests/test_output.py
Due: format, lint, typecheck, replace-py-code-blocks

Add tracing for TextOutputSchema
  pydantic_ai_slim/pydantic_ai/result.py
  tests/test_logfire.py
Due: format, lint, typecheck, replace-py-code-blocks

Update logfire.md to include Agenta as an alternative observability backend
  docs/logfire.md
Due: replace-py-code-blocks

Raise errors in unreachable code
  pydantic_ai_slim/pydantic_ai/_output.py
  tests/test_logfire.py
Due: format, lint, typecheck, replace-py-code-blocks

update logos, favicon and brand names
  README.md
  docs/.overrides/.icons/logfire/logo.svg
  docs/agents.md
  docs/favicon.ico
  docs/img/logo-white.svg
  docs/img/pydantic-ai-dark.svg
  docs/img/pydantic-ai-light.svg
  docs/index.md
  docs/logfire.md
  examples/README.md
  pydantic_ai_slim/README.md
  pydantic_evals/README.md
  pydantic_graph/README.md
Due: replace-py-code-blocks

format code
  README.md
  docs/agents.md
  docs/index.md
  docs/logfire.md
Due: replace-py-code-blocks

format code
  docs/img/pydantic-ai-dark.svg
  docs/img/pydantic-ai-light.svg
Due: none

change logo color
  docs/img/logo-white.svg
Due: none

sm fix
  docs/agents.md
Due: replace-py-code-blocks

fix test
  tests/models/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

Stop showing long list of model names
  pydantic_ai_slim/pydantic_ai/_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

Update pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

fix pyright
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

Remove unneeded `pragma: lax no cover` (#2177)
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/exceptions.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/providers/google.py
  pydantic_ai_slim/pydantic_ai/providers/google_vertex.py
  pydantic_ai_slim/pydantic_ai/result.py
Due: format, lint, typecheck, replace-py-code-blocks

ensure deepcopy
  pydantic_ai_slim/pydantic_ai/agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Apply suggestions from code review
  .github/workflows/codeflash.yml
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  pydantic_ai_slim/pyproject.toml
Due: format, lint, typecheck, replace-py-code-blocks

Update .github/workflows/codeflash.yml
  .github/workflows/codeflash.yml
Due: none

fixes
  docs/.partials/index-header.html
  docs/a2a.md
Due: replace-py-code-blocks

fixes
  docs/examples/bank-support.md
  docs/examples/pydantic-model.md
  docs/examples/rag.md
  docs/examples/sql-gen.md
  docs/examples/weather-agent.md
Due: replace-py-code-blocks

fixes
  docs/logfire.md
Due: replace-py-code-blocks

fix
  docs/a2a.md
Due: replace-py-code-blocks

fix syntax issues
  docs/graph.md
Due: replace-py-code-blocks

simplify further
  pydantic_ai_slim/pydantic_ai/agent.py
Due: format, lint, typecheck, replace-py-code-blocks

removed check to see if content exists, so an empty text part can be used
  pydantic_ai_slim/pydantic_ai/models/google.py
Due: format, lint, typecheck, replace-py-code-blocks

Use cls option instead of defining custom click option
  pydantic_ai_slim/pydantic_ai/_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

Forgot to run update_readme.py
  pydantic_ai_slim/pydantic_ai/_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

restore admonitions
  docs/agents.md
  docs/changelog.md
  docs/dependencies.md
  docs/evals.md
  docs/graph.md
  docs/input.md
  docs/logfire.md
  docs/mcp/run-python.md
  docs/mcp/server.md
  docs/testing.md
  docs/tools.md
  docs/troubleshooting.md
Due: replace-py-code-blocks

Fixes for excluding content (#2180)
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/models/test_instrumented.py
  tests/test_logfire.py
Due: format, lint, typecheck, replace-py-code-blocks

Install duckduckgo-search as dev dependency
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
  replace-py-code-blocks: any of: \.py$|\.md$
