Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: replace-py-code-blocks
        name: Replace ```py with ```python
        # first pattern matches ```py <info> and second matches lone ```py<eol>
        entry: |
          if [[ "$(uname)" == "Darwin" ]]; then
            sed -i '' 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          else
            sed -i 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          fi
        language: system
        files: \.py$|\.md$
        pass_filenames: true

fix: surround markdown list with new line
  docs/examples/data-analyst.md
Due: replace-py-code-blocks

Fix spell in docs
  docs/tools.md
Due: replace-py-code-blocks

Add example of using RunContext to share data among tools
  docs/examples/data-analyst.md
  examples/pydantic_ai_examples/data_analyst.py
  examples/pyproject.toml
  mkdocs.yml
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

fix: use just print, change example output to quote
  docs/examples/data-analyst.md
  examples/pydantic_ai_examples/data_analyst.py
Due: format, lint, typecheck, replace-py-code-blocks

fix: address more comments
  examples/pydantic_ai_examples/data_analyst.py
Due: format, lint, typecheck, replace-py-code-blocks

updated logic for count token
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/fallback.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  pydantic_ai_slim/pydantic_ai/models/mcp_sampling.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/test.py
  pydantic_ai_slim/pydantic_ai/models/wrapper.py
  pydantic_ai_slim/pydantic_ai/usage.py
  tests/evals/test_evaluators.py
  tests/models/cassettes/test_google/test_google_model_count_tokens.yaml
  tests/models/test_google.py
Due: format, lint, typecheck, replace-py-code-blocks

added truefoundry ai gateway in openai.md
  docs/models/openai.md
  mkdocs-temp.yml
Due: replace-py-code-blocks

feat: add command to copy last response to clipboard
  clai/README.md
  docs/cli.md
  pydantic_ai_slim/pydantic_ai/_cli.py
  pydantic_ai_slim/pyproject.toml
  tests/test_cli.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

split lines with \n for clean joining
  pydantic_ai_slim/pydantic_ai/_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

feat: Update google model
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/google.py
Due: format, lint, typecheck, replace-py-code-blocks

refactor: remove allow_elicitation field and improve MCP elicitation tests
  docs/mcp/client.md
  pydantic_ai_slim/pydantic_ai/mcp.py
  tests/mcp_server.py
  tests/test_mcp.py
  tests/test_mcp_elicitation.py
Due: format, lint, typecheck, replace-py-code-blocks

refactor: updated client mcp docs example
  docs/mcp/client.md
Due: replace-py-code-blocks

Change type of 'source' field on EvaluationResult
  pydantic_evals/pydantic_evals/evaluators/_run_evaluator.py
  pydantic_evals/pydantic_evals/evaluators/evaluator.py
  pydantic_evals/pydantic_evals/reporting/__init__.py
  tests/evals/test_dataset.py
  tests/evals/test_evaluator_base.py
  tests/evals/test_evaluators.py
  tests/evals/test_reporting.py
  tests/evals/test_reports.py
Due: format, lint, typecheck, replace-py-code-blocks

Add a test of round-trip serialization
  pydantic_evals/pydantic_evals/evaluators/__init__.py
  pydantic_evals/pydantic_evals/evaluators/evaluator.py
  tests/evals/test_dataset.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix docs build
  pydantic_evals/pydantic_evals/dataset.py
  pydantic_evals/pydantic_evals/evaluators/evaluator.py
  pydantic_evals/pydantic_evals/evaluators/spec.py
  tests/evals/test_evaluator_spec.py
  tests/evals/test_evaluators.py
Due: format, lint, typecheck, replace-py-code-blocks

docs: enhance concurrency guidelines for tool execution
  docs/tools.md
Due: replace-py-code-blocks

fix: minor char fix
  docs/tools.md
Due: replace-py-code-blocks

Update docs/models/openai.md
  docs/models/openai.md
Due: replace-py-code-blocks

Add an example of using RunContext to pass data among tools (#2316)
  docs/examples/data-analyst.md
  docs/tools.md
  examples/pydantic_ai_examples/data_analyst.py
  examples/pyproject.toml
  mkdocs.yml
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Rename gemini-2.5-flash-lite-preview-06-17 to gemini-2.5-flash-lite as it's out of preview (#2387)
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/google.py
Due: format, lint, typecheck, replace-py-code-blocks

updated test, count token function is async
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/cassettes/test_google/test_google_model_count_tokens.yaml
  tests/models/cassettes/test_google/test_google_model_usage_limit_exceeded.yaml
  tests/models/test_google.py
Due: format, lint, typecheck, replace-py-code-blocks

corrected agent_graph, typo in test
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/models/test_google.py
Due: format, lint, typecheck, replace-py-code-blocks

refactor: updated mcp clients documentation
  docs/mcp/client.md
Due: replace-py-code-blocks

fix: mcp client docs import
  docs/mcp/client.md
Due: replace-py-code-blocks

Rename `extract_think_tags` to `thinking_tags` for clarity and consistency in handling thinking parts.
  pydantic_ai_slim/pydantic_ai/_parts_manager.py
  pydantic_ai_slim/pydantic_ai/_thinking_part.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/test_parts_manager.py
Due: format, lint, typecheck, replace-py-code-blocks

Mention that tools become toolset internally
  docs/tools.md
Due: replace-py-code-blocks

Fix toggleable toolset example so toolset state is not shared across agent runs
  docs/toolsets.md
Due: replace-py-code-blocks

Fix toggleable toolset example so toolset state is not shared across agent runs (#2396)
  docs/toolsets.md
Due: replace-py-code-blocks

Add convenience functions to handle AG-UI requests with request-specific deps
  docs/ag-ui.md
  pydantic_ai_slim/pydantic_ai/ag_ui.py
  pydantic_ai_slim/pydantic_ai/agent.py
  tests/test_ag_ui.py
Due: format, lint, typecheck, replace-py-code-blocks

Clarify that injected state is still per-request when using Agent.to_ag_ui
  docs/ag-ui.md
  pydantic_ai_slim/pydantic_ai/ag_ui.py
  pydantic_ai_slim/pydantic_ai/agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Use AsyncIterator instead of AsyncGenerator
  pydantic_ai_slim/pydantic_ai/ag_ui.py
Due: format, lint, typecheck, replace-py-code-blocks

Pass ModelProfile to StreamingResponses instead of just thinking tags
  pydantic_ai_slim/pydantic_ai/_parts_manager.py
  pydantic_ai_slim/pydantic_ai/_thinking_part.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/test_parts_manager.py
Due: format, lint, typecheck, replace-py-code-blocks

Support custom thinking tags specified on the model profile (#2364)
  pydantic_ai_slim/pydantic_ai/_parts_manager.py
  pydantic_ai_slim/pydantic_ai/_thinking_part.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/test.py
  pydantic_ai_slim/pydantic_ai/profiles/__init__.py
  pydantic_ai_slim/pydantic_ai/profiles/anthropic.py
  tests/test_parts_manager.py
  tests/test_thinking_part.py
Due: format, lint, typecheck, replace-py-code-blocks

Add convenience functions to handle AG-UI requests with request-specific deps (#2397)
  docs/ag-ui.md
  pydantic_ai_slim/pydantic_ai/ag_ui.py
  pydantic_ai_slim/pydantic_ai/agent.py
  tests/test_ag_ui.py
Due: format, lint, typecheck, replace-py-code-blocks

Revert Logfire version restriction
  pydantic_ai_slim/pyproject.toml
Due: none

Revert reverting Logfire version restriction
  pydantic_ai_slim/pyproject.toml
Due: none

refactor: updated the mcp client docs example, chore - updated mcp version
  docs/mcp/client.md
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: replace-py-code-blocks

Trying to fix lower versions tests
  pydantic_ai_slim/pyproject.toml
  tests/models/test_fallback.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

Allow context deps without process_tool_call
  pydantic_ai_slim/pydantic_ai/mcp.py
  tests/test_mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

Add native OpenRouter model
  docs/api/models/openrouter.md
  docs/models/index.md
  docs/models/openai.md
  docs/models/openrouter.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
  tests/models/test_openrouter.py
Due: format, lint, typecheck, replace-py-code-blocks
