Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

Address Copilot review: fix pickle re-append and sync docs message
  docs/tools-advanced.md
  pydantic_ai_slim/pydantic_ai/exceptions.py
Due: clai-help, format, lint, typecheck

fix: raise ContentFilterError for stream completions on content filter block
  pydantic_ai_slim/pydantic_ai/result.py
  tests/models/test_openai.py
  tests/test_agent.py
  tests/test_content_filter_challenge.py
  tests/test_content_filter_challenger.py
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

fix(openai): raise `UserError` with a keyless hint when the OpenAI API key is missing
  docs/index.md
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/anthropic.py
  pydantic_ai_slim/pydantic_ai/providers/google.py
  pydantic_ai_slim/pydantic_ai/providers/openai.py
  tests/providers/test_anthropic.py
  tests/providers/test_google.py
  tests/providers/test_openai.py
Due: clai-help, format, lint, typecheck

Silence pyright overload error on deliberate no-arg `GoogleProvider()` in missing-key test
  tests/providers/test_google.py
Due: clai-help, format, lint, typecheck

Update `test_agent_flag_no_model` for the new missing-key `UserError` (CLI now reports it cleanly)
  tests/test_cli.py
Due: clai-help, format, lint, typecheck

Honor `OPENAI_BASE_URL` env var in the missing-key guard and placeholder-key fallback
  pydantic_ai_slim/pydantic_ai/providers/openai.py
  tests/providers/test_openai.py
Due: clai-help, format, lint, typecheck

Refresh stale missing-key error string on the troubleshooting page
  docs/troubleshooting.md
Due: clai-help

docs: add prompt-shield-ai to Guardrails & Safety third-party capabilities
  docs/capabilities.md
Due: clai-help

docs: use reference-style autorefs links for API elements
  docs/index.md
  docs/troubleshooting.md
Due: clai-help

docs: address CodeRabbit review — slim prompt-shield-ai entry, add reference links, remove inconsistent dataset count
  docs/capabilities.md
Due: clai-help

Narrow flake fix to recurrent Temporal downloads
  tests/test_agent.py
  tests/test_direct.py
  tests/test_streaming.py
Due: clai-help, format, lint, typecheck

Skip unavailable HF warmups on Python 3.14
  .github/workflows/ci.yml
Due: none

Add first-class sandbox support
  docs/api/local_sandbox.md
  docs/api/sandbox.md
  docs/capabilities.md
  docs/sandbox.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/SKILL.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/SANDBOXES.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/agent/wrapper.py
  pydantic_ai_slim/pydantic_ai/capabilities/_run_validation.py
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
  pydantic_ai_slim/pydantic_ai/capabilities/combined.py
  pydantic_ai_slim/pydantic_ai/capabilities/wrapper.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_cache_policies.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_run_context.py
  pydantic_ai_slim/pydantic_ai/local_sandbox.py
  pydantic_ai_slim/pydantic_ai/sandbox.py
  pydantic_ai_slim/pydantic_ai/ui/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  tests/example_modules/my_sandboxes.py
  tests/test_ag_ui.py
  tests/test_capabilities.py
  tests/test_dbos.py
  tests/test_examples.py
  tests/test_local_sandbox.py
  tests/test_prefect.py
  tests/test_sandbox.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

docs: explain RAG chunking trade-offs
  docs/embeddings.md
  docs/examples/rag.md
Due: clai-help

Separate Temporal cache namespaces
  .github/workflows/ci.yml
Due: none

Use shared updater for background prices
  docs/agent.md
  docs/api/usage.md
  docs/logfire.md
  pydantic_ai_slim/pydantic_ai/_instrumentation.py
  pydantic_ai_slim/pydantic_ai/embeddings/instrumented.py
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
  pydantic_ai_slim/pydantic_ai/prices.py
  tests/models/test_instrumented.py
  tests/test_embeddings.py
  tests/test_prices.py
Due: clai-help, format, lint, typecheck

docs: clarify RAG database reset
  docs/examples/rag.md
Due: clai-help

Document updater fork timing
  docs/agent.md
  pydantic_ai_slim/pydantic_ai/prices.py
Due: clai-help, format, lint, typecheck

Register background price API docs
  docs/agent.md
  docs/api/usage.md
Due: clai-help

docs: clarify File Search guidance
  docs/embeddings.md
Due: clai-help

docs: keep canonical Sentence Transformers links
  docs/embeddings.md
Due: clai-help

docs: link RAG evaluation guidance to Pydantic Evals
  docs/embeddings.md
Due: clai-help

Speed up deterministic CI test paths
  .github/workflows/ci.yml
  tests/models/test_model.py
  tests/models/test_openai_responses.py
  tests/providers/test_bedrock.py
  tests/providers/test_provider_names.py
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

Cache Temporal dev-server binaries in CI (#6230)
  .github/workflows/ci.yml
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

Link shared updater documentation
  docs/agent.md
  pydantic_ai_slim/pydantic_ai/prices.py
Due: clai-help, format, lint, typecheck

Review round 2: faithful empty-dict handling, honest copy comment, `_meta` trust caveat in docs
  docs/mcp/client.md
  pydantic_ai_slim/pydantic_ai/mcp.py
  tests/test_mcp.py
Due: clai-help, format, lint, typecheck

fix(mistral): keep LiteLLM Mistral baseline, privatize effort map
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/profiles/mistral.py
  pydantic_ai_slim/pydantic_ai/providers/litellm.py
  tests/models/test_mistral.py
  tests/profiles/test_mistral.py
  tests/profiles/test_resolution_matrix.py
  tests/providers/test_litellm.py
Due: clai-help, format, lint, typecheck

Cite the upstream FastMCP gap that bounds `request_metadata` coverage
  docs/mcp/client.md
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: clai-help, format, lint, typecheck

Drop em dash from the reserved-key error
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: clai-help, format, lint, typecheck

Document that the Vercel AI `data-usage` chunk is transient and read via `onData`
  docs/ui/vercel-ai.md
Due: clai-help

Don't drop recovered File Search contexts on the echo
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/google/test_native_tools.py
Due: clai-help, format, lint, typecheck

Record full response on early break, cover thinking and parallel tool calls in replay tests
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai.py
  tests/test_ag_ui.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

fix(anthropic): drop hallucinated native tool calls for disabled tools (#6401)
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
Due: clai-help, format, lint, typecheck

Review round 3: reserve `traceparent`/`tracestate`, pin the constructor copy
  pydantic_ai_slim/pydantic_ai/mcp.py
  tests/test_mcp.py
Due: clai-help, format, lint, typecheck

test(mistral): pin always-on guard for every enabled level
  tests/models/test_mistral.py
  tests/profiles/test_resolution_matrix.py
Due: clai-help, format, lint, typecheck

fix(bedrock): handle citationsContent blocks instead of silently dropping them (#6455)
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
Due: clai-help, format, lint, typecheck

Polish deterministic polling tests
  tests/models/test_openai_responses.py
  tests/providers/test_provider_names.py
Due: clai-help, format, lint, typecheck

Clarify updater fork timing
  docs/agent.md
  pydantic_ai_slim/pydantic_ai/prices.py
Due: clai-help, format, lint, typecheck

Describe replay behavior accurately in docs and setting docstring
  docs/models/ollama.md
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: clai-help, format, lint, typecheck

Document the trailing-marker ordering invariant
  pydantic_ai_slim/pydantic_ai/_utils.py
Due: clai-help, format, lint, typecheck

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
