Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: replace-py-code-blocks
        name: Replace ```py with ```python
        # first pattern matches ```py <info> and second matches lone ```py<eol>
        entry: |
          if [[ "$(uname)" == "Darwin" ]]; then
            sed -i '' 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          else
            sed -i 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          fi
        language: system
        files: \.py$|\.md$
        pass_filenames: true

renaming test
  tests/test_usage_limits.py
Due: format, lint, typecheck, replace-py-code-blocks

Fixing inconsitency in one of the docstrings
  pydantic_ai_slim/pydantic_ai/toolsets/function.py
  pydantic_ai_slim/pydantic_ai/usage.py
Due: format, lint, typecheck, replace-py-code-blocks

Update docs/cli.md
  docs/cli.md
Due: replace-py-code-blocks

Adding doc and max_uses to runContext for use of the users
  docs/tools-advanced.md
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
  pydantic_ai_slim/pydantic_ai/toolsets/function.py
Due: format, lint, typecheck, replace-py-code-blocks

changes requested
  clai/README.md
  docs/cli.md
  docs/img/web-chat-ui.png
  docs/web.md
  pydantic_ai_slim/pydantic_ai/_cli/__init__.py
  pydantic_ai_slim/pydantic_ai/builtin_tools.py
  pydantic_ai_slim/pydantic_ai/ui/_web/api.py
  pydantic_ai_slim/pydantic_ai/ui/_web/app.py
  tests/test_ui_web.py
Due: format, lint, typecheck, replace-py-code-blocks

Adding max_tool_calls, soft limit to agent. Using tool manager to check and enforce
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/agent/wrapper.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_agent.py
  pydantic_ai_slim/pydantic_ai/usage.py
  tests/test_tools.py
  tests/test_usage_limits.py
Due: format, lint, typecheck, replace-py-code-blocks

docs update for max_tool_calls
  docs/agents.md
  docs/tools-advanced.md
Due: replace-py-code-blocks

Update docs/web.md
  docs/web.md
Due: replace-py-code-blocks

changes requested
  clai/README.md
  docs/cli.md
  pydantic_ai_slim/pydantic_ai/_cli/__init__.py
  pydantic_ai_slim/pydantic_ai/_cli/web.py
  tests/test_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

test skip doc
  docs/agents.md
Due: replace-py-code-blocks

tinified?
  docs/img/web-chat-ui.png
Due: none

Make `OpenRouterProvider` and `DeepSeekProvider` `__init__` overloads less restrictive (#3739)
  pydantic_ai_slim/pydantic_ai/providers/deepseek.py
  pydantic_ai_slim/pydantic_ai/providers/openrouter.py
Due: format, lint, typecheck, replace-py-code-blocks

Add Web Chat UI for any agent that can be launched using `clai web` or `Agent.to_web()` (#3456)
  .pre-commit-config.yaml
  clai/README.md
  clai/update_readme.py
  docs/cli.md
  docs/img/web-chat-ui.png
  docs/web.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/_cli/__init__.py
  pydantic_ai_slim/pydantic_ai/_cli/web.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/builtin_tools.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/outlines.py
  pydantic_ai_slim/pydantic_ai/models/test.py
  pydantic_ai_slim/pydantic_ai/profiles/__init__.py
  pydantic_ai_slim/pydantic_ai/ui/_web/__init__.py
  pydantic_ai_slim/pydantic_ai/ui/_web/api.py
  pydantic_ai_slim/pydantic_ai/ui/_web/app.py
  pydantic_ai_slim/pyproject.toml
  tests/models/test_cohere.py
  tests/models/test_openai.py
  tests/models/test_outlines.py
  tests/test_cli.py
  tests/test_ui_web.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

linting
  pydantic_ai_slim/pydantic_ai/models/mistral.py
Due: format, lint, typecheck, replace-py-code-blocks

Better follow otel semconv
  pydantic_ai_slim/pydantic_ai/_otel_messages.py
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/test_logfire.py
Due: format, lint, typecheck, replace-py-code-blocks

Update pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Move warning text to helper function
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Check for dict-typed args in _map_json_schema
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Linting
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Add AdaptiveModel for custom model selection logic
  pydantic_ai_slim/pydantic_ai/models/adaptive.py
Due: format, lint, typecheck, replace-py-code-blocks

Add adaptive model functionality
  adaptive_proposal.md
  fallback_via_adaptive.py
  pydantic_ai_slim/pydantic_ai/models/adaptive.py
  tests/models/test_adaptive.py
Due: format, lint, typecheck, replace-py-code-blocks

clarify size defaults per provider; add validation for unsupported values
  docs/builtin-tools.md
  pydantic_ai_slim/pydantic_ai/builtin_tools.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_google.py
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

Bump min version of griffe
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

fix docs
  docs/input.md
  docs/models/google.md
Due: replace-py-code-blocks

fix tests
  tests/test_embeddings.py
Due: format, lint, typecheck, replace-py-code-blocks

changes requested
  docs/durable_execution/temporal.md
  pydantic_ai_slim/pydantic_ai/_utils.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_agent.py
  tests/cassettes/test_temporal/test_temporal_agent_with_sync_instructions.yaml
  tests/test_temporal.py
  tests/test_utils.py
Due: format, lint, typecheck, replace-py-code-blocks

Bump min version of griffe to `1.14.0` (#3743)
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

Update test
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Undo overzealous autoformatting
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Try again to undo auto-formatting
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix using sync history processors, instructions functions, and output functions with `TemporalAgent` (#3704)
  docs/durable_execution/temporal.md
  pydantic_ai_slim/pydantic_ai/_utils.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_agent.py
  tests/cassettes/test_temporal/test_temporal_agent_with_sync_history_processor.yaml
  tests/cassettes/test_temporal/test_temporal_agent_with_sync_instructions.yaml
  tests/test_temporal.py
  tests/test_utils.py
Due: format, lint, typecheck, replace-py-code-blocks

Support `FileUrl.force_download` in `AnthropicModel` and `OpenAIResponsesModel` (#3694)
  docs/input.md
  docs/models/google.md
  pydantic_ai_slim/pydantic_ai/_mcp.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/providers/groq.py
  tests/models/cassettes/test_anthropic/test_image_url_input_force_download.yaml
  tests/models/cassettes/test_anthropic/test_text_document_as_binary_content_input.yaml
  tests/models/cassettes/test_openai/test_document_url_input_force_download_response_api.yaml
  tests/models/cassettes/test_openai/test_document_url_input_response_api.yaml
  tests/models/test_anthropic.py
  tests/models/test_mcp_sampling.py
  tests/models/test_mistral.py
  tests/models/test_openai.py
  tests/test_messages.py
Due: format, lint, typecheck, replace-py-code-blocks

coverage
  pydantic_ai_slim/pydantic_ai/embeddings/__init__.py
  pydantic_ai_slim/pydantic_ai/embeddings/base.py
  pydantic_ai_slim/pydantic_ai/embeddings/cohere.py
  pydantic_ai_slim/pydantic_ai/embeddings/instrumented.py
  pydantic_ai_slim/pydantic_ai/embeddings/openai.py
  pydantic_ai_slim/pydantic_ai/embeddings/sentence_transformers.py
  pydantic_ai_slim/pydantic_ai/embeddings/test.py
  pydantic_ai_slim/pydantic_ai/embeddings/wrapper.py
  pydantic_ai_slim/pyproject.toml
  tests/conftest.py
  tests/test_embeddings.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

add image size literal type
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

test coverage
  pydantic_ai_slim/pydantic_ai/builtin_tools.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks
