Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

Add Kitaru durable execution docs (#5908)
  docs/durable_execution/kitaru.md
  docs/durable_execution/overview.md
  docs/nav.json
  mkdocs.yml
Due: clai-help

Fix Temporal cache coverage gap
  .github/workflows/ci.yml
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

Forward `additionalModelRequestFields` in Bedrock `count_tokens` (#5910)
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  tests/models/cassettes/test_bedrock/test_bedrock_count_tokens_additional_model_requests_fields.yaml
  tests/models/cassettes/test_bedrock/test_bedrock_count_tokens_tool_config.yaml
  tests/models/test_bedrock.py
Due: clai-help, format, lint, typecheck

Reduce CI test log noise
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: none

Type `follow_redirects` explicitly in the MCP httpx client factory instead of `**kwargs`
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: clai-help, format, lint, typecheck

fix(cohere): filter tools to named subset for tool_choice, add VCR test
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  tests/models/cassettes/test_cohere/test_cohere_tool_choice_forwarding[auto].yaml
  tests/models/cassettes/test_cohere/test_cohere_tool_choice_forwarding[named_subset].yaml
  tests/models/cassettes/test_cohere/test_cohere_tool_choice_forwarding[none].yaml
  tests/models/cassettes/test_cohere/test_cohere_tool_choice_forwarding[required].yaml
  tests/models/test_cohere.py
Due: clai-help, format, lint, typecheck

Drop unsigned/foreign `ThinkingPart`s in Anthropic history by default, add `anthropic_send_back_thinking_parts`
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/profiles/anthropic.py
  tests/models/test_anthropic.py
Due: clai-help, format, lint, typecheck

Fix DuckDuckGo dev dependency typing
  pyproject.toml
  uv.lock
Due: none

Rename `google_task` opt-out sentinel from `'none'` to `'raw'`
  docs/embeddings.md
  pydantic_ai_slim/pydantic_ai/embeddings/google.py
  tests/cassettes/test_embeddings/test_google_task_prefix[raw-passthrough].yaml
  tests/test_embeddings.py
Due: clai-help, format, lint, typecheck

Mark DuckDuckGo fallback import uncovered
  pydantic_ai_slim/pydantic_ai/common_tools/duckduckgo.py
Due: clai-help, format, lint, typecheck

Deprecate legacy DuckDuckGo fallback import
  pydantic_ai_slim/pydantic_ai/common_tools/duckduckgo.py
Due: clai-help, format, lint, typecheck

Validate client `tool_kind` claim and gate builtin returns in `VercelAIAdapter`
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_utils.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

Fix `MCPToolset(http_client=...)` crash on FastMCP's `follow_redirects` kwarg (#5694)
  pydantic_ai_slim/pydantic_ai/mcp.py
  tests/test_mcp_toolset.py
Due: clai-help, format, lint, typecheck

Document narrowest-fix-first scope discipline in AGENTS.md
  AGENTS.md
Due: clai-help

test(cohere): migrate tool_choice coverage into the cross-provider matrix
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  tests/cassette_utils.py
  tests/models/cassettes/test_tool_choice_matrix/test_tool_choice_matrix[auto-cohere].yaml
  tests/models/cassettes/test_tool_choice_matrix/test_tool_choice_matrix[list_single-cohere].yaml
  tests/models/cassettes/test_tool_choice_matrix/test_tool_choice_matrix[none-cohere].yaml
  tests/models/cassettes/test_tool_choice_matrix/test_tool_choice_matrix[none_with_output-cohere].yaml
  tests/models/cassettes/test_tool_choice_matrix/test_tool_choice_matrix[required-cohere].yaml
  tests/models/cassettes/test_tool_choice_matrix/test_tool_choice_matrix[tools_plus_output-cohere].yaml
  tests/models/test_cohere.py
  tests/models/test_tool_choice_matrix.py
Due: clai-help, format, lint, typecheck

Forward `top_k` model setting to Bedrock `additionalModelRequestFields`
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock.py
  pydantic_ai_slim/pydantic_ai/settings.py
  tests/models/cassettes/test_bedrock/test_bedrock_top_k_anthropic_variant.yaml
  tests/models/cassettes/test_bedrock/test_bedrock_top_k_nova_variant.yaml
  tests/models/test_bedrock.py
  tests/test_thinking.py
Due: clai-help, format, lint, typecheck

Copy Cerebras settings before popping so reasoning settings survive repeated requests
  docs/thinking.md
  pydantic_ai_slim/pydantic_ai/models/cerebras.py
  tests/test_thinking.py
Due: clai-help, format, lint, typecheck

fix(groq): add `groq_reasoning_effort` setting, drop family-unsafe `thinking` mapping
  pydantic_ai_slim/pydantic_ai/models/groq.py
  tests/models/cassettes/test_groq/test_groq_reasoning_effort_setting.yaml
  tests/models/test_groq.py
Due: clai-help, format, lint, typecheck

Track CI duration telemetry
  .github/scripts/ci_duration.py
  .github/scripts/test_ci_duration.py
  .github/workflows/after-ci.yml
  .github/workflows/ci-duration-report.yml
  pyproject.toml
Due: clai-help, format, lint, typecheck

Drop `False` from Anthropic, extend drop-by-default to Bedrock-Claude
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/profiles/anthropic.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock.py
  tests/models/test_anthropic.py
  tests/models/test_bedrock.py
Due: clai-help, format, lint, typecheck

Attach xAI `ToolCallPart` to the preceding reasoning message
  pydantic_ai_slim/pydantic_ai/models/xai.py
  tests/models/test_xai.py
Due: clai-help, format, lint, typecheck

Resolve dynamic toolset `get_instructions` in an activity under Temporal
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_dynamic_toolset.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

Route `max_tokens` to `max_completion_tokens` or `max_tokens` via `OpenAIModelProfile` flag
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  pydantic_ai_slim/pydantic_ai/providers/openrouter.py
  tests/models/test_openai.py
  tests/providers/test_openrouter.py
Due: clai-help, format, lint, typecheck

Make CI telemetry best effort
  .github/workflows/after-ci.yml
Due: none

Limit CI telemetry to test jobs
  .github/scripts/ci_duration.py
  .github/scripts/test_ci_duration.py
Due: clai-help, format, lint, typecheck

Refine change guidelines in AGENTS.md
  AGENTS.md
Due: clai-help

Track CI duration telemetry (#5923)
  .github/scripts/ci_duration.py
  .github/scripts/test_ci_duration.py
  .github/workflows/after-ci.yml
  .github/workflows/ci-duration-report.yml
  pyproject.toml
Due: clai-help, format, lint, typecheck

Narrow dynamic-toolset temporal activities test to the new activity
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

Document `openai_chat_supports_max_completion_tokens` profile flag
  docs/models/openai.md
Due: clai-help

Document narrowest-fix-first scope discipline in `AGENTS.md` (#5921)
  AGENTS.md
Due: clai-help

Pin xAI text+tool-call grouping and document the messages[-1] assumption
  pydantic_ai_slim/pydantic_ai/models/xai.py
  tests/models/test_xai.py
Due: clai-help, format, lint, typecheck

docs: fix inaccurate _metadata_panel docstring in pydantic_evals reporting
  pydantic_evals/pydantic_evals/reporting/__init__.py
Due: clai-help, format, lint, typecheck

fix(bedrock): send toolConfig when history carries tool blocks but request defines no tools
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  tests/models/test_bedrock.py
Due: clai-help, format, lint, typecheck

Group CI test telemetry in Logfire spans
  .github/scripts/ci_duration.py
  .github/scripts/test_ci_duration.py
Due: clai-help, format, lint, typecheck

Group CI test telemetry in Logfire spans (#5930)
  .github/scripts/ci_duration.py
  .github/scripts/test_ci_duration.py
Due: clai-help, format, lint, typecheck

Emit Logfire metrics for CI test durations
  .github/scripts/ci_duration.py
Due: clai-help, format, lint, typecheck

Check nested `topK` (not parent `inferenceConfig`) for Nova `top_k`
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  tests/models/test_bedrock.py
Due: clai-help, format, lint, typecheck

Fold dynamic-toolset instructions into the `get_tools` Temporal activity
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_dynamic_toolset.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
