Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

fix(typesafe): refuse a rubric with more levels than Jev scores against
  docs/evals/evaluators/built-in.md
  docs/evals/evaluators/standard-quality-metrics.md
  docs/models/typesafe.md
  pydantic_ai_slim/pydantic_ai/models/typesafe.py
  pydantic_evals/pydantic_evals/evaluators/common.py
  pydantic_evals/pydantic_evals/evaluators/llm_as_a_judge.py
  tests/evals/test_llm_as_a_judge.py
  tests/models/test_typesafe.py
Due: clai-help, format, lint, typecheck

Probe composite action env inheritance
  .github/workflows/tmp-composite-env-probe.yml
Due: none

Fix probe path
  .github/actions/probe-env/action.yml
  .github/workflows/tmp-composite-env-probe.yml
Due: none

Add a GitHub Action that runs a Pydantic AI agent on a runner
  .github/workflows/ci.yml
  README.md
  action/README.md
  action/action.yml
  action/runner.py
  action/test_runner.py
  docs/github-actions.md
  docs/index.md
  docs/interfaces.md
  docs/navigation.yml
  pyproject.toml
Due: clai-help, format, lint, typecheck

Type the action's tests so Pyright can see through them
  action/test_runner.py
Due: clai-help, format, lint, typecheck

feat(typesafe): say what yes and no mean on a Jev yes/no question
  docs/models/typesafe.md
  pydantic_ai_slim/pydantic_ai/models/typesafe.py
  tests/models/test_typesafe.py
  tests/models/test_typesafe_output_matrix.py
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

Stop a model's answer from steering the workflow it runs in
  action/runner.py
  action/test_runner.py
  docs/github-actions.md
Due: clai-help, format, lint, typecheck

Refuse a `tuple` output field and a self-contained model instead of crashing (#8537)
  pydantic_ai_slim/pydantic_ai/models/typesafe.py
  tests/models/test_typesafe_output_matrix.py
Due: clai-help, format, lint, typecheck

docs: say the product boundary, the Harness SDK and the evals scope in the first paragraph
  README.md
  docs/comparisons/index.md
  docs/evals.md
  docs/evals/quick-start.md
  docs/examples/setup.md
  docs/graph.md
  docs/index.md
  docs/navigation.yml
  docs/realtime/troubleshooting.md
Due: clai-help

feat(output): add `YesNo()`, a `bool` that says what each answer means
  docs/api/output.md
  docs/output.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/output.py
  tests/models/test_typesafe.py
Due: clai-help, format, lint, typecheck

Revert the generic `GEval` ceiling, keeping the limit where it belongs
  docs/evals/evaluators/built-in.md
  docs/evals/evaluators/standard-quality-metrics.md
  pydantic_evals/pydantic_evals/evaluators/common.py
  pydantic_evals/pydantic_evals/evaluators/llm_as_a_judge.py
  tests/evals/test_llm_as_a_judge.py
Due: clai-help, format, lint, typecheck

refactor(typesafe): gather a route's questions and answers into one object
  pydantic_ai_slim/pydantic_ai/models/typesafe.py
Due: clai-help, format, lint, typecheck

Drop the duplicate contains_itself helper the merge left behind
  tests/models/test_typesafe_output_matrix.py
Due: clai-help, format, lint, typecheck

fix(typesafe): name the picked route in the request that fills it
  docs/models/typesafe.md
  pydantic_ai_slim/pydantic_ai/models/typesafe.py
  tests/models/test_typesafe.py
Due: clai-help, format, lint, typecheck

Refuse a rubric with more levels than Jev scores against (#8583)
  docs/models/typesafe.md
  pydantic_ai_slim/pydantic_ai/models/typesafe.py
  tests/models/test_typesafe.py
Due: clai-help, format, lint, typecheck

docs: separate what Pydantic Evals grades from how in the evals lead
  docs/evals.md
Due: clai-help

Let `None` be a route `TypeSafeModel` can pick (#8540)
  docs/models/typesafe.md
  pydantic_ai_slim/pydantic_ai/models/typesafe.py
  tests/models/test_typesafe.py
  tests/models/test_typesafe_output_matrix.py
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

fix(output): name a `None` output route `None`, not `NoneType`
  docs/models/typesafe.md
  docs/output.md
  pydantic_ai_slim/pydantic_ai/_output.py
  tests/models/test_typesafe.py
  tests/models/test_typesafe_output_matrix.py
  tests/test_agent.py
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

Document that a `TypeSafeModel` output function can take arguments (#8536)
  docs/models/typesafe.md
  tests/models/cassettes/test_typesafe/test_an_output_functions_arguments_are_filled_like_an_output_types_fields.yaml
  tests/models/test_typesafe.py
Due: clai-help, format, lint, typecheck

Let a `Choices` set describe itself as a `TypeSafeModel` route (#8541)
  pydantic_ai_slim/pydantic_ai/models/typesafe.py
  tests/models/test_typesafe.py
Due: clai-help, format, lint, typecheck

Silence pyright on the `YesNo()` annotation, as `Choices()` fields already do
  tests/models/test_typesafe.py
Due: clai-help, format, lint, typecheck

Drop a `pragma: no cover` on a tool the test really runs
  tests/models/test_typesafe.py
Due: clai-help, format, lint, typecheck

Name a `None` output route `None` rather than `NoneType` (#8590)
  docs/models/typesafe.md
  docs/output.md
  pydantic_ai_slim/pydantic_ai/_output.py
  tests/models/test_typesafe.py
  tests/models/test_typesafe_output_matrix.py
  tests/test_agent.py
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

docs: add a Pipecat comparison page, promote Google ADK on the hub, complete the Interfaces row
  docs/comparisons/index.md
  docs/comparisons/vs-agno.md
  docs/comparisons/vs-claude-agent-sdk.md
  docs/comparisons/vs-crewai.md
  docs/comparisons/vs-google-adk.md
  docs/comparisons/vs-langchain-langgraph.md
  docs/comparisons/vs-livekit.md
  docs/comparisons/vs-mastra.md
  docs/comparisons/vs-openai-agents-sdk.md
  docs/comparisons/vs-pi.md
  docs/comparisons/vs-pipecat.md
  docs/comparisons/vs-vercel-ai-sdk.md
  docs/navigation.yml
Due: clai-help

Update the output-function fill pin for the route name
  tests/models/test_typesafe.py
Due: clai-help, format, lint, typecheck

Rename `YesNo()` to `DescribedBool()`, keyed on `true` and `false`
  docs/api/output.md
  docs/output.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/output.py
  tests/models/test_typesafe.py
  tests/models/test_typesafe_output_matrix.py
Due: clai-help, format, lint, typecheck

Check for a newer release when the first-run banner is shown
  docs/logfire.md
  docs/navigation.yml
  docs/network-requests.md
  pydantic_ai_slim/pydantic_ai/_cli/__init__.py
  pydantic_ai_slim/pydantic_ai/_display.py
  pydantic_ai_slim/pydantic_ai/_version_check.py
  tests/test_cli.py
  tests/test_display.py
  tests/test_version_check.py
Due: clai-help, format, lint, typecheck

fix: raise on a non-sequence `UserPromptPart.content` instead of iterating it
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/test_messages.py
Due: clai-help, format, lint, typecheck

refactor: drop the unread `tool` field from `_Ask`
  pydantic_ai_slim/pydantic_ai/models/typesafe.py
Due: clai-help, format, lint, typecheck

fix: resolve the conflict markers committed into the typesafe test files
  tests/models/test_typesafe.py
  tests/models/test_typesafe_output_matrix.py
Due: clai-help, format, lint, typecheck

docs: name the `None` schema branch `None` in the output docs
  docs/output.md
Due: clai-help

fix: recognise a `None` route and a `None` option that carry a description
  pydantic_ai_slim/pydantic_ai/models/typesafe.py
  tests/models/test_typesafe_output_matrix.py
Due: clai-help, format, lint, typecheck

docs: drop the rubric paragraph the merge left behind
  docs/models/typesafe.md
Due: clai-help

fix: refuse a union of nothing but `None`s instead of raising `StopIteration`
  pydantic_ai_slim/pydantic_ai/models/typesafe.py
  tests/models/test_typesafe_output_matrix.py
Due: clai-help, format, lint, typecheck

fix: spell the all-`None` union with `Union` so pyright accepts it
  tests/models/test_typesafe_output_matrix.py
Due: clai-help, format, lint, typecheck

docs: say what `pydantic-graph` actually is in the Pipecat flows row
  docs/comparisons/vs-pipecat.md
Due: clai-help

Type the decoded JSON, and hold the request's headers to httpx2's own defaults
  pydantic_ai_slim/pydantic_ai/_version_check.py
  tests/test_display.py
  tests/test_version_check.py
Due: clai-help, format, lint, typecheck

Rename the `LocalWorkspace` backend to `LocalWorkspaceBackend` and its `root` to `working_dir`
  docs/api/workspaces.md
  docs/workspace.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/SKILL.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/WORKSPACES.md
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/workspaces/__init__.py
  pydantic_ai_slim/pydantic_ai/workspaces/local.py
  pydantic_ai_slim/pyproject.toml
  tests/durable_exec/temporal/test_agent.py
  tests/durable_exec/test_dbos.py
  tests/test_local_workspace.py
  tests/test_readonly_workspace.py
  tests/test_workspace.py
Due: clai-help, format, lint, typecheck

Let the first capability that answers `get_workspace` supply the run workspace
  docs/capabilities/custom.md
  docs/workspace.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/WORKSPACES.md
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
  pydantic_ai_slim/pydantic_ai/capabilities/combined.py
  tests/test_workspace.py
Due: clai-help, format, lint, typecheck

Accept `workspace='new'` on agent runs to start in a fresh workspace
  docs/workspace.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/WORKSPACES.md
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/agent/wrapper.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_agent.py
  pydantic_ai_slim/pydantic_ai/ui/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/_web/api.py
  pydantic_ai_slim/pydantic_ai/ui/_web/app.py
  tests/test_workspace.py
Due: clai-help, format, lint, typecheck

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
