Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

fix: honor Annotated Field descriptions for require_parameter_descriptions
  pydantic_ai_slim/pydantic_ai/_function_schema.py
  tests/test_tools.py
Due: clai-help, format, lint, typecheck

Resolve a model's context window with one shared genai-prices function
  pydantic_ai_slim/pydantic_ai/_genai_prices.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/realtime/model.py
  tests/realtime/conftest.py
  tests/realtime/test_openai.py
Due: clai-help, format, lint, typecheck

Drop the realtime genai-prices preload and the base constructor it needed
  pydantic_ai_slim/pydantic_ai/realtime/google.py
  pydantic_ai_slim/pydantic_ai/realtime/model.py
  pydantic_ai_slim/pydantic_ai/realtime/openai.py
  pydantic_ai_slim/pydantic_ai/realtime/xai.py
Due: clai-help, format, lint, typecheck

Revert "Drop the realtime genai-prices preload and the base constructor it needed"
  pydantic_ai_slim/pydantic_ai/realtime/google.py
  pydantic_ai_slim/pydantic_ai/realtime/model.py
  pydantic_ai_slim/pydantic_ai/realtime/openai.py
  pydantic_ai_slim/pydantic_ai/realtime/xai.py
Due: clai-help, format, lint, typecheck

Fold the model-instance lookup into `lookup_context_window`
  pydantic_ai_slim/pydantic_ai/_genai_prices.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/realtime/model.py
  tests/realtime/conftest.py
  tests/realtime/test_openai.py
Due: clai-help, format, lint, typecheck

Address final review: tighten tests, docstrings, and docs wording
  docs/message-history.md
  pydantic_ai_slim/pydantic_ai/_genai_prices.py
  pydantic_ai_slim/pydantic_ai/_run_context.py
  tests/durable_exec/temporal/test_model_and_serialization.py
  tests/models/test_model.py
Due: clai-help, format, lint, typecheck

Let durable sandbox release failures propagate
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  tests/durable_exec/test_capability_durable_operation.py
  tests/test_sandbox.py
Due: clai-help, format, lint, typecheck

Docs: note capability order and mixed tool-result turns in the compaction example
  docs/message-history.md
Due: clai-help

Resolve context_window for gateway model IDs in infer_model_profile
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  tests/models/test_model.py
Due: clai-help, format, lint, typecheck

Normalise the gateway prefix once in infer_model_profile
  pydantic_ai_slim/pydantic_ai/models/__init__.py
Due: clai-help, format, lint, typecheck

Accept non-string `metadata` values from OpenAI-compatible chat completions
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai.py
Due: clai-help, format, lint, typecheck

fix: generate valid JSON Schema string formats in TestModel.
  pydantic_ai_slim/pydantic_ai/models/test.py
  tests/models/test_model_test.py
Due: clai-help, format, lint, typecheck

Relax the realtime cancellation test deadline (#8004)
  tests/realtime/test_session.py
Due: clai-help, format, lint, typecheck

fix: build the drop-block test settings inside the tests that use them
  tests/models/test_anthropic.py
Due: clai-help, format, lint, typecheck

fix: accept the environment-key call pattern in `GoogleProvider`'s overload
  pydantic_ai_slim/pydantic_ai/providers/google.py
  tests/providers/test_google.py
Due: clai-help, format, lint, typecheck

fix: build the error-behavior settings inside the test, not in its decorator
  tests/models/test_anthropic.py
Due: clai-help, format, lint, typecheck

docs: stop redundant post-ready PR checks
  .agents/skills/pushing-commits-to-the-repo/SKILL.md
Due: clai-help

fix: keep the stale-thinking retry from being swallowed by a caller's extra_body
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/test_anthropic.py
Due: clai-help, format, lint, typecheck

Keep the logfire-variables tests off the real Logfire API (pydantic/pydantic-ai-harness#752)
  tests/harness/logfire_variables/conftest.py
  tests/harness/logfire_variables/test_managed_prompt.py
Due: clai-help, format, lint, typecheck

Stop an empty `CompactionPart` summary from acting as a wire boundary
  pydantic_ai_slim/pydantic_ai/messages.py
Due: clai-help, format, lint, typecheck

Cover an empty compaction summary in the wire-window cases
  tests/test_tool_availability.py
Due: clai-help, format, lint, typecheck

fix: classify the container fallback's own error against the stale-thinking retry
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/anthropic/test_code_execution_files.py
Due: clai-help, format, lint, typecheck

Address pre-push review after merging main
  .agents/skills/add-new-model/SKILL.md
  .gitignore
  docs/native-tools.md
  docs/navigation.yml
  pyproject.toml
  tests/test_capability_image_generation.py
  tests/test_capability_spec.py
  tests/test_examples.py
Due: clai-help, format, lint, typecheck

Cover an empty compaction summary in the Anthropic trim tests
  tests/models/test_anthropic.py
Due: clai-help, format, lint, typecheck

Make InstrumentedImageGenerationModel options keyword-only
  pydantic_ai_slim/pydantic_ai/images/instrumented.py
  tests/test_public_interface_contracts.py
Due: clai-help, format, lint, typecheck

Trigger stateless OpenAI compaction by context-window usage
  docs/models/openai.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/INPUT-AND-HISTORY.md
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai_responses.py
  tests/test_capability_hooks.py
Due: clai-help, format, lint, typecheck

Say the local fallback in the native-tools tip is opt-in via `local=`
  docs/native-tools.md
Due: clai-help

Add wrap_entire_run and open the agent span before model resolution
  docs/capabilities/custom.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/agent/wrapper.py
  pydantic_ai_slim/pydantic_ai/capabilities/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
  pydantic_ai_slim/pydantic_ai/capabilities/combined.py
  pydantic_ai_slim/pydantic_ai/capabilities/instrumentation.py
  pydantic_ai_slim/pydantic_ai/capabilities/wrapper.py
  pydantic_ai_slim/pydantic_ai/durable_exec/_base.py
  tests/durable_exec/temporal/test_model_and_serialization.py
  tests/durable_exec/test_prefect.py
  tests/test_agent.py
  tests/test_capabilities.py
  tests/test_capability_spec.py
  tests/test_logfire.py
  tests/test_wrap_entire_run.py
Due: clai-help, format, lint, typecheck

docs: run the dropped-thinking-blocks example instead of skipping it
  docs/models/anthropic.md
Due: clai-help

Land the sandbox on the run's existing exit stack
  docs/capabilities/custom.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/ARCHITECTURE.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/agent/wrapper.py
  pydantic_ai_slim/pydantic_ai/capabilities/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
  pydantic_ai_slim/pydantic_ai/capabilities/combined.py
  pydantic_ai_slim/pydantic_ai/capabilities/instrumentation.py
  pydantic_ai_slim/pydantic_ai/capabilities/wrapper.py
  pydantic_ai_slim/pydantic_ai/durable_exec/_base.py
  tests/durable_exec/temporal/test_model_and_serialization.py
  tests/durable_exec/test_capability_durable_operation.py
  tests/durable_exec/test_prefect.py
  tests/test_agent.py
  tests/test_capability_hooks.py
  tests/test_capability_spec.py
  tests/test_capability_stream_teardown.py
  tests/test_logfire.py
  tests/test_public_interface_contracts.py
  tests/test_sandbox.py
  tests/test_wrap_entire_run.py
Due: clai-help, format, lint, typecheck

dumb reassignments
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
Due: clai-help, format, lint, typecheck

Clarify realtime audio and recoverable errors in agent skill
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/SKILL.md
Due: clai-help

Handle recoverable realtime errors as failed turns
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/SKILL.md
Due: clai-help

Pin the harness pre-warm to the locked versions
  .github/scripts/prewarm-pydantic-ai-runner.sh
Due: none

Select the sandbox supplier by asking, not by registry
  docs/capabilities/custom.md
  docs/sandbox.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/SANDBOXES.md
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/_sandbox.py
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
  pydantic_ai_slim/pydantic_ai/capabilities/combined.py
  pydantic_ai_slim/pydantic_ai/capabilities/wrapper.py
  pydantic_ai_slim/pydantic_ai/durable_exec/_base.py
  pydantic_ai_slim/pydantic_ai/durable_exec/_sandbox.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_cache_policies.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_run_context.py
  pydantic_ai_slim/pydantic_ai/sandboxes/protocol.py
  pydantic_ai_slim/pydantic_ai/sandboxes/references.py
  pydantic_ai_slim/pydantic_ai/sandboxes/sandbox.py
  tests/durable_exec/temporal/test_agent.py
  tests/durable_exec/temporal/test_durability.py
  tests/durable_exec/test_capability_durable_operation.py
  tests/durable_exec/test_dbos.py
  tests/durable_exec/test_prefect.py
  tests/sandbox_fakes.py
  tests/test_readonly_sandbox.py
  tests/test_sandbox.py
Due: clai-help, format, lint, typecheck

Clarify `send_audio` input and recoverable errors in agent skill (#8016)
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/SKILL.md
Due: clai-help

Bump `genai-prices` to 0.1.6
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

Add `gemini-3.8-flash` model
  pydantic_ai_slim/pydantic_ai/models/_known_model_names.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/profiles/google.py
  tests/profiles/test_google.py
  tests/test_capability_spec.py
Due: clai-help, format, lint, typecheck

Keep one durable dispatch path and one activity seam
  pydantic_ai_slim/pydantic_ai/capabilities/_durable_operation.py
  pydantic_ai_slim/pydantic_ai/durable_exec/__init__.py
  pydantic_ai_slim/pydantic_ai/durable_exec/_base.py
  pydantic_ai_slim/pydantic_ai/durable_exec/_capability_operation.py
  pydantic_ai_slim/pydantic_ai/durable_exec/_operation.py
  pydantic_ai_slim/pydantic_ai/durable_exec/_operation_names.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_operation_backend.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_operation_names.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_dynamic_toolset.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_function_toolset.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_mcp_toolset.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_operation_backend.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_operation_names.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_toolset.py
  tests/durable_exec/temporal/test_agent.py
  tests/durable_exec/temporal/test_durability.py
  tests/durable_exec/test_capability_durable_operation.py
  tests/durable_exec/test_durable_exec_compat.py
  tests/durable_exec/test_durable_operation.py
Due: clai-help, format, lint, typecheck

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
