Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: replace-py-code-blocks
        name: Replace ```py with ```python
        # first pattern matches ```py <info> and second matches lone ```py<eol>
        entry: |
          if [[ "$(uname)" == "Darwin" ]]; then
            sed -i '' 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          else
            sed -i 's/```py \(.*\)/```python \1/; s/```py$/```python/' "$@"
          fi
        language: system
        files: \.py$|\.md$
        pass_filenames: true

Make evals example less performance sensitive
  docs/evals.md
Due: replace-py-code-blocks

Make evals example less performance sensitive (#1938)
  docs/evals.md
Due: replace-py-code-blocks

Infer the right type on output when callables are provided (#1931)
  pydantic_ai_slim/pydantic_ai/_output.py
Due: format, lint, typecheck, replace-py-code-blocks

Update mappings
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/google.py
Due: format, lint, typecheck, replace-py-code-blocks

Add API reference to llmstxt
  mkdocs.yml
Due: none

chore: directly access model_response.vendor_details
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
Due: format, lint, typecheck, replace-py-code-blocks

chore: implement init method ffor OpenRouterModel
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
Due: format, lint, typecheck, replace-py-code-blocks

chore: move openrouter error check test to models test dir
  tests/models/cassettes/test_openrouter/test_openrouter_errors_raised.yaml
  tests/models/test_openrouter.py
  tests/providers/test_openrouter.py
Due: format, lint, typecheck, replace-py-code-blocks

chore: simplify error check
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
Due: format, lint, typecheck, replace-py-code-blocks

chore: moved openrouter error check to _completions_create
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
Due: format, lint, typecheck, replace-py-code-blocks

revert console change
  mcp-run-python/src/runCode.ts
Due: none

downgrade pyodide
  mcp-run-python/deno.json
  mcp-run-python/deno.lock
Due: none

remove console.log shim
  mcp-run-python/.zed/settings.json
  mcp-run-python/deno.json
  mcp-run-python/deno.lock
  mcp-run-python/src/runCode.ts
Due: none

uprev deno
  mcp-run-python/deno.json
Due: none

Revert pyodide to a version that doesn't print to stdout when installing packages (#1930)
  mcp-run-python/.zed/settings.json
  mcp-run-python/deno.json
  mcp-run-python/deno.lock
Due: none

Fix small error in typehints
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Add documentation and feature parity
  docs/thinking.md
  pydantic_ai_slim/pydantic_ai/_utils.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/cassettes/test_anthropic/test_anthropic_model_thinking_part.yaml
  tests/models/cassettes/test_anthropic/test_anthropic_model_thinking_part_stream.yaml
  tests/models/cassettes/test_google/test_google_model_thinking_part.yaml
  tests/models/test_anthropic.py
  tests/models/test_gemini.py
  tests/models/test_google.py
  tests/models/test_mistral.py
  tests/models/test_model_names.py
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Add token usage metrics to `InstrumentedModel` (#1898)
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
  tests/test_logfire.py
  uv.lock
Due: format, lint, typecheck, replace-py-code-blocks

add tests
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  pydantic_ai_slim/pydantic_ai/providers/huggingface.py
  tests/conftest.py
  tests/models/cassettes/test_huggingface/test_hf_model_instructions.yaml
  tests/models/cassettes/test_huggingface/test_request_simple_success_with_vcr.yaml
  tests/models/test_huggingface.py
  tests/providers/test_huggingface.py
Due: format, lint, typecheck, replace-py-code-blocks

add docs and known models for hf
  docs/models/huggingface.md
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  tests/models/test_model_names.py
Due: format, lint, typecheck, replace-py-code-blocks

fix imports in test
  tests/models/test_huggingface.py
Due: format, lint, typecheck, replace-py-code-blocks

fix tests
  tests/models/test_huggingface.py
  tests/providers/test_huggingface.py
Due: format, lint, typecheck, replace-py-code-blocks

fix provider test
  tests/providers/test_huggingface.py
Due: format, lint, typecheck, replace-py-code-blocks

adapt cli test
  tests/test_cli.py
Due: format, lint, typecheck, replace-py-code-blocks

re-record vcr cassettes
  tests/models/cassettes/test_huggingface/test_hf_model_instructions.yaml
  tests/models/cassettes/test_huggingface/test_request_simple_success_with_vcr.yaml
  tests/models/test_huggingface.py
Due: format, lint, typecheck, replace-py-code-blocks

fix token name
  tests/conftest.py
Due: format, lint, typecheck, replace-py-code-blocks

feat(openai): expose Responses API id as vendor_id
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

fix examples test
  docs/models/huggingface.md
  tests/test_examples.py
Due: format, lint, typecheck, replace-py-code-blocks

Update Documentation for Provider arguments in google.md
  docs/models/google.md
Due: replace-py-code-blocks

Reuse last request from message history if no user prompt was provided
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

Don't send sampling settings like temperature and top_p to OpenAI reasoning models
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  tests/models/cassettes/test_openai/test_reasoning_model_with_temperature.yaml
  tests/models/cassettes/test_openai_responses/test_reasoning_model_with_temperature.yaml
  tests/models/test_openai.py
  tests/models/test_openai_responses.py
Due: format, lint, typecheck, replace-py-code-blocks

Update Documentation for Provider arguments in google.md (#1946)
  docs/models/google.md
Due: replace-py-code-blocks

Add API reference to llmstxt (#1940)
  mkdocs.yml
Due: none

Update examples/pydantic_ai_examples/bank_support.py
  examples/pydantic_ai_examples/bank_support.py
Due: format, lint, typecheck, replace-py-code-blocks

Handle include_pending=false for bank_support example (#1912)
  examples/pydantic_ai_examples/bank_support.py
Due: format, lint, typecheck, replace-py-code-blocks

docs and tests for empty instructions
  docs/agents.md
  pydantic_ai_slim/pydantic_ai/agent.py
  tests/test_agent.py
Due: format, lint, typecheck, replace-py-code-blocks

First attempt at taking in custom `httpx.AsyncClient`
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

Linters
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: format, lint, typecheck, replace-py-code-blocks

Remove ValueError message assignment
  pydantic_ai_slim/pydantic_ai/mcp.py
Due: format, lint, typecheck, replace-py-code-blocks
