Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

fix: retain capability source provenance
  pydantic_ai_slim/pydantic_ai/capabilities/_merge.py
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
  tests/test_capability_combine.py
Due: clai-help, format, lint, typecheck

fix(temporal): finalize workflow stream terminal events safely
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
  pydantic_ai_slim/pydantic_ai/capabilities/combined.py
  pydantic_ai_slim/pydantic_ai/capabilities/wrapper.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_durability.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_event_stream.py
  tests/durable_exec/temporal/test_workflow_streams.py
  tests/test_capabilities.py
Due: clai-help, format, lint, typecheck

test: exclude unreachable combine callback
  tests/test_capability_combine.py
Due: clai-help, format, lint, typecheck

fix(temporal): address workflow stream review feedback
  docs/durable_execution/temporal.md
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_durability.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_event_stream.py
  tests/durable_exec/temporal/test_workflow_streams.py
Due: clai-help, format, lint, typecheck

refactor: name capability occurrence fields
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
Due: clai-help, format, lint, typecheck

docs(temporal): recommend unique workflow IDs
  docs/durable_execution/temporal.md
Due: clai-help

fix: support capability occurrences on Python 3.10
  pydantic_ai_slim/pydantic_ai/capabilities/abstract.py
Due: clai-help, format, lint, typecheck

Upgrade agentic workflows to `gh-aw` v0.86.2 (#8041)
  .github/aw/actions-lock.json
  .github/scripts/agentic_workflow_guard.py
  .github/scripts/test_agentic_workflow_guard.py
  .github/workflows/agentics-maintenance.yml
  .github/workflows/ci.yml
  .github/workflows/pydantic-ai-attention-triage.lock.yml
  .github/workflows/pydantic-ai-attention-triage.md
  .github/workflows/pydantic-ai-bug-hunter.lock.yml
  .github/workflows/pydantic-ai-community-demand.lock.yml
  .github/workflows/pydantic-ai-community-demand.md
  .github/workflows/pydantic-ai-docs-drift.lock.yml
  .github/workflows/pydantic-ai-feature-digest.lock.yml
  .github/workflows/pydantic-ai-feature-digest.md
  .github/workflows/pydantic-ai-pr-review.lock.yml
  .github/workflows/pydantic-ai-provider-mapping-sweep.lock.yml
  .github/workflows/pydantic-ai-provider-parity-explore.lock.yml
  .github/workflows/pydantic-ai-regression-detector.lock.yml
  .github/workflows/pydantic-ai-roundtrip-sweep.lock.yml
  .github/workflows/pydantic-ai-stale-issues-finder.lock.yml
  .github/workflows/pydantic-ai-streaming-resilience-sweep.lock.yml
  .github/workflows/pydantic-ai-ui-security-review.lock.yml
Due: clai-help, format, lint, typecheck

fix(images): support deepcopying wrapper models
  pydantic_ai_slim/pydantic_ai/images/wrapper.py
  tests/test_images.py
Due: clai-help, format, lint, typecheck

Exempt pushes that cannot change what the reviewer concluded
  .agents/skills/pushing-commits-to-the-repo/SKILL.md
Due: clai-help

Fix the `context_subtree()` exporter cache and its span-processor leaks (#7667)
  pydantic_evals/pydantic_evals/otel/_context_in_memory_span_exporter.py
  tests/evals/test_otel.py
Due: clai-help, format, lint, typecheck

test(images): remove stale coverage pragma
  pydantic_ai_slim/pydantic_ai/images/wrapper.py
Due: clai-help, format, lint, typecheck

Floor on released `pydantic-ai` 2.38.0 (pydantic/pydantic-ai-harness#780)
  src/pydantic_ai_harness/pyproject.toml
Due: none

Stop implying an underscore fixes derived state that a merge changed
  pydantic_ai_slim/pydantic_ai/capabilities/_merge.py
  tests/test_capability_combine.py
Due: clai-help, format, lint, typecheck

Keep contributor text off the command line
  .agents/skills/adopt-pr/SKILL.md
  .agents/skills/file-followup-issue/SKILL.md
Due: clai-help

Move the capability-event examples off the `file_system` namespace
  docs/agent.md
  docs/capabilities/overview.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/CAPABILITIES-AND-HOOKS.md
Due: clai-help

Point the veto example's lead-in at the renamed capability
  docs/capabilities/overview.md
Due: clai-help

Add OpenAI `gpt-6-astra` model support
  docs/models/openai.md
  pydantic_ai_slim/pydantic_ai/models/_known_model_names.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  tests/profiles/test_openai.py
  tests/profiles/test_resolution_matrix.py
  tests/test_capability_spec.py
  tests/test_tool_search.py
  uv.lock
Due: clai-help, format, lint, typecheck

Let `SummarizingCompaction` stream nested summary requests (pydantic/pydantic-ai-harness#620)
  docs/harness/compaction.md
  src/pydantic_ai_harness/pydantic_ai_harness/compaction/README.md
  src/pydantic_ai_harness/pydantic_ai_harness/compaction/__init__.py
  src/pydantic_ai_harness/pydantic_ai_harness/compaction/_summarizing_compaction.py
  tests/harness/compaction/test_compaction.py
Due: clai-help, format, lint, typecheck

Bump all openai extras to 3.8.0 and update the dependency guard
  .github/scripts/check_http_dependencies.py
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: clai-help, format, lint, typecheck

Render terminal scalar `$ref` definitions inline in code-mode function signatures
  pydantic_ai_slim/pydantic_ai/function_signature.py
  tests/test_function_signature.py
Due: clai-help, format, lint, typecheck

fix(images): match OpenAI moderation block on the SDK-unwrapped error body
  pydantic_ai_slim/pydantic_ai/images/openai.py
  tests/test_images.py
Due: clai-help, format, lint, typecheck

test: pin the feedback wire shape on google and bedrock, harden harness-compat
  .github/workflows/harness-compat.yml
  tests/test_retry_feedback.py
Due: clai-help, format, lint, typecheck

fix(capabilities): derive the direct image tool from current settings and merge dimensions atomically
  pydantic_ai_slim/pydantic_ai/capabilities/image_generation.py
  tests/test_capability_image_generation.py
Due: clai-help, format, lint, typecheck

refactor(capabilities): inline the direct-settings validation and document the local forms ImageGeneration rejects
  pydantic_ai_slim/pydantic_ai/capabilities/image_generation.py
Due: clai-help, format, lint, typecheck

Make the repo-owned PR skills work from a clean checkout
  .agents/skills/adopt-pr/SKILL.md
  .agents/skills/branch-context/SKILL.md
  .agents/skills/branch-context/append-handoff.sh
  .agents/skills/branch-context/handoffs-index.template.md
  .agents/skills/branch-context/handoffs/.gitkeep
  .agents/skills/branch-context/latest-handoff.sh
  .agents/skills/file-followup-issue/SKILL.md
  .agents/skills/initialize-worktree/SKILL.md
  .agents/skills/pre-push-review/SKILL.md
  .agents/skills/pushing-commits-to-the-repo/SKILL.md
  .agents/skills/refresh-issue-brief/SKILL.md
  .gitignore
Due: clai-help

Ship the mechanics the PR lifecycle keeps telling you to use
  .agents/skills/adopt-pr/SKILL.md
  .agents/skills/branch-context/SKILL.md
  .agents/skills/initialize-worktree/SKILL.md
  .agents/skills/pushing-commits-to-the-repo/SKILL.md
  .agents/skills/refresh-issue-brief/SKILL.md
Due: clai-help

Make the lifecycle's own instructions executable
  .agents/skills/adopt-pr/SKILL.md
  .agents/skills/branch-context/SKILL.md
  .agents/skills/branch-context/pr-decisions.template.md
  .agents/skills/pre-push-review/SKILL.md
  .agents/skills/pushing-commits-to-the-repo/SKILL.md
Due: clai-help

Re-spread the retried-return test churn over main's split files
  tests/durable_exec/test_durable_operation.py
  tests/test_capabilities.py
  tests/test_capability_deferred_loading.py
  tests/test_capability_hooks.py
  tests/test_capability_native_or_local.py
  tests/test_capability_output_hooks.py
  tests/test_retry_feedback.py
  tests/test_vercel_ai.py
Due: clai-help, format, lint, typecheck

docs: specify a `GitHubCopilotProvider` for Copilot's OpenAI-compatible API
  PLAN.md
Due: clai-help

Stop the autoload guard rejecting this repo's own vocabulary
  .agents/skills/adopt-pr/SKILL.md
  .agents/skills/branch-context/SKILL.md
  .agents/skills/branch-context/append-handoff.sh
  .agents/skills/branch-context/append-pr-decision.sh
  .agents/skills/branch-context/check-autoload-safety.sh
  .agents/skills/initialize-worktree/SKILL.md
  .agents/skills/pushing-commits-to-the-repo/SKILL.md
  .agents/skills/refresh-issue-brief/SKILL.md
  .claude/skills/pre-push-review
  .claude/skills/pre-push-review/SKILL.md
  .gitignore
  AGENTS.md
Due: clai-help

fix: carry the file identifier on the tool-result framing tag
  docs/tools-advanced.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/TOOLS-ADVANCED.md
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/test_bedrock.py
  tests/models/test_google.py
  tests/models/test_huggingface.py
  tests/models/test_multimodal_tool_returns.py
  tests/realtime/test_google.py
  tests/realtime/test_openai.py
  tests/realtime/test_session.py
  tests/test_messages.py
  tests/test_tool_failed_wire.py
Due: clai-help, format, lint, typecheck

fix(openai): preserve explicit Azure document profile overrides
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai.py
Due: clai-help, format, lint, typecheck

test(openai): keep Azure cases collectable without optional providers
  tests/models/test_openai.py
Due: clai-help, format, lint, typecheck

fix: publish tool-call dispatch events to the transcript taps
  pydantic_ai_slim/pydantic_ai/realtime/_session.py
  tests/realtime/test_session.py
Due: clai-help, format, lint, typecheck

fix: keep Google tool media ahead of the `ToolReturn.content` sent with it
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/test_multimodal_tool_returns.py
Due: clai-help, format, lint, typecheck

Route the `prepare_messages`-bypassing consumers through the translation
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/direct.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/test.py
  pydantic_ai_slim/pydantic_ai/models/xai.py
  pydantic_ai_slim/pydantic_ai/realtime/_openai_protocol.py
  pydantic_ai_slim/pydantic_ai/realtime/google.py
  pydantic_ai_slim/pydantic_ai/ui/AGENTS.md
  pydantic_ai_slim/pydantic_ai/ui/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_adapter.py
Due: clai-help, format, lint, typecheck

Test @-imports by whether they resolve, not by how they are spelled
  .agents/skills/adopt-pr/SKILL.md
  .agents/skills/branch-context/SKILL.md
  .agents/skills/branch-context/append-handoff.sh
  .agents/skills/branch-context/append-pr-decision.sh
  .agents/skills/branch-context/check-autoload-safety.sh
  .agents/skills/initialize-worktree/SKILL.md
  .agents/skills/refresh-issue-brief/SKILL.md
Due: clai-help

fix: keep the `mistralai` import in `test_multimodal_tool_returns` guarded
  tests/models/test_multimodal_tool_returns.py
Due: clai-help, format, lint, typecheck

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
