Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, typecheck, replace-py-code-blocks

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

replace-py-code-blocks:
  name: Replace ```py with ```python
  entry: "if [[ \"$(uname)\" == \"Darwin\" ]]; then\n  sed -i '' 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nelse\n  sed -i 's/```py \\(.*\\)/```python \\1/; s/```py$/```python/' \"$@\"\nfi\n"
  language: system
  pass_filenames: true

Improve variance of classes (#726)
  pydantic_ai_slim/pydantic_ai/_result.py
  pydantic_ai_slim/pydantic_ai/_system_prompt.py
  pydantic_ai_slim/pydantic_ai/agent.py
  pydantic_ai_slim/pydantic_ai/result.py
  pydantic_ai_slim/pydantic_ai/tools.py
  pydantic_graph/pydantic_graph/graph.py
  pydantic_graph/pydantic_graph/nodes.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix; f-string syntax error (#753)
  docs/.hooks/algolia.py
  docs/.hooks/build_llms_txt.py
Due: format, lint, typecheck, replace-py-code-blocks

adding test
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

anthropic tests as well
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

Support `parallel_tool_calls` in `ModelSettings` (#750)
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/settings.py
  tests/models/test_anthropic.py
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Add support for role `user` type sytem prompts for `o1-preview-2024-09-12` models
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

Be explicit about the number of allowed retries
  docs/agents.md
Due: replace-py-code-blocks

Add support for `user` role system prompts `o1-preview-2024-09-12` (#754)
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai.py
Due: format, lint, typecheck, replace-py-code-blocks

model_name addition for streaming
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

refactor tests
  tests/models/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

Anthropic streaming support (#684)
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

Fix an issue with retry counting (#749)
  docs/agents.md
  pydantic_ai_slim/pydantic_ai/agent.py
Due: format, lint, typecheck, replace-py-code-blocks

uprev to v0.0.20
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Prep for v0.0.20 release (#756)
  examples/pyproject.toml
  pydantic_ai_slim/pyproject.toml
  pydantic_graph/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Replace "ans" with "answer" to avoid being close to typo of "and"
  tests/typed_graph.py
Due: format, lint, typecheck, replace-py-code-blocks

[DATALAD RUNCMD] run codespell throughout fixing few left typos automagically
  docs/graph.md
  docs/tools.md
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/ollama.py
Due: format, lint, typecheck, replace-py-code-blocks

Add pre-commit definition for codespell
  .pre-commit-config.yaml
Due: none

Add a skip for codespell
  pyproject.toml
Due: none

Add rudimentary codespell config
  pyproject.toml
Due: none

Update index.md
  docs/index.md
Due: replace-py-code-blocks

Update index.md (#759)
  docs/index.md
Due: replace-py-code-blocks

Add codespell support (config, workflow to detect/not fix) and make it fix few typos (#757)
  .pre-commit-config.yaml
  docs/graph.md
  docs/tools.md
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/ollama.py
  pyproject.toml
  tests/typed_graph.py
Due: format, lint, typecheck, replace-py-code-blocks

Update models.md
  docs/models.md
Due: replace-py-code-blocks

default to not given for parallel tool calls
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
Due: format, lint, typecheck, replace-py-code-blocks

docs update
  pydantic_ai_slim/pydantic_ai/settings.py
Due: format, lint, typecheck, replace-py-code-blocks

Ensure custom args are used when retried (#692)
  pydantic_ai_slim/pydantic_ai/models/test.py
  tests/models/test_model_test.py
Due: format, lint, typecheck, replace-py-code-blocks

Update results.md
  docs/results.md
Due: replace-py-code-blocks

initial pass at cusotm model settings
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/settings.py
Due: format, lint, typecheck, replace-py-code-blocks

suggestions from @dmontagu
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/settings.py
Due: format, lint, typecheck, replace-py-code-blocks

adding a few more shared settings
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/settings.py
Due: format, lint, typecheck, replace-py-code-blocks

anthropic metadata
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

adding test + docs
  docs/agents.md
  tests/models/test_anthropic.py
  tests/models/test_gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

fix test
  tests/models/test_anthropic.py
Due: format, lint, typecheck, replace-py-code-blocks

update docstrings
  pydantic_ai_slim/pydantic_ai/result.py
  pydantic_ai_slim/pydantic_ai/tools.py
Due: format, lint, typecheck, replace-py-code-blocks

Remove _utils.Either
  pydantic_ai_slim/pydantic_ai/_utils.py
  pydantic_ai_slim/pydantic_ai/models/test.py
  tests/test_utils.py
Due: format, lint, typecheck, replace-py-code-blocks

proper testing
  docs/agents.md
  tests/models/test_gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

api key test fix
  tests/models/test_gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

update `AgentDeps` refs to `AgentDepsT` (#767)
  pydantic_ai_slim/pydantic_ai/result.py
  pydantic_ai_slim/pydantic_ai/tools.py
Due: format, lint, typecheck, replace-py-code-blocks

Adding subclasses of `ModelSettings` to support specialized model requests (#766)
  docs/agents.md
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/settings.py
  tests/models/test_anthropic.py
  tests/models/test_gemini.py
Due: format, lint, typecheck, replace-py-code-blocks

Remove ArgsDict and ArgsJson
  docs/agents.md
  docs/testing-evals.md
  docs/tools.md
  pydantic_ai_slim/pydantic_ai/_parts_manager.py
  pydantic_ai_slim/pydantic_ai/_result.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/test.py
  pydantic_ai_slim/pydantic_ai/tools.py
  tests/models/test_anthropic.py
  tests/models/test_cohere.py
  tests/models/test_gemini.py
  tests/models/test_groq.py
  tests/models/test_mistral.py
  tests/models/test_model_function.py
  tests/models/test_model_test.py
  tests/models/test_openai.py
  tests/test_agent.py
  tests/test_examples.py
  tests/test_logfire.py
  tests/test_parts_manager.py
  tests/test_streaming.py
  tests/test_tools.py
  tests/test_usage_limits.py
Due: format, lint, typecheck, replace-py-code-blocks

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
  replace-py-code-blocks: any of: \.py$|\.md$
