Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

fix: reject browser WebRTC for auto-routed Voice Live models, not only the explicit setting
  docs/realtime/azure.md
  pydantic_ai_slim/pydantic_ai/realtime/azure.py
  tests/realtime/test_azure_voice_live_ws.py
Due: clai-help, format, lint, typecheck

Remove Pydantic AI MkDocs documentation pipeline
  .github/workflows/ci.yml
  .github/workflows/lychee.toml
  .github/workflows/pr-guard.yml
  .github/workflows/shared/prompts/pydantic-ai-docs-drift.md
  .pre-commit-config.yaml
  AGENTS.md
  Makefile
  agent_docs/documentation.md
  docs/.hooks/algolia.py
  docs/.hooks/main.py
  docs/.hooks/snippets.py
  docs/.hooks/test_snippets.py
  docs/.overrides/.icons/logfire/logo.svg
  docs/.overrides/partials/search.html
  docs/.partials/index-header.html
  docs/AGENTS.md
  docs/contributing.md
  docs/extra/tweaks.css
  docs/index.md
  docs/javascripts/algolia-search.js
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: clai-help, format, lint, typecheck

Fix OpenAI 3 type boundaries
  pydantic_ai_slim/pydantic_ai/providers/github.py
  pydantic_ai_slim/pydantic_ai/realtime/_openai_webrtc.py
  pydantic_ai_slim/pydantic_ai/realtime/openai.py
  tests/models/test_openai.py
  tests/test_streaming_errors.py
Due: clai-help, format, lint, typecheck

fix: require full gh-aw checkout history
  .gitattributes
  .github/workflows/pydantic-ai-bug-hunter.lock.yml
  .github/workflows/pydantic-ai-docs-drift.lock.yml
  .github/workflows/pydantic-ai-pr-review.lock.yml
  .github/workflows/pydantic-ai-provider-mapping-sweep.lock.yml
  .github/workflows/pydantic-ai-provider-parity-explore.lock.yml
  .github/workflows/pydantic-ai-regression-detector.lock.yml
  .github/workflows/pydantic-ai-roundtrip-sweep.lock.yml
  .github/workflows/pydantic-ai-streaming-resilience-sweep.lock.yml
  .github/workflows/pydantic-ai-ui-security-review.lock.yml
  .github/workflows/shared/pre-agent-steps.md
Due: clai-help

Keep OpenAI providers independent of legacy HTTPX
  pydantic_ai_slim/pydantic_ai/_http.py
  pydantic_ai_slim/pydantic_ai/providers/gateway.py
  pydantic_ai_slim/pydantic_ai/providers/openai.py
  tests/test_httpx2_sdk_readiness.py
Due: clai-help, format, lint, typecheck

Restore git history and tags in the gh-aw shim so `uv-dynamic-versioning` resolves (#7415)
  .github/workflows/pydantic-ai-bug-hunter.lock.yml
  .github/workflows/pydantic-ai-docs-drift.lock.yml
  .github/workflows/pydantic-ai-pr-review.lock.yml
  .github/workflows/pydantic-ai-provider-mapping-sweep.lock.yml
  .github/workflows/pydantic-ai-provider-parity-explore.lock.yml
  .github/workflows/pydantic-ai-regression-detector.lock.yml
  .github/workflows/pydantic-ai-roundtrip-sweep.lock.yml
  .github/workflows/pydantic-ai-streaming-resilience-sweep.lock.yml
  .github/workflows/pydantic-ai-ui-security-review.lock.yml
  .github/workflows/shared/pre-agent-steps.md
Due: clai-help

test: cover cache serialization assertions
  tests/test_ui_web.py
Due: clai-help, format, lint, typecheck

test: configure coverage exemptions before activation
  tests/test_conftest.py
Due: clai-help, format, lint, typecheck

test: limit BlockBuster to non-redundant CI lanes
  .github/workflows/ci.yml
  tests/AGENTS.md
  tests/conftest.py
  tests/test_conftest.py
Due: clai-help, format, lint, typecheck

Add Azure AI Voice Live via the `azure_voice_live` setting (#6642)
  docs/realtime/azure.md
  pydantic_ai_slim/pydantic_ai/providers/azure.py
  pydantic_ai_slim/pydantic_ai/realtime/azure.py
  pydantic_ai_slim/pydantic_ai/realtime/openai.py
  tests/providers/test_azure.py
  tests/realtime/cassettes/test_azure_voice_live_ws/test_audio_in_server_vad_turn.yaml
  tests/realtime/cassettes/test_azure_voice_live_ws/test_message_history_seeding.yaml
  tests/realtime/cassettes/test_azure_voice_live_ws/test_text_in_audio_out_turn.yaml
  tests/realtime/cassettes/test_azure_voice_live_ws/test_text_output_modality_returns_text.yaml
  tests/realtime/cassettes/test_azure_voice_live_ws/test_tool_call_round.yaml
  tests/realtime/conftest.py
  tests/realtime/test_azure.py
  tests/realtime/test_azure_voice_live_ws.py
Due: clai-help, format, lint, typecheck

Move Realtime documentation after capabilities
  docs/navigation.yml
Due: none

Remove Pydantic AI MkDocs documentation pipeline (#7416)
  .github/workflows/ci.yml
  .github/workflows/lychee.toml
  .github/workflows/manually-deploy-docs.yml
  .github/workflows/pr-guard.yml
  .github/workflows/shared/prompts/pydantic-ai-docs-drift.md
  .pre-commit-config.yaml
  AGENTS.md
  Makefile
  agent_docs/documentation.md
  docs/.hooks/algolia.py
  docs/.hooks/main.py
  docs/.hooks/snippets.py
  docs/.hooks/test_snippets.py
  docs/.overrides/.icons/logfire/logo.svg
  docs/.overrides/partials/search.html
  docs/.partials/index-header.html
  docs/AGENTS.md
  docs/contributing.md
  docs/extra/tweaks.css
  docs/index.md
  docs/javascripts/algolia-search.js
  docs/nav.json
  docs/navigation.yml
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: clai-help, format, lint, typecheck

test: reduce BlockBuster overhead and exemptions
  tests/AGENTS.md
  tests/conftest.py
  tests/test_cli.py
  tests/test_conftest.py
  tests/test_examples.py
  tests/test_prefect.py
Due: clai-help, format, lint, typecheck

ci: keep BlockBuster jobs under seven minutes
  .github/workflows/ci.yml
  tests/AGENTS.md
Due: clai-help

test: avoid BlockBuster imports in disabled jobs
  tests/conftest.py
  tests/test_conftest.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

docs: track BlockBuster workarounds
  .github/workflows/ci.yml
  tests/AGENTS.md
  tests/conftest.py
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

Describe the xAI thinking-tag fallback as it now behaves
  tests/models/test_xai.py
Due: clai-help, format, lint, typecheck

refactor: centralize OpenAI-compatible provider HTTP clients
  pydantic_ai_slim/pydantic_ai/providers/alibaba.py
  pydantic_ai_slim/pydantic_ai/providers/azure.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock_mantle.py
  pydantic_ai_slim/pydantic_ai/providers/cerebras.py
  pydantic_ai_slim/pydantic_ai/providers/crusoe.py
  pydantic_ai_slim/pydantic_ai/providers/deepseek.py
  pydantic_ai_slim/pydantic_ai/providers/fireworks.py
  pydantic_ai_slim/pydantic_ai/providers/heroku.py
  pydantic_ai_slim/pydantic_ai/providers/litellm.py
  pydantic_ai_slim/pydantic_ai/providers/moonshotai.py
  pydantic_ai_slim/pydantic_ai/providers/nebius.py
  pydantic_ai_slim/pydantic_ai/providers/ollama.py
  pydantic_ai_slim/pydantic_ai/providers/openai.py
  pydantic_ai_slim/pydantic_ai/providers/openrouter.py
  pydantic_ai_slim/pydantic_ai/providers/ovhcloud.py
  pydantic_ai_slim/pydantic_ai/providers/sambanova.py
  pydantic_ai_slim/pydantic_ai/providers/snowflake.py
  pydantic_ai_slim/pydantic_ai/providers/together.py
  pydantic_ai_slim/pydantic_ai/providers/vercel.py
  pydantic_ai_slim/pydantic_ai/providers/zai.py
  tests/providers/test_litellm.py
  tests/providers/test_openai_compatible_http_clients.py
Due: clai-help, format, lint, typecheck

refactor: move OpenAI-compatible base to private module
  pydantic_ai_slim/pydantic_ai/providers/_openai_compatible.py
  pydantic_ai_slim/pydantic_ai/providers/alibaba.py
  pydantic_ai_slim/pydantic_ai/providers/azure.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock_mantle.py
  pydantic_ai_slim/pydantic_ai/providers/cerebras.py
  pydantic_ai_slim/pydantic_ai/providers/crusoe.py
  pydantic_ai_slim/pydantic_ai/providers/deepseek.py
  pydantic_ai_slim/pydantic_ai/providers/fireworks.py
  pydantic_ai_slim/pydantic_ai/providers/heroku.py
  pydantic_ai_slim/pydantic_ai/providers/litellm.py
  pydantic_ai_slim/pydantic_ai/providers/moonshotai.py
  pydantic_ai_slim/pydantic_ai/providers/nebius.py
  pydantic_ai_slim/pydantic_ai/providers/ollama.py
  pydantic_ai_slim/pydantic_ai/providers/openai.py
  pydantic_ai_slim/pydantic_ai/providers/openrouter.py
  pydantic_ai_slim/pydantic_ai/providers/ovhcloud.py
  pydantic_ai_slim/pydantic_ai/providers/sambanova.py
  pydantic_ai_slim/pydantic_ai/providers/snowflake.py
  pydantic_ai_slim/pydantic_ai/providers/together.py
  pydantic_ai_slim/pydantic_ai/providers/vercel.py
  pydantic_ai_slim/pydantic_ai/providers/zai.py
  tests/providers/test_litellm.py
Due: clai-help, format, lint, typecheck

Strawman: README front-page rewrite (discussion exhibit, not final copy)
  README.md
Due: clai-help

Treat a deferred capability's load as the reveal for its own tools
  pydantic_ai_slim/pydantic_ai/_run_context.py
  tests/test_capabilities.py
  tests/test_tool_availability.py
Due: clai-help, format, lint, typecheck

Update snapshots for foreign thinking placement in user turn
  docs/capabilities/thinking.md
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/profiles/__init__.py
  tests/test_foreign_thinking_placement.py
Due: clai-help, format, lint, typecheck

Stop an unkeyed source claiming a key, and rebind retained overrides
  pydantic_ai_slim/pydantic_ai/_instructions.py
  pydantic_ai_slim/pydantic_ai/capabilities/combined.py
  tests/test_instruction_ids.py
Due: clai-help, format, lint, typecheck

Give carried-over reasoning its own user turn instead of merging it
  docs/capabilities/thinking.md
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/profiles/__init__.py
  tests/test_foreign_thinking_placement.py
Due: clai-help, format, lint, typecheck

Pin the placement shapes review found unpinned
  tests/test_foreign_thinking_placement.py
Due: clai-help, format, lint, typecheck

Keep a part's id and cache flag through `FunctionToolset(instructions=...)`
  docs/agent.md
  pydantic_ai_slim/pydantic_ai/toolsets/function.py
  tests/test_instruction_ids.py
Due: clai-help, format, lint, typecheck

fix(images): let xai_aspect_ratio win before portable-ratio validation, forward unknown OpenAI model dimensions
  docs/image-generation.md
  pydantic_ai_slim/pydantic_ai/images/_openai_geometry.py
  pydantic_ai_slim/pydantic_ai/images/_xai_geometry.py
  tests/cassettes/test_images/test_google_flash_lite_extended_aspect_ratio_vcr.yaml
  tests/test_images.py
Due: clai-help, format, lint, typecheck

Rewrite front pages: 'How Python does AI' hero, Harness in the same breath, range demo, modality tabs, 6 pillars
  README.md
  docs/index.md
Due: clai-help

Carry the on-demand capability set across the Temporal activity boundary
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_run_context.py
  tests/test_temporal.py
  tests/test_tool_availability.py
Due: clai-help, format, lint, typecheck

Drop two branches nothing could tell apart
  pydantic_ai_slim/pydantic_ai/capabilities/combined.py
  pydantic_ai_slim/pydantic_ai/toolsets/function.py
  tests/test_instruction_ids.py
Due: clai-help, format, lint, typecheck

Cover the `_deferred_capability_ids` fallback for older `TemporalRunContext` subclasses
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

Add lint=skip to aspirational snippets (harness import order, top-level await)
  docs/index.md
Due: clai-help

Add Interfaces hub page: one agent, every surface
  docs/interfaces.md
  docs/navigation.yml
Due: clai-help

Mark the private-attribute access in the `TemporalRunContext` subclass test
  tests/test_temporal.py
Due: clai-help, format, lint, typecheck

Exempt only framework-assigned toolset ids from uniqueness, not the bracket shape
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/toolsets/abstract.py
  pydantic_ai_slim/pydantic_ai/toolsets/combined.py
  tests/test_toolsets.py
Due: clai-help, format, lint, typecheck

Expose gRPC `metadata` on `XaiProvider` for xAI prompt-cache sticky routing
  docs/models/xai.md
  pydantic_ai_slim/pydantic_ai/providers/xai.py
  tests/providers/test_xai.py
Due: clai-help, format, lint, typecheck

Keep reasoning in the assistant turn when a server tool is unresolved
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/profiles/__init__.py
  tests/models/anthropic/test_thinking_tag_mimicry.py
  tests/test_foreign_thinking_placement.py
Due: clai-help, format, lint, typecheck

Record Anthropic accepting the carried-reasoning wire shape
  tests/models/anthropic/cassettes/test_carried_thinking/test_carried_thinking_accepted_after_tool_result.yaml
  tests/models/anthropic/test_carried_thinking.py
Due: clai-help, format, lint, typecheck

Defer openai import in _openai_compatible base module
  pydantic_ai_slim/pydantic_ai/providers/_openai_compatible.py
Due: clai-help, format, lint, typecheck

docs(evals): correct span duration contract
  pydantic_evals/pydantic_evals/otel/span_tree.py
Due: clai-help, format, lint, typecheck

Path conditions:
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  format: any of: \.py$
  lint: any of: \.py$
  typecheck: any of: \.py$
