Repository pydantic/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: clai-help, format, lint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args:
          - --maxkb=1024 # 1MB
          - --enforce-all # Allow to run in the whole source code, instead of only the changed files.
        exclude: |
          (?x)^(
              tests/models/cassettes/.*|
              tests/cassettes/.*|
              uv.lock
          )$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

Drop deprecated `OpenAIModel`/`OpenAIModelSettings` aliases, `system_prompt_role` ctor kwarg, `OpenAICompaction(instructions=)`, and `openai_supports_sampling_settings` (#5468)
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/openrouter.py
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  pydantic_ai_slim/pydantic_ai/providers/litellm.py
  tests/models/test_openai.py
  tests/profiles/test_openai.py
  tests/profiles/test_resolution_matrix.py
  tests/test_capabilities.py
  tests/test_examples.py
  tests/test_settings.py
Due: clai-help, format, lint, typecheck

Restructure openai.md per Douwe review: drop redundant Responses default section + add Chat Completions opt-in section
  docs/models/openai.md
Due: clai-help

Restore uv.lock/pyproject.toml/ACI test file from v2-main (rebase artifacts)
  pyproject.toml
  tests/v2/test_aci_deprecation.py
  uv.lock
Due: clai-help, format, lint, typecheck

Collapse xai provider-name check to single _XAI_PROVIDER_NAMES set (mirror google.py)
  pydantic_ai_slim/pydantic_ai/models/xai.py
Due: clai-help, format, lint, typecheck

Drop `Agent.to_a2a()`, the bundled `fasta2a` integration, and the `[a2a]` extra (#5502)
  README.md
  docs/a2a.md
  docs/api/fasta2a.md
  docs/index.md
  docs/install.md
  docs/nav.json
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/COMMON-TASKS.md
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/ORCHESTRATION-AND-INTEGRATIONS.md
  pydantic_ai_slim/pydantic_ai/_a2a.py
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  tests/test_a2a.py
  tests/v2/test_a2a_deprecation.py
  uv.lock
Due: clai-help, format, lint, typecheck

Drop `Agent.sequential_tool_calls()` in favor of `Agent.parallel_execution_mode('sequential')` (#5466)
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/tool_manager.py
Due: clai-help, format, lint, typecheck

Drop `GrokProvider` in favor of `XaiProvider` (#5460)
  docs/api/providers.md
  docs/changelog.md
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/xai.py
  pydantic_ai_slim/pydantic_ai/profiles/grok.py
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/grok.py
  tests/models/test_model.py
  tests/models/test_model_names.py
  tests/models/test_xai.py
  tests/profiles/test_resolution_matrix.py
  tests/providers/test_grok.py
  tests/providers/test_provider_names.py
  tests/test_agent.py
  tests/test_capabilities.py
  tests/test_cli.py
Due: clai-help, format, lint, typecheck

Fix default `_instrumentation_names` version (#5526)
  pydantic_ai_slim/pydantic_ai/capabilities/instrumentation.py
Due: clai-help, format, lint, typecheck

Drop deprecated `Agent(tool_retries=)` and `Agent(output_retries=)` ctor kwargs (#5518)
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  tests/v2/test_agent_retries_deprecation.py
Due: clai-help, format, lint, typecheck

Drop openai-chat/openai-responses from embeddings router — there's no chat/responses embeddings API split
  pydantic_ai_slim/pydantic_ai/embeddings/__init__.py
Due: clai-help, format, lint, typecheck

Collapse gateway openai-chat/openai-responses back to openai for embeddings router
  pydantic_ai_slim/pydantic_ai/embeddings/__init__.py
Due: clai-help, format, lint, typecheck

Restore 'aci' codespell ignore — test_aci_deprecation.py still references it
  pyproject.toml
Due: none

Drop unused 'deprecated' import from agent/abstract.py
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
Due: clai-help, format, lint, typecheck

Add coverage for gateway openai-chat -> openai embeddings collapse
  tests/test_embeddings.py
Due: clai-help, format, lint, typecheck

Address AR: drop tests/v2/test_aci_deprecation.py + supporting pyproject/codespell entries; fix google-gla: → google: in third-party-tools.md
  tests/v2/test_aci_deprecation.py
Due: clai-help, format, lint, typecheck

Drop ACI pyproject entries + codespell ignore; fix google-gla: → google: in third-party-tools.md
  docs/third-party-tools.md
  pyproject.toml
Due: clai-help

Address AR feedback: condense gateway-rename comments + drop low-value test
  pydantic_ai_slim/pydantic_ai/embeddings/__init__.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  tests/models/test_google.py
  tests/providers/test_provider_names.py
Due: clai-help, format, lint, typecheck

Replace if-branch with dict lookup for gateway openai embeddings collapse
  pydantic_ai_slim/pydantic_ai/embeddings/__init__.py
Due: clai-help, format, lint, typecheck

Parametrize removed-google-prefixes rejection test over google-gla, google-vertex, vertexai
  tests/providers/test_provider_names.py
Due: clai-help, format, lint, typecheck

Address Devin review: anthropic profile replace() pattern, shared test models
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock.py
  tests/models/bedrock/conftest.py
  tests/models/bedrock/test_native_output.py
  tests/models/bedrock/test_strict_tool_calls.py
Due: clai-help, format, lint, typecheck

Restore test_google_cloud_provider_accepts_prebuilt_client to fix coverage
  tests/models/test_google.py
Due: clai-help, format, lint, typecheck

v2: drop stale refs to deleted graph modules left after removal
  docs/api/pydantic_graph/util.md
  docs/nav.json
  mkdocs.yml
  pydantic_graph/pydantic_graph/basenode.py
  pydantic_graph/pydantic_graph/decision.py
  pydantic_graph/pydantic_graph/graph_builder.py
Due: clai-help, format, lint, typecheck

docs(openai): fix service-tier link target + drop stale provider enumeration
  docs/models/openai.md
Due: clai-help

docs(install): clarify [web] extra as 'Web UI' per AR feedback
  docs/install.md
Due: clai-help

Include interrupted model request/response in `capture_run_messages` result if exception was raised during response streaming or tool call execution (#5364)
  docs/agent.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/test_agent.py
Due: clai-help, format, lint, typecheck

v2: refresh typed_graph type-check + graph skill snippet for builder API
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/ORCHESTRATION-AND-INTEGRATIONS.md
  tests/typed_graph.py
Due: clai-help, format, lint, typecheck

tests: cover gateway/openai: -> Responses + gateway/openai-responses: embeddings route
  tests/models/test_model.py
  tests/test_embeddings.py
Due: clai-help, format, lint, typecheck

Address AR feedback: reword pyproject extras comment + complete slim extras list in install.md
  docs/install.md
  pyproject.toml
Due: clai-help

Address local review: cite empirical AWS behavior, unify strict gate
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/providers/bedrock.py
Due: clai-help, format, lint, typecheck

graph: add `Graph.run_sync` (port gap from `pydantic_graph.beta` promotion)
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/ORCHESTRATION-AND-INTEGRATIONS.md
  pydantic_graph/pydantic_graph/graph_builder.py
  tests/graph/builder/test_graph_execution.py
  tests/typed_graph.py
Due: clai-help, format, lint, typecheck

docs: lead with pydantic-ai[extra] before slim in install.md
  docs/install.md
Due: clai-help

Drop `cached_async_http_client`, `pydantic_ai.ag_ui` shim, bare model-name fallback, `Agent.to_ag_ui()`, and `AGUIApp` (#5464)
  docs/api/ag_ui.md
  docs/api/ui/ag_ui.md
  docs/durable_execution/prefect.md
  docs/nav.json
  docs/ui/ag-ui.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/ag_ui.py
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/app.py
  tests/models/test_model.py
  tests/test_ag_ui.py
  tests/test_agent.py
  tests/v2/test_ag_ui_deprecations.py
Due: clai-help, format, lint, typecheck

graph(_utils): drop dead `typing`-frame branch in `get_parent_namespace`
  pydantic_graph/pydantic_graph/_utils.py
Due: clai-help, format, lint, typecheck

test: assert AgentStream.stream_response state contract
  tests/v2/test_stream_response_rename.py
Due: clai-help, format, lint, typecheck

docs: avoid pip/uv-add hook syntax inline in install.md
  docs/install.md
Due: clai-help

Centralize gateway google-vertex wire-value mapping
  pydantic_ai_slim/pydantic_ai/embeddings/__init__.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/gateway.py
Due: clai-help, format, lint, typecheck

Revert "graph(_utils): drop dead `typing`-frame branch in `get_parent_namespace`"
  pydantic_graph/pydantic_graph/_utils.py
Due: clai-help, format, lint, typecheck

Round-2 cleanups from local review
  pydantic_ai_slim/pydantic_ai/providers/bedrock.py
  tests/models/bedrock/test_native_output.py
  tests/models/bedrock/test_strict_tool_calls.py
Due: clai-help, format, lint, typecheck

fix(skills): drop extra blank line after import in graph snippet
  pydantic_ai_slim/pydantic_ai/.agents/skills/building-pydantic-ai-agents/references/ORCHESTRATION-AND-INTEGRATIONS.md
Due: clai-help
